include ../room-carousel/_room-carousel.pug
include ../card-booking/_card-booking.pug
include ../button-rate/_button-rate.pug

mixin room(roomOptions)
  - var {src = [], bookingNumber = "999", bookingType = false, bookingPrice = 0, starIds = [], starName = inputName, starRate = [], reviewAmount = 0} = roomOptions
  .card-room
    +roomCarousel(src, nameForPictures="room " + bookingNumber)
    .room__info
      +bookingText("small", bookingNumber, bookingType, bookingPrice)
      .room__line
      .card-text__row_narrow
        +buttonRate(...starIds, starName, ...starRate)
        +review(reviewAmount)

mixin review(reviewAmount)
  .card-text__row_right
    span.card-text__price!= reviewAmount
    span &nbsp;
    span.card-text__review Отзывов
