.card-room {
  @include containerDimed;
  @include isFlex($direction: column, $justify: flex-start);
  position: relative;
  width: 270px;
  height: 259px;

  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 32%;
  }

  @media (max-width: 700px) {
    width: 380px;
    height: calc(152 / 270 * 380px + 106px);
  }

  @media (max-width: 450px) {
    width: 85vw;
    min-width: 258px;
    height: calc(47vw + 106px);
    min-height: 270px;
  }
}

.card-room {
  &__info {
    @include isFlex($direction: column, $justify: flex-start);
    width: 100%;
    height: 106px;
    padding: 21px 17px 22px 20px;
    pointer-events: none;
  }

  &__rating {
    @include cardRow();
    border-top: 1px solid $dark-shade_few;
    margin-top: 12px;
    padding-right: 2px;
  }
}