@import '../button-rate/button-rate.scss';
@import '../card/card.scss';
@import './__info/card-room__info.scss';
@import './__review/card-room__review.scss';

.card-room {
  @include isFlex($direction: column, $justify: flex-start);
  @include containerDimed();
  position: relative;
  width: 270px;
  height: 257px;

  @media (max-width: 700px) {
    width: 380px;
    height: calc(152 / 270 * 380px + 106px);
  }

  @media (max-width: 450px) {
    width: 85vw;
    min-width: 258px;
    height: calc(47vw + 106px);
    min-height: 270px;
  }
}

