@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Components/button-rate/button-rate.scss';
@import '@~Components/card/card.scss';
@import '@~Components/room-carousel/room-carousel.scss';

@import './__info/card-room__info.scss';
@import './__review/card-room__review.scss';

.card-room {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: 1 0 nowrap;
  position: relative;
  width: 270px;
  height: 257px;
  border-radius: 4px;
  background: $light;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px $dark-shade_fewer;

  @include _700 {
    width: 380px;
    height: calc(152 / 270 * 380px + 106px);
  }

  @include _450 {
    width: 85vw;
    min-width: 258px;
    height: calc(47vw + 106px);
    min-height: 270px;
  }
}

