include ../button-rate/button-rate.pug
include ../room-carousel/room-carousel.pug
include ./__review/card-room__review.pug
include ./__info/card-room__info.pug

mixin card-room({ roomOptions, theme="" })
  - var {src = [], bookingNumber = "999", bookingType = false, bookingPrice = 0, starName = inputName, starRate = 0, reviewAmount = 0} = roomOptions
  .card-room
    +room-carousel({
      roomPictures: src,
      nameForPictures: `room ${bookingNumber}`
    })
    .card-room__info
      +card-room__info({
        bookingNumber: bookingNumber,
        bookingType: bookingType,
        bookingPrice: bookingPrice,
        theme: theme
      })
      .card-room__rating
        if theme == ""
          .card-room__button-rate
            +button-rate({
              inputName: starName,
              checkedNum: starRate
            })
        else
          div(class=`card-room__button-rate_${theme}`)
            +button-rate({
              inputName: starName,
              checkedNum: starRate
            })
        +card-room__review(reviewAmount)
