mixin roomCarousel(roomPictures, nameForPictures)
    - let counter = 1;
    .roomCarousel
        .roomCarousel__radio
            for picture in roomPictures
                label.roomCarousel__element
                    if counter === 1
                        input(type="radio" checked="checked" name=nameForPictures value="picture_" + counter++).roomCarousel__radio_real
                        div.roomCarousel__radio_fake
                    else
                        input(type="radio" name=nameForPictures value="picture_" + counter++).roomCarousel__radio_real
                        div.roomCarousel__radio_fake
        .roomCarousel__pictures
            for picture in roomPictures
                .roomCarousel__pic
                    img(src= picture alt="room pictures")
        .roomCarousel__btn
            .roomCarousel__btn_prev
            .roomCarousel__btn_next