.roomCarousel {
    width: 100%;
    height: calc(152/270 * 100%);
    position: relative;
    overflow: hidden;
}

.roomCarousel__pictures {
    width: 400%;
    height: 100%;
    @include isFlex();
    position: absolute;
    left: 0;
    transition: 2s;
}

.roomCarousel__pic {
    width: 25%;
    height: 100%;
    transition: 2s;
}

.roomCarousel__radio {
    position: absolute;
    width: 42px;
    height: 7.5px;
    bottom: 16px;
    right: 15px;
    @include isFlex();
}

.roomCarousel__element {
    width: 7.5px;
    height: 7.5px;
    z-index: 1;
}

.roomCarousel__element:not(:last-of-type){
    margin-right: 3.75px;
}

.roomCarousel__radio_real {
    width: 7.5px;
    height: 7.5px;
    position: absolute;
    cursor: pointer;
    appearance: none;
}

.roomCarousel__radio_fake {
    position: relative;
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    border: 1px solid $light;
    background: transparent;
}

.roomCarousel__radio_real:checked ~ .roomCarousel__radio_fake {
    background: $light;
}



.roomCarousel__btn {
    position: absolute;
    width: 100%;
    height: 100%;
    @include isFlex();
    display: none;
}

.roomCarousel:hover .roomCarousel__btn {
    display: flex;
}

.roomCarousel__btn_prev {
    position: relative;
    height: 100%;
    width: 42px;
    background:linear-gradient(90deg, $darkShadeMiddle 0%, $darkShade 99.99%, $light 100%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.roomCarousel__btn_prev::before {
    font-family: $MaterialIcons;
    content: "\e5cb";
    position: absolute;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 24px;
    color: $light;
    z-index: 1;
    top: 53.5px;
    left: 0;
}

.roomCarousel__btn_next {
    position: relative;
    height: 100%;
    width: 42px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.roomCarousel__btn_next::before {
    font-family: $MaterialIcons;
    content: "\e5cb";
    position: absolute;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 24px;
    color: $light;
    z-index: 1;
    top: 53.5px;
    left: 0;
}

@media (max-width: 700px){
    .roomCarousel {
        height: 211px;
    }
}

@media (max-width: 450px){
    .roomCarousel {
        width: 85vw;
        height: 47vw;
        min-width: 258px;
        min-height: 145px;
    }
}