mixin roomCarousel(roomPictures, nameForPictures)
    - let counter = 1;
    .room-carousel
        .room-carousel__radio
            for picture in roomPictures
                label.room-carousel__element
                    if counter === 1
                        input(type="radio" checked="checked" name=nameForPictures value="picture_" + counter++).room-carousel__radio_real
                        div.room-carousel__radio_fake
                    else
                        input(type="radio" name=nameForPictures value="picture_" + counter++).room-carousel__radio_real
                        div.room-carousel__radio_fake
        .room-carousel__pictures
            for picture in roomPictures
                .room-carousel__pic
                    img(src= picture alt="room pictures")
        .room-carousel__btn
            .room-carousel__btn_prev
            .room-carousel__btn_next