extends ../../assets/templates/template.pug

include ../../components/badge/badge.pug
include ../../components/bullet-checkbox/bullet-checkbox.pug
include ../../components/card-booking/card-booking.pug
include ../../components/donut-chart/donut-chart.pug
include ../../components/comment/comment.pug
include ../../components/footer/footer.pug
include ../../components/header/header.pug

block variables
  - var theme = "in-details";
  - var title = "room details";
  - var description = "room details";
  - var keywords = "room details";
  - 
    var comment1 = { 
      authorPic: "./assets/images/avatar/avatar.jpg",
      authorName: "Мурад Сарафанов",
      commentTime: "5 дней назад",
      buttonNumber: 12,
      commentText: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."};
  - 
    var comment2 = {
      authorPic: "./assets/images/avatar/avatar-2.jpg",
      authorName: "Патрисия Стёклышкова",
      commentTime: "Неделю назад",
      buttonNumber: 2,
      commentText: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент."};
  - var checkboxList1 = [ "Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00" ];
  - var cancellationRools = "Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги."

block content
  .room-details.js-dropdown__detection
    +header({ user: "", theme: theme })
    main.room-details__content
      section.room-details__view
        img(src="./assets/images/room-details.jpg" alt="room picture 1").room-details__view_main
        h2.room-details__heading Вид номера
        .room-details__view_miniature
          img(src="./assets/images/room-details-2.jpg" alt="room picture 2").room-details__view_mini
          img(src="./assets/images/room-details-3.jpg" alt="room picture 3").room-details__view_mini
      section.room-details__info_outer
        h2.room-details__heading Данные о номере
        .room-details__info_inner
          .room-details__description
            article.room-details__roomData
              .room-details__roomInfo
                h2.room-details__title Сведения о номере
                .room-details__badge_type_comfort
                  +badge({
                    name: "insert_emoticon", 
                    title: "Комфорт",
                    description: "Шумопоглощающие стены"
                  })
                .room-details__badge_type_commodity
                  +badge({
                    name: "location_city", 
                    title: "Удобство",
                    description: "Окно в каждой из спален"
                  })
                .room-details__badge_type_cozyness
                  +badge({
                    name: "whatshot", 
                    title: "Уют",
                    description: "Номер оснащён камином"
                  })
              .room-details__roomImpression
                h2.room-details__title Впечатления от номера
                +donut-chart({
                  excellent: 130,
                  good: 65,
                  satisfied: 65,
                  dissapointed: 0
                })
            article.room-details__reviews
              h2.room-details__title Отзывы посетителей номера
              .reviews__info 2 отзыва
              .room-details__comment_first
                +comment(comment1)
              .room-details__comment_second
                +comment(comment2)
            article.room-details__rules
              .room-details__rules-title
                h2.room-details__title Правила
              .room-details__checkbox-list
                +bullet-checkbox({ checkboxList: checkboxList1 })
            article.room-details__cancellation
              h2.room-details__title Отмена
              .room-details__cancellation_info
                != cancellationRools
          article.room-details__booking
            +card-booking({
              serviceName: "Сбор за доп. услуги",
              serviceStyle: "short", 
              theme: theme
            })
    +footer({ theme: theme })