@import '@~Assets/styles/general.scss';
@import '@~Assets/styles/card.scss';
@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/expand.scss';
@import '@~Assets/styles/fonts.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';
@import '@~Components/badge/badge.scss';
@import '@~Components/bullet-checkbox/bullet-checkbox.scss';
@import '@~Components/card-booking/card-booking.scss';
@import '@~Components/donut-chart/donut-chart';
@import '@~Components/comment/comment.scss';
@import '@~Components/footer/footer';
@import '@~Components/header/header.scss';
@import '@~Components/textfield/textfield.scss';

@mixin headerSecond {
  margin: 0;
  line-height: 16.963rem;
  font-size: $fs_h2;
  font-weight: 700;
  color: $dark-shade_most;
}

.room-details {
  @include isFlex($direction: column, $justify: flex-start);
  position: relative;
  width: 1440px;
  min-width: 320px;
  height: 1937px;
  margin: 0 auto;
  background: $light;
  user-select: none;
  overflow: hidden;

  @include _all {
    width: 100%;
    height: fit-content;
  }

  &__content {
    @include isFlex($direction: column);
    position: relative;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid $dark-shade_less;

    @include _all {
      width: 100%;
      height: auto;
    }
  }

  &__view {
    display: grid;
    grid-template-columns: 68.125% 31.875%;
    width: 100%;
    height: 485px;
    overflow: hidden;

    @include _1441 {
      height: fit-content;
    }

    @include _970 {
      grid-template:
        "a a a a"
        "a a a a"
        "b b c c";
      height: 75vw;
    }

    @include _500 {
      @include isFlex();
      position: relative;
      width: 300%;
      height: 50vw;
      overflow: hidden;
      animation: changeFlex 24s ease-in-out infinite;
    }
  }

  &__heading {
    display: none;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

    &_first {
      grid-row-start: 1;
      grid-row-end: 3;

     @include _970 {
       grid-area: a;
     }
    }

    &_second {
      @include _970 {
        grid-area: b;
      }
    }

    &_third {
      @include _970 {
        grid-area: c;
      }
    }
  }

  &__info-outer {
    width: 100%;
    height: fit-content;
    padding: 70px 140px 69px 139px;

    @include _1450 {
      height: auto;
    }

    @include _1400 {
      height: auto;
      padding: 0%;
    }
  }

  &__info-inner {
    @include isFlex();
    position: relative;
    width: 100%;
    max-width: 1650px;
    height: 799px;

    @include _1450 {
      height: auto;
      margin: 0 auto;
    }

    @include _1400 {
      width: 80%;
      height: auto;
      margin: 70px auto;
    }

    @include _1250 {
      width: 95%;
      margin: 3% auto;
    }

    @include _970 {
      flex-direction: column-reverse;
    }

    @include _690 {
      width: 100%;
      padding: 0 auto;
    }

    @include _450 {
      margin: 0 auto;
    }
  }

  &__description {
    @include isFlex($justify: flex-start, $wrap: wrap);
    width: 712px;
    height: 799px;
    margin-top: 1px;

    @include _1500{
      width: 60%;
      height: fit-content;
    }

    @include _1400 {
      justify-content: space-between;
      width: 100%;
      height: auto;
      padding: 0 calc((100% - 760px) / 2);
    }

    @include _970 {
      padding: 0 7%;
    }

    @include _690 {
      flex-direction: column;
      padding: 0 12%;
    }

    @include _450 {
      padding: 0 7%;
    }
  }

  &__room-data {
    @include isFlex();
    width: 675px;
    margin-left: 1px;

    @include _1500{
      width: 90%;
    }

    @include _1400 {
      flex-direction: column;
    }

    @include _970 {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 0;
    }

    @include _690 {
      flex-direction: column;
    }
  }

  &__room-info {
    @include isFlex($direction: column);
    width: 273px;
    height: fit-content;
    margin-right: 88px;
    background: $light;

    @include _1650 {
      width: 40%;
    }

    @include _1400 {
      margin-right: 0;
    }
  }

  &__badge_type_comfort {
    margin-top: 21px;
  }

  &__badge_type_commodity {
    margin-top: 20px;
  }

  &__badge_type_coziness {
    margin-top: 20px;
  }

  &__room-impression {
    @include isFlex($direction: column, $justify: flex-start);
    width: 315px;
    height: 172px;
    background: $light;

    @include _1650 {
      width: 55%;
      height: fit-content;
    }

    @include _1400 {
      margin-top: 20px;
    }

    @include _970 {
      margin-top: 0;
    }

    @include _450 {
      width: 280px;
    }
  }

  &__reviews {
    @include isFlex($direction: column, $justify: flex-start);
    position: relative;
    width: 100%;
    height: 330px;
    margin-top: 12px;
    background: $light;

    @include _1650 {
      height: fit-content;
      margin-top: 50px;
    }

    @include _1400 {
      height: auto;
      margin: 30px auto 0;
    }
  }

  &__review-amounts {
    @extend .info__description;
    position: absolute;
    top: 6px;
    right: 1px;
  
    @include _1750{
      font-size: $fs_h2;
      right: 10%;
    }
  
    @include _970 {
      display: none;
    }
  }

  &__checkbox-list {
    width: 100%;
    margin-top: 17px;

    @include _1400 {
      margin-top: 20px;
    }
  }

  &__comment-first {
    margin-top: 21px;
  }

  &__comment-second {
    margin-top: 20px;
  }

  &__rules {
    @include isFlex($direction: column, $justify: flex-start);
    width: 292px;
    height: 158px;
    margin-right: 70px;
    margin-top: 6px;
    background: $light;

    @include _1500{
      margin-top: 20px;
      width: 40%;
      height: fit-content;
    }

    @include _1400 {
      margin-right: 0;
    }

    @include _450 {
      margin-top: 20px;
    }
  }

  &__rules-title {
    @include headerSecond();
    margin-left: 21px;

    @include _700 {
      margin-left: 0;
    }
  }

  &__cancellation {
    @include isFlex($direction: column, $justify: flex-start);
    width: 341px;
    height: 138px;
    margin-top: 5px;
    background: $light;

    @include _1500{
      margin-top: 20px;
      width: 50%;
      height: fit-content;
    }

    @include _1400 {
      width: calc(100% - 292px - 20px);
      height: auto;
    }

    @include _700 {
      width: 100%;
      margin-top: 40px;
    }
  }

  &__title {
    @include headerSecond();
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 0.001em;
    color: $dark-shade_most;

    @include _1650 {
      margin: 0 auto;
      font-size: $fs_h1;
    }
  }

  &__cancellation-info {
    width: 100%;
    height: auto;
    margin-top: 19px;
    line-height: $fs_h1;
    letter-spacing: 0.0001em;
    color: $dark-shade_more;

    @include _1500{
      margin-top: 20px;
    }

    @include _1400 {
      margin: 20px;
      margin-left: 0;
    }
  }

  &__booking {
    @include _1450 {
      max-width: 550px;
      height: fit-content;
    }

    @include _1400 {
      position: absolute;
      top: 0;
      right: calc((100% - 800px) / 2);
    }

    @include _970 {
      position: relative;
      top: 0;
      right: 0;
      margin: 50px auto;
    }

    @include _450 {
      margin: 0 auto 50px;
    }
  }
}

@keyframes changeFlex {
  0% {
    left: 0%;
  }
  32% {
    left: 0%;
  }
  34% {
    left: -100%;
  }
  65% {
    left: -100%;
  }
  67% {
    left: -200%;
  }
  98% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}