@import '@~Assets/styles/general.scss';
@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/fonts.scss';
@import '@~Components/badge/badge.scss';
@import '@~Components/bullet-checkbox/bullet-checkbox.scss';
@import '@~Components/card-booking/card-booking.scss';
@import '@~Components/chart-donut/chart-donut';
@import '@~Components/comment/comment.scss';
@import '@~Components/expand/expand.scss';
@import '@~Components/footer/footer';
@import '@~Components/header/header.scss';

@mixin isFlex(
  $direction: row,
  $justify: space-between,
  $align: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-shrink: 0;
}

@mixin headerSecond {
  margin: 0;
  line-height: 16.963rem;
  font-size: $fs_h2;
  font-weight: 700;
  color: $dark-shade_most;
}

.room-details {
  @include isFlex($direction: column, $justify: flex-start);
  position: relative;
  width: 1440px;
  height: 1937px;
  min-width: 320px;
  margin: 0 auto;
  background: $light;
  user-select: none;
  overflow: hidden;

  @media (max-width: 1920px) {
    width: 100%;
    height: fit-content;
  }
}

.room-details__content {
  @include isFlex($direction: column);
  position: relative;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid $dark-shade_less;

  @media (max-width: 1920px) {
    width: 100%;
    height: auto;
  }
}

.room-details__view {
  @include isFlex($justify: flex-start);
  width: 100%;
  height: 485px;
  overflow: hidden;

  @media (max-width: 1920px) and (min-width: 1441px) {
    height: calc(485 / 1440 * 100vw);
  }

  @media (max-width: 970px) {
    @include isFlex($direction: column);
    height: fit-content;
  }
}

.room-details__view_main {
  width: 981px;
  height: 100%;
  overflow: hidden;

  @media (max-width: 1920px) and (min-width: 1441px) {
    width: 68.1%;
  }

  @media (max-width: 1350px) {
    width: 68.1%;
  }

  @media (max-width: 970px) {
    width: 100%;
    height: fit-content;
  }
}

.room-details__heading {
  display: none;
}

.room-details__view_miniature {
  @include isFlex($direction: column);
  width: 459px;
  height: 100%;
  overflow: hidden;

  @media (max-width: 1920px) and (min-width: 1441px) {
    width: 32%;
  }

  @media (max-width: 1350px) {
    width: 32%;
  }

  @media (max-width: 970px) {
    flex-direction: row;
    width: 100%;
    height: fit-content;
  }

  @media (max-width: 450px) {
    display: none;
    visibility: hidden;
  }
}

.room-details__view_mini {
  width: 100%;
  height: 50%;

  @media (max-width: 970px) {
    width: 50%;
    height: auto;
  }
}

.room-details__info_outer {
  width: 100%;
  height: fit-content;
  padding: 70px 140px 69px 139px;

  @media (min-width: 1450px) and (max-width: 1920px) {
    height: auto;
  }

  @media (max-width: 1400px) {
    height: auto;
    padding: 0%;
  }
}

.room-details__info_inner {
  @include isFlex();
  position: relative;
  width: 100%;
  height: 799px;

  @media (min-width: 1450px) and (max-width: 1920px) {
    height: auto;
  }

  @media (max-width: 1400px) {
    width: 80%;
    height: auto;
    margin: 70px auto;
  }

  @media (max-width: 1250px) {
    width: 95%;
    margin: 3% auto;
  }

  @media (max-width: 970px) {
    flex-direction: column-reverse;
  }

  @media (max-width: 690px) {
    width: 100%;
    padding: 0 auto;
  }

  @media (max-width: 450px) {
    margin: 0 auto;
  }
}

.room-details__description {
  @include isFlex($justify: flex-start, $wrap: wrap);
  width: 712px;
  height: 799px;
  margin-top: 1px;

  @media (min-width: 1500px) and (max-width: 1920px) {
    width: 60%;
    height: fit-content;
  }

  @media (max-width: 1400px) {
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0 calc((100% - 760px) / 2);
  }

  @media (max-width: 970px) {
    padding: 0 7%;
  }

  @media (max-width: 690px) {
    flex-direction: column;
  }
}

.room-details__roomData {
  @include isFlex();
  width: 675px;
  margin-left: 1px;

  @media (min-width: 1500px) and (max-width: 1920px) {
    width: 90%;
  }

  @media (max-width: 1400px) {
    flex-direction: column;
  }

  @media (max-width: 970px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }

  @media (max-width: 690px) {
    flex-direction: column;
  }
}

.room-details__roomInfo {
  @include isFlex($direction: column);
  width: 273px;
  height: fit-content;
  margin-right: 88px;
  background: $light;

  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 40%;
  }

  @media (max-width: 1400px) {
    margin-right: 0;
  }
}

.room-details__badge_type_comfort {
  margin-top: 21px;
}

.room-details__badge_type_commodity {
  margin-top: 20px;
}

.room-details__badge_type_cozyness {
  margin-top: 20px;
}

.room-details__roomImpression {
  @include isFlex($direction: column, $justify: flex-start);
  width: 315px;
  height: 172px;
  background: $light;

  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 55%;
    height: fit-content;
  }

  @media (max-width: 1400) {
    margin-top: 20px;
  }

  @media (max-width: 450px) {
    width: 280px;
  }
}

.room-details__reviews {
  @include isFlex($direction: column, $justify: flex-start);
  position: relative;
  width: 100%;
  height: 330px;
  margin-top: 12px;
  background: $light;

  @media (min-width: 1650px) and (max-width: 1920px) {
    height: fit-content;
    margin-top: 50px;
  }

  @media (max-width: 1400px) {
    height: auto;
    margin: 30px auto 0;
  }
}

.room-details__checkbox-list {
  width: 100%;
  margin-top: 17px;

  @media (max-width: 1400px) {
    margin-top: 20px;
  }
}

.reviews__info {
  @extend .info__description;
  position: absolute;
  top: 6px;
  right: 1px;

  @media (min-width: 1750px) and (max-width: 1920px) {
    font-size: $fs_h2;
    right: 10%;
  }

  @media (max-width: 970px) {
    display: none;
  }
}

.room-details__comment_first {
  margin-top: 21px;
}

.room-details__comment_second {
  margin-top: 20px;
}

.room-details__rules {
  @include isFlex($direction: column, $justify: flex-start);
  width: 292px;
  height: 158px;
  margin-right: 70px;
  margin-top: 6px;
  background: $light;

  @media (min-width: 1500px) and (max-width: 1920px) {
    margin-top: 20px;
    width: 40%;
    height: fit-content;
  }

  @media (max-width: 1400px) {
    margin-right: 0;
  }

  @media (max-width: 450px) {
    margin-top: 20px;
  }
}

.room-details__rules-title {
  @include headerSecond();
  margin-left: 20px;

  @media (max-width: 650px) {
    margin-left: 0;
  }
}

.room-details__cancellation {
  @include isFlex($direction: column, $justify: flex-start);
  width: 341px;
  height: 138px;
  margin-top: 5px;
  background: $light;

  @media (min-width: 1500px) and (max-width: 1920px) {
    margin-top: 20px;
    width: 50%;
    height: fit-content;
  }

  @media (max-width: 1400px) {
    width: calc(100% - 292px - 20px);
    height: auto;
  }

  @media (max-width: 700px) {
    width: 100%;
    margin-top: 40px;
  }
}

.room-details__title {
  @include headerSecond();
  line-height: 22px;
  font-weight: 700;
  color: $dark-shade_most;
  letter-spacing: 0.001em;

  @media (min-width: 1750px) and (max-width: 1920px) {
    font-size: $fs_h1;
  }
}

.room-details__cancellation_info {
  width: 100%;
  height: auto;
  margin-top: 19px;
  line-height: $fs_h1;
  color: $dark-shade_more;
  letter-spacing: 0.0001em;

  @media (min-width: 1500px) {
    width: 100%;
    margin-top: 20px;
  }

  @media (max-width: 1400px) {
    margin: 20px;
    margin-left: 0;
  }
}

.room-details__booking {
  @media (min-width: 1450px) and (max-width: 1920px) {
    max-width: 550px;
    height: fit-content;
  }

  @media (max-width: 1400px) {
    position: absolute;
    top: 0;
    right: calc((100% - 800px) / 2);
  }

  @media (max-width: 970px) {
    position: relative;
    top: 0;
    right: 0;
    margin: -20% auto 50px;
  }

  @media (max-width: 450px) {
    margin: 0 auto 50px;
  }
}

.footer__info_main .footer__links {
  margin-top: 21px;
}

.room-details .footer__links {
  margin-top: 20px;
}

.room-details .card-booking__info-sign:first-of-type {
  left: 3px;
  bottom: 1px;
}