extends ../../assets/templates/template.pug

include ../../components/badge/badge.pug
include ../../components/bullet-checkbox/bullet-checkbox.pug
include ../../components/card-booking/card-booking.pug
include ../../components/donut-chart/donut-chart.pug
include ../../components/comment/comment.pug
include ../../components/footer/footer.pug
include ../../components/header/header.pug

block variables
  -
    let theme = 'details';
    let title = 'room details';
    let description = 'room details';
    let keywords = 'room details';
    const { 
      comment1, 
      comment2, 
      checkboxList1, 
      cancellationRules, 
      cardBookingInfo } = require('./room-details.json');

block content
  .room-details.js-dropdown__detection
    +header({ user: '', theme: theme })
    main.room-details__content
      section.room-details__view
        h2.room-details__heading Вид номера
        img(
          src = './assets/images/room-details/room-details.jpg' 
          alt = 'room picture 1').room-details__img.room-details__img_first
        //- .room-details__view-miniature
        img(
          src = './assets/images/room-details/room-details-2.jpg' 
          alt = 'room picture 2').room-details__img.room-details__img_second
        img(
          src = './assets/images/room-details/room-details-3.jpg' 
          alt = 'room picture 3').room-details__img.room-details__img_third
      section.room-details__info-outer
        .room-details__info-inner
          .room-details__description
            article.room-details__room-data
              .room-details__room-info
                h2.room-details__title Сведения о номере
                .room-details__badge_type_comfort
                  +badge({
                    name: 'insert_emoticon', 
                    title: 'Комфорт',
                    description: 'Шумопоглощающие стены'
                  })
                .room-details__badge_type_commodity
                  +badge({
                    name: 'location_city', 
                    title: 'Удобство',
                    description: 'Окно в каждой из спален'
                  })
                .room-details__badge_type_coziness
                  +badge({
                    name: 'whatshot', 
                    title: 'Уют',
                    description: 'Номер оснащён камином'
                  })
              .room-details__room-impression
                h2.room-details__title Впечатления от номера
                +donut-chart({
                  excellentNum: 130,
                  goodNum: 65,
                  satisfiedNum: 65,
                  disappointedNum: 0
                })
            article.room-details__reviews
              h2.room-details__title Отзывы посетителей номера
              .room-details__review-amounts 2 отзыва
              .room-details__comment-first
                +comment(comment1)
              .room-details__comment-second
                +comment(comment2)
            article.room-details__rules
              .room-details__rules-title
                h2.room-details__title Правила
              .room-details__checkbox-list
                +bullet-checkbox({ checkboxList: checkboxList1 })
            article.room-details__cancellation
              h2.room-details__title Отмена
              .room-details__cancellation-info
                != cancellationRules
          article.room-details__booking
            +card-booking({ cardBookingInfo: cardBookingInfo })
    +footer(theme)