@import '@~Assets/styles/media-mixins.scss';
@import '@~Components/button-link/button-link.scss';

.header__signin {
  display: block;
  width: 87px;
  height: 34px;
  line-height: 30px;
}

.header__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 303px;
  height: 34px;

  @include _550 {
    width: 210px;
  }
}

.header__registration {
  display: block;
  width: 196px;
  height: 34px;
  line-height: 34px;

  @include _550 {
    width: calc(200px - 87px);
  }
}
