@import '../../../button-link/button-link.scss';

.header__signin {
  display: block;
  width: 87px;
  height: 34px;
  line-height: 30px;
}

//TODO
.header .header__buttons {
  padding-top: 2px;
}

.header__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: 1 0 nowrap;
  width: 303px;
  height: 34px;

  @media (max-width: 550px) {
    width: 200px;
  }
}

.header__registration {
  display: block;
  width: 196px;
  height: 34px;
  line-height: 34px;

  @media (max-width: 550px) {
    width: calc(200px - 87px);
  }
}