mixin carousel-landing(backgroundPicture)
  .carousel-landing
    .carousel-landing__list
      for picture in backgroundPicture
        .carousel-landing__element
          img(class="carousel-landing__img" src= picture alt="background pictures")