@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/fonts.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';
@import '@~Components/checkbox/checkbox.scss';

.rich-checkbox {
  @include isFlex($direction: column);
  width: 100%;

  @include xxs {
    width: 100%;
    min-width: 266px;
    margin: 0 auto;
  }

  &__label {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    font-size: $fs_h3;
    letter-spacing: .003em;
    font-weight: 700;
    text-transform: uppercase;
    user-select: none;
  }

  &__list {
    @include isFlex($direction: column);
    width: 100%;
    margin: 1px 0 0;
    padding: 0;
    border: none;
    appearance: none;

    @include xxxl {
      height: fit-content;
    }
  }
}