.pagination {
  &__container {
    @include isFlex($direction: column);
    width: 241px;
    height: 105px;

    @media (max-width: 450px) {
      margin: 0 auto;
    }
  }

  &__bar {
    @include isFlex($direction: column);
    width: fit-content;
    height: 75px;
  }

  &__buttons {
    @include isFlex();
    width: 240px;
    height: 40.4px;
    font-size: 0.875em;
  }

  &__button_current {
    @include paginationItem;
    background: $linearGradientLilac;
    color: $light;
    font-weight: 700;
  }

  &__items {
    @include isFlex();
    width: 120px;
    height: 40px;
  }

  &__info {
    width: fit-content;
    height: 23px;
    line-height: 16px;
    margin: 0 auto;
    font-size: $fs_base;
    text-align: left;
    letter-spacing: .0001em;
  }
}

.pagination__item,
.pagination__button_last,
.pagination__button_first {
  @include paginationItem;
  background: transparent;
  color: $dark-shade_medium;
  font-weight: 400;
}

.pagination__item:hover {
  background: $purple;
}

.pagination__button_next {
  @include paginationItem;
  @include paginationNav;

  &::before {
    content: '\e5c8';
    @include paginationBefore;
    font-family: $material-icons;
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
  }
}

.pagination__button_prev {
  @include paginationItem;
  @include paginationNav;

  &::before {
    content: '\e5c4';
    @include paginationBefore;
    font-family: $material-icons;
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
  }
}