mixin paginationContainer(labelText, containerId)
  .pagination__container
    h3(class="label")= labelText
    +pagination(containerId)

mixin pagination(containerId)
  .pagination__bar(id=containerId)
