.pagination {
  &__container {
    @include isFlex($direction: column);
    width: 241px;
    height: 106px;

    @media (max-width: 450px) {
      margin: 0 auto;
    }
  }

  &__bar {
    @include isFlex($direction: column);
    width: 241px;
    height: 75px;
  }

  &__buttons {
    @include isFlex();
    width: 241px;
    height: 40.4px;
    font-size: 0.875em;
  }

  &__button_current {
    @include paginationItem();
    background: $linearGradientLilac;
    color: $light;
    font-weight: 700;
  }

  &__items {
    @include isFlex();
    width: 120px;
    height: 40px;
  }
}

.pagination__item,
.pagination__button_last,
.pagination__button_first {
  @include paginationItem();
  line-height: 39px;
  background: transparent;
  color: $darkShadeMiddle;
  font-weight: 400;
}

.pagination__item:hover {
  background: #bc9cff;
}

.pagination__button_next {
  @include paginationItem();
  @include paginationNav();

  &::before {
    font-family: $MaterialIcons;
    -webkit-font-feature-settings: "liga" 1;
    -moz-font-feature-settings: "liga" 1;
    font-feature-settings: "liga" 1;
    @include paginationBefore();
    content: "\e5c8";
  }
}

.pagination__button_prev {
  @include paginationItem();
  @include paginationNav();

  &::before {
    font-family: $MaterialIcons;
    -webkit-font-feature-settings: "liga" 1;
    -moz-font-feature-settings: "liga" 1;
    font-feature-settings: "liga" 1;
    @include paginationBefore();
    content: "\e5c4";

  }
}

.pagination__info {
  width: 261px;
  height: 24px;
  line-height: 18px;
  font-size: $fs_base;
  margin: 0 auto;
  padding-left: 5px;
  text-align: left;
  letter-spacing: -0.001em;
}
