@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles//mixins.scss';
@import '@~Assets/styles/fonts.scss';

@mixin paginationItem {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

@mixin paginationBefore {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: $fs_h1;
  text-align: center;
  color: $light;
  z-index: 2;
}

@mixin paginationNav {
  position: relative;
  background: $linearGradientTurquoise;
}

.pagination {
  @include isFlex($direction: column);
  width: fit-content;
  height: 75px;
  user-select: none;

  &__content {
    @include isFlex();
    width: 240px;
    height: 40.4px;
    font-size: 0.875em;
  }

  &__info {
    width: fit-content;
    height: 23px;
    margin: 0 auto;
    line-height: 16px;
    font-size: $fs_base;
    letter-spacing: .0001em;
    text-align: left;
    pointer-events: none;
  }

  &__item {
    @include paginationItem();
    font-weight: 400;
    color: $dark-shade_medium;
    background: transparent;

    &:hover {
      background: $purple;
    }

    &_current {
      font-weight: 700;
      color: $light;
      background: $linearGradientLilac;
    }
  }

  &__button {
    @include paginationItem();

    &_last,
    &_first {
      font-weight: 400;
      color: $dark-shade_medium;
      background: transparent;
    }

    &_next,
    &_prev {
      @include paginationNav();

      &::before {
        @include paginationBefore();
        font-family: $material-icons;
        font-feature-settings: 'liga' 1;
      }
    }

    &_next::before {
      content: '\e5c8';
    }

    &_prev::before {
      content: '\e5c4';
    }
  }
}
