.pagination_contaner
    .label pagination
    .pagination_bar(id="pagination-1")
        .pagination__scroll-bar
            .pagination__button_first 1
            .pagination__items
                .pagination__item 2
                .pagination__item 3
                .pagination__item 4
            .pagination__button_last ...15
            .pagination__button_next 
        .pagination__info
            span.pagination__info_current 1 – 12 
            span.pagination__info_total из 100+  
            span вариантов аренды
