@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles//mixins.scss';
@import '@~Assets/styles/fonts.scss';

@mixin paginationItem {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

@mixin paginationBefore {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: $fs_h1;
  text-align: center;
  color: $light;
  z-index: 2;
}

@mixin paginationNav {
  position: relative;
  background: $linearGradientTurquoise;
}

.js-pagination {
  @include isFlex($direction: column);
  width: fit-content;
  height: 75px;
  user-select: none;
}

.js-pagination__buttons {
  @include isFlex();
  width: 240px;
  height: 40.4px;
  font-size: 0.875em;
}

.js-pagination__button_current {
  @include paginationItem();
  font-weight: 700;
  color: $light;
  background: $linearGradientLilac;
}

.js-pagination__items {
  @include isFlex();
  width: 120px;
  height: 40px;
}

.js-pagination__info {
  width: fit-content;
  height: 23px;
  margin: 0 auto;
  line-height: 16px;
  font-size: $fs_base;
  letter-spacing: .0001em;
  text-align: left;
  pointer-events: none;
}

.js-pagination__item,
.js-pagination__button_last,
.js-pagination__button_first {
  @include paginationItem();
  font-weight: 400;
  color: $dark-shade_medium;
  background: transparent;
}

.js-pagination__item:hover {
  background: $purple;
}

.js-pagination__button_next {
  @include paginationItem();
  @include paginationNav();

  &::before {
    content: '\e5c8';
    @include paginationBefore();
    font-family: $material-icons;
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
  }
}

.js-pagination__button_prev {
  @include paginationItem();
  @include paginationNav();

  &::before {
    content: '\e5c4';
    @include paginationBefore();
    font-family: $material-icons;
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
  }
}
