@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/expand.scss';
@import '@~Assets/styles/fonts.scss';
@import '@~Assets/styles/general.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles//mixins.scss';
@import '@~Components/carousel-landing/carousel-landing.scss';
@import '@~Components/card-search/card-search.scss';
@import '@~Components/footer/footer';
@import '@~Components/header/header.scss';
@import '@~Components/textfield/textfield.scss';

.landing-page {
  @include isFlex($justify: flex-start, $direction: column);
  display: block;
  position: relative;
  width: 1440px;
  min-width: 320px;
  height: auto;
  margin: 0 auto;
  background: $light;
  user-select: none;

  @include _all  {
    width: 100%;
    height: auto;
  }

  &__content {
    @include isFlex($justify: flex-start, $direction: column);
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 830px;
    margin: 0 auto;

    @include _1400 {
      height: calc(830 / 1440 * 100vw);
    }

    @include _970 {
      width: 100%;
      height: calc(830 / 1440 * 970px);
    }

    @include _500 {
      width: 100%;
      // carousel + card-search + text + in-registration top
      height: calc(830 / 1440 * 100vw + 374px + 48px + 40px);
      min-height: calc(683 / 1440 * 320px + 374px + 48px + 40px);
    }
  }

  &__text {
    position: absolute;
    bottom: 11px;
    right: 94px;
    width: 270px;
    height: 48px;
    line-height: 24px;
    text-align: right;
    letter-spacing: .002em;
    z-index: 2;

    @include _1750-1920 {
      width: 400px;
      line-height: $fs_h2;
      font-size: $fs_h2;
    }

    @include _500 {
      position: relative;
      bottom: 0;
      right: 0;
      margin: 20px auto;
      text-align: center;
    }
  }

  &__card-search {
    position: absolute;
    top: 66px;
    left: 140px;
    z-index: 2;

    @include _970 {
      left: 50%;
      transform: translateX(-50%);
    }

    @include _500 {
      position: relative;
      top: 0;
      left: 0;
      width: fit-content;
      min-width: 320px;
      margin: 0 auto;
      transform: none;
    }
  }
}
