extends ../../assets/templates/template.pug

include ../../components/carousel-landing/carousel-landing.pug
include ../../components/card-search/card-search.pug
include ../../components/footer/footer.pug
include ../../components/header/header.pug

block variables
  - var theme = "landing"
  - var title = "landing page";
  - var description = "landing page";
  - var keywords = "landing page";
  - var { landingPics } = require("./landing-page.json");

block content
  .landing-page.js-dropdown__detection
    +header({ user: "", theme: theme })
    main.landing-page__content
      +carousel-landing(landingPics)
      blockquote.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
      .landing-page__card-search
        +card-search()
    +footer(theme)