extends ../../assets/templates/template.pug

include ../../components/header/header.pug
include ../../components/carousel/carousel_type_landing.pug
include ../../components/card-search/card-search.pug
include ../../components/footer/footer.pug

block variables
  - var theme = "landing"
  - var title = "landing page";
  - var description = "landing page";
  - var keywords = "landing page";
  - var pics = ["./assets/images/landing-3.jpg", "./assets/images/landing-2.jpg", "./assets/images/landing-1.jpg"]

block content
  .landing-page.js-dropdown__detection
    +header("", theme)
    main.landing-page__content
      +carousel_type_landing(pics)
      blockquote.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
      .landing-page__card-search
        +card-search()
    +footer(theme)