extends ../../assets/templates/template.pug

include ../../components/carousel-landing/carousel-landing.pug
include ../../components/card-search/card-search.pug
include ../../components/footer/footer.pug
include ../../components/header/header.pug

block variables
  - 
    let theme = 'landing';
    let title = 'landing page';
    let description = 'landing page';
    let keywords = 'landing page';
    const { landingPics } = require('./landing-page.json');

    const landingText = 
      'Лучшие номера для вашей работы, отдыха и просто вдохновения';

block content
  .landing-page.js-dropdown__detection
    +header({ user: '', theme: theme })
    main.landing-page__content
      +carousel-landing(landingPics)
      blockquote.landing-page__text!= landingText
      .landing-page__card-search
        +card-search()
    +footer(theme)