extends ../../assets/templates/_template.pug

include ../../components/header/_header.pug
include ../../components/carousel-background/_carousel-background.pug
include ../../components/card-search/_card-search.pug
include ../../components/footer/_footer.pug

block variables
  - var title = "landing page";
  - var description = "landing page";
  - var keywords = "landing page";
  - var pics = ["./assets/images/landing-3.jpg", "./assets/images/landing-2.jpg", "./assets/images/landing-1.jpg"]

block content
  .landing-page.js-dropdown__detection
    +header()
    .landing-page__content
      +carouselLanding(pics)
      .landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
      .landing-page__card-search
        +cardSearch()
    +footer()