mixin cardLogin()
    .card__login
        .card__text Войти
        +login()
        +buttonFormSubmit("Войти")
        .card__text_row
            .card__subline Нет аккаунта на Toxin?
            +buttonFormLink("Создать", "/register")