.card_login {
    @include containerShadowed();
    @include isFlex($direction: column, $justify: flex-start);
    width: 380px;
    height: 360px;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 39px;
}

.card_login > div:first-of-type {
    margin-top: 20px;
}

.card_login > button {
    margin-top: 20px;
}

@media (max-width: 400px){
    .card_login {
        padding: 25px 20px;
        min-width: 320px;
        width: 100vw;
    }
}