mixin cardLogin()
    .card__login
        .card__text Войти
        +login()
        +buttonSubmit("Войти")
        .card__text_row
            .card__subline Нет аккаунта на Toxin?
            +buttonLink("Создать", "/register")