@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/fonts.scss';

@import '../../__input/textfield__input.scss';
@import '../../textfield.scss';

.textfield_type_subscibe {
  &::before {
    content: '\e5c8';
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 44px;
    font-family: $material-icons;
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
    text-align: center;
    font-size: $fs_h1;
    line-height: 42px;
    color: transparent;
    background: $linearGradientLilac;
    -webkit-background-clip: text;
    background-clip: text;
  }

  @include _470 {
    max-width: 260px;
  }
}