/* src/assets/styles/utils/_colors.scss  */

$darkShadeMost: rgba(31, 32, 65, 1);
$darkShadeMore: rgba(31, 32, 65, 0.75);
$darkShadeMiddle: rgba(31, 32, 65, 0.5);
$darkShadeLess: rgba(31, 32, 65, 0.25);
$darkShadeFew: rgba(31, 32, 65, 0.1);
$darkShadeFewer: rgba(31, 32, 65, 0.05);
$darkShade: rgba(0, 0, 0, 0);
$purple: rgba(188,156,255,1);
$purpleLess: rgba(188, 156, 255, 0.25);
$range: #6fcf97;
$light: #fff;
$background: #F4F4F6;