extends ../../assets/templates/_template.pug

include ../../components/header/_header.pug
include ../../components/carousel_background/_carousel_background.pug
include ../../components/card__search/_search.pug
include ../../components/footer/_footer.pug

block variables
    - var title = "landing_page";
    - var description = "landing page";
    - var keywords = "landing page";
    - var pics = ["../../assets/images/landing_3.jpg", "../../assets/images/landing_2.jpg", "../../assets/images/landing_1.jpg"]

block content
    .landingPage.dropdown__watch
        +header()
        .landingPage__carousel
            +carouselLanding(pics)
            .landingPage__search
                form(method="get" action="/search_room")
                    +cardSearch()
            .landingPage__text Лучшие номера для вашей работы, отдыха и просто вдохновения
        +footer()