.donut {
  display: flex;
  flex-direction: row;
  width: 311px;
  height: 126px;
}

.donut__content {
  width: 120px;
  height: 120px;
  position: relative;
  display: block;

  @media (max-width: 380px) {
    width: 100px;
  }
}

.donut__img {
  position: absolute;
}

.donut__text {
  @include isFlex($direction: column, $align: center);
  @include absoluteTopLeft(29%, 49%);
  color: rgba(188, 156, 255, 1);
  font-weight: 700;
  transform: translateX(-50%);
}

.donut__number {
  font-size: 25px;
  line-height: 29.26px;
}

.donut__label {
  font-size: 16px;
  line-height: 14.63px;
}

.li_circle {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-bottom: 3px;
  border-radius: 50%;
}

.donut__caption {
  width: 165px;
  height: 96px;
  margin-top: 26px;
  margin-left: 30px;
  font-size: 14px;
  line-height: 24.5px;

  @media (max-width: 380px) {
    margin-left: 15px;
    margin-top: 15px;
  }
}

.donut-key-list {
  letter-spacing: 0.001em;
}

.exellent {
  background: $linearGradientCitrus;
}

.good {
  background: $linearGradientTurquoise;
}

.satisfied {
  background: $linearGradientLilac;
}

.disappointed {
  background: $linearGradientPurple;
}
