mixin carouselLanding(backgroundPicture)
    .carousel__background_outer
        .carousel__background_inner
            for picture in backgroundPicture
                .carousel__element
                    img(src= picture alt="background pictures")

mixin carouselRegistration(backgroundPicture)
    .carouselRegistration__background_outer
        .carouselRegistration__background_inner
            for picture in backgroundPicture
                .carouselRegistration__element
                    img(src= picture alt="background pictures")