mixin carouselLanding(backgroundPicture)
    .carousel-landing__background_outer
        .carousel-landing__background_inner
            for picture in backgroundPicture
                .carousel-landing__element
                    img(src= picture alt="background pictures")

    //- heigh adapts to the height of outer container, therefore this mixin fits for Registration and Signin pages
mixin carouselBackground(backgroundPicture)
    .carousel__background_outer
        .carousel__background_inner
            for picture in backgroundPicture
                .carousel__element
                    img(src= picture alt="background pictures")