@import '../../../../assets/styles/colors.scss';

.footer__info_hidden {
  display: none;

  @media (max-width: 470px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 wrap;
    min-width: 260px;
    width: 260px;
    height: auto;
    margin-bottom: 20px;
    font-weight: 400;
  }
}

@media (max-width: 470px) {
  .footer__dropdown_in-navigation,
  .footer__dropdown_in-about,
  .footer__dropdown_in-support {
    position: absolute;
    top: 20px;
    width: 200px;
    margin: 0;
    padding: 10px 15px;
    border-radius: 4px;
    line-height: 18px;
    background: $light;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $dark-shade_fewer;
    z-index: 2;
  }
}