@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles//mixins.scss';
@import '@~Components/navlink/navlink.scss';

.footer__info_hidden {
  display: none;

  @include _470 {
    @include isFlex($direction: column);
    min-width: 260px;
    width: 260px;
    height: auto;
    margin-bottom: 20px;
    font-weight: 400;
  }
}

@include _470 {
  .footer__dropdown {
    position: absolute;
    top: 20px;
    width: 200px;
    margin: 0;
    padding: 10px 15px;
    border-radius: 4px;
    line-height: 18px;
    background: $light;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $dark-shade_fewer;
    z-index: 2;
  }
}