include ../../../components/badge/badge.pug
include ../../../components/bullet-checkbox/bullet-checkbox.pug
include ../../../components/button/button.pug
include ../../../components/button-like/button-like.pug
include ../../../components/button-link/button-link.pug
include ../../../components/button-rate/button-rate.pug
include ../../../components/button-submit/button-submit.pug
include ../../../components/button-toggle/button-toggle.pug
include ../../../components/checkbox/checkbox.pug
include ../../../components/checkbox-expandable/checkbox-expandable.pug
include ../../../components/comment/comment.pug
include ../../../components/date-range/date-range.pug
include ../../../components/dropdown-guests/dropdown-guests.pug
include ../../../components/dropdown-rooms/dropdown-rooms.pug
include ../../../components/label/label.pug
include ../../../components/pagination/pagination.pug
include ../../../components/radio-buttons/radio-buttons.pug
include ../../../components/range/range.pug
include ../../../components/rich-checkbox/rich-checkbox.pug
include ../../../components/textfield/textfield.pug

block variables
  - var title = "UIKit";
  - var description = "UIKit";
  - var keywords = "UIKit";
  - 
    var { 
      checkboxList, 
      comment1 
    } = require("Pages/UIKit/form-elements/form-elements.json");

block content
  .form-elements
    img.uikit__logo(src = "./assets/images/logo/logo.svg" alt = "uikit logo")
    .form-elements__content
      .form-elements__textfields
        .form-elements__container-first
          .form-elements__email
            .container
              +label({
                labelText: "Text field", 
                labelRightText: "default", 
                labelRightClass: "email"
              })
              +textfield({ 
                inputClass: "email",
                placeholder: "Email",
                nameText: "email",
                autofocus: false 
              })
          .form-elements__name
            .container
              +label({
                labelText: "Text field", 
                labelRightText: "hover / focus", 
                labelRightClass: "name"
              })
              +textfield({
                placeholder: "Text", 
                valueText: "This is pretty awesome", 
                nameText: "text", 
                maxText: 20
              })
          .form-elements__guests.js-dropdown__detection
            +dropdown-guests({
              labelText: "dropdown",
            })
          .form-elements__birthday
            .container
              +label({ labelText: "Masked text field" })
              +textfield({
                inputClass: "birthday",
                placeholder: "ДД.ММ.ГГГГ",
                nameText: "birthday",
                maxText: 10
              })
        .form-elements__container-second
          .form-elements__date-range_separate.js-dropdown__detection
            +date-range({
              dateRanges: [
                {
                  labelText: "date dropdown",
                  value: "",
                  name: "checkin",
                  data: "checkin"
                }, {
                  labelText: "date dropdown",
                  value: "19.08.2019",
                  name: "checkout",
                  data: "checkout"
                }
              ]
            })
          .form-elements__date-range_common.js-dropdown__detection
            +date-range({ 
              dateRanges: [{
                labelText: "filter date dropdown",
                value: "19 авг - 23 авг", 
                name: "checkin-checkout", 
                data: "date-range"
              }],
            })
          .form-elements__subscribe
            .container
              +label({ 
                labelText: "Subscription text field" 
              })
              +textfield({ 
                inputClass: "subscribe",
                placeholder: "Email",
                nameText: "email",
              })
      .form-elements__input-buttons
        .form-elements__checkbox
          h3.label Сheckbox buttons
          +checkbox()
        .form-elements__radio 
          h3.form-elements__label.form-elements__label_radio Radio buttons
          +radio-buttons({ }) 
        .form-elements__toggle
          h3.form-elements__label.form-elements__label_toggle Toggle
          .form-elements__group_toggle
            +button-toggle({
              inputName: "offer1",
              ifChecked: true
            })
            +button-toggle({ inputName: "offer2" })
        .form-elements__button-like
          h3.label like button
          .form-elements__row
            +button-like({
              buttonNumber: 2
            })
            +button-like({ 
              buttonNumber: 12,
              ifLiked: true
            })
        .form-elements__button-rate
          h3.form-element__label_button-rate Rate button
          .form-elements__row
            +button-rate({
              inputName: "rating",
              checkedNum: 4
            })
            +button-rate({
              inputName: "rating2",
              checkedNum: 5
            })
      .form-elements__clickable-objects
        .form-elements__range
          +range({ })
        .form-elements__buttons
          h3.form-elements__label.form-elements__label_buttons Buttons
          .form-elements__row_buttons-link
            .form-elements__button-item
              +button-link({
                buttonText: "Click me",
                buttonOnclick: "./some-address",
                className: "colored"
              })
            .form-elements__button-item
              +button-link({
                buttonText: "Click me",
                buttonOnclick: "./some-address",
                className: "colored"
              })
            .form-elements__button-item
             +button-link({
               buttonText: "Click me",
               buttonOnclick: "./some-address",
               className: ""
              })
            .form-elements__button-item
             +button-link({
               buttonText: "Click me",
               buttonOnclick: "./some-address",
               className: ""
              })
          .form-elements__row_buttons-basic
            +button({ 
              buttonText: "Click me",
              buttonOnclick: "./some-address" 
            })
            +button({
              buttonText: "Click me",
              buttonOnclick: "./some-address"
            })
          .form-elements__button-submit 
            +button-submit({ buttonText: "Перейти к оплате" })
        .form-elements__pagination
            h3.label pagination
            +pagination()
      .form-elements__dropdowns
        .form-elements__room-criterions
          .form-elements__rooms.js-dropdown__detection
            +dropdown-rooms({
              labelText: "dropdown",
              labelRightText: "default",
              itemNumbers: [2, 2, 0],
            })
          .form-elements__rooms.js-dropdown__detection
            +dropdown-rooms({
              labelText: "dropdown",
              dropdownClassShow: "expand__show",
              labelRightText: "expanded",
              itemNumbers: [2, 2, 0],
            })
        .form-elements__checkbox-rolled-up
          +checkbox-expandable({
            dropdownTitleName: "Expandable checkbox list"
          })
        .form-elements__checkbox-expand
          +checkbox-expandable({
            dropdownTitleName: "Expandable checkbox list",
            dropdownClassShow: "checkbox-expandable__show",
          })
      .form-elements__search-info
        .form-elements__guests_open.js-dropdown__detection
          +dropdown-guests({
            labelText: "dropdown",
            dropdownClassShow: "expand__show"
          })
        .form-elements__rich-checkbox
          +rich-checkbox({
            checkboxName: "accessibility",
            containerText: "Rich Checkbox Buttons"
          })
      .form-elements__room-info
        .form-elements__guests_open.js-dropdown__detection
          +dropdown-guests({
            labelText: "dropdown",
            dropdownClassShow: "expand__show",
            itemNumbers: [2, 1, 0],
          })
        .form-elements__bullet-checkbox
          +bullet-checkbox({
            checkboxList: checkboxList,
            labelText: "bullet list"
          })
      .form-elements__badges
        +badge({ 
          name: "insert_emoticon",
          title: "Комфорт",
          description: "Шумопоглощающие стены" 
        })
        .form-elements__badge
          +badge({ 
            name: "location_city",
            title: "Удобство",
            description: "Окно в каждой из спален"
          })
      .form-elements__comment
        +comment(comment1)