include ../../../components/badge/badge.pug
include ../../../components/bullet-checkbox/bullet-checkbox.pug
include ../../../components/radio-buttons/radio-buttons.pug
include ../../../components/button-toggle/button-toggle.pug
include ../../../components/button-like/button-like.pug
include ../../../components/button-rate/button-rate.pug
include ../../../components/button-link/button-link.pug
include ../../../components/button-submit/button-submit.pug
include ../../../components/button/button.pug
include ../../../components/calendar/calendar.pug
include ../../../components/checkbox/checkbox.pug
include ../../../components/checkbox-expandable/checkbox-expandable.pug
include ../../../components/comment/comment.pug
include ../../../components/date-range/_separete/date-range_separate.pug
include ../../../components/date-range/_common/date-range_common.pug
include ../../../components/dropdown/_type_guests/dropdown_type_guests.pug
include ../../../components/dropdown/_type_rooms/dropdown_type_rooms.pug
include ../../../components/range/range.pug
include ../../../components/rich-checkbox/rich-checkbox.pug
include ../../../components/navlink/navlink.pug
include ../../../components/pagination/pagination.pug
include ../../../components/textfield/textfield.pug
include ../../../components/textfield/__label/textfield__label.pug
include ../../../components/textfield/_type/_birthday/textfield_type_birthday.pug
include ../../../components/textfield/_type/_email/textfield_type_email.pug
include ../../../components/textfield/_type/_subscribe/textfield_type_subscribe.pug

block variables
  - var title = "UIKit";
  - var description = "UIKit";
  - var keywords = "UIKit";
  - 
    var checkboxList = [
      "Нельзя с питомцами", "Без вечеринок и мероприятий", 
      "Время прибытия — после 13:00, а выезд до 12:00"
    ];
  - 
    var comment1 = { 
      authorPic: "./assets/images/avatar/avatar.jpg", 
      authorName: "Мурад Сарафанов", 
      commentTime: "5 дней назад", 
      buttonLikeId: "likes_author_1", 
      buttonNumber: 12, 
      commentText: "Великолепный матрас на кровати в основной спальне!"
      + " А пуфик вообще потрясающий.\u00A0 И стены, действительно, "
      + "шумоподавляющие. Выкрикивал комплименты повару —"
      + " никто не жаловался из соседей." 
    };

block content
  .form-elements
    img.uikit-logo(src= "./assets/images/logo/logo.svg" alt="uikit logo")
    .form-elements__content
      .form-elements__group_first
        .form-elements__container_first
          .form-elements__container_email
            .textfield__container
              +textfield__label({
                labelText: "Text field", 
                labelRightText: "default", 
                labelRightClass: "textfield__label_for-email"
              })
              +textfield_type_email()
          .form-elements__container_name
            .textfield__container
              +textfield__label({
                labelText: "Text field", 
                labelRightText: "hover / focus", 
                labelRightClass: "textfield__label_for-name"
              })
              +textfield({
                placeholder: "Text", 
                valueText: "This is pretty awesome", 
                nameText: "text", 
                maxText: 20
              })
          .form-elements__container_guests.js-dropdown__detection
            +dropdown_type_guests({
              labelText: "dropdown", 
              dropdownContainerId: "dropdown_guests_0",
              inputId: "dropdownGuestsInput_0"
            })
          .form-elements__container_birthday
            +textfield_type_birthday({
              labelLeft: "Masked text field",
              labelRight: ""
            })
        .form-elements__container_second
          .form-elements__container_date-range_separate.js-dropdown__detection
            +date-range_separate({ 
              calendarId: "calendar1",
              labelText_1: "Date dropdown",
              labelText_2: "Date dropdown",
              inputValue_2: "19.08.2019" 
            })
          .form-elements__container_date-range_common.js-dropdown__detection
            +date-range_common({
              calendarId: "calendar2", 
              labelText: "filter date dropdown", 
              inputValue: "19 авг - 23 авг"
            })
          .form-elements__container_subscibe
            .textfield__container
              +textfield__label({ labelText: "Subscription text field" })
              +textfield_type_subscribe()
      .form-elements__group_second
        .form-elements__container_checkbox
          h3.label Сheckbox buttons
          +checkbox
        .form-elements__container_radio 
          .form-elements__label_radio Radio buttons
          +radio-buttons({ inputId: "customer-gender" }) 
        .form-elements__container_toggle
          .form-elements__label_toggle Toggle
          .form-elements__group_toggle
            +button-toggle({
              inputName: "offer1",
              ifChecked: true
            })
            +button-toggle({ inputName: "offer2" })
        .form-elements__container_button-like
          h3.label like button
          .form-elements__row
            +button-like({
              buttonId: "buttonLike_1",
              buttonNumber: 2
            })
            +button-like({
              buttonId: "buttonLike_2",
              buttonNumber: 12
            })
        .form-elements__container_button-rate
          h3.form-element__label_button-rate Rate button
          .form-elements__row
            +button-rate({
              inputName: "rating",
              checkedNum: 4
            })
            +button-rate({
              inputName: "rating2",
              checkedNum: 5
            })
      .form-elements__group_third
        .form-elements__container_range
          +range({ rangeId: "range_1" })
        .form-elements__container_buttons
          h3.form-elements__label_buttons Buttons
          .form-elements__row_buttons-link
            .form-elements__button-item
              +button-link({
                buttonText: "Click me",
                buttonOnclick: "./some-address",
                className: "colored"
              })
            .form-elements__button-item
              +button-link({
                buttonText: "Click me",
                buttonOnclick: "./some-address",
                className: "colored"
              })
            .form-elements__button-item
             +button-link({
               buttonText: "Click me",
               buttonOnclick: "./some-address",
               className: ""
              })
            .form-elements__button-item
             +button-link({
               buttonText: "Click me",
               buttonOnclick: "./some-address",
               className: ""
              })
          .form-elements__row_buttons-basic
            +button({ 
              buttonText: "Click me",
              buttonOnclick: "./some-address" 
            })
            +button({
              buttonText: "Click me",
              buttonOnclick: "./some-address"
            })
          .form-elements__button-submit 
            +button-submit({ buttonText: "Перейти к оплате" })
        .form-elements__container_pagination
            h3.label pagination
            +pagination("pagination_bar_1")
      .form-elements__group_forth
        .form-elements__container_dropdowns
          .form-elements__container_rooms.js-dropdown__detection
            +dropdown_type_rooms({
              labelText: "dropdown",
              dropdownContainerId: "dropdown_rooms_1",
              inputId: "dropdownRoomsInput_1",
              labelRightText: "default"
            })
          .form-elements__container_rooms.js-dropdown__detection
            +dropdown_type_rooms({
              labelText: "dropdown",
              dropdownContainerId: "dropdown_rooms_2",
              dropdownClassShow: "js-expand__show",
              inputId: "dropdownRoomsInput_2",
              labelRightText: "expanded"
            })
        .form-elements__container_checkbox-expand_hidden.js-dropdown__detection
          +checkbox-expandable({
            dropdownTitleName: "Expandable checkbox list"
          })
        .form-elements__container_checkbox-expand.js-dropdown__detection
          +checkbox-expandable({
            dropdownTitleName: "Expandable checkbox list",
            dropdownClassShow: "js-expand__show"
          })
      .form-elements__group_fifth
        .form-elements__container_guests_open.js-dropdown__detection
          +dropdown_type_guests({
            labelText: "dropdown", 
            dropdownContainerId: "dropdown_guests_1", 
            dropdownClassShow: "js-expand__show", 
            inputId: "dropdownGuestsInput_1"
          })
        .form-elements__container_rich-checkbox
          +rich-checkbox({
            checkboxName: "accessibility",
            containerText: "Rich Checkbox Buttons"
          })
      .form-elements__group_sixth
        .form-elements__container_guests_open.js-dropdown__detection
          +dropdown_type_guests({
            labelText: "dropdown", 
            dropdownContainerId: "dropdown_guests_2", 
            dropdownClassShow: "js-expand__show", 
            inputId: "dropdownGuestsInput_2"
          })
        .form-elements__container_bullet-checkbox
          +bullet-checkbox({
            checkboxList: checkboxList,
            labelText: "bullet list"
          })
      .form-elements__group_seventh
        +badge({ 
          name: "insert_emoticon",
          title: "Комфорт",
          description: "Шумопоглощающие стены" 
        })
        .form-elements__container_badge
          +badge({ 
            name: "location_city",
            title: "Удобство",
            description: "Окно в каждой из спален"
          })
      .form-elements__group_eighth
        +comment(comment1)
