include ../../../components/date-range/date-range_separate.pug
include ../../../components/date-range/date-range_common.pug
include ../../../components/textfield/__container/textfield__container_type_email.pug
include ../../../components/textfield/__container/textfield__container_type_birthday.pug
include ../../../components/textfield/__container/textfield__container_type_name.pug
include ../../../components/calendar/calendar.pug
include ../../../components/checkbox/checkbox.pug
include ../../../components/buttons-radio/buttons-radio.pug
include ../../../components/button-toggle/button-toggle.pug
include ../../../components/button-like/button-like.pug
include ../../../components/button-rate/button-rate.pug
include ../../../components/range/range.pug
include ../../../components/button/button_type_link.pug
include ../../../components/button/button_type_link_colored.pug
include ../../../components/button/button_type_submit.pug
include ../../../components/button/button_type_basic.pug
include ../../../components/navlink/navlink.pug
include ../../../components/pagination/pagination.pug
include ../../../components/dropdown/_type_guests/dropdown_type_guests.pug
include ../../../components/dropdown/_type_rooms/dropdown_type_rooms.pug
include ../../../components/checkbox-expandable/checkbox-expandable.pug
include ../../../components/bullet-checkbox/bullet-checkbox.pug
include ../../../components/badge/badge.pug
include ../../../components/comment/comment.pug
include ../../../components/rich-checkbox/rich-checkbox.pug

block variables
  - var title = "UIKit";
  - var description = "UIKit";
  - var keywords = "UIKit";
  - var checkboxList = [ "Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00" ];
  - 
    var comment1 = { 
      authorPic: "./assets/images/avatar/avatar.jpg", 
      authorName: "Мурад Сарафанов", 
      commentTime: "5 дней назад", 
      buttonLikeId: "likes_author_1", 
      buttonNumber: 12, 
      commentText: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.\u00A0 И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей." 
    };

block content
  .form-elements_outer.js-dropdown__detection
    img.uikit-logo(src= "./assets/images/logo/logo.svg" alt="uikit logo")
    .form-elements_inner
      .form-elements__group_first
        .form-elements__container_first
          .form-elements__container_email
            +textfield__container_type_email("Text field", "default")
          .form-elements__container_name
            +textfield__container_type_name("Text field", "hover / focus", "This is pretty awesome")
          .form-elements__container_dropdown-guests
            +dropdown_type_guests("dropdown", "dropdown_guests_0", "", "dropdownGuestsInput_0")
          .form-elements__container_birthday
            +textfield__container_type_birthday("Masked text field", "")

        .form-elements__container_second
          +date-range_separate("calendar1", "Date dropdown", "", "Date dropdown", "19.08.2019", "")
          .form-elements__container_date-range_common
            +date-range_common("calendar2", "filter rate dropdown", "19 авг - 23 авг", "")
          .form-elements__container_email_medium
            +textfield__container_type_email("Text field", "default")

      .form-elements__group_second
        .form-elements__container_checkbox
          h3.label Сheckbox buttons
          +checkbox
        .form-elements__container_radio 
          .form-elements__label_radio Radio buttons
          +buttons-radio("customer-gender",true, false) 
        .form-elements__container_toggle
          .form-elements__label_toggle Toggle
          .form-elements__group_toggle
            +button-toggle("offer1", true)
            +button-toggle("offer2", false)
        .form-elements__container_button-like
          h3.label like button
          .row
            +button-like("buttonLike_1", 2)
            +button-like("buttonLike_2", 12)
        .form-elements__container_button-rate
          h3.label Rate button
          .row
            +button-rate("rating", 4)
            +button-rate("rating2", 5)

      .form-elements__group_third
        .form-elements__container_range
          +range("range_1")
        .form-elements__container_buttons
          h3.form-elements__label_buttons Buttons
          .form-elements__buttons-row
            .form-elements__button-item
              +button_type_link_colored("Click me", "./some-address")
            .form-elements__button-item
              +button_type_link_colored("Click me", "./some-address")
            .form-elements__button-item
             +button_type_link("Click me", "./some-address")
            .form-elements__button-item
             +button_type_link("Click me", "./some-address")
          .form-elements__buttons-row
            +button_type_basic("Click me", "./some-address")
            +button_type_basic("Click me", "./some-address")
          .form-elements__buttons-row
            +button_type_submit("Перейти к оплате")
        .form-elements__container_pagination
            h3.label pagination
            +pagination("pagination_bar_1")


      .form-elements__group_forth
        .form-elements__container_dropdowns
          +dropdown_type_rooms("dropdown", "dropdown_rooms_1", "", "dropdownRoomsInput_1", "default")
          +dropdown_type_rooms("dropdown", "dropdown_rooms_2", "js-expand__show", "dropdownRoomsInput_2", "expanded")
        .form-elements__container_checkbox-expand_hidden
          +checkbox-expandable("Expandable checkbox list", "")
        .form-elements__container_checkbox-expand
          +checkbox-expandable("Expandable checkbox list", "js-expand__show")

      .form-elements__group_fifth
        +dropdown_type_guests("dropdown", "dropdown_guests_1", "js-expand__show", "dropdownGuestsInput_1")
        .form-elements__container_rich-checkbox
          +rich-checkbox("accessibility", "Rich Checkbox Buttons")

      .form-elements__group_sixth
        +dropdown_type_guests("dropdown", "dropdown_guests_2", "js-expand__show", "dropdownGuestsInput_2")
        .form-elements__container_bullet-checkbox
          +bullet-checkbox(checkboxList, "bullet list")

      .form-elements__group_seventh
        +badge("insert_emoticon", "Комфорт", "Шумопоглощающие стены")
        .form-elements__container_badge
          +badge("location_city", "Удобство", "Окно в каждой из спален")

      .form-elements__group_eighth
        .form-elements__container_comment
          +comment(comment1)
