include ../../../components/badge/badge.pug
include ../../../components/bullet-checkbox/bullet-checkbox.pug
include ../../../components/button/button.pug
include ../../../components/button-like/button-like.pug
include ../../../components/button-rate/button-rate.pug
include ../../../components/button-toggle/button-toggle.pug
include ../../../components/checkbox-list/checkbox-list.pug
include ../../../components/comment/comment.pug
include ../../../components/date-range/date-range.pug
include ../../../components/dropdown/dropdown.pug
include ../../../components/label/label.pug
include ../../../components/pagination/pagination.pug
include ../../../components/radio-buttons/radio-buttons.pug
include ../../../components/range/range.pug
include ../../../components/rich-checkbox-list/rich-checkbox-list.pug
include ../../../components/textfield/textfield.pug

mixin form-elements(checkboxList, comment1)
  -
    const genders = [{ 
      value: 'male',
      checked: true,
      title: 'Мужчина'
    },
    { 
      value: 'female',
      checked: false,
      title: 'Женщина'
    }];
    const { houseRules } = require('Utils/checkbox-list.json');
    const { checkboxContent } = 
      require('Utils/checkbox-expandable.json');
    const { itemsGuests, dropdownGuests } = require('Utils/dropdown-guests.json');
    const { itemsRooms, dropdownRooms } = require('Utils/dropdown-rooms.json');
    const { accessibilityItems } = require('Utils/rich-checkbox.json');

  .form-elements
    img.uikit__logo(src = './assets/images/logo/logo.svg' alt = 'uikit logo')
    .form-elements__content
      .form-elements__textfields
        .form-elements__container-first
          .form-elements__email
            .container
              +label({
                text: 'Text field', 
                rightText: 'default', 
                rightClass: 'email'
              })
              +textfield({ 
                modifier: 'email',
                placeholder: 'Email',
                name: 'email',
                autofocus: false 
              })
          .form-elements__name
            .container
              +label({
                text: 'Text field', 
                rightText: 'hover / focus', 
                rightClass: 'name'
              })
              +textfield({
                placeholder: 'Text', 
                value: 'This is pretty awesome', 
                name: 'text', 
                maxText: 20
              })
          .form-elements__guests.js-dropdown__detection
            +dropdown({
              text: 'dropdown',
              itemsInfo: itemsGuests,
              dropdownInfo: dropdownGuests,
            })
          .form-elements__birthday
            .container
              +label({ 
                text: 'Masked text field' 
              })
              +textfield({
                modifier: 'birthday',
                placeholder: 'ДД.ММ.ГГГГ',
                name: 'birthday',
                maxText: 10
              })
        .form-elements__container-second
          .form-elements__date-range-separate.js-dropdown__detection
            +date-range({
              dateRanges: [
                {
                  text: 'date dropdown',
                  name: 'check-in',
                  data: 'check-in'
                }, {
                  text: 'date dropdown',
                  value: '19.08.2019',
                  name: 'check-out',
                  data: 'check-out'
                }
              ]
            })
          .form-elements__date-range-common.js-dropdown__detection
            +date-range({ 
              dateRanges: [{
                text: 'filter date dropdown',
                value: '19 авг - 23 авг', 
                name: 'check-in-check-out', 
                data: 'date-range'
              }],
              placeHolder: 'ДД.ММ - ДД.ММ',
            })
          .form-elements__subscribe
            .container
              +label({ 
                text: 'Subscription text field' 
              })
              +textfield({ 
                modifier: 'subscribe',
                placeholder: 'Email',
                name: 'email',
              })
      .form-elements__input-buttons
        .form-elements__checkbox
          h3.label Checkbox buttons
          +checkbox-list({ items: houseRules })
        .form-elements__radio 
          h3.form-elements__label.form-elements__label_radio Radio buttons
          +radio-buttons({ 
            items: genders, 
            name: 'gender'
          }) 
        .form-elements__toggle
          h3.form-elements__label.form-elements__label_toggle Toggle
          .form-elements__group_toggle
            +button-toggle({
              name: 'offer1',
              checked: true
            })
            +button-toggle({ 
              name: 'offer2' 
            })
        .form-elements__button-like
          h3.label like button
          .form-elements__row
            +button-like({
              likesAmount: 2
            })
            +button-like({ 
              likesAmount: 12,
              liked: true
            })
        .form-elements__button-rate
          h3.form-element__label_button-rate Rate button
          .form-elements__row
            +button-rate({
              name: 'rating',
              rating: 4
            })
            +button-rate({
              name: 'rating2',
              rating: 5
            })
      .form-elements__clickable-objects
        .form-elements__range
          +range({ })
        .form-elements__buttons
          h3.form-elements__label.form-elements__label_buttons Buttons
          .form-elements__row_buttons-link
            .form-elements__button-item
              +button({
                text: 'Click me',
                href: './some-address',
                innerElement: 'link'
              })
            .form-elements__button-item
              +button({
                text: 'Click me',
                href: './some-address',
                innerElement: 'link'
              })
            .form-elements__button-item
             +button({
               text: 'Click me',
               href: './some-address',
               innerElement: 'form-link'
              })
            .form-elements__button-item
             +button({
               text: 'Click me',
               href: './some-address',
               innerElement: 'form-link'
              })
          .form-elements__row_buttons-basic
            +button({ 
              text: 'Click me',
              href: './some-address' 
            })
            +button({
              text: 'Click me',
              href: './some-address'
            })
          .form-elements__button-submit 
            +button({
              innerElement: 'submit',
              text: 'Перейти к оплате' 
            })
        .form-elements__pagination
            h3.label pagination
            +pagination()
      .form-elements__dropdowns
        .form-elements__room-criterions
          .form-elements__rooms.js-dropdown__detection
            +dropdown({
              text: 'dropdown',
              rightLabel: 'default',
              itemsAmount: [2, 2, 0],
              itemsInfo: itemsRooms,
              dropdownInfo: dropdownRooms,
            })
          .form-elements__rooms.js-dropdown__detection
            +dropdown({
              text: 'dropdown',
              showContent: true,
              rightLabel: 'expanded',
              itemsAmount: [2, 2, 0],
              itemsInfo: itemsRooms,
              dropdownInfo: dropdownRooms,
            })
        .form-elements__checkbox-rolled-up
          +checkbox-list({
            items: checkboxContent,
            text: 'Expandable checkbox list'
          })
        .form-elements__checkbox-expand
          +checkbox-list({
            items: checkboxContent,
            text: 'Expandable checkbox list',
            showContent: true,
          })
      .form-elements__search-info
        .form-elements__guests_open.js-dropdown__detection
          +dropdown({
            text: 'dropdown',
            showContent: true,
            itemsInfo: itemsGuests,
            dropdownInfo: dropdownGuests,
          })
        .form-elements__rich-checkbox
          +rich-checkbox-list({
            name: 'accessibility',
            text: 'Rich Checkbox Buttons',
            items: accessibilityItems,
          })
      .form-elements__room-info
        .form-elements__guests_open.js-dropdown__detection
          +dropdown({
            text: 'dropdown',
            showContent: true,
            itemsAmount: [2, 1, 0],
            itemsInfo: itemsGuests,
            dropdownInfo: dropdownGuests,
          })
        .form-elements__bullet-checkbox
          +bullet-checkbox({
            checkboxList: checkboxList,
            text: 'bullet list'
          })
      .form-elements__badges
        +badge({ 
          name: 'insert_emoticon',
          title: 'Комфорт',
          description: 'Шумопоглощающие стены' 
        })
        .form-elements__badge
          +badge({ 
            name: 'location_city',
            title: 'Удобство',
            description: 'Окно в каждой из спален'
          })
      .form-elements__comment
        +comment(comment1)