.header .header__buttons {
  padding-top: 2px;
}

.header__buttons {
  @include isFlex($align: center);
  width: 303px;
  height: 34px;

  @media (max-width: 550px) {
    width: 200px;
  }
}

.header__buttons .button_type_link_colored::before {
  content: "Зарегистрироваться";

  @media (max-width: 550px) {
    content: 'Регистрация';
  }
}

.header__signin {
  @include containerBlock(87px, 34px);
  line-height: 30px;
}

.header__registration {
  @include containerBlock(196px, 34px);
  line-height: 34px;

  @media (max-width: 550px) {
    width: calc(200px - 87px);
  }
}

.header__user_signed {
  width: fit-content;
  margin-top: 4px;
  padding-left: 20px;
  border-left: 1px solid $dark-shade_few;
  line-height: 29px;
  font-size: 13px;
  color: $dark-shade_medium;
  letter-spacing: 0.05em;
}