mixin header__user_unsigned(signinText, signinLink, regText, regLink)
  .header__buttons
    .header__signin
      +button_type_link(signinText, signinLink)
    .header__registration
      +button_type_link_colored(regText, regLink)