@import '@~Assets/styles/colors.scss';

.header__user_signed {
  width: fit-content;
  margin-top: 4px;
  padding-left: 20px;
  border-left: 1px solid $dark-shade_few;
  line-height: 29px;
  font-size: 13.5px;
  color: $dark-shade_medium;
  letter-spacing: 0.03em;
  text-decoration: none;
}
