@import "./card__text";

.card-booking {
  @include containerShadowed();
  @include isFlex($direction: column, $justify: flex-start);
  width: 380px;
  height: 511px;
  padding-top: 48px;
  padding-left: 29px;
  padding-right: 29px;

  @media (max-width: 450px) {
    padding: 25px 20px;
    min-width: 320px;
    width: 100vw;
  }
}

.card-booking > div:nth-of-type(2) {
  margin-top: 12px;
}

.card-booking > div:nth-of-type(3) {
  margin-top: 20px;
}

.card-booking > div:nth-of-type(4) {
  margin-top: 19px;
}

.card-booking > div:nth-of-type(7) {
  margin-top: 20px;
  width: 100%;

  @media (max-width: 450px) {
    margin: 21px auto 0;
    min-width: 280px;
    width: 100%;
  }
}

.card-booking > button {
  //margin-top: 19px;
  margin-top: 19.5px;
  padding-right: 5px;
  padding-bottom: 2px;
}

.booking-text {
  &__row {
    width: 320px;
    height: 30px;
    font-weight: 700;
    position: relative;
    @include isFlex();

    @media (max-width: 450px) {
      max-width: 280px;
      margin: 0 auto;
    }
  }

  &__left {
    color: $darkShadeMost;
    line-height: 11px;
  }

  &__sign {
    font-size: 14px;
    display: inline-block;
    padding-right: 4px;
  }

  &__number {
    font-size: 24px;
    display: inline-block;
    letter-spacing: 0.01em;
    padding-right: 1px;
  }

  &__type {
    font-size: 12px;
    color: $purple;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    display: inline-block;
  }

  &__right {
    color: $darkShadeMiddle;
    letter-spacing: 0.01em;
    line-height: 20px;
  }

  &__price {
    font-size: 14px;
  }

  &__period {
    font-weight: 400;
    font-size: 12px;
  }

  &__review {
    font-weight: 400;
    font-size: 14px;
  }
}

.booking-info {
  &__row {
    @include isFlex();
    width: 318px;
    min-height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $darkShadeMore;
    //letter-spacing: 0.005em;
    margin-bottom: 10px;
    margin-left: 1px;

    @media (max-width: 450px) {
      min-width: 280px;
      width: 100%;
      margin: 9px 0;
    }
  }

  &__description {
    display: inline-block;
    width: 220px;
    text-align: left;
    letter-spacing: 0.0001em;

    @media (max-width: 450px) {
      width: calc(100% - 120px);
      max-width: 170px;
    }
  }

  &__sign {
    width: 20px;
    height: 20px;
    background: $light;
    border-radius: 50%;
    border: 1px solid $darkShadeLess;
    position: relative;
    margin-left: -5px;
    margin-top: -1px;

    &::before {
      content: "i";
      position: absolute;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      top: 2px;
      left: 7px;
      color: $darkShadeLess;
    }
  }

  &__price {
    display: inline-block;
    width: 75px;
    text-align: right;
    letter-spacing: 0.005em;
  }
}

.booking-total {
  &__row {
    width: 320px;
    @include isFlex();
    color: $darkShadeMost;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    letter-spacing: 0.01em;
    margin-left: 1px;
  }

  &__line {
    display: flex;
    align-items: flex-end;
    width: 190px;
    height: 19px;
    border-bottom: 1px dotted $darkShadeLess;

    @media (max-width: 450px) {
      width: calc(100% - 140px);
    }
  }
}
