.card_booking {
    @include containerShadowed();
    @include isFlex($direction: column, $justify: flex-start);
    width: 380px;
    height: 511px;
    padding-top: 48px;
    padding-left: 29px;
    padding-right: 29px;
}

.booking__row_big {
    width: 320px;
    height: 30px;
    font-weight: 700;
    position: relative;
    @include isFlex();
}

.card_booking > div:nth-of-type(2) {
    margin-top: 12px;
}

.card_booking > div:nth-of-type(3) {
    margin-top: 20px;
}

.card_booking > div:nth-of-type(4) {
    margin-top: 19px;
}

.card_booking > div:nth-of-type(7) {
    margin-top: 20px;
    width: 100%;
}

.card_booking > button {
    //margin-top: 19px;
    margin-top: 19.5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.booking__text_left {
    color: $darkShadeMost;
    line-height: 11px;
}

.booking__text_sign {
    font-size: 14px;
    display: inline-block;
    padding-right: 4px;
}


.booking__text_number {
    font-size: 24px;
    display: inline-block;
    letter-spacing: 0.01em;
    padding-right: 1px;
}

.booking__text_type {
    font-size: 12px;
    color: $purple;
    letter-spacing: -.02em;
    text-transform: uppercase;
    display: inline-block;
}

.booking__text_right {
    color: $darkShadeMiddle;
    letter-spacing: 0.01em;
    line-height: 20px;
}

.booking__text_price {
    font-size: 14px;
}

.booking__text_period {
    font-weight: 400;
    font-size: 12px;
}

.booking__text_review {
    font-weight: 400;
    font-size: 14px;
}


.booking__info_row {
    @include isFlex();
    width: 318px;
    min-height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $darkShadeMore;
    //letter-spacing: 0.005em;
    margin-bottom: 10px;
    margin-left: 1px;
}

.booking__info_description {
    display: inline-block;
    width: 220px;
    text-align: left;
    letter-spacing: .0001em;
}

.booking__info_sign {
    width: 20px;
    height: 20px;
    background: $light;
    border-radius: 50%;
    border: 1px solid $darkShadeLess;
    position: relative;
    margin-left: -5px;
    margin-top: -1px;
}

.booking__info_sign::before {
    content: "i";
    position: absolute;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    top: 2px;
    left: 7px;
    color: $darkShadeLess;
}

.booking__info_price {
    display: inline-block;
    width: 75px;
    text-align: right;
    letter-spacing: .005em
}



.booking__total_row {
    width: 320px;
    @include isFlex();
    color: $darkShadeMost;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    letter-spacing: 0.01em;
    margin-left: 1px;
}

.booking__total_line {
    display: flex;
    align-items: flex-end;
    width: 190px;
    height: 19px;
    border-bottom: 1px dotted $darkShadeLess;
}

@media (max-width: 450px){
    .card_booking {
        padding: 25px 20px;
        min-width: 320px;
        width: 100vw;
    }

    .booking__info_row {
        width: 280px;
        margin: 18px auto 0;
    }

    .booking__row_big {
        max-width: 280px;
        margin: 0 auto;
    }

    .card_booking>div:nth-of-type(7) {
        margin: 21px auto 0;
        width: 280px;
    }

    .booking__total_line {
        width: 120px;
    }
    
    .richcheckbox__container,
    .bullet__container {
        margin: 0 auto;
    }
}