include ./__item/radio-buttons__item.pug

mixin radio-buttons({ ifCheckedMan=true, ifCheckedWoman=false })
  .radio-buttons
    +radio-buttons__item({
      ifChecked: ifCheckedMan,
      buttonTitle: "Мужчина"
    })
    +radio-buttons__item({
      ifChecked: ifCheckedWoman,
      buttonTitle: "Женщина"
    })