@import '@~Assets/styles/fonts.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';

@mixin radioButtonTitle {
  display: inline-block;
  width: 73px;
  line-height: 19px;
  letter-spacing: .005em;
  height: 100%;
  color: $dark-shade_medium;
  user-select: none;
}

@mixin radioButtonFake {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  border: 1px solid $dark-shade_less;
  border-radius: 50%;
  background-color: transparent;

  &_type_male {
    margin-right: 10px;
  }
}

.radio-buttons {
  @include isFlex();
  width: 100%;
  height: 24px;

  @include _450 {
    margin: 0 auto;
  }

  &__item {
    @include isFlex($justify: flex-start);
    width: 104px;
    height: 24px;
    font-weight: 400;
    font-size: $fs_base;
    text-transform: none;
    letter-spacing: .002em;
    cursor: pointer;

    @include _1750-1920 {
      width: 130px;
    }
  }

  &__real {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
    appearance: none;
  }

  &__fake {
    @include radioButtonFake();
  }

  &__title {
    @include radioButtonTitle();
  }

  &__real:checked + &__fake::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    display: block;
    width: 12px;
    height: 12px;
    background: $linearGradientLilac;
    border-radius: 50%;
  }

  &__real:checked ~ &__fake {
    @include radioButtonFake();
    border-color: $purple;
  }

  &__real:checked ~ &__title {
    @include radioButtonTitle();
    color: $dark-shade_more;
  }
}