@import '@~Assets/styles/fonts.scss';
@import '@~Assets/styles/media-mixins.scss';

@import './__item/radio-buttons__item.scss';

.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: 1 0 nowrap;
  width: 100%;
  height: 24px;

  @include _450 {
    margin: 0 auto;
  }
}
