mixin radio-buttons({ ifCheckedMan = true, ifCheckedWoman = false })
  .radio-buttons
    label.radio-buttons__item
      input.radio-buttons__real(
        type = 'radio' 
        name = 'gender' 
        value = 'male' 
        checked = ifCheckedMan)
      span.radio-buttons__fake.radio-buttons__fake_type_male
      span(class = 'radio-buttons__title') Мужчина
    label.radio-buttons__item
      input.radio-buttons__real(
        type = 'radio' 
        name = 'gender' 
        value = 'female' 
        checked = ifCheckedWoman)
      span.radio-buttons__fake
      span(class = 'radio-buttons__title') Женщина