mixin radio-buttons({ items, name })
  .radio-buttons
    each item in items
      - const { value, checked, title } = item;
      label.radio-buttons__item
        input.radio-buttons__real(
          type = 'radio' 
          name = name 
          value = value 
          checked = checked)
        span(class = 'radio-buttons__fake')
        span(class = 'radio-buttons__title')!= title