@import '@~Assets/styles/media-mixins.scss';
@import '@~Components/logo/logo.scss';

.footer__logo_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 260px;
  height: 131px;
  margin-right: 38px;
  letter-spacing: .001em;

  @include _1340 {
    height: 160px;
    margin: 0;
  }

  @include _1170 {
    position: absolute;
    top: -11px;
    right: 0;
    width: 106px;
    height: 40px;
    margin-right: 50px;
  }

  @include _800 {
    position: relative;
    width: 60%;
    margin-right: 0;
    margin-bottom: 20px;
    align-items: center;
  }
}

.footer__logo_landing,
.footer__logo_in-registration,
.footer__logo_in-details,
.footer__logo_in-search,
.footer__logo_in-signin {
  @extend .footer__logo_main;
}

.footer__logo_landing {
  height: 130px;
}

.footer__logo_in-signin {
  height: 131px;
}
  