include ../date-range-dropdown/_date-range-dropdown.pug
include ../dropdown-guests/_dropdown-guests.pug
include ../button/_button.pug

mixin cardSearch()
  form.card-search(method="get" action="./search-room.html")
    h1.card__text Найдём номера под ваши пожелания
    .card-search__calendar
      +dateRangeSeparate("calendar_search", "Прибытие", "", "Выезд", "", "")
    .card-search__guests
      +dropdownGuestsLabeled("Гости", "dropdown_guests_search", "", "dropdownGuestsInput_3")
    .card-search__button
      +buttonFormSubmit("Подобрать номер", "room_search.html")
