.card_search {
  @include containerShadowed();
  @include isFlex($direction: column, $justify: flex-start);
  width: 382px;
  height: 376px;
  padding-top: 39px;
  padding-left: 29px;
  padding-right: 29px;

  @media (max-width: 400px) {
    padding: 25px 20px;
    min-width: 320px;
    width: 100vw;
  }
}

.card_search > div:first-of-type {
  margin-top: 19.5px;
}

.card_search > div:nth-of-type(2) {
  margin-top: 26px;
}

.card_search > button {
  // margin-top: 30px;
  // padding-top: 2px;
  // padding-right: 4px;
  margin-top: 29px;
  padding-right: 4px;
}
