.card-search {
  @include containerShadowed;
  @include isFlex($direction: column, $justify: flex-start);
  width: 380px;
  height: 374px;
  padding: 39px 28px 0 29px;

  @media (max-width: 400px) {
    width: 100vw;
    min-width: 320px;
    padding: 25px 20px;
  }
}

.card-search__calendar,
.card-search__guests,
.card-search__button {
  width: 100%;
}

.card-search__calendar {
  margin-top: 18px;
}

.card-search__guests {
  margin-top: 25px;
}

.card-search__button {
  margin-top: 30px;
}

.card-search__button .button_type_submit {
  padding-right: 4px;
}
