include ../button-submit/button-submit.pug
include ../date-range/date-range.pug
include ../dropdown-guests/dropdown-guests.pug

mixin card-search(title = "Найдём номера под ваши пожелания")
  form.card-search(method = 'get' action = './search-room.html')
    h1.card__title!= title
    .card-search__calendar
      +date-range({
        dateRanges: [
          {
            labelText: 'Прибытие',
            name: 'check-in',
            data: 'check-in'
          }, {
            labelText: 'Выезд',
            name: 'check-out',
            data: 'check-out'
          }
        ]
      })
    .card-search__guests
      +dropdown-guests({
        labelText: 'Гости',
      })
    .card-search__button
      +button-submit({ 
        buttonLinkText: 'Подобрать номер',
        theme: theme
      })
