@import '@~Assets/styles/colors.scss';
@import '@~Components/button-submit/button-submit.scss';
@import '@~Components/card/card.scss';
@import '@~Components/date-range/_separete/date-range_separate.scss';
@import '@~Components/dropdown/_type_guests/dropdown_type_guests.scss';

.card-search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: 1 0 nowrap;
  width: 380px;
  height: 374px;
  padding: 39px 29px 0 29px;
  border: 1px solid $shadow-border;
  border-radius: 4px;
  background: $light;
  box-shadow: 0px 0px 25px $shadow;

  @media (max-width: 400px) {
    width: 100vw;
    min-width: 320px;
    padding: 25px 20px;
  }
}

.card-search__calendar,
.card-search__guests,
.card-search__button {
  width: 100%;
}

.card-search__calendar {
  margin-top: 24px;
  height: 62px;
}

.card-search__guests {
  margin-top: 23px;
  height: 62px;
}

.card-search__button {
  margin-top: 31px;
}

.card-search__button .button-submit {
  padding-right: 4px;
}
