include ../button/button.pug
include ../date-range/date-range.pug
include ../dropdown/dropdown.pug

mixin card-search(title = 'Найдём номера под ваши пожелания')
  - const { itemsGuests, dropdownGuests } = require('Utils/dropdown-guests.json');
  form.card-search(method = 'get' action = './search-room.html')
    h1.card__title!= title
    .card-search__calendar
      +date-range({
        dateRanges: [
          {
            text: 'Прибытие',
            name: 'check-in',
            data: 'check-in'
          }, {
            text: 'Выезд',
            name: 'check-out',
            data: 'check-out'
          }
        ]
      })
    .card-search__guests
      +dropdown({
        text: 'Гости',
        itemsInfo: itemsGuests,
        dropdownInfo: dropdownGuests,
      })
    .card-search__button
      +button({
        innerElement: 'submit',
        text: 'Подобрать номер',
        theme: theme
      })
