include ../button-submit/button-submit.pug
include ../date-range/date-range.pug
include ../dropdown-guests/dropdown-guests.pug

mixin card-search()
  form.card-search(method= "get" action= "./search-room.html")
    h1.card__title Найдём номера под ваши пожелания
    .card-search__calendar
      +date-range({
        dateRanges: [
          {
            labelText: "Прибытие",
            value: "",
            name: "checkin",
            data: "checkin"
          }, {
            labelText: "Выезд",
            value: "",
            name: "checkout",
            data: "checkout"
          }
        ]
      })
    .card-search__guests
      +dropdown-guests({
        labelText: "Гости",
      })
    .card-search__button
      +button-submit({ 
        buttonText: "Подобрать номер",
        type: "room_search.html",
        theme: theme
      })
