include ../button-submit/button-submit.pug
include ../date-range/_separete/date-range_separate.pug
include ../dropdown/_type_guests/dropdown_type_guests.pug

mixin card-search()
  form.card-search(method="get" action="./search-room.html")
    h1.card__title Найдём номера под ваши пожелания
    .card-search__calendar
      +date-range_separate({})
    .card-search__guests
      +dropdown_type_guests({
        labelText: "Гости",
      })
    .card-search__button
      +button-submit({ buttonText: "Подобрать номер", type: "room_search.html" })
