@import '@~Assets/styles/card.scss';
@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';
@import '@~Components/button-submit/button-submit.scss';
@import '@~Components/date-range/_separete/date-range_separate.scss';
@import '@~Components/dropdown/_type_guests/dropdown_type_guests.scss';

.card-search {
  @include isFlex($direction: column, $justify: flex-start);
  width: 380px;
  height: 374px;
  padding: 39px 29px 0 29px;
  border: 1px solid $shadow-border;
  border-radius: 4px;
  background: $light;
  box-shadow: 0px 0px 25px $shadow;

  @include _400 {
    width: 100vw;
    min-width: 320px;
    padding: 25px 20px;
  }

  &__calendar,
  &__guests,
  &__button {
    width: 100%;
  }

  &__calendar {
    margin-top: 24px;
    height: 62px;
  }

  &__guests {
    margin-top: 23px;
    height: 62px;
  }

  &__button {
    margin-top: 31px;
  }
}