include ../logo/logo.pug
include ../social-nets/social-nets.pug

mixin footer-mobile()
  - var copyRightText = "Copyright © 2018 Toxin отель. Все права защищены."

  .footer-mobile
    .footer-mobile__content
      +logo()
      .footer-mobile__copyright-text
        != copyRightText
      .footer-mobile__social-nets
        +social-nets("creative")