@import './__item/checkbox-expandable__item';

.checkbox-expand__container {
  @include widget();
  @include containerMedium();
  width: 266px;

  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 100%;
  }
}

.checkbox-expand__dropdown {
  @include isFlex($direction: column-reverse);
  position: relative;
  width: inherit;
  user-select: none;

  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 100%;
  }
}

.checkbox-expand__content {
  @include fieldset();
  height: 171px;
  width: 266px;
  margin-top: 3px;

  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 100%;
  }
}
