.checkbox-expand__fake {
  @include checkboxFake();
  margin-right: 10px;
}

.checkbox-expand__title {
  @include checkboxTitle();
  font-size: $fs_base;
  line-height: 20px;
  letter-spacing: 0.003em;
}

.checkbox__real:checked ~ .checkbox-expand__fake {
  @extend .checkbox-expand__fake;
  border-color: $purple;
}

.checkbox__real:checked + .checkbox-expand__fake::before {
  @include checkboxFakeBefore();

  @media (min-width: 1650px) and (max-width: 1920px) {
    @include containerBlock(5px, 10px);
  }
}