include ./__item/checkbox-expandable__item.pug

mixin checkbox-expandable(dropdownTitleName, dropdownClassShow)
  .checkbox-expand__container
    .dropdown.reverse
      div(class="js-expand__content " + dropdownClassShow)
        fieldset.checkbox-expand__content
          +checkbox-expandable__item("breakfast", false, "Завтрак")
          +checkbox-expandable__item("desk", true, "Письменный стол")
          +checkbox-expandable__item("feeding chair", true, "Стул для кормления")
          +checkbox-expandable__item("baby bed", true, "Кроватка")
          +checkbox-expandable__item("TV", false, "Телевизор")
          +checkbox-expandable__item("shampoo", false, "Шампунь")
      .dropdown__button_transparent.js-expand__init
        .dropdown__title!= dropdownTitleName