include ../checkbox-item/checkbox-item.pug

mixin checkbox-expandable({ text = "", showContent = false })
  - 
    const classShow = showContent === true
      ? 'checkbox-expandable__show'
      : '';
    const { checkboxContent } = 
      require('Components/checkbox-expandable/checkbox-expandable.json');

    const checkboxContentClass = 
      'checkbox-expandable__content js-checkbox-expandable__content';

  .checkbox-expandable.js-checkbox-expandable
    .checkbox-expandable__dropdown
      fieldset(class = `${ 
        checkboxContentClass 
        } js-checkbox-expandable__show ${ 
        classShow }`)
          each checkboxItem in checkboxContent
            - 
              const { 
                value, 
                name, 
                checked, 
                title } = checkboxItem;
            +checkbox-item({
              value: value,
              name: name,
              checked: checked,
              title: title,
              modifier: 'expandable'
            })
      .checkbox-expandable__button.js-checkbox-expandable__init
        .checkbox-expandable__title!= text
