include ../checkbox-item/checkbox-item.pug

mixin checkbox-expandable({ dropdownTitleName, dropdownClassShow = '' })
  - 
    const { checkboxContent } = 
    require('Components/checkbox-expandable/checkbox-expandable.json');

    const checkboxContentClass = 
      'checkbox-expandable__content js-checkbox-expandable__content';

  .checkbox-expandable.js-checkbox-expandable
    .checkbox-expandable__dropdown
      fieldset(class = `${ 
        checkboxContentClass 
        } js-checkbox-expandable__show ${ 
        dropdownClassShow }`)

          each checkboxItem in checkboxContent
            - 
              const { 
                valueText, 
                checkboxName, 
                checked, 
                checkboxTitle } = checkboxItem;
            +checkbox-item({
              valueText: valueText,
              inputName: checkboxName,
              checked: checked,
              checkboxTitle: checkboxTitle,
              modifier: 'expandable'
            })
      .checkbox-expandable__button.js-checkbox-expandable__init
        .dropdown__title!= dropdownTitleName
