mixin checkbox-expandable({ dropdownTitleName, dropdownClassShow = "" })
  - 
    var { checkboxContent } = 
    require("Components/checkbox-expandable/checkbox-expandable.json");
  - 
    var checkboxContentClass = 
      "checkbox-expandable__content js-checkbox-expandable__content";

  .checkbox-expandable.js-checkbox-expandable
    .checkbox-expandable__dropdown
      fieldset(class = `${ checkboxContentClass } js-checkbox-expandable__show ${ 
        dropdownClassShow }`)

          each checkboxItem in checkboxContent
            - var { checkboxName, ifChecked, checkboxTitle } = checkboxItem
            label.checkbox-expandable__item
              input(
                type = "checkbox" 
                name = checkboxName 
                checked = ifChecked).checkbox-expandable__real
              span.checkbox-expandable__fake
              span.checkbox-expandable__title!= checkboxTitle
      .checkbox-expandable__button.js-checkbox-expandable__init
        .dropdown__title!= dropdownTitleName
