include ../checkbox/checkbox.pug

mixin checkbox-expandable({ items, text = "", showContent = false })
  - 
    const classShow = showContent === true
      ? 'checkbox-expandable__show'
      : '';
    const checkboxContentClass = 
      'checkbox-expandable__content js-checkbox-expandable__content';

  .checkbox-expandable.js-checkbox-expandable
    .checkbox-expandable__dropdown
      fieldset(class = `${ 
        checkboxContentClass 
        } js-checkbox-expandable__show ${ 
        classShow }`)
          each item in items
            - 
              const { 
                value, 
                name, 
                checked, 
                title } = item;
            +checkbox({
              value: value,
              name: name,
              checked: checked,
              title: title,
              modifier: 'expandable'
            })
      .checkbox-expandable__button.js-checkbox-expandable__init
        .checkbox-expandable__title!= text
