@import '@~Assets/styles/media-mixins.scss';

@import './__item/checkbox-expandable__item.scss';

@mixin isFlex(
  $direction: row,
  $justify: space-between,
  $align: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-shrink: 0;
}

.checkbox-expandable {
  @include isFlex($direction: column);
  position: relative;
  width: 266px;
  min-width: 260px;

  @include _1650-1920 {
    width: 100%;
  }

  @include _450 {
    width: 280px;
    margin: 0 auto;
  }
}

.checkbox-expandable__dropdown {
  @include isFlex($direction: column-reverse);
  position: relative;
  width: inherit;
  user-select: none;

  @include _1650-1920 {
    width: 100%;
  }
}

.checkbox-expandable__content {
  appearance: none;
  height: 171px;
  width: 266px;
  margin: 3px 0 0;
  padding: 0;
  border: none;

  @include _1650-1920 {
    width: 100%;
  }
}
