.badge {
  @include isFlex($justify: start);
  width: 280px;
  height: 69px;
  border-bottom: 1px solid $dark-shade_few;
  padding-bottom: 19px;
  font-size: 13.5px;
  letter-spacing: .02em;
  pointer-events: none;

  @media (min-width: 1650px) and (max-width: 1920px){
    width: fit-content;
  }
}
