
mixin badgeItem(iconName, badgeTitle, badgeSubtitle)
  .badge
    .badge__info
      span(class="maretial-icon")= iconName
      .info__form
        div(class="info__title")= badgeTitle
        div(class="info__description")= badgeSubtitle
    .badge__underline