.badge {
  width: 280px;
  height: 69px;
  @include isFlex($direction: column);

  &__info {
    height: 50px;
    @include isFlex($justify: start);
  }

  &__underline {
    height: 1px;
    width: 280px;
    background-color: $darkShadeFew;
  }
}

.badge__info > .info__description {
  margin-top: -1px;
}

.badge__info > .maretial-icon {
  margin-top: -1px;
}

.info {
  &__description {
    height: 47px;
    width: 200px;
  }
  
  &__main {
    font-family: $Montserrat;
    font-size: $fs_base;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.01em;
  }

  &__additional {
    font-family: $Montserrat;
    font-size: $fs_base;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.01em;
    margin-top: 0.5px;
  }
}
