@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';
@import '@~Components/info/info.scss';

.badge {
  @include isFlex($justify: flex-start);
  width: 280px;
  height: 69px;
  border-bottom: 1px solid $dark-shade_few;
  padding-bottom: 19px;
  font-size: 13.5px;
  letter-spacing: .02em;
  user-select: none;

  @include _1650-1920 {
    width: fit-content;
  }
  
  &__icon {
    position: relative;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    line-height: 48px;
    font-family: $material-icons;
    font-size: 48px;
    text-align: center;
    background-image: $linearGradientLilac;
    color: transparent;
    font-feature-settings: 'liga';
    background-clip: text;
  }
}
