include ../info/info.pug

mixin badge({ name="insert_emoticon", title="Комфорт", description="Шумопоглощающие стены" })
  .badge
    span.maretial-icon!= name
    +info({ title: title, description: description })