mixin checkbox__item(valueText, inputName, ifChecked, checkboxTitle)
  label.checkbox__item
    input(type="checkbox" value=valueText name=inputName checked=ifChecked).checkbox__real
    span.checkbox__fake
    span.checkbox__title!= checkboxTitle
