{
  "presets": [
    "env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "Main": "./src/",
          "Images": "./src/assets/images/",
          "Fonts": "./src/assets/fonts/",
          "Components": "./src/components/",
          "Pages": ".src/pages/",
          "Scripts": "./src/assets/scripts/"
        }
      }
    ]
  ]
}
