{ 
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },
  "plugins": [
    "fsd"
  ],
  "extends": [
    "airbnb",
    "plugin:fsd/all"
  ],
  "rules": {
    "linebreak-style": ["error", "windows"],
    "prefer-destructuring": "off",
    "no-new": "off",
    "max-len": ["error", {
      "tabWidth": 2,
      "quotes": ["error", "single"],
      "ignoreUrls": true,
      "code": 80,
      "ignoreRegExpLiterals": true,
      "ignoreTemplateLiterals": true
      }],
    "no-nested-ternary": "off",
    "class-methods-use-this": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["Main", "./src/"],
          ["Fonts", "./src/assets/fonts/"],
          ["Images", "./src/assets/images/"],
          ["Scripts", "./src/scripts/"],
          ["Styles", "./src/assets/styles/"],
          ["Components", "./src/components/"],
          ["Pages", ".src/pages/]"]
        ],
        "extensions": [".js", ".jsx"]
      }
    }
  }
}