{ 
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },
  "plugins": [
    "fsd"
  ],
  "extends": [
    "airbnb-base",
    "plugin:fsd/all"
  ],
  "rules": {
    "no-new": "off",
    "linebreak-style": ["error", "windows"],
    "prefer-desctucturing": "off",
    "object-curly-spacing": ["error", "always"],
    "template-curly-spacing": ["error", "always"],
    "quotes": ["error", "single"],
    "comma-dangle": ["error", "never"],
    "max-len": ["error", {
      "tabWidth": 2,
      "ignoreUrls": true,
      "code": 80,
      "ignoreRegExpLiterals": true,
      "ignoreTemplateLiterals": true
      }]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["Main", "./src/"],
          ["Libs", "./src/libs/"],
          ["Fonts", "./src/assets/fonts/"],
          ["Images", "./src/assets/images/"],
          ["Scripts", "./src/scripts/"],
          ["Styles", "./src/assets/styles/"],
          ["Components", "./src/components/"],
          ["Pages", ".src/pages/]"]
        ],
        "extensions": [".js"]
      }
    }
  }
}