.navlink {
  display: inline-block;
  position: relative;
  height: 18px;
  line-height: 20px;
  font-size: $fs_base;
  font-weight: 400;
  color: $dark-shade_medium;
  cursor: pointer;

  @media (min-width: 1750px) and (max-width: 1920px){
    width: fit-content;
    font-size: $fs_h2;
  }
}

.navlink_in-footer {
  @extend .navlink;
}

.navlink_in-footer + .navlink_in-footer {
  margin-top: 20px;

  @media (max-width: 800px) {
    margin-top: 0;
  }
}

.navlink__button {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: $fs_base;
  font-weight: 400;
  color: $dark-shade_medium;

  @media (min-width: 1750px) and (max-width: 1920px){
    font-size: $fs_h2;
  }
}

.navlink:active .navlink__button,
.navlink:hover .navlink__button {
  font-weight: 700;
  color: $dark-shade_more;
}