.navlink__content {
  @include containerDimed();
  position: absolute;
  top: 20px;
  width: 150px;
  height: 60px;
  z-index: 3;
}

.navlink__init {
  @include isFlex($direction: row-reverse);
  height: 18px;
  line-height: 18px;
  font-size: $fs_base;
  font-weight: 400;
  color: $dark-shade_medium;
}

.navlink__icon {
  position: relative;
  width: 24px;
  height: 18px;
  line-height: 22px;
}

.navlink__icon::before {
  content: '\e5cf';
  position: absolute;
  font-size: $fs_h1;
  font-family: $material-icons;
  color: $dark-shade_medium;
}