mixin navlink({ buttonText="", buttonOnclick="./some-address", buttonNavlinkClass="" })
  if buttonNavlinkClass == ""
    li(class="navlink")
      a(class="navlink__button" href= buttonOnclick)= buttonText
  else 
    li(class="navlink" + "_" + buttonNavlinkClass)
      a(class="navlink__button" href= buttonOnclick)= buttonText