mixin navlink_dropdown(buttonText)
  li.navlink.reverse
    .dropdown__content.js-expand__content
      .navlink__content
    .navlink__init.js-expand__init
      span.navlink__icon
      span.navlink__button!= buttonText