mixin navlink({ buttonText="", buttonOnclick="./some-address", buttonNavlinkClass="" })
  if buttonNavlinkClass == ""
    li(class="navlink")
      a(class="navlink__button" href= buttonOnclick)= buttonText
  else 
    li(class=`navlink_${buttonNavlinkClass}`)
      a(class="navlink__button" href= buttonOnclick)= buttonText