mixin navlink({ buttonLinkText = '', onClick = './some-address', modifier = '', buttonModifier = '' })

  - 
    const navlinkClass = modifier === ''
      ? 'navlink'
      : `navlink navlink_type_${ modifier }`;

  -
    const navlinkButtonClass = buttonModifier === ''
      ? 'navlink__button' 
      : `navlink__button navlink__button_type_${ buttonModifier }`;

  li(class = navlinkClass)
    a(
      class = navlinkButtonClass 
      href = onClick 
      title = buttonLinkText)= buttonLinkText