mixin navlink_dropdown(buttonText)
  div.navlink.reverse
    .dropdown__content.js-dropdown__content
      .navlink__content
    .navlink__init.js-dropdown__init
      span.navlink__icon
      span.button_navlink!= buttonText