@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/fonts.scss';

.navlink {
  display: inline-block;
  position: relative;
  height: 18px;
  line-height: 20px;
  font-size: $fs_base;
  font-weight: 400;
  color: $dark-shade_medium;
  list-style: none;
  cursor: pointer;

  @include xxxl {
    width: fit-content;
  }

  &_type_header {
    text-align: center;
  }

  &_type_footer {
    letter-spacing: 0.001em;

    & + & {
      margin-top: 20px;

      @include sm {
        margin-top: 0;
      }
    }
  }

  &__button {
    display: inline-block;
    position: relative;
    line-height: 20px;
    font-size: $fs_base;
    font-weight: 400;
    color: $dark-shade_medium;
    text-decoration: none;

    &_type_header {
      &::before {
        content: attr(title);
        display: block;
        height: 0;
        font-weight: bold;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }

  &:active &__button,
  &:hover &__button {
    font-weight: 700;
    color: $dark-shade_more;
  }
}