mixin navlink({ buttonText = "", onClick = "./some-address", modifier = "", buttonModifier = ""})

  - 
    var navlinkClass = modifier === ""
      ? "navlink"
      : `navlink navlink_type_${ modifier }`

  -
    var navlinkButtonClass = buttonModifier === ""
      ? "navlink__button" 
      : `navlink__button navlink__button_type_${ buttonModifier }`

  li(class = navlinkClass)
    a(
      class = navlinkButtonClass 
      href = onClick 
      title = buttonText)= buttonText