mixin navlink({ buttonText = "", onClick = "./some-address", modificator = "", buttonModificator = ""})

  - 
    var navlinkClass = modificator === ""
      ? "navlink"
      : `navlink navlink_type_${ modificator }`

  -
    var navlinkButtonClass = buttonModificator === ""
      ? "navlink__button" 
      : `navlink__button navlink__button_type_${ buttonModificator }`

  li(class = `${ navlinkClass }`)
    a(
      class = `${ navlinkButtonClass }` 
      href = onClick 
      title = buttonText)= buttonText