@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/fonts.scss';

.navlink {
  display: inline-block;
  position: relative;
  height: 18px;
  line-height: 20px;
  font-size: $fs_base;
  font-weight: 400;
  color: $dark-shade_medium;
  list-style: none;
  cursor: pointer;

  @include _1750-1920 {
    width: fit-content;
  }

  &_type_header {
    text-align: center;
  }

  &_type_footer {
    letter-spacing: 0.001em;
  }

  &__button {
    display: inline-block;
    position: relative;
    line-height: 20px;
    font-size: $fs_base;
    font-weight: 400;
    color: $dark-shade_medium;
    text-decoration: none;
  }

  &__button_type_header {
    &::before {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }
}

.navlink:active .navlink__button,
.navlink:hover .navlink__button {
  font-weight: 700;
  color: $dark-shade_more;
}

.navlink_type_footer + .navlink_type_footer {
  margin-top: 20px;

  @include _800 {
    margin-top: 0;
  }
}