@import "../../index.scss";
@import "../../components/chart_donut/chart_donut.scss";

/*
    Main container
*/

.roomDetails {
    @include container($width: 1440px, $height: 1937px, $mt: 0, $mb: 0, $ms: auto);
    @include isFlex($direction: column, $justify: flex-start);
    min-width: 320px;
    position: relative;
    overflow: auto; //to avoid margin-collapse
    background: $light;
}

.roomDetails__content {
    width: 1440px;
    min-width: 320px;
    height: 1424px;
    //max-height: 1424px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @include isFlex($direction: column);
    border-bottom: 1px solid $darkShadeLess;
}

.roomDetails__view {
    width: 100%;
    height: 485px;
    @include isFlex($justify: flex-start);
    overflow: hidden;
}

.roomDetails__view_main {
    width: 981px;
    height: 100%;
    overflow: hidden;
}

.roomDetails__view_miniature {
    width: 459px;
    height: 100%;
    overflow: hidden;
}

.roomDetails__view_mini {
    width: 100%;
    height: 50%;
}

.roomDetails__info_outer {
    width: 100%;
    height: 939px;
    padding: 70px 140px;
    //background: rgb(152, 187, 152);
}

.roomDetails__info_inner {
    width: 1160px;
    height: 799px;
    @include isFlex();
    position: relative;
    //background: orange;
}

.roomDetails__description {
    width: 712px;
    height: 799px; // 100%
    @include isFlex($justify: flex-start, $wrap: wrap);
    //background: blue;
}

.roomDetails__roomData {
    width: 100%;
    @include isFlex();
}

.roomDetails__roomInfo {
    width: 273px;
    height: 291px;
    @include isFlex($direction: column);
    margin-right: 70px;
    background: white;
}

.roomDetails__roomImpression {
    width: 311px;
    height: 170px;
    background: white;
}

.roomDetails__reviews {
    width: 712px;
    height: 306px;
    background: white;
}

.roomDetails__rules {
    width: 292px;
    height: 160px;
    margin-right: 70px;
    background: white;
}

.roomDetails__cancellation {
    width: 341px;
    height: 140px;
    background: white;
}

.roomDetails__text {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: $darkShadeMost;
    margin-bottom: 20px;
}

.roomDetails__cancellation_info {
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 21;
    color: $darkShadeMore;
    overflow:hidden;
    float:left;
}

@media (max-width: 1440px){
    .roomDetails {
        width: 100vw;
        height: auto;
    }

    .roomDetails__content {
        width: 100vw;
        height: auto;
    }

    .roomDetails__view {
        height: auto;
    }

    .roomDetails__view_main {
        width: 69%;
    }
    
    .roomDetails__view_miniature {
        width: 32.3%;
    }

    .roomDetails__view_mini {
        width: 100%;
        height: 50%;
    }

    .roomDetails__info_outer {
        width: 100%;
        height: auto;
        padding: 0%;
    }

    .roomDetails__info_inner {
        margin: 5% auto;
        width: 90%;
        height: auto;
    }
}

@media (max-width: 1250px){
    .roomDetails__roomData {
        flex-direction: column;
    }

    .roomDetails__roomData > div {
        margin-bottom: 25px;
    }

    .roomDetails__info_inner {
        margin: 3% auto;
        width: 95%;
    }

    .roomDetails__description {
        height: auto;
        width: 100%;
        padding: 0 calc((100% - 760px)/2);
        justify-content: space-between;
    }

    .roomDetails__description > div {
        margin-bottom: 25px;
    }

    .roomDetails__roomInfo,
    .roomDetails__rules {
        margin-right: 0;
    }

    .roomDetails__cancellation {
        width: calc(100% - 292px - 20px);
        height: auto;
    }

    .roomDetails__booking {
        position: absolute;
        top: 0;
        right: calc((100% - 800px)/2);
    }
}

@media (max-width: 970px){
    .roomDetails__info_inner {
        flex-direction: column-reverse;
    }

    .roomDetails__view {
        @include isFlex($direction: column);
    }

    .roomDetails__view_main {
        width: 100%;
    }

    .roomDetails__view_miniature {
        width: 100%;
        flex-direction: row;
        display: flex;
        margin-top: -1px;
    }

    .roomDetails__view_mini {
        width: 50%;
        height: auto;
    }

    .roomDetails__booking {
        position: relative;
        right: 0;
        margin: -20% auto 50px;
    }

    .roomDetails__roomData {
        flex-direction: row;
        margin-bottom: 0;
    }

    .roomDetails__description {
        padding: 0 7%;
    }

    .roomDetails__reviews {
        width: 100%;
        height: auto;
        margin: 0 auto 50px;
    }
}

@media (max-width: 690px){
    .roomDetails__info_inner {
        padding: 0 auto;
        width: 100%;
    }

    .roomDetails__description,
    .roomDetails__roomData {
        flex-direction: column;
    }

    .roomDetails__description > div {
        width: 90%;
        height: auto;
        margin: 0 auto 50px;
    }

    .roomDetails__roomData > div:first-child {
        margin-bottom: 50px;
    }

    .roomDetails__booking > div {
        margin: 0 auto;
    }
}

@media (max-width: 450px){
    .roomDetails__view_miniature {
        display: none;
        visibility: hidden;
    }

    .roomDetails__description>div {
        width: 100%;
    }

    .roomDetails__info_inner {
        margin: 0 auto;
    }

    .roomDetails__booking {
        margin: 0 auto 50px;
    }
}