.widget
    label(for="birthday").label Masked text field
    .textField_masked
        input(type="text" value="" id="birthday" 
        name="birthday" placeholder="ДД.ММ.ГГГГ" 
        masked="true" maxlength="10" 
        data-rule="birthday")
    .error