.checkbox {
  @include isFlex($justify: flex-start);
  font-family: $Montserrat;
  font-weight: 400;
  font-size: 14px;
  text-transform: none;

  &:hover {
    cursor: pointer;
  }

  &__real {
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    appearance: none;
  }

  &__fake {
    position: relative;
    margin-right: 10px;
    //margin-top: 1px;
    width: 20px;
    height: 20px;
    border: 1px solid $darkShadeLess;
    border-radius: 4px;
    background-color: transparent;
    display: inline-block;
  }

  &__title {
    display: inline-block;
    width: 192px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.003em;
    line-height: 17px;
    color: $darkShadeMiddle;
    vertical-align: auto;
  }
}

.checkbox + .checkbox {
  margin-top: 10px;
}

.checkbox__real:checked ~ .checkbox__fake {
  @extend .checkbox__fake;
  border-color: $purple;
}

.checkbox__real:checked + .checkbox__fake::before {
  position: absolute;
  top: 25%;
  left: 35%;
  content: "";
  transform: translate(-50%, -50%);
  display: block;
  width: 4px;
  height: 6px;
  color: none;
  transform: rotate(45deg);
  border-image: linear-gradient(#bc9cff, #8ba4f9);
  border-image-slice: 1;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.buttons-checkbox .checkbox__title {
  margin-top: 2px;
}

.checkbox__content .checkbox__title {
  line-height: 20px;
}

.buttons-checkbox {
  margin-top: 11px;
  @include isFlex($direction: column);
  width: 224px;
}

.buttons-checkbox .checkbox__fake {
  margin-right: 9px;
}

.buttons-checkbox > .checkbox:not(:first-of-type) {
  margin-top: 11px;
}
