extend ../../assets/templates/template.pug

include ../../components/card-sing-in/card-sign-in.pug
include ../../components/carousel/carousel.pug
include ../../components/footer/footer.pug
include ../../components/header/header.pug

block variables
  - 
    let theme = 'sign-in';
    let title = 'sign-in';
    let description = 'sign in';
    let keywords = 'sign in';
    const { signPics } =  require('./sign-in.json');

block content
  .sign-in.js-dropdown__detection
    +header({ user: '', theme: theme })
    main.sign-in__content
      +carousel(signPics)
      .sign-in__card-sign-in
        +card-sign-in({ theme: theme })
    +footer({ theme: theme })