@import '@~Assets/styles/general.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Components/carousel/carousel.scss';
@import '@~Components/card-sing-in/card-sign-in.scss';
@import '@~Components/header/header.scss';

@import '../registration/registration.scss';


.sign-in {
  @extend .registration;

  &__content {
    @extend .registration__content;
    height: 702px;

    @include xxs {
      height: fit-content;
    }
  }

  &__card-sign-in {
    @extend .registration__card-registration;
    width: 380px;
    top: 172px;
    transform: translateX(-49%);

    @include xxs {
      top: 0;
      width: 100%;
      transform: none;
    }
  }
}