.button_type_registration {
    @include containerBlock();
    @include buttonLink();
    min-width: 74px;
    padding-right: 1px;
    font-size: 0.82rem;
    letter-spacing: .03em;
    color: $light;
  
  &::before {
    content: "Зарегистрироваться";
    color: $light;
  
    @media (max-width: 550px) {
      content: "Регистрация";
    }
  }
}