.button_type_submit {
  @include containerBlock($w: 100%, $h: 44px);
  @include buttonLink();
  font-size: .85rem;
  color: $light;
  
  &::before {
    @include arrowSubmit();
    color: $light;
  }

  @media (max-width: 450px) {
    min-width: 260px;
    margin: 0 auto;
  }
}