.button_type_submit {
  @include containerBlock($w: 100%, $h: 44px);
  @include buttonBasic();
  color: $light;
  
  &::before {
    content: '\e5c8';
    @include absoluteTopRight();
    @include containerSize(44px);
    font-family: $material-icons;
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
    text-align: center;
    font-size: $fs_h1;
    color: $light;
  }

  @media (max-width: 450px) {
    min-width: 260px;
    margin: 0 auto;
  }
}