.button_type_link {
  @include containerBlock();
  @include buttonLink();
  min-width: 74px;
  padding: 2px;
  font-size: 0.82rem;

  &_inner {
    @include absoluteTopLeft(2px, 2px);
    @include isFlex($justify: center, $align: center);
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    min-width: 70px;
    padding-right: 1px;
    border-radius: 22px;
    background: $light;
    color: $purple;
  }
}

.button_type_link_signin {
  @include containerBlock();
  @include buttonLink();
  min-width: 74px;
  font-size: 0.84rem;

  &_inner {
    @include absoluteTopLeft(2px, 2px);
    @include isFlex($justify: center, $align: center);
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    min-width: 70px;
    padding-right: 1px;
    border-radius: 22px;
    background: $light;
    color: $purple;
  }
}

.button_type_link_colored {
  @include containerBlock();
  @include buttonLink();
  min-width: 74px;
  padding-right: 3px;
  font-size: 0.82rem;
  color: $light;
}