.button-container
    .label Buttons
    .button-row
        .button_filled Click me
        .button_filled Click me
        .button_white Click me
        .button_white Click me
    .button-row
        .button_clear Click me
        .button_clear Click me
    .button-row
        .button_payment Перейти к оплате
    