.button-container {
    width: 320px;
    height: 269px;
    top: 40.5px;
    @include isFlex($direction: column);
}

.button-row {
    @include isFlex($direction: row);
}

.button-row:nth-child(2) {
    top: 16px;
    height: 118px;
    width: 218px;
    flex-wrap: wrap;
}

.button-row:nth-child(3) {
    top: 31px;
    height: 16px;
    width: 142px;
}

.button-row:last-child {
    top: 30px;
    width: 320px;
    height: 44px;
}

.button_filled {
    position: relative;
    display: block;
    font-weight: 700;
    width: 99px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: $light;
    border-radius: 22px;
    line-height: 44px;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.button_filled:hover {
    cursor: pointer;
    margin: 0;
    padding: 0;
    opacity: 0.5;
}

.button_white {
    @extend .button_filled;
}

.button_white:hover {
    cursor: pointer;
    opacity: 0.5;
}

.button_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 97px;
    height: 42px;
    margin: 1px;
    border-radius: 22px;
    background: $light;
    color: $purple;
}

.button_clear {
    font-weight: 700;
    color: $purple;
    width: 66px;
    height: 15px;
    text-transform: uppercase;
}

.button_clear:hover {
    cursor: pointer;
    color: $darkShadeMiddle;
}

.button_submit {
    position: relative;
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: $light;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    line-height: 44px;
    border-radius: 22px;

    &::before {
        font-family: $MaterialIcons;
        -webkit-font-feature-settings: 'liga' 1;
        -moz-font-feature-settings: 'liga' 1;
        font-feature-settings: 'liga' 1;
        top: 0;
        right: 0;
        position: absolute;
        width: 44px;
        height: 44px;
        content: "\e5c8";
        line-height: 44px;
        text-align: center;
        font-size: 24px;
        color: $light;
    }
}

.button_submit:hover {
    cursor: pointer;
    opacity: 0.5;
}