mixin buttonContainer()
    .button-container
        .label Buttons
        .button-row
            +buttonItem("button_filled", "Click me")
            +buttonItem("button_filled", "Click me")
            +buttonItem("button_white", "Click me")
            +buttonItem("button_white", "Click me")
        .button-row
            +buttonItem("button_clear", "Click me")
            +buttonItem("button_clear", "Click me")
        .button-row
            +buttonItem("button_payment", "Click me")
            
            
mixin buttonItem(buttonClass, buttonText)
    button(class="" + buttonClass)= buttonText


//- .button-container
//-     .label Buttons
//-     .button-row
//-         .button_filled Click me
//-         .button_filled Click me
//-         .button_white Click me
//-         .button_white Click me
//-     .button-row
//-         .button_clear Click me
//-         .button_clear Click me
//-     .button-row
//-         .button_payment Перейти к оплате