include ../../views/mixins/dropdowns.pug

+dropdownGuestsLabeled ("dropdownGuestsInput_1", "dropdown", "label_right", "", "dropdown_guests_1", "dropdown__show", "dropdownGuestsInput_1")

+dropdownGuestsLabeled ("dropdownGuestsInput_2", "dropdown", "label_right", "", "dropdown_guests_2", "dropdown__show", "dropdownGuestsInput_2")


//- widget
//-     #dropdown_guests_1.dropdown
//-         .dropdown__info
//-         input.dropdown__input(readonly='' type='text' placeholder='Сколько гостей' value='')
//-         .dropdown__guests
//-         .dropdown__expandedItem(data-guesttype='grownups')
//-             .dropdown__text Взрослые
//-             .dropdown__minus  - 
//-             .dropdown__number(data-order='0')  0 
//-             .dropdown__plus  + 
//-         .dropdown__expandedItem(data-guesttype='kids')
//-             .dropdown__text Дети
//-             .dropdown__minus  - 
//-             .dropdown__number(data-order='1')  1 
//-             .dropdown__plus  + 
//-         .dropdown__expandedItem(data-guesttype='infants')
//-             .dropdown__text Младенцы
//-             .dropdown__minus  - 
//-             .dropdown__number(data-order='2')  2 
//-             .dropdown__plus  + 
//-         .dropdown__buttons
//-             button.dropdown__button.button__show(type='submit') Применить
//-             button.dropdown__button(type='reset') Очистить