include ../logo/logo.pug
include ../social-nets/social-nets.pug

mixin footer-creative()
  - var copyRightText = "Copyright © 2018 Toxin отель. Все права защищены."

  .footer-creative
    .footer-creative__content
      +logo()
      .footer-creative__copyright-text
        != copyRightText
      .footer-creative__social-nets
        +social-nets("creative")