//add some universal labels on the page
form(action="").widget.container_big
    .dropdown__button_open 
        input(name='guests' value='' type='text' placeholder='Сколько гостей' readonly)
    .dropdown__content
        ul.dropdown__list
            li.dropdown__item 
                .item__title Взрослые 
                .item__counter
                    .item__counter_plus +
                    .item__counter_number 0
                    .item__counter_minus -
            li.dropdown__item 
                .item__title Дети
                .item__counter
                    .item__counter_plus +
                    .item__counter_number 0
                    .item__counter_minus -
            li.dropdown__item
                .item__title Младенцы
                .item__counter
                    .item__counter_plus +
                    .item__counter_number 0
                    .item__counter_minus -
            li.dropdown__item_rule
                button.item__delete очистить
                button(type="submit").item__apply применить