include ../__label/textfield__label.pug
include ../textfield_type_login.pug

mixin textfield__container_type_login(label, theme)
  .textfield__container
    +textfield__label(label)
    +textfield_type_login(theme)