include ../__label/textfield__label.pug
include ../textfield_type_name.pug

mixin textfield__container_type_text(leftLabel, rightLabel, text)
  .textfield__container
    +textfield__label(leftLabel, rightLabel, "textfield__label_for-name")
    +textfield("", "Text", text, "text", "20", autofocus=false)