include ../__label/textfield__label.pug
include ../textfield_type_email.pug

mixin textfield__container_type_email(labelLeft, labelRight)
  .textfield__container
    +textfield__label(labelLeft, labelRight, "textfield__label_for-email")
    +textfield_type_email()