include ../__label/textfield__label.pug
include ../textfield_type_subscribe.pug

mixin textfield__container_type_subscribe(labelLeft, labelRight)
  .textfield__container
    +textfield__label(labelLeft, labelRight)
    +textfield_type_subscribe()