@import "Styles/main";

/* Main container */
.search-room {
  @include container(
    $width: 1440px,
    $height: fit-content,
    $mt: 0,
    $mb: 0,
    $ms: auto
  );
  @include isFlex($direction: column, $justify: flex-start);
  position: relative;
  overflow: auto; //to avoid margin-collapse
  background: $light;
  user-select: none;

  @media (max-width: 1440px) {
    width: 100vw;
    height: auto;
    min-width: 320px;
  }
}

.search-room__content_outer {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid $darkShadeLess;
}

.search-room__content {
  @include container(
    $width: 1167px,
    $height: 1269px,
    $mt: 27px,
    $mb: 69px,
    $ms: 131px
  );
  margin-left: 142px;
  @include isFlex($justify: space-between);
  min-width: 320px;
  position: relative;
  overflow: auto; //to avoid margin-collapse
  background: $light;

  @media (max-width: 1440px) {
    margin: 30px auto 70px;
  }

  @media (max-width: 1250px) {
    width: 980px;
    height: auto;
  }

  @media (max-width: 1070px) {
    flex-direction: column;
    width: 100vw;
  }
}

.search-room__filter {
  width: 267px;
  height: 739px;
  @include isFlex($direction: column, $justify: flex-start);

  @media (max-width: 1250px) {
    margin-left: 25px;
  }

  @media (max-width: 1070px) {
    height: auto;
    margin: 0 auto;
  }

  @media (max-width: 1070px) {
    width: 637px;
    margin: 0 auto 30px;
  }

  @media (max-width: 700px) {
    width: 100%;
  }
}

.search-room__form {
  width: 100%;

  @media (max-width: 1070px) {
    height: auto;
    margin: 0 auto;
  }

  @media (max-width: 1070px) {
    @include isFlex($direction: row, $wrap: wrap);
  }

  @media (max-width: 700px) {
    flex-direction: column;
    width: 380px;
  }

  @media (max-width: 450px) {
    width: 85%;
    min-width: 280px;
    max-width: 320px;
    justify-content: center;
  }
}

.filter-group > .dropdown__container {
  margin-top: 25px;
}

.filter-group > .range__container {
  margin-top: 29px;
}

.filter-group > .widget {
  //margin-top: 26px;
  margin-top: 29px;
}

.filter-group > .richcheckbox__container {
  margin-top: 34px;
}

.richcheckbox__container + .widget {
  margin-top: 29px;
}

.filter-group > .container_medium {
  margin-top: 16px;
}

.search-room__rooms {
  width: 839px;
  height: auto;
  @include isFlex($direction: column, $justify: flex-start);

  @media (max-width: 1250px) {
    width: 637px;
    height: auto;
  }

  @media (max-width: 1070px) {
    margin: 20px auto;
  }

  @media (max-width: 700px) {
    flex-direction: column;
    width: 380px;
  }

  @media (max-width: 450px) {
    width: 100%;
    min-width: 320px;
  }
}

.search-room__text {
  font-weight: 700;
  font-size: $fs_h1;
  line-height: 38px;
  color: $darkShadeMost;
  letter-spacing: .005em;
  margin-left: -1px;

  @media (max-width: 1070px) {
    margin: 20px auto;
  }

  @media (max-width: 450px) {
    width: 85%;
  }
}

.search-room__result {
  width: 100%;
  height: 1118px;
  @include isFlex($wrap: wrap);
  margin-top: 18px;

  @media (max-width: 1250px) {
    height: auto;
    justify-content: space-around;
  }

  @media (max-width: 1070px) {
    height: auto;
    margin: 0 auto;
  }

  @media (max-width: 700px) {
    width: 100%;
  }

  @media (max-width: 450px) {
    width: 85vw;
    min-width: 320px;
  }
}

.search-room__result > .card__room {
  margin-top: 20px;
}

.search-room__pagination {
  margin: 20px 302px 0 292px;

  @media (max-width: 1440px) {
    margin: 41px auto 0;
  }
}

@media (max-width: 1250px) {
  .search-room__result > div {
    margin-bottom: 25px;
  }
}

.filter-group > div {
  @media (max-width: 1070px) {
    margin-top: 30px;
  }
}

.search-room__form > div {
  @media (max-width: 700px) {
    width: 100%;
  }

  @media (max-width: 1070px) {
    width: 266px;
    margin-top: 0;
  }
}
