extends ../../assets/templates/template.pug

include ../../components/card-room/card-room.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/checkbox-expandable/checkbox-expandable.pug
include ../../components/date-range/date-range.pug
include ../../components/dropdown/dropdown.pug
include ../../components/dropdown/dropdown.pug
include ../../components/footer/footer.pug
include ../../components/header/header.pug
include ../../components/pagination/pagination.pug
include ../../components/range/range.pug
include ../../components/rich-checkbox/rich-checkbox.pug

block variables
  -
    let theme = 'search';
    let title = 'room search';
    let description = 'room search';
    let keywords = 'search, room';
    const  { roomsList } = require('./search-room.json');
    const { houseRules } = require('Utils/checkbox-list.json');
    const { checkboxContent } = 
      require('Utils/checkbox-expandable.json');
    const { itemsGuests, dropdownGuests } = require('Utils/dropdown-guests.json');
    const { itemsRooms, dropdownRooms } = require('Utils/dropdown-rooms.json');
    const { accessibilityItems } = require('Utils/rich-checkbox.json');

block content
  .search-room.js-dropdown__detection
    +header({ user: '', theme: theme })
    main.search-room__main
      .search-room__content
        section.search-room__filter
          form.search-room__form
            .search-room__filter-group
              .search-room__filter-date
                +date-range({
                  dateRanges: [{
                    text: 'даты пребывания в отеле',
                    value: '19 авг - 23 авг', 
                    name: 'check-in-check-out', 
                    data: 'date-range'
                  }],
                  placeHolder: 'ДД.ММ - ДД.ММ',
                  theme: theme
                })
              .search-room__filter-guests
                +dropdown({
                  text: 'гости',
                  itemsAmount: [2, 1, 1],
                  itemsInfo: itemsGuests,
                  dropdownInfo: dropdownGuests,
                })
              .search-room__filter-price
                +range({
                  infoText: 'Стоимость за сутки пребывания в номере',
                  text: 'Диапазон цены'
                })
              .search-room__filter-rules
                h3.label Правила дома
                +checkbox-list({
                  items: houseRules
                })
            .search-room__filter-group
              .search-room__accessibility
                +rich-checkbox({
                  name: 'accessibility',
                  text: 'Доступность',
                  items: accessibilityItems,
                })
              .search-room__filter-rooms
                +dropdown({
                  text: 'Удобства номера',
                  itemsAmount: [2, 2, 0],
                  itemsInfo: itemsRooms,
                  dropdownInfo: dropdownRooms,
                })
              .search-room__filter-extras
                +checkbox-expandable({
                  items: checkboxContent,
                  text: 'Дополнительные удобства'
                })
        section.search-room__rooms
          h1.search-room__text Номера, которые мы для вас подобрали
          .search-room__result
            each room in roomsList 
              .search-room__card-room
                +card-room({ 
                  options: room, 
                  theme: theme 
                })
          .search-room__pagination 
            +pagination()
    +footer({ theme: theme })