extends ../../assets/templates/template.pug

include ../../components/card-room/card-room.pug
include ../../components/checkbox/checkbox.pug
include ../../components/checkbox-expandable/checkbox-expandable.pug
include ../../components/date-range/_common/date-range_common.pug
include ../../components/dropdown/_type_guests/dropdown_type_guests.pug
include ../../components/dropdown/_type_rooms/dropdown_type_rooms.pug
include ../../components/footer/footer.pug
include ../../components/header/header.pug
include ../../components/range/range.pug
include ../../components/pagination/pagination.pug
include ../../components/rich-checkbox/rich-checkbox.pug
include ../../components/textfield/textfield.pug

block variables
  - var theme = "search";
  - var title = "room search";
  - var description = "room search";
  - var keywords = "search, room";
  - var roomOptions = {src: ["./assets/images/rooms/room.jpg", "./assets/images/rooms/room.jpg", "./assets/images/rooms/room.jpg", "./assets/images/rooms/room.jpg"], bookingNumber: "888", bookingType: "Люкс", bookingPrice: "9 990", starName: "rating3", starRate: [fasle, true], reviewAmount: "65"}
  - 
    var roomsList = [
      {src: ["./assets/images/rooms/room.jpg", "./assets/images/rooms/room.jpg", "./assets/images/rooms/room.jpg", "./assets/images/rooms/room.jpg"], bookingNumber: "888", bookingType: "Люкс", bookingPrice: "9 990", starName: "rating1", starRate: 5, reviewAmount: "145"},
      {src: ["./assets/images/rooms/room2.jpg", "./assets/images/rooms/room2.jpg", "./assets/images/rooms/room2.jpg", "./assets/images/rooms/room2.jpg"], bookingNumber: "840", bookingType: "", bookingPrice: "9 900", starName: "rating2", starRate: 4, reviewAmount: "65"},
      {src: ["./assets/images/rooms/room3.jpg", "./assets/images/rooms/room3.jpg", "./assets/images/rooms/room2.jpg", "./assets/images/rooms/room3.jpg"], bookingNumber: "980", bookingType: "Люкс", bookingPrice: "8 500", starName: "rating3", starRate: 3, reviewAmount: "35"},
      {src: ["./assets/images/rooms/room4.jpg", "./assets/images/rooms/room4.jpg", "./assets/images/rooms/room4.jpg", "./assets/images/rooms/room4.jpg"], bookingNumber: "856", bookingType: "", bookingPrice: "7 300", starName: "rating4", starRate: 5, reviewAmount: "19"},
      {src: ["./assets/images/rooms/room5.jpg", "./assets/images/rooms/room5.jpg", "./assets/images/rooms/room5.jpg", "./assets/images/rooms/room5.jpg"], bookingNumber: "740", bookingType: "", bookingPrice: "6 000", starName: "rating5", starRate: 4, reviewAmount: "44"},
      {src: ["./assets/images/rooms/room6.jpg", "./assets/images/rooms/room6.jpg", "./assets/images/rooms/room6.jpg", "./assets/images/rooms/room6.jpg"], bookingNumber: "982", bookingType: "", bookingPrice: "5 800", starName: "rating6", starRate: 3, reviewAmount: "56"},
      {src: ["./assets/images/rooms/room7.jpg", "./assets/images/rooms/room7.jpg", "./assets/images/rooms/room7.jpg", "./assets/images/rooms/room7.jpg"], bookingNumber: "678", bookingType: "", bookingPrice: "5 500", starName: "rating7", starRate: 5, reviewAmount: "45"},
      {src: ["./assets/images/rooms/room8.jpg", "./assets/images/rooms/room8.jpg", "./assets/images/rooms/room8.jpg", "./assets/images/rooms/room8.jpg"], bookingNumber: "450", bookingType: "", bookingPrice: "5 300", starName: "rating8", starRate: 4, reviewAmount: "39"},
      {src: ["./assets/images/rooms/room9.jpg", "./assets/images/rooms/room9.jpg", "./assets/images/rooms/room9.jpg", "./assets/images/rooms/room9.jpg"], bookingNumber: "350", bookingType: "", bookingPrice: "5 000", starName: "rating9", starRate: 3, reviewAmount: "77"},
      {src: ["./assets/images/rooms/room10.jpg", "./assets/images/rooms/room10.jpg", "./assets/images/rooms/room10.jpg", "./assets/images/rooms/room10.jpg"], bookingNumber: "666", bookingType: "", bookingPrice: "5 000", starName: "rating10", starRate: 5, reviewAmount: "25"},
      {src: ["./assets/images/rooms/room11.jpg", "./assets/images/rooms/room11.jpg", "./assets/images/rooms/room11.jpg", "./assets/images/rooms/room11.jpg"], bookingNumber: "444", bookingType: "", bookingPrice: "5 000", starName: "rating11", starRate: 3, reviewAmount: "15"},
      {src: ["./assets/images/rooms/room12.jpg", "./assets/images/rooms/room12.jpg", "./assets/images/rooms/room12.jpg", "./assets/images/rooms/room12.jpg"], bookingNumber: "352", bookingType: "", bookingPrice: "5 000", starName: "rating12", starRate: 3, reviewAmount: "55"}];

block content
  .search-room.js-dropdown__detection
    +header({ user: "", theme: theme })
    main.search-room__content
      section.search-room__filter
        form.search-room__form
          .search-room__filter-group
            .search-room__filter-date
              +date-range_common({
                labelText: "даты пребывания в отеле",
                inputValue: "19 авг - 23 авг",
                theme: theme
              })
            .search-room__filter-guests
              +dropdown_type_guests({
                labelText: "гости",
                itemNumbers: [2, 1, 1]
              })
            .search-room__filter-price
              +range({
                infoText: true,
                labelText: "Диапазон цены"
              })
            .search-room__filter-rules
              h3.label Правила дома
              +checkbox
          .search-room__filter-group
            .search-room__accessibility
              +rich-checkbox({
                checkboxName: "accessibility",
                containerText: "Доступность"
              })
            .search-room__filter-rooms
              +dropdown_type_rooms({
                labelText: "Удобства номера",
                itemNumbers: [2, 2, 0],
              })
            .search-room__filter-extras
              +checkbox-expandable({
                dropdownTitleName: "Дополнительные удобства"
              })
      section.search-room__rooms
        h1.search-room__text Номера, которые мы для вас подобрали
        .search-room__result
          for room in roomsList 
            .search-room__card-room
              +card-room({ roomOptions: room, theme: theme })
        .search-room__pagination 
          +pagination()
    +footer({ theme: theme })