@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/expand.scss';
@import '@~Assets/styles/fonts.scss';
@import '@~Assets/styles/general.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';
@import '@~Components/card-room/card-room.scss';
@import '@~Components/checkbox/checkbox.scss';
@import '@~Components/checkbox-expandable/checkbox-expandable.scss';
@import '@~Components/date-range/date-range.scss';
@import '@~Components/dropdown/dropdown.scss';
@import '@~Components/footer/footer';
@import '@~Components/header/header.scss';
@import '@~Components/pagination/pagination.scss';
@import '@~Components/range/range.scss';
@import '@~Components/rich-checkbox/rich-checkbox.scss';
@import '@~Components/textfield/textfield.scss';

@mixin formMargin {
  @include lg {
    margin-top: 30px;
  }
}

.search-room {
  @include isFlex($direction: column, $justify: flex-start);
  position: relative;
  width: 100%;
  min-width: 320px;
  height: fit-content;
  margin: 0 auto;
  background: $light;
  overflow: hidden;
  user-select: none;

  &__main {
    width: 100%;
    min-width: 320px;
    height: fit-content;
    border-bottom: 1px solid $dark-shade_less;
    background: $light;
    overflow: auto;
  }

  &__content {
    @include isFlex();
    position: relative;
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
    height: fit-content;
    margin: 0 auto;
    padding: 26px 140px 69px;

    @include xl {
      justify-content: space-around;
      width: 1170px;
      height: fit-content;
      padding-left: 0;
      padding-right: 0;
    }

    @include lg {
      flex-direction: column;
      width: 100%;
    }
  }

  &__filter {
    @include isFlex($direction: column, $justify: flex-start);
    width: calc(266/1160 * 100%);
    height: fit-content;
    margin-top: 6px;

    @include lg {
      height: auto;
      width: 650px;
      margin: 0 auto 30px;
    }

    @include sm {
      width: 100%;
    }
  }

  &__form {
    width: 100%;

    @include lg {
      @include isFlex($direction: row, $wrap: wrap);
      height: auto;
      margin: 0 auto;
    }

    @include sm {
      flex-direction: column;
      width: 380px;
    }

    @include xxs {
      justify-content: center;
      width: 85%;
      max-width: 320px;
      min-width: 260px;
    }
  }

  &__rooms {
    @include isFlex($direction: column, $justify: flex-start);
    width: calc(835/1160 * 100%);
    min-width: 320px;
    height: fit-content;

    @include lg {
      width: 890px;
      margin-left: auto;
      margin-right: auto;
    }

    @include md {
      width: 650px;
    }

    @include sm {
      width: 90%;
    }
  }

  &__text {
    margin: 0;
    line-height: 37px;
    font-size: $fs_h1;
    font-weight: 700;
    color: $dark-shade_most;
    letter-spacing: 0.0001em;

    @include lg {
      margin: 30px auto;
      text-align: center;
    }

    @include xxs {
      width: 85%;
      font-size: $fs_h2;
    }
  }

  &__result {
    @include isFlex($wrap: wrap);
    width: 100%;
    height: 1112px;
    margin-top: 18px;
    padding-left: 1px;

    @include xl {
      justify-content: space-around;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }

    @include xxs {
      width: 85%;
    }
  }

  &__card-room {
    margin-bottom: 20px;
  }

  &__pagination {
    margin-top: 19px;
    margin-left: calc(291/835 * 100%);

    @include xl {
      margin: 41px auto 0;
    }
  }

  &__filter-group {
    @include sm {
      width: 100%;
    }
  }

  &__filter-date {
    @include formMargin();
    height: 62px;
  }

  &__filter-guests {
    @include formMargin();
    height: 61px;
    margin-top: 23px;
  }

  &__filter-price {
    @include formMargin();
    margin-top: 31px;
  }

  &__accessibility {
    @include formMargin();
    margin-top: 33px;
  }

  &__filter-rules {
    @include isFlex($direction: column);
    @include formMargin();
    height: 126px;
    margin-top: 32px;
  }

  &__filter-rooms {
    @include formMargin();
    height: 61px;
    margin-top: 32px;
  }

  &__filter-extras {
    @include formMargin();
    margin-top: 16px;
  }
}
