extends ../../assets/templates/template.pug

include ../../components/card-room/card-room.pug
include ../../components/checkbox/checkbox.pug
include ../../components/checkbox-expandable/checkbox-expandable.pug
include ../../components/date-range/date-range.pug
include ../../components/dropdown-guests/dropdown-guests.pug
include ../../components/dropdown-rooms/dropdown-rooms.pug
include ../../components/footer/footer.pug
include ../../components/header/header.pug
include ../../components/pagination/pagination.pug
include ../../components/range/range.pug
include ../../components/rich-checkbox/rich-checkbox.pug

block variables
  - var theme = "search";
  - var title = "room search";
  - var description = "room search";
  - var keywords = "search, room";
  - var  { roomsList } = require("./search-room.json");

block content
  .search-room.js-dropdown__detection
    +header({ user: "", theme: theme })
    main.search-room__content
      section.search-room__filter
        form.search-room__form
          .search-room__filter-group
            .search-room__filter-date
              +date-range({
                dateRanges: [{
                  labelText: "даты пребывания в отеле",
                  value: "19 авг - 23 авг", 
                  name: "checkin-checkout", 
                  data: "date-range"
                }],
                theme: theme
              })
            .search-room__filter-guests
              +dropdown-guests({
                labelText: "гости",
                itemNumbers: [2, 1, 1]
              })
            .search-room__filter-price
              +range({
                infoText: true,
                labelText: "Диапазон цены"
              })
            .search-room__filter-rules
              h3.label Правила дома
              +checkbox
          .search-room__filter-group
            .search-room__accessibility
              +rich-checkbox({
                checkboxName: "accessibility",
                containerText: "Доступность"
              })
            .search-room__filter-rooms
              +dropdown-rooms({
                labelText: "Удобства номера",
                itemNumbers: [2, 2, 0],
              })
            .search-room__filter-extras
              +checkbox-expandable({
                dropdownTitleName: "Дополнительные удобства"
              })
      section.search-room__rooms
        h1.search-room__text Номера, которые мы для вас подобрали
        .search-room__result
          each room in roomsList 
            .search-room__card-room
              +card-room({ 
                roomOptions: room, 
                theme: theme 
              })
        .search-room__pagination 
          +pagination()
    +footer(theme)