@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/fonts.scss';

.info {
  width: 200px;
  height: 47px;
  line-height: 24px;
  font-family: $montserrat;
  font-size: $fs_base;
  letter-spacing: .0001em;

  @include _1750{
    width: 300px;
    margin-left: 14px;
  }
  
  &__title {
    font-weight: 700;
  }

  &__description {
    font-weight: 400;
    letter-spacing: .002em;
  }
}
