include ../../components/card__search/_search

.cards_outer
    .cards_inner
        +searchCard()
        
        //- .cards__element_first
        //- .cards__element_second
        //- .cards__element_third 
        //-     .cards__element_forth
        //-     .cards__element_fifth