include ../../components/card__search/_search.pug
include ../../components/card__registration/_registration.pug
include ../../components/card__booking/_booking.pug
include ../../components/card__login/_login.pug
include ../../components/card__room/_room.pug

.cards_outer
    .cards_inner
        +cardSearch()
        +cardRegistration(buttonOnclick)
        +cardBooking()
        +cardLogin()
        +calendar("calendar_5")
        +room()