include ../../components/textField/_textField.pug
include ../../components/buttonsCheckbox/_buttonsCheckbox.pug
include ../../components/buttonsRadio/_buttonsRadio.pug
include ../../components/buttonToggle/_buttonToggle.pug
include ../../components/buttonLike/_buttonLike.pug
include ../../components/buttonRate/_buttonRate.pug
include ../../components/range/_range.pug
include ../../components/pagination/_pagination.pug
include ../../components/dropdowns/_dropdowns.pug

.formElements_outer
    .formElements_inner
        .formElements__element_first
            .formElements__container_first
                +text("text", "Text field", "label_right", "default", "textField", "Email", "email", false, "")
                +text("textFieldFocused", "Text field", "label_right", "hover / focused", "textField", "This is awesome", "", true, "")
                +dropdownGuestsLabeled("dropdownGuestsInput_0", "dropdown", "label_right", "", "dropdown_guests_0", "", "dropdownGuestsInput_0")
                +text("birthday", "Masked text field", "label_none", "", "textField_masked", "ДД.ММ.ГГГГ", "birthday", false, "10")

            .formElements__container_second
                .formElements__innerContainer_first
                    //TODO: mixin in dropdownData.pug for following 3 files
                    .elementContainer_small
                        include ../../components/dropdownDate/_dropdownDate.pug
                    .elementContainer_small
                        include ../../components/dropdownDate/_dropdownDateValued.pug
                .elementContainer_medium
                    include ../../components/dropdownDateFilter/_dropdownDateFilter.pug

                .elementContainer_medium
                    +text("email", "Subscription text field", "label_none", "", "input_email", "Email", "email", false, "")

        .formElements__element_second
            +checkboxButtons("Сheckbox buttons")
            +buttonsRadioContainer("Radio buttons", "man", true, "woman", false)
            +buttonToggleContainer
            +buttonLikeContainer
            +buttonRateContainer("Rate button")

        .formElements__element_third
            +range("range_1")
            include ../../components/button/button.pug
            +paginationContainer("pagination", "pagination_bar_1")

        .formElements__element_forth
            +dropdownRoomsLabeled("dropdownRoomsInput_1", "dropdown", "default", "dropdown_rooms_1", "", "dropdownRoomsInput_1")
            +dropdownRoomsLabeled("dropdownRoomsInput_2", "dropdown", "expanded", "dropdown_rooms_2", "dropdown__show", "dropdownRoomsInput_2")
            
            
        .formElements__element_fifth
            +dropdownGuestsLabeled("dropdownGuestsInput_1", "dropdown", "", "dropdown_guests_1", "dropdown__show", "dropdownGuestsInput_1")

        .formElements__element_sixth
            +dropdownGuestsLabeled("dropdownGuestsInput_2", "dropdown", "", "dropdown_guests_2", "dropdown__show", "dropdownGuestsInput_2")


        .formElements__element_seventh
        .formElements__element_eighth