.formElements_outer
    .formElements_inner
        .formElements__element_first
            .formElements__container_first
                include ../../components/textField/_textField.pug
                include ../../components/textFieldFocuced/_textFieldFocused.pug
                
                //dropdowns eщё не переделаны
                include ../../components/dropdown/_dropdown.pug
                
                include ../../components/textFieldMasked/_textFieldMasked.pug
            
            .formElements__container_second
                .formElements__innerContainer_first
                    .elementContainer_small
                        include ../../components/dropdownDate/_dropdownDate.pug
                    .elementContainer_small
                        include ../../components/dropdownDate/_dropdownDateValued.pug
                .elementContainer_medium
                    include ../../components/dropdownDateFilter/_dropdownDateFilter.pug
                .elementContainer_medium
                    include ../../components/textFieldSubscription/_textFieldSubscription.pug
            
            //- .formElements__container_third
            //-     include ../../components/dropdownRoomsClosed/_dropdownRoomsClosed.pug
            //-     include ../../components/dropdownRooms/_dropdownRooms.pug
            
            //- .formElements__container_forth

        .formElements__element_second
            include ../../components/buttonsCheckbox/_buttonsCheckbox.pug
            include ../../components/buttonsRadio/_buttonsRadio.pug
            include ../../components/buttonToggle/_buttonToggle.pug
            include ../../components/buttonLike/_buttonLike.pug
            include ../../components/buttonRate/_buttonRate.pug

        .formElements__element_third
            include ../../components/range/range.pug
            include ../../components/button/button.pug
            include ../../components/pagination/pagination.pug

        .formElements__element_forth
        .formElements__element_fifth
        .formElements__element_sixth
        .formElements__element_seventh
        .formElements__element_eighth