extends ../../assets/templates/_template.pug

block variables
  - var title = "Hotel page: UIKit";
  - var description = "UIKit";
  - var keywords = "UIKit";

block content
  include ./form-elements/form-elements.pug
  include ./cards/cards.pug
  include ./headers-n-footers/headers-n-footers.pug