extends ../../assets/templates/_template.pug

block variables
    - var title = "Hotel page: UIKit";
    - var description = "UIKit";
    - var keywords = "UIKit";
    
block content
    include ./formElements/formElements.pug
    include ./cards/cards.pug
    include ./headersAndFooters/headersAndFooters.pug