extends ../../assets/templates/template.pug

block variables
  -
    const title = 'Hotel page: UIKit';
    const description = 'UIKit';
    const keywords = 'UIKit';

block content
  .uikit
    include ./form-elements/form-elements.pug
    include ./cards/cards.pug
    include ./headers-n-footers/headers-n-footers.pug