mixin navlink-dropdown(buttonText)
  li.navlink-dropdown
    .expand__content.js-expand__content
      .navlink-dropdown__content
    .navlink-dropdown__init.js-expand__init
      span.navlink-dropdown__icon
      span.navlink-dropdown__button(title = buttonText)!= buttonText