@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles//mixins.scss';
@import '@~Assets/styles/fonts.scss';
@import '@~Components/expand/expand.scss';

.navlink-dropdown {
  @include isFlex($direction: column-reverse);
  position: relative;
  height: 18px;
  line-height: 20px;
  font-size: $fs_base;
  font-weight: 400;
  color: $dark-shade_medium;
  list-style: none;
  cursor: pointer;

  @include _1750-1920 {
    width: fit-content;
  }

  &__content {
    position: absolute;
    top: 20px;
    width: 150px;
    height: 60px;
    border-radius: 4px;
    background: $light;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $dark-shade_fewer;
    z-index: 3;
  }

  &__init {
    @include isFlex($direction: row-reverse);
    height: 18px;
    line-height: 18px;
    font-size: $fs_base;
    font-weight: 400;
    color: $dark-shade_medium;
  }

  &__icon {
    position: relative;
    width: 24px;
    height: 18px;
    line-height: 21px;

    &::before {
      content: '\e5cf';
      position: absolute;
      font-size: $fs_h1;
      font-family: $material-icons;
      color: $dark-shade_medium;
    }
  }  

  &__button {
    display: inline-block;
    position: relative;
    line-height: 20px;
    font-size: $fs_base;
    font-weight: 400;
    color: $dark-shade_medium;
    text-align: center;
    text-decoration: none;

    &::before {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }

  &:active &__button,
  &:hover &__button {
    font-weight: 700;
    color: $dark-shade_more;
  }
}

