mixin navlink-dropdown(buttonText)
  li.navlink-dropdown
    .js-expand__content
      .navlink-dropdown__content
    .navlink-dropdown__init.js-expand__init
      span.navlink-dropdown__icon
      span.navlink-dropdown__button!= buttonText