mixin navlink-dropdown(buttonLinkText)
  li.navlink-dropdown
    .navlink-dropdown__expand.js-expand
      .navlink-dropdown__content
    .navlink-dropdown__init.js-expand__init
      span.navlink-dropdown__icon
      span.navlink-dropdown__button(title = buttonLinkText)!= buttonLinkText