@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/fonts.scss';

@mixin labelMixin {
  display: inline-block;
  height: 15px;
  letter-spacing: .003em;
  pointer-events: none;

  @media (min-width: 1750px) and (max-width: 1920px) {
    font-size: $fs_base;
    height: $fs_h2;
  }
}

.textfield__label_for-email {
  @include labelMixin();
  position: absolute;
  right: 1px;
  margin: 0;
  line-height: .4rem;
  font-size: $fs_h3;
  font-weight: 400;
  color: $dark-shade_medium;
  text-align: right;
  text-transform: uppercase;
}

.textfield__label_for-name {
  @include labelMixin();
  position: absolute;
  right: 1px;
  margin: 0;
  line-height: $fs_h3;
  font-size: .84rem;
  font-weight: 400;
  color: $dark-shade_medium;
  text-align: right;
  text-transform: uppercase;
}