mixin textfield__label({ labelText="", labelRightText="", labelRightClass="" })
  - 
    var labelRight = labelRightClass === ""
      ? "textfield__label" : `textfield__label textfield__label_for-${ labelRightClass }`
  h3.label!= labelText
  if labelRightText != ""
    h3(class= labelRightClass)= labelRightText