include ../roomCarousel/_roomCarousel.pug
include ../card__booking/_booking.pug
include ../buttonRate/_buttonRate.pug

mixin room(roomOptions)
    - var {src = [], bookingNumber = "999", bookingType = false, bookingPrice = 0, starIds = [], starName = inputName, starRate = [], reviewAmount = 0} = roomOptions
    .card__room
        +roomCarousel(src, nameForPictures="room " + bookingNumber)
        .room__info
            +bookingText("small", bookingNumber, bookingType, bookingPrice)
            .room__line
            .booking__row_small
                +buttonRate(...starIds, starName, ...starRate)
                +review(reviewAmount)

mixin review(reviewAmount)
    .booking__text_right
        span.booking__text_price!= reviewAmount
        span &nbsp;
        span.booking__text_review Отзывов
