include ../carousel/_carousel.pug

mixin room()
    .card__room
        +carousel(["../../assets/images/room.jpg", "../../assets/images/room.jpg", "../../assets/images/room.jpg", "../../assets/images/room.jpg"])

        