mixin buttonLikeContainer()
  .container__button-like
    h3.label like button
    .row
      +buttonLikeItem("buttonLike_1", 2)
      +buttonLikeItem("buttonLike_2", 12)

mixin buttonLikeItem(buttonId, buttonNumber)
  if buttonNumber < 10 
    .button-like(id=buttonId)
      img.button-like__heart.js-b-l__h(src= "./assets/images/heart_disabled.svg")
      .button-like__number.js-b-l__n!= buttonNumber
  else
    .button-like_popular(id=buttonId)
      img.button-like__heart_popular.js-b-l__h(src= "./assets/images/heart_active.svg")
      .button-like__number_popular.js-b-l__n!= buttonNumber