.button-like {
  @include buttonLike;
  background: $dark-shade_less;

  &::before {
    @include buttonLikeBefore;
  }

  &_popular {
    @include buttonLike;
    background: $linearGradientLilac;

    &::before {
      @include buttonLikeBefore;
    }
  }

  &__number {
    @include absoluteTopRight(56%, 35%);
    font-size: 0.7em;
    line-height: 100%;
    transform: translate(30%, -50%);

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_h2;
    }
  }

  &__number_popular {
    @extend .button-like__number;
    right: 32%;
  }

  &__heart {
    @include buttonLikeHeart();
    background-image: url('@~Components/button-like/button-like__heart-regular.svg');
  }

  &__heart_popular {
    @include buttonLikeHeart();
    background-image: url('@~Components/button-like/button-like__heart-active.svg');
  }
}