.container__button-like {
  @include isFlex($direction: column);
  width: 90px;
  height: 50px;
}

.button-like {
  position: relative;
  @include containerBlock(40px, 20px);
  font-size: $fs_h3;
  color: $darkShadeLess;
  border-radius: 10px;
  cursor: pointer;
  background: $darkShadeLess;

  &::before {
    @extend .button-like;
    content: "";
    position: absolute;
    width: 38px;
    height: 18px;
    margin: 1px;
    background: $light;
  }

  &_popular {
    @extend .button-like;
    color: $darkShadeLess;
    background: $linearGradientLilac;

    &::before {
      @extend .button-like_popular;
      content: "";
      position: absolute;
      width: 38px;
      height: 18px;
      margin: 1px;
      color: $purple;
      background: $light;
    }
  }

  &__number {
    @include absoluteTopRight(50%, 35%);
    font-size: 0.8em;
    line-height: 100%;
    transform: translateY(-50%);

    &_popular {
      @extend .button-like__number;
      right: 29%;
    }
  }

  &__heart {
    @include containerSize(20px);
    position: absolute;
    text-align: center;
    background: url(/assets/images/heart_disabled.svg);
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;

    &_popular {
      @extend .button-like__heart;
      background: url(/assets/images/heart_active.svg);
      background-position: center;
      background-size: initial;
      background-repeat: no-repeat;
    }
  }
}
