.container__button-like {
  @include isFlex($direction: column);
  width: 90px;
  height: 50px;

  @media (min-width: 1750px) and (max-width: 1920px){
    width: 130px;
  }
}

.button-like {
  position: relative;
  @include buttonLike;
  font-size: $fs_h3;
  color: $darkShadeLess;
  border-radius: 10px;
  background: $darkShadeLess;
  cursor: pointer;
  user-select: none;

  &::before {
    content: "";
    @extend .button-like;
    @include buttonLikeBefore;
    margin: 1px;
    background: $light;
  }

  &_popular {
    @extend .button-like;
    background: $linearGradientLilac;

    &::before {
      @extend .button-like::before;
    }
  }

  &__number {
    @include absoluteTopRight(50%, 35%);
    font-size: 0.8em;
    line-height: 100%;
    transform: translate(30%, -50%);

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_h2;
    }

    &_popular {
      @extend .button-like__number;
      right: 29%;
    }
  }

  &__heart {
    @include containerSimple(10px, 10px);
    @include absoluteTopLeft(5px, 5px);
    text-align: center;

    @media (min-width: 1750px) and (max-width: 1920px) {
      @include containerSimple(18px, 18px);
    }

    &_popular {
      @extend .button-like__heart;
    }
  }
}