mixin button-like(buttonId, buttonNumber)
  if buttonNumber < 10 
    .button-like(id=buttonId)
      .button-like__heart.js-button-like__heart
      .button-like__number.js-button-like__number!= buttonNumber
  else
    .js-button-like_popular(id=buttonId)
      .js-button-like__heart_popular.js-button-like__heart
      .button-like__number_popular.js-button-like__number!= buttonNumber