@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/fonts.scss';

@mixin buttonLikeHeart {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  @include xxxl {
    position: absolute;
    top: 4px;
    left: 11px;
    width: 12px;
    height: 12px;
  }
}

@mixin buttonLikeNumber {
  position: absolute;
  top: 56%;
  font-size: 0.7em;
  line-height: 100%;
  transform: translate(30%, -50%);

  @include xxxl {
    font-size: $fs_h2;
  }
}

.button-like {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  line-height: 20px;
  color: $dark-shade_less;
  background: $dark-shade_less;
  user-select: none;
  cursor: pointer;

  @include xxxl {
    width: 60px;
  }

  &::before {
    content: '';
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin: 1px;
    border-radius: 10px;
    background: $light;
    cursor: pointer;
  }

  &__heart {
    background-image: url('@~Components/button-like/img/heart.svg');
    @include buttonLikeHeart();
  }

  &__number {
    right: 35%;
    @include buttonLikeNumber();
  }

  &_popular {
    background: $linearGradientLilac;

    & .button-like__heart {
      background-image: url('@~Components/button-like/img/heart-popular.svg');
      @include buttonLikeHeart();
    }

    & .button-like__number {
      right: 32%;
      @include buttonLikeNumber();
    }
  }
}
