@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/fonts.scss';

@mixin buttonLike {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  line-height: 20px;
  color: $dark-shade_less;
  cursor: pointer;

  @include _1750-1920 {
    width: 60px;
  }
}

@mixin buttonLikeBefore {
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
  border-radius: 10px;
  background: $light;
  cursor: pointer;
}

@mixin buttonLikeHeart {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  @include _1750-1920 {
    position: absolute;
    top: 4px;
    left: 11px;
    width: 12px;
    height: 12px;
  }
}

.button-like {
  @include buttonLike();
  background: $dark-shade_less;
  user-select: none;

  &::before {
    @include buttonLikeBefore();
  }
}

.button-like_popular {
  background: $linearGradientLilac;
}

.button-like__heart {
  @include buttonLikeHeart();
  background-image: url('@~Components/button-like/__heart/_regular/button-like__heart_regular.svg');
}

.button-like__heart_popular {
  background-image: url('@~Components/button-like/__heart/_active/button-like__heart_active.svg');
}

.button-like__number {
  position: absolute;
  top: 56%;
  right: 35%;
  font-size: 0.7em;
  line-height: 100%;
  transform: translate(30%, -50%);

  @include _1750-1920 {
    font-size: $fs_h2;
  }
}

.button-like__number_popular {
  right: 32%;
}
