@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/fonts.scss';

.button-like {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  line-height: 20px;
  color: $dark-shade_less;
  background: $dark-shade_less;
  user-select: none;
  cursor: pointer;

  @include _1750-1920 {
    width: 60px;
  }

  &::before {
    content: '';
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin: 1px;
    border-radius: 10px;
    background: $light;
    cursor: pointer;
  }

  &_popular {
    background: $linearGradientLilac;
  }

  &__heart {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background-image: url('@~Components/button-like/img/button-like__heart_regular.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

    @include _1750-1920 {
      position: absolute;
      top: 4px;
      left: 11px;
      width: 12px;
      height: 12px;
    }

    &_popular {
      background-image: url('@~Components/button-like/img/button-like__heart_active.svg');
    }
  }

  &__number {
    position: absolute;
    top: 56%;
    right: 35%;
    font-size: 0.7em;
    line-height: 100%;
    transform: translate(30%, -50%);

    @include _1750-1920 {
      font-size: $fs_h2;
    }

    &_popular {
      right: 32%;
    }
  }
}
