mixin button-like({ buttonId= 1, buttonNumber= 1 })
  if buttonNumber < 10 
    .button-like(id=buttonId)
      .button-like__heart.js-button-like__heart
      .button-like__number.js-button-like__number!= buttonNumber
  else
     .button-like.js-button-like_popular(id=buttonId)
      .button-like__heart.js-button-like__heart.js-button-like__heart_popular
      .button-like__number_popular.js-button-like__number!= buttonNumber