.input_email {
    @extend .textField;
    &::before {
        position: absolute;
        content: "";
        background-color: linear-gradient(#BC9CFF,
        #8BA4F9);
        width: 10px;
        height: 2px;
        top: 8px;
        right: 5px;
        display: inline-block;
        transform: translate(-50%,-50%);
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }

    &::after {
        position: absolute;
        background-color: linear-gradient(#BC9CFF,
        #8BA4F9);
        width: 10px;
        height: 2px;
        top: 8px;
        right: 5px;
        transform: rotate(45deg);
        content: "";
        transform: translate(-50%,-50%);
        display: inline-block;
        width: 8px;
        height: 8px;
        border-image-slice: 1;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }
}