//- .widget
//-     label(for="email").label SUBSCRIPTION TEXT FIELD
//-     .input_email
//-         input(type="email" placeholder="Email" value="" 
//-                 name="email" data-rule="email")
//-     .error


include ../../views/mixins/text.pug

+text("email", "Subscription text field", "label_none", "", "input_email", "Email", "email", false, "")
