.input_email {
    @extend .textField;
    &::before {
        position: absolute;
        content: "";
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        width: 16px;
        height: 2px;
        top: 19px;
        right: 9px;
        z-index: 2;
    }

    &::after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 10px;
        height: 10px;
        border-image: linear-gradient(45deg, #BC9CFF 0%, #8BA4F9 100%);
        border-image-slice: 1;
        border-style: solid;
        border-width: 2px 2px 0 0;
        border-color: transparent;
        border-style: solid;
        transform: rotate(45deg);
    }
}