.textfield__input {
  display: inline-block;
  width: 95%;
  height: 90%;
  margin: 0;
  padding-left: 2px;
  line-height: 1.15;

  font-family: inherit;
  font-size: 13.5px;
  letter-spacing: .01em;
  appearance: none;
  background: transparent;
  border: none;

  &::placeholder {
    color: $dark-shade_less;
  }
}
  