.button-rate {
  @include isFlex($direction: row-reverse);
  width: 120px;
  height: 24px;
  margin-top: -2px;
  font-size: 29px;
  line-height: 21px;
  cursor: pointer;
}

.button-rate__real {
  display: none;
  appearance: none;
}

.button-rate__fake {
  width: 24px;
  height: 24px;
  color: $purple;
  background-image: $linearGradientLilac;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  &::before {
    width: 24px;
    height: 24px;
    content: '☆';
  }
}

input:checked ~ .button-rate__fake::before,
input:checked + .button-rate__fake::before {
  content: '★';
}

.button-rate__real:hover ~ .button-rate__fake:before,
.button-rate__real:hover + .button-rate__fake:before {
  content: '★';
}
