@import '@~Assets/styles//mixins.scss';

.button-rate {
  @include isFlex($direction: row-reverse);
  width: 120px;
  height: fit-content;
  line-height: 21px;
  font-size: 29px;
  user-select: none;

  &__real {
    display: none;
    appearance: none;
  }

  &__fake {
    width: 24px;
    height: 24px;
    background-image: $linearGradientLilac;
    color: transparent;
    background-clip: text;
    cursor: pointer;

    &::before {
      width: 24px;
      height: 24px;
      content: '☆';
    }
  }

  &__real:checked ~ &__fake::before,
  &__real:checked + &__fake::before {
    content: '★';
  }

  &__real:hover ~ &__fake:before,
  &__real:hover + &__fake:before {
    content: '★';
  }
}