mixin button-rate({ name = 'rating', rating = 1 }) 
  .button-rate
    each val in [5, 4, 3, 2, 1]
      input(
        type = 'radio' 
        name = name 
        value = val 
        checked = rating <= val 
        id = `${ name }-${ val }`).button-rate__real
      label(
        for = `${ name }-${ val }`).button-rate__fake
