@import './__item/button-rate__item.scss';

.button-rate {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 120px;
  height: fit-content;
  font-size: 29px;
  line-height: 21px;
}
