mixin button-rate({ inputName = 'rating', checkedNum = 1 }) 
  .button-rate
    each val in [5, 4, 3, 2, 1]
      input(
        type = 'radio' 
        name = inputName 
        value = val 
        checked = checkedNum <= val 
        id = `${ inputName }-${ val }`).button-rate__real
      label(
        for = `${ inputName }-${ val }`).button-rate__fake
