@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/fonts.scss';

@mixin isFlex(
  $direction: row,
  $justify: space-between,
  $align: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-shrink: 0;
}

@mixin dateRangeInfo {
  @include isFlex($justify: flex-start, $align: center);
  position: relative;
  width: 100%;
  height: 44px;
  padding: 0px 0 2px 12px;
  border: 1px solid $dark-shade_less;
  border-radius: 4px;
  background: transparent;
  color: $dark-shade_more;
  letter-spacing: 0.01em;
  white-space: nowrap;
  cursor: pointer;

  @media (max-width: 450px) {
    width: 100%;
    margin: 0 auto;
  }

  &::before {
    content: '\e5cf';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 42px;
    height: 44px;
    line-height: 44px;
    font-family: $material-icons;
    font-size: $fs_h1;
    text-align: center;
    cursor: pointer;
  }

  @media (min-width: 1750px) and (max-width: 1920px) {
    font-size: $fs_h2;
  }

  @media (max-width: 450px) {
    min-width: 100%;
  }
}

.date-range__item-container {
    @include isFlex($direction: column);
    width: 150px;
    height: 100%;
  
    @media (min-width: 1650px) and (max-width: 1920px) {
      width: 48%;
      max-width: 240px;
    }
  
    @media (max-width: 450px) {
      width: calc(150 / 320 * 100%);
      min-width: 130px;
    }
  }
  
  .date-range__label {
    display: inline-block;
    height: 15px;
    margin: 0;
    line-height: $fs_h3;
    font-size: $fs_h3;
    font-weight: 700;
    color: $dark-shade_most;
    letter-spacing: 0.002em;
    text-transform: uppercase;
    pointer-events: none;

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_base;
      height: $fs_h2;
    }
  }
  
  
  .date-range__info {
    @include dateRangeInfo();
  }
  
  .date-range__info_in-search {
    @include dateRangeInfo();
    padding-left: 12px;
  }
  
  .date-range__input {
    width: 95%;
    height: 90%;
    font-size: 14px;
    letter-spacing: .0001em;
    appearance: none;
    background: transparent;
    border: none;

    &::placeholder {
      color: $dark-shade_more;
    } 
  }
