@mixin dateRangeInfo {
  @include isFlex($justify: flex-start, $align: center);
  position: relative;
  width: 100%;
  height: 44px;
  padding: 0px 0 2px 12px;
  border: 1px solid $dark-shade_less;
  border-radius: 4px;
  background: transparent;
  color: $dark-shade_more;
  letter-spacing: 0.01em;
  white-space: nowrap;
  cursor: pointer;

  @media (max-width: 450px) {
    width: 100%;
    margin: 0 auto;
  }

  &::before {
    content: '\e5cf';
    @include absoluteTopRight();
    @include containerSize(44px);
    display: block;
    font-size: $fs_h1;
    font-family: $material-icons;
    text-align: center;
    cursor: pointer;
    width: 42px;
  }

  @media (min-width: 1750px) and (max-width: 1920px) {
    font-size: $fs_h2;
  }

  @media (max-width: 450px) {
    min-width: 100%;
  }
}

.date-range__item-container {
    @include isFlex($direction: column);
    width: 150px;
    height: 100%;
  
    @media (min-width: 1650px) and (max-width: 1920px) {
      width: 48%;
      max-width: 240px;
    }
  
    @media (max-width: 450px) {
      width: calc(150 / 320 * 100%);
      min-width: 130px;
    }
  }
  
  .date-range__label {
    @include labelMixin();
    @include headerThird();
    line-height: $fs_h3;
    letter-spacing: 0.002em;
  }
  
  .date-range__info {
    @include dateRangeInfo();
  }
  
  .date-range__info_in-search {
    @include dateRangeInfo();
    padding-left: 12px;
  }
  
  .date-range__input {
    @include input();
    font-size: 14px;
    letter-spacing: .0001em;
  
    &::placeholder {
      color: $dark-shade_more;
    } 
  }