include ../../textfield.pug

mixin textfield_type_name({ valueText="", placeholder="Имя", nameText = "name" })
  +textfield({ 
    inputClass: "name",
    placeholder: placeholder,
    valueText: valueText,
    nameText: nameText,
    maxText: 20 
  })