div Hello
//- extends ../templates/_template.pug

//- block content
//-     .container_page
//-         .container__row
//-             .container__column_middle
//-                 .fields
//-                     include ../elements/_textField.pug
//-                     include ../elements/_textFieldFocused.pug
//-                     include ../elements/_dropdown.pug
//-                     include ../elements/_maskedTextField.pug
//-                 .dropdown_date
//-                 .dropdown_rooms
//-                     include ../elements/_dropdownRoomsClosed.pug
//-                     include ../elements/_dropdownRooms.pug

//-             .container__column_middle
//-             .container__column_middle
//-         .container__row
//-             .container__column_small
//-             .container__column_big
