include ../__user/header__user.pug
include ../__forms/header__forms.pug
include ../../navlink/navlink.pug
include ../../navlink-dropdown/navlink-dropdown.pug

mixin header__menu(user="")
  .header__menu
    .header__burger-menu.js-expand__init
      span.header__burger-span
    nav.header__dropdown.js-expand__content
      ul.header__navbar_dropdown
        +navlink({
          buttonText: "О нас",
          buttonOnclick: "./some-address"
        })
        +navlink-dropdown("Услуги")
        +navlink({
          buttonText: "Вакансии",
          buttonOnclick: "./some-address"
        })
        +navlink({
          buttonText: "Новости",
          buttonOnclick: "./some-address"
        })
        +navlink-dropdown("Соглашения")
    if user
      +header__user({
        user: user,
        buttonOnclick: "./some-address"
      })
    else
      +header__forms({
        signinText: "Войти",
        signinLink: "signin.html",
        regLink: "registration.html"
      })
    nav.header__navbar-region
      ul.header__navbar
        +navlink({
          buttonText: "О нас",
          buttonOnclick: "./some-address",
          navlinkModificator: "header",
          navlinkButtonModificator: "header"
        })
        +navlink-dropdown("Услуги")
        +navlink({
          buttonText: "Вакансии",
          buttonOnclick: "./some-address",
          navlinkModificator: "header",
          navlinkButtonModificator: "header"
        })
        +navlink({
          buttonText: "Новости",
          buttonOnclick: "./some-address",
          navlinkModificator: "header",
          navlinkButtonModificator: "header"
        })
        +navlink-dropdown("Соглашения")