include ../__user/header__user_signed.pug
include ../__user/header__user_unsigned.pug
include ../../button/button_type_form.pug
include ../../button/button_type_link.pug
include ../../navlink/navlink.pug
include ../../navlink/navlink_dropdown.pug

mixin header__menu(user="")
  nav.header__menu
    .header__burger-menu.js-dropdown__init
      span
    .header__dropdown.dropdown__content.js-dropdown__content
      +navlink("О нас", buttonOnclick="./some-address")
      +navlink_dropdown("Услуги")
      +navlink("Вакансии", buttonOnclick="./some-address")
      +navlink("Новости", buttonOnclick="./some-address")
      +navlink_dropdown("Соглашения")
    if user
      +header__user_signed(user, buttonOnclick="./some-address")
    else
      +header__user_unsigned("Войти", buttonOnclick="signin.html", "", buttonOnclick="registration.html")
    .header__navbar
      +navlink("О нас", buttonOnclick="./some-address")
      +navlink_dropdown("Услуги")
      +navlink("Вакансии", buttonOnclick="./some-address")
      +navlink("Новости", buttonOnclick="./some-address")
      +navlink_dropdown("Соглашения")