include ../__user/_signed/header__user_signed.pug
include ../__user/_unsigned/header__user_unsigned.pug
include ../../navlink/navlink.pug
include ../../navlink-dropdown/navlink-dropdown.pug

mixin header__menu(user="")
  .header__menu
    .header__burger-menu.js-expand__init
      span.burger__span
    nav.header__dropdown.js-expand__content
      ul.header__navbar_dropdown
        +navlink({
          buttonText: "О нас",
          buttonOnclick: "./some-address"
        })
        +navlink-dropdown("Услуги")
        +navlink({
          buttonText: "Вакансии",
          buttonOnclick: "./some-address"
        })
        +navlink({
          buttonText: "Новости",
          buttonOnclick: "./some-address"
        })
        +navlink-dropdown("Соглашения")
    if user
      +header__user_signed({
        user: user,
        buttonOnclick: "./some-address"
      })
    else
      +header__user_unsigned({
        signinText: "Войти",
        signinLink: "signin.html",
        regLink: "registration.html"
      })
    nav.header__navbar-region
      ul.header__navbar
        +navlink({
          buttonText: "О нас",
          buttonOnclick: "./some-address"
        })
        +navlink-dropdown("Услуги")
        +navlink({
          buttonText: "Вакансии",
          buttonOnclick: "./some-address"
        })
        +navlink({
          buttonText: "Новости",
          buttonOnclick: "./some-address"
        })
        +navlink-dropdown("Соглашения")