@import "./card-text";

.card-booking {
  @include containerShadowed;
  @include isFlex($direction: column, $justify: flex-start);
  width: 382px;
  height: 513px;
  padding: 48px 29px 0;

  @media (max-width: 450px) {
    width: 100vw;
    padding: 25px 20px;
    min-width: 320px;
  }
}

.card-booking > .date-range__selector {
  margin-top: 8px;
}

.card-booking > .dropdown__container {
  margin-top: 25px;
  margin-bottom: 10px;

}

.card-booking > .booking-total__row {
  width: 100%;
  margin-top: 32px;

  @media (max-width: 450px) {
    width: 100%;
    min-width: 260px;
    margin: 21px auto 0;
  }
}

.card-booking > button {
  margin-top: 21.5px;
  padding-right: 5px;
  padding-bottom: 2px;
}

.booking-text {
  &__row {
    @include isFlex();
    position: relative;
    width: 321px;
    height: 30px;
    font-weight: 700;

    @media (max-width: 450px) {
      max-width: 280px;
      margin: 0 auto;
    }
  }

  &__left {
    line-height: 11px;
    color: $darkShadeMost;
  }

  &__sign {
    display: inline-block;
    padding-right: 4px;
    font-size: $fs_base;
  }

  &__number {
    display: inline-block;
    padding-right: 1px;
    font-size: $fs_h1;
    letter-spacing: 0.01em;
  }

  &__type {
    display: inline-block;
    font-size: $fs_h3;
    color: $purple;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }

  &__right {
    color: $darkShadeMiddle;
    letter-spacing: 0.01em;
    line-height: 20px;
  }

  &__price {
    font-size: $fs_base;
  }

  &__period {
    font-weight: 400;
    font-size: $fs_h3;
  }

  &__review {
    font-weight: 400;
    font-size: $fs_base;
  }
}

.booking-info {
  &__row {
    @include isFlex();
    width: 320px;
    min-height: 24px;
    line-height: 18px;
    margin-top: 10px;
    margin-left: 1px;
    font-size: $fs_base;
    font-weight: 400;
    color: $darkShadeMore;

    @media (max-width: 450px) {
      min-width: 260px;
      width: 100%;
      margin: 9px 0;
    }
  }

  &__description {
    display: inline-block;
    width: 220px;
    text-align: left;
    letter-spacing: 0.0001em;

    @media (max-width: 450px) {
      width: calc(100% - 120px);
      max-width: 170px;
    }
  }

  &__description_short {
    @include isFlex();
    width: 172px;
    letter-spacing: 0.0001em;

    @media (max-width: 450px) {
      width: calc(100% - 120px);
      max-width: 170px;
    }
  }

  &__sign {
    @include containerSize(20px);
    position: relative;
    margin-left: 2px;
    margin-top: -1px;
    background: $light;
    border-radius: 50%;
    border: 1px solid $darkShadeLess;

    &::before {
      content: "i";
      @include absoluteTopLeft(2px, 7px);
      font-size: $fs_h3;
      line-height: $fs_base;
      font-weight: 700;
      color: $darkShadeLess;
    }
  }

  &__price {
    display: inline-block;
    width: 75px;
    text-align: right;
    letter-spacing: .002em;
  }
}

.booking-total {
  &__row {
    @include isFlex();
    position: relative;
    width: 320px;
    margin-left: 1px;
    line-height: 24px;
    font-size: $fs_h2;
    color: $darkShadeMost;
    font-weight: 700;
    letter-spacing: 0.01em;
  }

  &__line {
    @include isFlex($align: flex-end);
    width: 191px;
    height: 19px;
    border-bottom: 1px dotted $darkShadeLess;

    @media (max-width: 450px) {
      width: calc(100% - 140px);
    }
  }
}
