.card-booking {
  @include containerShadowed;
  @include isFlex($direction: column, $justify: flex-start);
  width: 380px;
  height: fit-content;
  padding: 49px 29px 28px 29px;

  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 100%;
  }

  @media (max-width: 450px) {
    width: 100%;
    padding: 25px;
    min-width: 320px;
  }
}

.card-booking__price-info {
  width: 100%;
  margin-top: 30px;

  @media (max-width: 450px) {
    width: 100%;
    min-width: 260px;
    margin: 21px auto 0;
  }
}

.card-booking__button {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 2px;
}

.card-booking__button .button_type_submit {
  padding-right: 5px;
}

.card-booking > .date-range__selector {
  margin-top: 6px;
}

.card-booking > .dropdown__container {
  margin-top: 24px;
  margin-bottom: 10px;
}

.booking-text {
  &__row {
    @include isFlex();
    position: relative;
    width: 321px;
    height: 30px;
    font-weight: 700;

    @media (min-width: 1650px) and (max-width: 1920px) {
      width: 100%;
      max-width: 490px;
    }

    @media (max-width: 450px) {
      max-width: 280px;
      margin: 0 auto;
    }
  }

  &__left {
    line-height: 11px;
    color: $dark-shade_most;
  }

  &__sign {
    display: inline-block;
    padding-right: 4px;
    font-size: $fs_base;

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_h2;
    }
  }

  &__number {
    display: inline-block;
    font-size: $fs_h1;
    letter-spacing: .01em;

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_h1;
    }
  }

  &__type {
    display: inline-block;
    font-size: .8rem;
    color: $purple;
    letter-spacing: .02em;
    text-transform: uppercase;

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_h2;
    }
  }

  &__right {
    color: $dark-shade_medium;
    letter-spacing: .01em;
    line-height: 19px;
  }

  &__price {
    font-size: $fs_base;

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_h2;
    }
  }

  &__period {
    font-weight: 400;
    font-size: $fs_h3;

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_h2;
    }
  }

  &__review {
    font-weight: 400;
    font-size: $fs_base;
  }
}

.booking-info {
  &__row {
    @include isFlex($justify: flex-start);
    width: 100%;
    min-height: 24px;
    line-height: 18px;
    margin-top: 10px;
    margin-left: 1px;
    font-size: $fs_base;
    font-weight: 400;
    color: $dark-shade_more;

    @media (min-width: 1750px) and (max-width: 1920px) {
      width: 100%;
      max-width: 490px;
      font-size: $fs_h2;
    }

    @media (max-width: 450px) {
      justify-content: space-between;
      min-width: 260px;
      width: 100%;
      margin: 9px 0;
    }
  }

  &__description {
    display: inline-block;
    width: calc(100% - 101px);
    text-align: left;
    letter-spacing: .0001em;

    @media (min-width: 1650px) and (max-width: 1920px) {
      width: calc(100% - 100px);
    }

    @media (max-width: 450px) {
      width: calc(100% - 120px);
      max-width: 170px;
    }
  }

  &__description_special {
    @include isFlex();
    width: 168px;
    margin-bottom: 16px;
    letter-spacing: .0001em;

    @media (min-width: 1650px) and (max-width: 1920px) {
      width: 240px;
    }

    @media (max-width: 450px) {
      width: calc(100% - 120px);
      max-width: 170px;
    }
  }

  &__sign {
    @include containerSize(20px);
    position: relative;
    background: $light;
    border-radius: 50%;
    border: 1px solid $dark-shade_less;

    &::before {
      content: 'i';
      @include absoluteTopLeft(2px, 7px);
      font-size: $fs_h3;
      line-height: $fs_base;
      font-weight: 700;
      color: $dark-shade_less;
    }
  }

  &__price {
    @include isFlex($direction: row-reverse);
    width: 99px;
    text-align: right;
    letter-spacing: .002em;

    @media (min-width: 1650px) and (max-width: 1920px) {
      width: 90px;
    }
  }

  &__price_special {
    @extend.booking-info__price;
    width: calc(100% - 169px);

    @media (min-width: 1650px) and (max-width: 1920px) {
      width: calc(100% - 240px);
    }

    @media (max-width: 450px) {
      width: 120px;
    }
  }
}

.booking-total {
  &__row {
    @include isFlex();
    position: relative;
    width: 100%;
    margin-left: 1px;
    line-height: 24px;
    font-size: $fs_h2;
    color: $dark-shade_most;
    font-weight: 700;
    letter-spacing: .01em;
  }

  &__line {
    @include isFlex($align: flex-end);
    width: calc(100% - 140px);
    height: 19px;
    border-bottom: 1px dotted $dark-shade_less;
  }
}
