@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/fonts.scss';
@import '@~Components/button-submit/button-submit.scss';
@import '@~Components/date-range/_separete/date-range_separate.scss';
@import '@~Components/dropdown/_type_guests/dropdown_type_guests.scss';

@import './__price-info/card-booking__price-info.scss';
@import './__room-info/card-booking__room-info.scss';

@mixin isFlex(
  $direction: row,
  $justify: space-between,
  $align: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-shrink: 0;
}

@mixin cardBookingSummary {
  @include isFlex();
  position: relative;
  width: 100%;
  min-height: 24px;
  margin-top: 30px;
  margin-left: 0;
  line-height: 24px;
  font-size: $fs_h2;
  color: $dark-shade_most;
  font-weight: 700;
  letter-spacing: .01em;
  pointer-events: none;

  @include _1750-1920 {
    max-width: 490px;
  }

  @include _450 {
    justify-content: space-between;
    min-width: 260px;
    width: 100%;
    margin: 9px 0;
  }
}

.card-booking {
  @include isFlex($direction: column, $justify: flex-start);
  width: 380px;
  height: fit-content;
  padding: 49px 29px 27px;
  border: 1px solid $shadow-border;
  border-radius: 4px;
  background: $light;
  box-shadow: 0px 0px 25px $shadow;

  @include _1650-1920 {
    width: 100%;
  }

  @include _450 {
    width: 100%;
    min-width: 320px;
    padding: 25px;
  }
}

.card-booking__button {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 2px;
}

.card-booking__button .button-submit {
  padding-right: 5px;
}

.card-booking__date-range {
  width: 100%;
  margin-top: 23px;
  height: 62px;
}

.card-booking__dropdown_guests {
  width: 100%;
  height: 61px;
  margin-top: 23px;
  margin-bottom: 11px;
}

.card-booking__summary {
  @include cardBookingSummary();
  width: 100%;
  margin-left: 1px;
}

.card-booking__summary_type_uikit {
  width: 103%;
}

.card-booking__summary_type_details {
  width: 100%;
  letter-spacing: .001em;
}

.card-booking__text {
  line-height: 18px;
  color: $dark-shade_more;
}

.card-booking__line {
  @include isFlex($align: flex-end);
  width: calc(100% - 140px);
  height: 19px;
  border-bottom: 1px dotted $dark-shade_less;
}

.card-booking__line_type_uikit {
  width: 190px;
}
