@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles//mixins.scss';
@import '@~Assets/styles/fonts.scss';
@import '@~Components/button-submit/button-submit.scss';
@import '@~Components/date-range/date-range.scss';
@import '@~Components/dropdown-guests/dropdown-guests.scss';

.card-booking {
  @include isFlex($direction: column, $justify: flex-start);
  width: 380px;
  height: fit-content;
  padding: 49px 29px 27px;
  border: 1px solid $shadow-border;
  border-radius: 4px;
  background: $light;
  box-shadow: 0px 0px 25px $shadow;

  @include _1650-1920 {
    width: 100%;
  }

  @include _450 {
    width: 100%;
    min-width: 320px;
    padding: 25px;
  }

  &__button {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 2px;
  }

  &__date-range {
    width: 100%;
    margin-top: 23px;
    height: 62px;
  }

  &__dropdown-guests {
    width: 100%;
    height: 61px;
    margin-top: 23px;
    margin-bottom: 11px;
  }

  &__summary {
    @include isFlex();
    position: relative;
    width: 100%;
    min-height: 24px;
    margin-top: 30px;
    margin-left: 1px;
    line-height: 24px;
    font-size: $fs_h2;
    color: $dark-shade_most;
    font-weight: 700;
    letter-spacing: .01em;
    pointer-events: none;

    @include _1750-1920 {
      max-width: 490px;
    }

    @include _450 {
      justify-content: space-between;
      min-width: 260px;
      width: 100%;
      margin: 9px 0;
    }

    &_in-uikit {
      width: 103%;
    }

    &_in-details {
      width: 100%;
      margin-top: 42px;
      margin-left: 0px;
      letter-spacing: .001em;
    }
  }

  &__text {
    line-height: 24px;
    color: $dark-shade_most;
  }

  &__line {
    @include isFlex($align: flex-end);
    width: calc(100% - 140px);
    height: 19px;
    border-bottom: 1px dotted $dark-shade_less;

    &_in-uikit {
      width: 190px;
    }
  }

  &__No {
    display: inline-block;
    padding-right: 3px;
    font-size: $fs_base;
    font-weight: 700;
    line-height: 11px;
    color: $dark-shade_most;

    @include _1750-1920 {
      font-size: $fs_h2;
    }
  }

  &__number {
    display: inline-block;
    font-size: $fs_h1;
    letter-spacing: .001em;
    font-weight: 700;
    line-height: 9px;
    color: $dark-shade_most;


    @include _1750-1920 {
      font-size: $fs_h1;
    }

    &_in-details {
      line-height: 11px;
    }
  }

  &__suite {
    display: inline-block;
    line-height: 11px;
    font-size: $fs_h3;
    font-weight: 700;
    letter-spacing: .02em;
    color: $purple;
    text-transform: uppercase;

    &_in-details {
      margin-left: 8px;
    }
  }

  &__price {
    font-size: $fs_base;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: .01em;
    color: $dark-shade_medium;
  }

  &__period {
    font-size: $fs_h3;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 19px;
    color: $dark-shade_medium;
  }

  &__price-info {
    @include isFlex();
    width: 100%;
    min-height: 24px;
    line-height: 18px;
    margin-top: 10px;
    margin-left: 1px;
    color: $dark-shade_more;
    pointer-events: none;

    @include _1750-1920 {
      max-width: 490px;
    }

    @include _450 {
      justify-content: space-between;
      min-width: 260px;
      width: 100%;
      margin: 9px 0;
    }
  }

  &__description {
    @include isFlex($justify: flex-start);
    width: fit-content;
    text-align: left;
    letter-spacing: .0001em;

    @include _1650-1920 {
      width: calc(100% - 100px);
    }

    @include _450 {
      width: calc(100% - 120px);
      max-width: 170px;
    }

    &_in-uikit {
      max-width: 239px;
    }

    &_in-details {
      max-width: 245px;
    }
  }

  &__expense {
    @include isFlex();
    width: fit-content;
    text-align: right;
    letter-spacing: .002em;

    @include _1650-1920 {
      max-width: 90px;
    }
  }

  &__info-sign {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $dark-shade_less;
    line-height: 20px;
    background: $light;

    &::before {
      content: 'i';
      position: absolute;
      top: 2px;
      left: 7px;
      line-height: $fs_base;
      font-size: $fs_h3;
      font-weight: 700;
      color: $dark-shade_less;
    }

    &_in-details {
      margin-left: 8px;
    }

    &_in-uikit {
      margin-left: 5px;
    }
  }
}
