include ../button-submit/button-submit.pug
include ../date-range/_separete/date-range_separate.pug
include ../dropdown/_type_guests/dropdown_type_guests.pug

include ./__room-info/card-booking__room-info.pug
include ./__price-info/card-booking__price-info.pug

mixin card-booking({ serviceName, serviceStyle, itemNumbers=[0, 0, 0], theme="" })
  - 
    var totalPriceClass = theme == ""
      ? "card-booking__summary": `card-booking__summary card-booking__summary_in-${theme}`

  form.card-booking(method="get" action="./search-room.html")
    +card-booking__room-info({
      bookingNumber: "888",
      bookingType: "Люкс",
      bookingPrice: "9 990",
      theme: theme
    })
    .card-booking__date-range
      +date-range_separate({
        inputValue_1: "19.08.2019",
        inputValue_2: "23.08.2019" 
      })
    .card-booking__dropdown_guests
      +dropdown_type_guests({
        labelText: "Гости",
        itemNumbers: itemNumbers
      })
    +card-booking__price-info({
      infoDesctiption: "9 990₽ х 4 суток",
      infoPrice: "39 960"
    })
    +card-booking__price-info({
      infoDesctiption: "Сбор за услуги: скидка 2 179₽",
      infoPrice: "0",
      infoSign: "full"
    })
    +card-booking__price-info({
      infoDesctiption: serviceName,
      infoPrice: "300",
      infoSign: serviceStyle
    })
    div(class= totalPriceClass)
      .card-booking__text Итого
      if theme == "in-uikit"
        .card-booking__line.card-booking__line_in-uikit
      else 
        .card-booking__line
      .card-booking__price_total 38 081₽
    .card-booking__button
      +button-submit({ buttonText: "Забронировать" })