@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';

@mixin containerBlock($w: 100%, $h: 100%) {
  display: block;
  width: $w;
  height: $h;
}

@mixin buttonLink {
  position: relative;
  font-weight: 700;
  letter-spacing: .001em;
  text-align: center;
  border-radius: 22px;
  text-transform: uppercase;
  cursor: pointer;
  background: $linearGradientLilac;

  &:hover {
    opacity: .5;
  }
}

.button-link {
  @include containerBlock();
  @include buttonLink();
  min-width: 74px;
  padding: 2px;
  font-size: 0.82rem;
  user-select: none;
}

.button-link_type_signin {
  @include containerBlock();
  @include buttonLink();
  min-width: 74px;
  font-size: 0.84rem;
}

.button-link_type_colored {
  @include containerBlock();
  @include buttonLink();
  min-width: 74px;
  padding-right: 3px;
  font-size: 0.82rem;
  color: $light;
  text-decoration: none;
  user-select: none;
}

.button-link_type_registration {
  @include containerBlock();
  @include buttonLink();
  min-width: 74px;
  padding-right: 1px;
  font-size: 0.82rem;
  letter-spacing: .03em;
  color: $light;
  text-decoration: none;

  &::before {
    content: 'Зарегистрироваться';
    color: $light;

    @include _550 {
      content: 'Регистрация';
    }
  }
}

.button-link__inner {
  position: absolute;
  top: 2px;
  left: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  min-width: 70px;
  padding-right: 1px;
  border-radius: 22px;
  background: $light;
  color: $purple;
  text-decoration: none;
}
