mixin button-link({ buttonLinkText = '', buttonLinkHref = './some-address', className = '' })
  if className === ''
    div(class = 'button-link')
      a(class = 'button-link__ref' href = buttonLinkHref)= buttonLinkText
  else if className === 'colored'
    a(class = 'button-link button-link_type_colored' 
      href = buttonLinkHref)= buttonLinkText
  else if className === 'registration'
    a(class = 'button-link button-link_type_registration' 
      href = buttonLinkHref)= buttonLinkText
  else
    div(class = `button-link button-link_type_${ className }`)
      a(class = 'button-link__ref' href = buttonLinkHref)= buttonLinkText