mixin button-link({ text = '', href = './some-address', innerElement = 'form-link' })
  - 
    const elements = {
      link: 'button-link__link',
      registration: 'button-link__link button-link__link_in-registration',
      'form-link': 'button-link__form-link',
      'sign-in': 'button-link__form-link button-link__form-link_in-sign-in',
    };

    const classes = elements[innerElement];

  div(class = 'button-link')
    a(class = classes href = buttonLinkHref)= buttonLinkText