mixin checkbox-expandable__item(checkboxName, ifChecked, checkboxTitle)
  label.checkbox-expand__item
    input(type="checkbox" name=checkboxName checked=ifChecked).checkbox-expand__real
    span.checkbox-expand__fake
    span.checkbox-expand__title!= checkboxTitle