@mixin containerBlock($w: 100%, $h: 100%) {
  display: block;
  width: $w;
  height: $h;
}

.checkbox-expandable__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 0 wrap;
  font-family: $montserrat;
  font-weight: 400;
  font-size: $fs_base;
  text-transform: none;
  cursor: pointer;

  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 100%;
  }
}

.checkbox-expandable__title {
  @include containerBlock(20px, 20px);
  position: absolute;
  opacity: 0;
  cursor: pointer;
  appearance: none;

  @media (min-width: 1750px) and (max-width: 1920px) {
    @include containerBlock(25px, 25px);
  }
}

.checkbox-expandable__fake {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid $dark-shade_less;
  border-radius: 4px;
  background-color: transparent;

  @media (min-width: 1750px) and (max-width: 1920px) {
    @include containerBlock(25px, 25px);
  }
}

.checkbox-expandable__title {
  display: inline-block;
  width: 192px;
  font-size: $fs_base;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.003em;
  color: $dark-shade_medium;

  @media (min-width: 1750px) and (max-width: 1920px) {
    width: calc(100% - 50px);
    max-width: 350px;
    font-size: $fs_base;
  }
}

.checkbox-expandable__title:checked ~ .checkbox-expandable__fake {
  @extend .checkbox-expandable__fake;
  border-color: $purple;
}

.checkbox-expandable__title:checked + .checkbox-expandable__fake::before {
  content: '';
  @include containerBlock(4px, 6px);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-image: $linearGradientLilac;
  border-image-slice: 1;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;

  @media (min-width: 1650px) and (max-width: 1920px) {
    @include containerBlock(5px, 10px);
  }
}