mixin checkbox-expandable__item({ checkboxName="breakfast", ifChecked=false, checkboxTitle="Завтрак" })
  label.checkbox-expandable__item
    input(type="checkbox" name=checkboxName checked=ifChecked).checkbox-expandable__real
    span.checkbox-expandable__fake
    span.checkbox-expandable__title!= checkboxTitle