@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';

@import '../../__input/textfield__input.scss';
@import '../../textfield.scss';
@import '../_email/textfield_type_email.scss';
@import '../_password/textfield_type_password.scss';

.textfield_type_login {
  @include isFlex($direction: column);
  height: 98px;
  width: 100%;
  padding: 0;
  border: none;
}

.textfield_type_login-in-main {
  margin-top: 20px;
}

.textfield_type_login-in-signin {
  margin-top: 20px;
}
