@import '../../__input/textfield__input.scss';
@import '../_email/textfield_type_email.scss';
@import '../_password/textfield_type_password.scss';

.textfield_type_login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 nowrap;
  width: 100%;
  height: 98px;

  @media (max-width: 450px) {
    width: 100%;
    min-width: 260px;
    margin: 0 auto;
  }
}

.textfield_type_login_main {
  @extend .textfield_type_login;
  margin-top: 20px;
}

.textfield_type_login_in-signin {
  @extend .textfield_type_login;
  margin-top: 20px;
}
