include ../_email/textfield_type_email.pug
include ../_password/textfield_type_password.pug

mixin textfield_type_login(theme="")
  if theme == ""
    .textfield.textfield_type_login
      +textfield_type_email()
      +textfield_type_password()
  else 
    div(class=`textfield textfield_type_login-in-${theme}`)
      +textfield_type_email()
      +textfield_type_password()