extends ../../assets/templates/template.pug

include ../../components/header/header.pug
include ../../components/card-registration/card-registration.pug
include ../../components/carousel/carousel.pug
include ../../components/footer/footer.pug

block variables
  - var theme = "in-registration"
  - var title = "registration";
  - var description = "registration";
  - var keywords = "registration";
  - var pics = ["./assets/images/registration-1.jpg", "./assets/images/registration-2.jpg"];

block content
  .registration.js-dropdown__detection
    +header("", theme)
    main.registration__content
      +carousel(pics)
      .registration__card-registration 
        +card-registration("Зарегистрироваться")
    +footer(theme)