@import "Styles/main";

/* Main container */

.registration {
  @include container(
    $width: 1440px,
    $height: fit-content,
    $mt: 0,
    $mb: 0,
    $ms: auto
  );
  @include isFlex($direction: column, $justify: flex-start);
  position: relative;
  background: $light;
  user-select: none;

  @media (max-width: 1920px) {
    width: 100vw;
    height: auto;
    border-bottom: 1px solid $darkShadeLess;
  }
}

.registration__content {
  @include isFlex($direction: column, $justify: space-between);
  position: relative;
  width: 100%;
  height: 689px;
  margin: 0 auto;

  @media (max-width: 500px) {
    width: 100vw;
    // carouselRegistration + card_registration + initial top
    height: calc(683 / 1440 * 100vw + 646px + 40px);
  }

  @media (max-width: 380px) {
    height: calc(683 / 1440 * 100vw + 646px);
    min-height: calc(683 / 1440 * 320px + 646px);
  }
}

.registration__card_registration {
  @include absoluteTopLeft(20px, 721px);
  transform: translateX(-48.2%);

  @media (min-width: 1480px) and (max-width: 1920px) {
    left: 50%;
  }

  @media (max-width: 1400px) {
    left: 50%;
  }

  @media (max-width: 500px) {
    position: relative;
    left: 0;
    width: fit-content;
    min-width: 320px;
    margin: 0 auto;
    transform: none;
  }
}