@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/expand.scss';
@import '@~Assets/styles/general.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';
@import '@~Components/carousel/carousel.scss';
@import '@~Components/card-registration/card-registration.scss';
@import '@~Components/footer/footer';
@import '@~Components/header/header.scss';

.registration {
  @include isFlex($direction: column, $justify: flex-start);
  position: relative;
  width: 1440px;
  min-width: 320px;
  height: fit-content;
  margin: 0 auto;
  background: $light;
  user-select: none;

  @include _all {
    width: 100%;
    height: auto;
    border-bottom: 1px solid $dark-shade_less;
  }

  &__content {
    @include isFlex($direction: column);
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 683px;
    margin: 0 auto;

    @include _500 {
      width: 100vw;
      // carouselRegistration + card-registration + initial top
      height: calc(683 / 1440 * 100vw + 646px + 40px);
    }

    @include _380 {
      height: fit-content;
      min-height: calc(683 / 1440 * 320px + 646px);
    }
  }

  &__card-registration {
    position: absolute;
    top: 19px;
    left: 716px;
    transform: translateX(-48.2%);

    @include _1450 {
      left: 50%;
    }

    @include _1400 {
      left: 50%;
    }

    @include _500 {
      position: relative;
      left: 0;
      width: fit-content;
      min-width: 320px;
      margin: 0 auto;
      transform: none;
    }
  }
}