extends ../../assets/templates/_template.pug

include ../../components/header/_header.pug
include ../../components/card-registration/_card-registration.pug
include ../../components/carousel-background/_carousel-background.pug
include ../../components/footer/_footer.pug

block variables
  - var title = "registration";
  - var description = "registration";
  - var keywords = "registration";
  - var pics = ["./assets/images/registration_1.jpg", "./assets/images/registration_2.jpg"];

block content
  .registration.js-dropdown__watch
    +header()
    .registration__content
      +carouselBackground(pics)
      .registration__card-registration 
        +cardRegistration("Зарегистрироваться")
    +footer()