@import 'Styles/main';
@import '../../components/carousel/carousel.scss';
@import '../../components/expand/expand.scss';
@import '../../components/header/header.scss';
@import '@~Components/footer/footer';

/* Main container */

.registration {
  @include containerWithMargins(
    $width: 1440px,
    $height: fit-content,
    $mt: 0,
    $ms: auto,
    $mb: 0
  );

  @include isFlex($direction: column, $justify: flex-start);
  position: relative;
  min-width: 320px;
  background: $light;
  user-select: none;

  @media (max-width: 1920px) {
    width: 100%;
    height: auto;
    border-bottom: 1px solid $dark-shade_less;
  }
}

.registration__content {
  @include isFlex($direction: column);
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 683px;
  margin: 0 auto;

  @media (max-width: 500px) {
    width: 100vw;
    // carouselRegistration + card-registration + initial top
    height: calc(683 / 1440 * 100vw + 646px + 40px);
  }

  @media (max-width: 380px) {
    height: calc(683 / 1440 * 100vw + 646px);
    min-height: calc(683 / 1440 * 320px + 646px);
  }
}

.registration__card-registration {
  @include absoluteTopLeft(19px, 716px);
  transform: translateX(-48.2%);

  @media (min-width: 1480px) and (max-width: 1920px) {
    left: 50%;
  }

  @media (max-width: 1400px) {
    left: 50%;
  }

  @media (max-width: 500px) {
    position: relative;
    left: 0;
    width: fit-content;
    min-width: 320px;
    margin: 0 auto;
    transform: none;
  }
}