.rich-checkbox {
  &__item{
    @include isFlex($justify: flex-start);
    width: 100%;
    height: fit-content;
    cursor: pointer;
  }

  &__form {
    @include isFlex($direction: column, $justify: flex-start);
    min-width: 223px;
    max-width: 350px;
    height: fit-content;

    @media (min-width: 1750px) and (max-width: 1920px) {
      width: calc(100% - 50px);
    }
  }

  &__title {
    margin-top: 1px;
    line-height: 18px;
    font-size: $fs_base;
    letter-spacing: 0.0001em;
    font-weight: 700;
    color: $dark-shade_more;
  }

  &__description {
    height: fit-content;
    margin-top: 4px;
    font-size: $fs_h3;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.0001em;
    color: $dark-shade_medium;

    @media (min-width: 1750px) and (max-width: 1920px) {
      line-height: $fs_h2;
      font-size: $fs_base;
    }
  }
}

.rich-checkbox__item + .rich-checkbox__item{
margin-top: 10px;
}