@import './__item/rich-checkbox__item';

.rich-checkbox {
  &__container {
    @include isFlex($direction: column);
    width: 100%;
    height: 144px;

    @media (min-width: 1650px) and (max-width: 1920px) {
      width: 100%;
      height: fit-content;
    }

    @media (max-width: 450px) {
      width: 100%;
      min-width: 266px;
      margin: 0 auto;
    }
  }

  &__label {
    @include labelMixin();
    line-height: $fs_h3;
    font-size: $fs_h3;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__list {
    @include isFlex($direction: column);
    appearance: none;
    width: 100%;
    height: 115px;
    margin: 0;
    padding: 0;
    border: none;
  }
}