include ../checkbox/checkbox.pug

mixin rich-checkbox({ name = '', text = '', items })
  .rich-checkbox
    .rich-checkbox__label!= text
    fieldset.rich-checkbox__list
      each item in items
        - 
          const { 
            name, 
            value, 
            title, 
            description } = item;
        +checkbox({
          value: value,
          name: name,
          title: title,
          modifier: 'rich',
          description: description
        })