@import '@~Assets/styles/fonts.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles//mixins.scss';

@import './__item/rich-checkbox__item.scss';

.rich-checkbox {
  @include isFlex($direction: column);
  width: 100%;
  height: 144px;

  @include _1650-1920 {
    width: 100%;
    height: fit-content;
  }

  @include _450 {
    width: 100%;
    min-width: 266px;
    margin: 0 auto;
  }

  &__label {
    display: inline-block;
    height: 15px;
    line-height: $fs_h3;
    font-size: $fs_h3;
    letter-spacing: .003em;
    font-weight: 700;
    text-transform: uppercase;
    user-select: none;

    @include _1750-1920 {
      font-size: $fs_base;
      height: $fs_h2;
    }
  }

  &__list {
    @include isFlex($direction: column);
    appearance: none;
    width: 100%;
    height: 115px;
    margin: 0;
    padding: 0;
    border: none;

    @include _1750-1920 {
      height: fit-content;
    }
  }
}
