@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/fonts.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles//mixins.scss';

@mixin richCheckboxFake {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid $dark-shade_less;
  border-radius: 4px;
  background-color: transparent;

  @include _1750-1920 {
    @include containerBlock(25px, 25px);
  }
}

.rich-checkbox {
  @include isFlex($direction: column);
  width: 100%;
  height: 144px;

  @include _1650-1920 {
    width: 100%;
    height: fit-content;
  }

  @include _450 {
    width: 100%;
    min-width: 266px;
    margin: 0 auto;
  }

  &__label {
    display: inline-block;
    height: 15px;
    line-height: $fs_h3;
    font-size: $fs_h3;
    letter-spacing: .003em;
    font-weight: 700;
    text-transform: uppercase;
    user-select: none;

    @include _1750-1920 {
      font-size: $fs_base;
      height: $fs_h2;
    }
  }

  &__list {
    @include isFlex($direction: column);
    appearance: none;
    width: 100%;
    height: 115px;
    margin: 0;
    padding: 0;
    border: none;

    @include _1750-1920 {
      height: fit-content;
    }
  }

  &__item {
    @include isFlex($justify: flex-start);
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    cursor: pointer;
    user-select: none;
  }

  &__item + &__item{
    margin-top: 8px;
  }

  &__form {
    @include isFlex($direction: column, $justify: flex-start);
    max-width: 350px;
    height: fit-content;
  }

  &__title {
    margin-top: 1px;
    line-height: 18px;
    font-size: $fs_base;
    letter-spacing: 0.0001em;
    font-weight: 700;
    color: $dark-shade_more;
  }

  &__description {
    height: fit-content;
    margin-top: 5px;
    font-size: $fs_h3;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.0001em;
    color: $dark-shade_medium;

    @include _1750-1920 {
      line-height: $fs_h2;
      font-size: $fs_base;
    }
  }

  &__real {
    @include containerBlock(20px, 20px);
    position: absolute;
    opacity: 0;
    cursor: pointer;
    appearance: none;

    @include _1750-1920 {
      @include containerBlock(25px, 25px);
    }
  }

  &__fake {
    @include richCheckboxFake();
  }

  &__real:checked ~ &__fake {
    @include richCheckboxFake();
    border-color: $purple;
  }

  &__real:checked + &__fake::before {
    content: '';
    position: absolute;
    top: 45%;
    left: 50%;
    @include containerBlock(4px, 6px);
    transform: translate(-50%, -50%) rotate(45deg);
    border-image: $linearGradientLilac;
    border-image-slice: 1;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;

    @include _1650-1920 {
      @include containerBlock(5px, 10px);
    }
  }
}