include ./__item/rich-checkbox__item.pug

mixin rich-checkbox(checkboxName, containerText)
  .rich-checkbox__container
    .rich-checkbox__label!= containerText
    fieldset.rich-checkbox__list
      +rich-checkbox__item(checkboxName, "wide corridor", "Широкий коридор", "Ширина коридоров в номере <br> не менее 91 см.")
      +rich-checkbox__item(checkboxName, "help for disabled", "Помощник для инвалидов", "На 1 этаже вас встретит специалист <br> и проводит до номера.")