@import '@~Assets/styles/media-mixins.scss';

@import '../../textfield/_type/_subscribe/textfield_type_subscribe.scss';

.footer__subscription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 260px;
  height: 152px;
  padding-top: 4px;

  @include _800 {
    height: auto;
  }
}

.footer__special-offer  {
  width: 100%;
  margin: 18px 0 0;
  font-size: 1em;
  line-height: 1.71rem;
  font-weight: 400;
  color: $dark-shade_more;
  letter-spacing: .0001em;
  pointer-events: none;

  @include _1170 {
    display: none;
  }
}

.footer__form {
  position: relative;
  width: 100%;
  margin-top: 22.5px;
}
