include ../../textfield/textfield_type_subscribe.pug

mixin footer__subscription()
  .footer__subscription
    h3.footer__title Подписка
    .footer__text_for-subscription Получайте специальные предложения и новости сервиса
    form.footer__form.js-footer__form(method="get" action="./registration.html")
      +textfield_type_subscribe()