.footer__subscription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 0 wrap;
  width: 260px;
  height: 148px;
  padding-top: 4px;

  @media (max-width: 800px) {
    height: auto;
  }
}

.footer__text_for-subscription {
  @extend .footer__text;
  margin-top: 18px;
}

.footer__form {
  position: relative;
  width: 100%;
  margin-top: 22.5px;
}
