.js-expand__show {
  @include isFlex($direction: column, $justify: flex-start);

  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 100%;
  }
}

.js-expand__show ~ .dropdown__button_transparent::before {
  content: '\e5ce';
}

.js-expand__show ~ .dropdown__info {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.js-expand__show ~ .dropdown__info::before {
  content: '\e5ce';
}


.js-expand__show ~ .date-range__container .date-range__info::before {
  transform: rotate(180deg);
}

.js-expand__show ~ .container_medium .date-range__info::before {
  transform: rotate(180deg);
}
