.logo__link {
  @include isFlex($align: center);
  width: 107px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;

  @media (max-width: 550px) {
    width: 40px;
  }
}

.logo__pic {
  @include containerSimple(40px, 40px);
  position: relative;
  border: none;
}

.logo__name {
  @include containerSimple(54px, 15px);
  position: relative;
  margin-right: 1px;
  border: none;

  @media (max-width: 550px) {
    display: none;
  }
}
