.logo__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: 1 0 nowrap;
  width: 107px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;

  @media (max-width: 550px) {
    width: 40px;
  }
}

.logo__pic {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
}

.logo__name {
  position: relative;
  width: 54px;
  height: 15px;
  margin-right: 1px;
  border: none;

  @media (max-width: 550px) {
    display: none;
  }
}
