mixin logo()
  - var logoPic = './assets/images/logo/logo-colored.svg';
  - var logoName = './assets/images/logo/logo-name.svg';

  a(href = 'landing-page.html').logo
    img.logo__pic(src = logoPic alt = 'logo picture')
    img.logo__name(src = logoName alt = 'logo name')