mixin logo()
  a(href="./landing-page.html").logo__link
    img.logo__pic(src= "./assets/images/logo/logo-colored.svg" alt="logo picture")
    img.logo__name(src= "./assets/images/logo/logo-name.svg" alt="logo name")