mixin label({ labelText = '', labelRightText = '', labelRightClass = '' })
  - 
    const labelRight = labelRightClass === ''
      ? 'label label_right' 
      : `label label_right_for_${ labelRightClass }`;

  h3.label!= labelText
  if labelRightText !== ''
    h3(class = labelRight)= labelRightText