mixin cardSearch()
    .card_search
        .card__text Найдём номера под ваши пожелания
        +dateDropdownRangeContainer("dataRange_3", "Прибытие", "", "Выезд", "", "", "calendar_3")
        +dropdownGuestsLabeled("Гости", "", "dropdown_guests_3", "", "dropdownGuestsInput_3")
        +buttonFormSubmit("Подобрать номер")


//- TODO: возможно придется переделать searchCard настройки, чтобы вводить Id для каждой // возможно можно будет использовать один Id на разных страницах
//- пока оставим так

