.card_search {
    @extend .card__container_shadowed;
    @include isFlex($direction: column);
    width: 380px;
    height: 374px;
    // padding: 40px 30px 30px;
}

.card_search > div + .card_search > div {
    margin-top: 20px;
}

.card_search > div + .card_search > button {
    margin-top: 30px;
}