include ../dateDropdown/_dateDropdown.pug
include ../dropdownGuests/_dropdownGuests.pug
include ../button/_button.pug

mixin cardSearch()
    .card_search
        h1.card__text Найдём номера под ваши пожелания
        +dateDropdownRangeContainer("calendar_search", "Прибытие", "", "Выезд", "", "")
        +dropdownGuestsLabeled("Гости", "", "dropdown_guests_search", "", "dropdownGuestsInput_3")
        +buttonFormSubmit("Подобрать номер")


//- TODO: возможно придется переделать searchCard настройки, чтобы вводить Id для каждой // возможно можно будет использовать один Id на разных страницах
//- пока оставим так

