.comment {
  min-width: 266px;
  min-height: 133px;

  @media (max-width: 450px) {
    min-width: 260px;
    width: 100%;
  }
}

.comment__head {
  @include isFlex($justify: start);
  height: 51px;
}

.comment__pic {
  @include isFlex($justify: center, $align: center);
  width: 48px;
  height: 48px;
  margin-right: 9px;
  border-radius: 50%;
  filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
  overflow: hidden;

  @media (min-width: 1750px) and (max-width: 1920px) {
    width: 48px;
    height: 48px;
  }
}

.comment__body {
  @include isFlex($justify: start);
  width: 100%;
  min-height: 51px;
  margin-top: 7px;
  margin-left: 2px;
  font-size: $fs_base;
  pointer-events: none;

  @media (min-width: 1750px) and (max-width: 1920px) {
    font-size: $fs_h2;
  }
}

.comment__text {
  width: calc(100% - 54px);
  max-width: 92%;
  min-height: 72px;
  margin-left: 14px;
  line-height: 24px;
  letter-spacing: .0001em;
  font-family: $montserrat;
  color: $dark-shade_more;
  font-weight: 400;
  text-align: left;

  @media (max-width: 450px) {
    width: 70%;
  }
}

.comment__likes {
  margin-top: 2.5px;
  margin-left: 2px;
}
