.comment {
    min-width: 266px;
    min-height: 133px;
}

.comment__head {
    height: 51px;
    @include isFlex($justify: start);
}

.author__pic {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid $light;
    filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
    @include isFlex($justify: center, $align: center);
    overflow: hidden;
}



.comment__body {
    margin-top: 9px;
    margin-left: 3px;
    min-height: 51px;
    @include isFlex($justify: start);
    width: 100%;
}

.comment__text {
    margin-left: 15px;
    margin-top: -2px;
    min-height: 72px;
    color: $darkShadeMore;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -.0001em;
    font-family: $Montserrat;
    font-weight: 400;
    text-align: left;
    width: 95%;
}

@media (max-width: 450px){
    .comment {
        min-width: 280px;
        width: 100%;
    }

    .comment__text {
        //width: 70%;
    }
}
