include ../button-like/button-like.pug
include ../info/info.pug

mixin comment(commentData)
  - 
    const { 
      picture = '', 
      author = 'Anonymous', 
      commentTime = Data().getDay(), 
      likesAmount = 0,
      liked = false,
      text = 'none' } = commentData;

  .comment
    .comment__head
      img(
        src = picture 
        alt = 'profile picture').comment__pic
      +info({ 
        title: author, 
        description: commentTime 
      })
    .comment__body
      .comment__likes
        +button-like({ 
          likesAmount: likesAmount,
          liked: liked
        })
      .comment__text!= text