@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles//mixins.scss';
@import '@~Assets/styles/fonts.scss';
@import '@~Components/button-like/button-like.scss';
@import '@~Components/info/info.scss';

.comment {
  position: relative;
  width: 100%;
  min-width: 260px;
  min-height: 133px;
  user-select: none;

  @include _450 {
    margin: 0 auto;
  }

  &__head {
    @include isFlex($justify: flex-start);
    height: fit-content;
    pointer-events: none;
  }

  &__pic {
    @include isFlex($justify: center, $align: center);
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border-radius: 50%;
    filter: drop-shadow(0px 10px 20px $dark-shade_few);
    overflow: hidden;
  }

  &__body {
    @include isFlex($justify: flex-start);
    width: 100%;
    height: fit-content;
    min-height: 51px;
    margin-top: 10px;
    margin-left: 2px;
    font-size: $fs_base;
  }

  &__text {
    width: calc(100% - 54px);
    max-width: 92%;
    min-height: 72px;
    margin-left: 14px;
    line-height: 24px;
    font-family: $montserrat;
    letter-spacing: .0001em;
    font-weight: 400;
    color: $dark-shade_more;
    text-align: left;
    pointer-events: none;

    @include _450 {
      width: 70%;
    }
  }

  &__likes {
    margin-top: 2px;
    margin-left: 2px;
  }
}