.card-room__info {
  @include isFlex($direction: column);
  width: 100%;
  height: 111px;
  padding: 22px 17px 22px 20px;
  pointer-events: none;
}

.card-room__rating {
  @include isFlex($align: center);
  width: 100%;
  position: relative;
  height: 36px;
  border-top: 1px solid $dark-shade_few;
  padding-top: 11px;
  padding-right: 2px;
}

.card-room__button-rate {
  height: 28px;
}

.card-room__button-rate_creative {
  height: 28px;
}

.card-room__button-rate_in-search {
  height: 30px;
}

.card-room__sign {
  display: inline-block;
  font-size: $fs_base;
  line-height: 15px;
  font-weight: 700;
  color: $dark-shade_most;

  @media (min-width: 1750px) and (max-width: 1920px) {
    font-size: $fs_h2;
  }
}

.card-room__sign_creative {
  @extend .card-room__sign;
  line-height: 20px;
}

.card-room__sign_in-search {
  @extend .card-room__sign;
}

.card-room__number {
  display: inline-block;
  padding-left: 3px;
  font-size: 19px;
  line-height: 15px;
  letter-spacing: .001em;
  font-weight: 700;
  color: $dark-shade_most;

  @media (min-width: 1750px) and (max-width: 1920px) {
    font-size: $fs_h1;
  }
}

.card-room__number_creative {
  @extend .card-room__number;
  line-height: 20px;
}

.card-room__number_in-search {
  @extend .card-room__number;
}

.card-room__type {
  display: inline-block;
  padding-left: 2px;
  font-size: .857rem;
  color: $purple;
  letter-spacing: .0001em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 23px;

  @media (min-width: 1750px) and (max-width: 1920px) {
    font-size: $fs_base;
  }
}

.card-room__type_in-search {
  @extend .card-room__type;
  margin-left: 7px;
}

.card-room__period {
  font-size: $fs_h3;
  font-weight: 400;

  line-height: 24px;
  letter-spacing: .001em;
  color: $dark-shade_medium;

  @media (min-width: 1750px) and (max-width: 1920px) {
    font-size: $fs_base;
  }
}

.card-room__period_creative {
  @extend .card-room__period;
}

.card-room__period_in-search {
  @extend .card-room__period;
  line-height: 20px;
}
