@import '@~Assets/styles/media-mixins.scss';

@mixin isFlex(
  $direction: row,
  $justify: space-between,
  $align: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-shrink: 0;
}

.card-room__sign {
  display: inline-block;
  font-size: $fs_base;
  line-height: 15px;
  font-weight: 700;
  color: $dark-shade_most;

  @include _1750-1920 {
    font-size: $fs_h2;
  }
}

.card-room__sign_in-creative {
  line-height: 20px;
}

.card-room__number {
  display: inline-block;
  padding-left: 3px;
  font-size: 19px;
  line-height: 15px;
  letter-spacing: .001em;
  font-weight: 700;
  color: $dark-shade_most;

  @include _1750-1920 {
    font-size: $fs_h1;
  }
}

.card-room__number_creative {
  line-height: 20px;
}

.card-room__type {
  display: inline-block;
  padding-left: 2px;
  font-size: .857rem;
  color: $purple;
  letter-spacing: .0001em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 23px;

  @include _1750-1920 {
    font-size: $fs_base;
  }
}

.card-room__type_in-search {
  margin-left: 7px;
}

.card-room__period {
  font-size: $fs_h3;
  font-weight: 400;

  line-height: 24px;
  letter-spacing: .001em;
  color: $dark-shade_medium;

  @include _1750-1920 {
    font-size: $fs_base;
  }
}

.card-room__period_in-search {
  line-height: 20px;
}
