include ../../../components/header/_header.pug
include ../../../components/footer/_footer.pug

block variables
  - var title = "UIKit";
  - var description = "UIKit";
  - var keywords = "UIKit";

block content
  .headers-n-footers_outer.js-dropdown__watch
    img.uikit-logo(src= "./assets/images/logo/logo.svg")
    +header()
    +header("Юлий Цезарь")
    +footer()
    +footerCreative()

