include ../../../components/header/header.pug
include ../../../components/footer/footer.pug
include ../../../components/footer/footer_creative.pug

block variables
  - var title = "UIKit";
  - var description = "UIKit";
  - var keywords = "UIKit";

block content
  .headers-n-footers_outer.js-dropdown__detection
    img.uikit-logo(src= "./assets/images/logo/logo.svg" alt="uikit logo")
    +header()
    +header("Юлий Цезарь")
    +footer()
    +footer_creative()

