include ../../../components/header/header.pug
include ../../../components/footer/footer.pug
include ../../../components/footer-creative/footer-creative.pug

block variables
  - var title = "UIKit";
  - var description = "UIKit";
  - var keywords = "UIKit";

block content
  .headers-n-footers.js-dropdown__detection
    img.uikit-logo(src= "./assets/images/logo/logo.svg" alt="uikit logo")
    +header({ })
    .headers-n-footers__header
      +header({ user: "Юлий Цезарь" })
    .headers-n-footers__footer
      +footer({ })
    .headers-n-footers__footer-creative
      +footer-creative()
