/* Cards styles */
.card__title {
  width: 100%;
  min-height: 30px;
  letter-spacing: 0.004em;
  text-align: left;
  line-height: 29px;
  margin-left: 0px;
  letter-spacing: 0.003em;
  line-height: 29px;
  font-size: $fs_h1;

  @media (max-width: 450px) {
    width: 280px;
    margin: 0 auto;
    font-size: $fs_h2;
  }
}

.card__text {
  line-height: 44px;
  font-size: $fs_base;
  font-weight: 400;
  color: $dark-shade_most;
  letter-spacing: 0.001em;
}

.card__row {
  @include isFlex();
  width: 100%;
  height: fit-content;

  @media (max-width: 450px) {
    min-width: 270px;
    margin: 0 auto;
  }

  @media (min-width: 1650px) and (max-width: 1920px) {
    max-width: 490px;
  }
}

.card__row_small {
  height: 100%;
}


.cards_inner .card__type {
  margin-left: 0;
}

.card {
  &__sign {
    display: inline-block;
    padding-right: 4px;
    font-size: $fs_base;
    line-height: 14px;
    font-weight: 700;
    color: $dark-shade_most;

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_h2;
    }
  }

  &__number {
    display: inline-block;
    padding-right: 2px;
    font-size: 18px;
    line-height: 15px;
    font-weight: 700;
    color: $dark-shade_most;

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_h1;
    }
  }

  &__type {
    display: inline-block;
    margin-left: 6px;
    font-size: .857rem;
    color: $purple;
    letter-spacing: .0001em;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 23px;

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_base;
    }
  }

  &__price {
    font-size: 1rem;
    letter-spacing: .01em;

    line-height: 20px;
    color: $dark-shade_medium;
    font-weight: 700;

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_h2;
    }
  }

  &__period {
    font-size: $fs_h3;
    font-weight: 400;

    line-height: 20px;
    letter-spacing: .001em;
    color: $dark-shade_medium;

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_base;
    }
  }

  &__review {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: .05em;
    line-height: 20px;
    color: $dark-shade_medium;

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_base;
    }
  }
}




.card__row .button_type_link_inner {
  letter-spacing: .05em;
  padding-right: 0;
}