.card__title {
  width: 100%;
  min-height: 30px;
  margin-left: 0px;
  line-height: 29px;
  letter-spacing: 0.001em;
  font-size: $fs_h1;
  text-align: left;
  pointer-events: none;

  @media (max-width: 450px) {
    width: 280px;
    margin: 0 auto;
    font-size: $fs_h2;
  }
}

.card__text {
  line-height: 44px;
  font-size: $fs_base;
  font-weight: 400;
  color: $dark-shade_most;
  letter-spacing: 0.001em;
  pointer-events: none;
}

.card__row {
  @include isFlex();
  width: 100%;
  height: fit-content;

  @media (max-width: 450px) {
    min-width: 270px;
    margin: 0 auto;
  }

  @media (min-width: 1650px) and (max-width: 1920px) {
    max-width: 490px;
  }
}

.card__row_small {
  height: 100%;
  pointer-events: none;
}


.cards_inner .card-room__type {
  margin-left: 0;
}