.calendar {
  @include containerDimed();
  @include isFlex($direction: column, $justify: flex-start);
  width: 320px;
  min-height: 369px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background: $light;
  z-index: 3;

  @media (max-width: 400px) {
    max-width: 280px;
  }

  &__date {
    @include isFlex($align: center);
    height: 64px;
    width: 100%;
    padding: 20px 20px 22px 19px;
  }
}

.date__prev {
  position: relative;
  @include containerSize(24px);
  line-height: 18px; 
  border-radius: 50%;

  &:hover {
    background-color: grey;
  }

  &::before {
    content: "\e5c4";

    position: absolute;
    top: 4px;

    font-size: $fs_h1;
    font-family: $MaterialIcons;
    color: $purple;
  }
}

.date__next {
  @include containerSize(24px);
  position: relative;
  line-height: 18px;
  border-radius: 50%;

  &:hover {
    background-color: grey;
  }

  &::before {
    content: "\e5c8";
    position: absolute;
    top: 4px;
    font-family: $MaterialIcons;
    font-size: $fs_h1;
    color: $purple;
  }
}

.date__month {
  display: block;
  line-height: 24px;
  margin: 0 auto;
  font-size: $fs_h2;
  font-weight: 700;
  font-family: $Montserrat;
  text-align: center;
  letter-spacing: 0.0015em;
}

.calendar__weeks {
  @include isFlex($direction: column);
  width: 280px;
  min-height: 240px;
  margin: 9px auto 0;
}

.weeks {
  &__weekdays {
    @include isFlex($justify: space-around);
    width: 280px;
    height: 40px;
    font-size: $fs_h3;
    font-weight: 700;
    color: $purple;
    align-items: center;
    letter-spacing: -0.01em;
  }

  &__days {
    @include isFlex();
    line-height: 40px;
    font-size: $fs_h3;
    font-weight: 400;
    font-family: Montserrat;
    text-align: center;
    color: $darkShadeMiddle;
  }

  &__day {
    @include containerSize(40px);

    &:hover {
      border-radius: 50%;
      border-color: $linearGradientLilac;
      border-width: 2px;
      border-style: solid;
      // box-sizing: border-box;
    }

    &_prev,
    &_next {
      color: $darkShadeLess;
    }
  }
}

.weeks__day_prev_checkedin,
.weeks__day_next_checkedin,
.weeks__day_prev_checkedout,
.weeks__day_next_checkedout {
  color: $darkShadeLess;
  border-radius: 50%;
  background: $darkShadeFew;
  position: relative;
}

.weeks__day_prev_checkedin::before,
.weeks__day_next_checkedin::before,
.weeks__day_prev_checkedout::before,
.weeks__day_next_checkedout::before {
  content: "";
  @include containerBlock();
  @include absoluteTopLeft();
  // position: absolute;
  // top: 0;
  background: $darkShadeFewer;
}

.weeks__day_prev_checkedin::before,
.weeks__day_next_checkedin::before {
  right: 0;
  z-index: -1;
  border-radius: 50% 0 0 50%;
}

.weeks__day_prev_checkedout::before,
.weeks__day_next_checkedout::before {
  left: 0;
  border-radius: 0 50% 50% 0;
}

.weeks__day_today {
  border-radius: 50%;
  font-weight: 700;
  color: $light;
  background: $linearGradientTurquoise;
}

.weeks__day_ranged {
  position: relative;
  background: $linearGradientGrape;
  

  &_another {
    position: relative;
    background: $darkShadeFewer;
    color: $darkShadeLess;
  }
}

.weeks__day_checkedout {
  position: relative;
  font-weight: 700;
  color: $light;
  border-radius: 50%;
  background: $linearGradientLilac;
  z-index: 2;

  &::after {
    content: "";
    @include absoluteTopLeft();
    @include containerBlock();
    background: $linearGradientLilac;
    border-radius: 0 50% 50% 0;
    opacity: 0.15;
  }
}

.weeks__day_checkedin {
  position: relative;
  font-weight: 700;
  color: $light;
  border-radius: 50%;
  background: $linearGradientLilac;
  z-index: 2;
  isolation: isolate;

  &::after {
    content: "";
    @include absoluteTopLeft();
    @include containerBlock();
    background: $linearGradientLilac;
    border-radius: 50% 0 0 50%;
    opacity: 0.15;
  }
}

.calendar__buttons {
  @include isFlex();
  width: 100%;
  padding: 23px 19px 21px;
  color: $purple;

  &_reset,
  &_submit {
    font-size: $fs_h3;
    font-weight: 700;
    font-family: Montserrat;
    text-transform: uppercase;
    color: $purple;
  }
}

.calendar__input {
  text-transform: uppercase;
}
