mixin calendar(calendarId)
    - var weekdaysName = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]
    div(class="calendar" id=calendarId)
        .calendar__date
            .date__prev
            .date__month!= textContent
            .date__next
        .calendar__weeks
            .weeks__weekdays
                for day in weekdaysName
                    +weekdays(day)
            .weeks__days
        .calendar__buttons
            button.calendar__buttons_reset(type='reset') Очистить
            button.calendar__buttons_submit(type='submit') Применить

mixin weekdays(weekday)
    span!= weekday
