.calendar {
  @include containerDimed();
  border: 1px solid rgba(31, 32, 65, 0.25);
  width: 320px;
  min-height: 369px;
  background: $light;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 3;

  @media (max-width: 400px) {
    max-width: 280px;
  }

  &__date {
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //padding: 19px;
    box-sizing: border-box;
    padding: 20px 20px 22px 19px;
  }
}

.date__prev {
  width: 24px;
  height: 24px;
  line-height: 18px;
  position: relative;
  border-radius: 50%;

  &:hover {
    background-color: grey;
  }

  &::before {
    content: "\e5c4";
    position: absolute;
    font-family: $MaterialIcons;
    font-size: 24px;
    top: 4px;
    color: $purple;
  }
}

.date__next {
  width: 24px;
  height: 24px;
  line-height: 18px;
  position: relative;
  border-radius: 50%;

  &:hover {
    background-color: grey;
  }

  &::before {
    content: "\e5c8";
    position: absolute;
    font-family: $MaterialIcons;
    font-size: 24px;
    top: 4px;
    color: $purple;
  }
}

.date__month {
  display: block;
  margin: 0 auto;
  font-family: $Montserrat;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.0015em;
}

.calendar__weeks {
  width: 280px;
  min-height: 240px;
  margin: 9px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weeks {
  &__weekdays {
    width: 280px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: $purple;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.01em;
  }

  &__days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color: $darkShadeMiddle;
  }

  &__day {
    width: 40px;
    height: 40px;

    &:hover {
      border-radius: 50%;
      border-color: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-width: 2px;
      border-style: solid;
      box-sizing: border-box;
    }

    &_prev,
    &_next {
      color: $darkShadeLess;
    }
  }
}

.weeks__day_prev_checkedin,
.weeks__day_next_checkedin,
.weeks__day_prev_checkedout,
.weeks__day_next_checkedout {
  color: $darkShadeLess;
  border-radius: 50%;
  background: $darkShadeFew;
  position: relative;
}

.weeks__day_prev_checkedin::before,
.weeks__day_next_checkedin::before,
.weeks__day_prev_checkedout::before,
.weeks__day_next_checkedout::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  background: $darkShadeFewer;
}

.weeks__day_prev_checkedin::before,
.weeks__day_next_checkedin::before {
  right: 0;
  z-index: -1;
  border-radius: 50% 0 0 50%;
}

.weeks__day_prev_checkedout::before,
.weeks__day_next_checkedout::before {
  left: 0;
  border-radius: 0 50% 50% 0;
}

.weeks__day_today {
  border-radius: 50%;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  color: #fff;
  font-weight: 700;
}

.weeks__day_ranged {
  background: linear-gradient(
    180deg,
    rgba(188, 156, 255, 0.15) 0%,
    rgba(139, 164, 249, 0.15) 100%
  );
  position: relative;

  &_another {
    background: $darkShadeFewer;
    color: $darkShadeLess;
    position: relative;
  }
}

.weeks__day_checkedout {
  border-radius: 50%;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #fff;
  font-weight: 700;
  z-index: 2;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 0 50% 50% 0;
    opacity: 0.15;
  }
}

.weeks__day_checkedin {
  border-radius: 50%;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #fff;
  font-weight: 700;
  z-index: 2;
  position: relative;
  isolation: isolate;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 50% 0 0 50%;
    opacity: 0.15;
  }
}

.calendar__buttons {
  box-sizing: border-box;
  margin: 23px 19px 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $purple;

  &_reset,
  &_submit {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #bc9cff;
  }
}

.calendar__input {
  text-transform: uppercase;
}
