mixin calendar()
  - var weekdaysNames = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]
  - var buttonResetClass = "calendar__button js-calendar__button_reset"
  - var buttonSubmitClass = "calendar__button js-calendar__button_submit"
  div.calendar.js-calendar
    .calendar__date
      .calendar__control.calendar__control_prev.js-calendar__control_prev
      .calendar__month.js-calendar__month!= textContent
      .calendar__control.calendar__control_next.js-calendar__control_next
    .calendar__weeks
      .calendar__weekdays
        for day in weekdaysNames
          span!= day
      .calendar__days.js-calendar__days
    .calendar__buttons
      button(class=`${ buttonResetClass }` type="reset") Очистить
      button(class=`${ buttonSubmitClass }` type="button") Применить