@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles//mixins.scss';
@import '@~Assets/styles/fonts.scss';

@mixin calendarDay {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;

  @include _1650-1920 {
    width: 14.28%;
    font-size: $fs_h2;
  }

  &:hover {
    border-radius: 50%;
    border-color: $linearGradientLilac;
    border-width: 2px;
    border-style: solid;
  }
}

@mixin calendarCheckDay {
  position: relative;
  border-radius: 50%;
  font-weight: 700;
  color: $light;
  background: $linearGradientLilac;
  z-index: 2;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: $linearGradientLilac;
    opacity: .15;
  }
}

.calendar {
  @include isFlex($direction: column, $justify: flex-start);
  width: 100%;
  min-height: 370px;
  border: 1px solid $dark-shade_less;
  border-radius: 4px;
  background: $light;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px $dark-shade_fewer;
  z-index: 3;
  user-select: none;

  @include _1650-1920 {
    width: 100%;
  }

  @include _400 {
    max-width: 280px;
  }

  &__date {
    @include isFlex($align: center);
    height: 64px;
    width: 100%;
    padding: 20px 20px 22px 19px;
  }

  &__month {
    display: block;
    margin: 0 auto;
    line-height: 24px;
    font-family: $montserrat;
    font-size: $fs_h2;
    letter-spacing: .0015em;
    font-weight: 700;
    text-align: center;
  }

  &__control {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 18px; 
    cursor: pointer;
  
    &:hover {
      background-color: $grey;
    }
  
    &::before {
      position: absolute;
      top: 3px;
      font-family: $material-icons;
      font-size: $fs_h1;
      color: $purple;
    }

    &_prev::before {
      content: '\e5c4';
    }

    &_next::before {
      content: '\e5c8';
    }
  }

  &__weeks {
    @include isFlex($direction: column);
    width: 280px;
    min-height: 240px;
    margin: 9px auto 0;
  
    @include _1650-1920 {
      width: 100%;
    }
  }

  &__weekdays {
    @include isFlex($justify: space-around);
    width: 100%;
    height: 40px;
    font-size: $fs_h3;
    letter-spacing: .01em;
    font-weight: 700;
    color: $purple;
    align-items: center;

    @include _1750-1920 {
      font-size: $fs_h2;
    }
  }

  &__days {
    @include isFlex($wrap: wrap);
    width: 100%;
    line-height: 40px;
    font-family: Montserrat;
    font-size: $fs_h3;
    font-weight: 400;
    text-align: center;
    color: $dark-shade_medium;
  }

  &__buttons {
    @include isFlex();
    width: 100%;
    padding: 21px 19px 18px;
    color: $purple;
  }
  
  &__button {
    padding: 0;
    border: none;
    font-family: Montserrat;
    font-size: $fs_h3;
    font-weight: 700;
    text-transform: uppercase;
    color: $purple;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    &:hover {
      color: $dark-shade_medium;
    }
    
    @include _1750-1920 {
      font-size: $fs_base;
    }
  }

  &__day {
    @include calendarDay();

    &_today {
      border-radius: 50%;
      font-weight: 700;
      color: $light;
      background: $linearGradientTurquoise;
    }

    &_prev,
    &_next {
      color: $dark-shade_less;
    }

    &_check-out {
      @include calendarCheckDay();

      &::after {
        border-radius: 0 50% 50% 0;
      }
    }

    &_check-in {
      @include calendarCheckDay();

      &::after {
        border-radius: 50% 0 0 50%;
      }
    }

    &_ranged {
      color: $dark-shade_medium;
      background: $linearGradientGrape;
    }

    &_between {
      color: $dark-shade_less;
      background: $dark-shade_fewer;
    }

    &_prev_check-in,
    &_next_check-in,
    &_prev_check-out,
    &_next_check-out {
      border-radius: 50%;
      color: $dark-shade_less;
      background: $dark-shade_few;
    }

    &_prev_check-in::before,
    &_next_check-in::before,
    &_prev_check-out::before,
    &_next_check-out::before {
      content: '';
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: $dark-shade_fewer;
    }

    &_prev_check-in::before,
    &_next_check-in::before {
      right: 0;
      border-radius: 50% 0 0 50%;
      z-index: -1;
    }

    &_prev_check-out::before,
    &_next_check-out::before {
      left: 0;
      border-radius: 0 50% 50% 0;
    }
  }
}
