@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles//mixins.scss';
@import '@~Assets/styles/fonts.scss';

.donut-chart {
  @include isFlex();
  width: 315px;
  height: 126px;
  margin: 22px 0 0;

  @include _1650-1920 {
    width: 100%;
    height: fit-content;
    margin-top: 30px;
  }

  @include _450 {
    width: 100%;
  }

  &__content {
    display: block;
    width: 120px;
    height: 120px;
    position: relative;

    @include _1650-1920 {
      width: 167px;
      height: 167px;
      margin-left: 50px;
    }

    @include _380 {
      width: 100px;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  &__ring {
    overflow: visible;
    fill: transparent;
    stroke: "#fff";
    stroke-width: 1;
  }

  &__segment {
    fill: transparent;
    stroke-width: 1;
    cursor: pointer;

    &_hovered {
      stroke-width: 3;
    }
  }

  &__text {
    @include isFlex($direction: column, $justify: center, $align: center);
    position: relative;
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 50%;
    overflow: hidden;
    color: transparent;
    background: $purple;
    background-clip: text;
    font-weight: 700;

    &_excellent {
      background: $linearGradientCitrus;
      background-clip: text;
    }

    &_good {
      background: $linearGradientTurquoise;
      background-clip: text;
    }

    &_satisfied {
      background: $linearGradientLilac;
      background-clip: text;
    }

    &_disappointed {
      background: $linearGradientPurple;
      background-clip: text;
    }
  }

  &__number {
    margin: 0;
    line-height: 29.26px;
    font-size: $fs_h1;
    font-weight: 600;
    letter-spacing: .005em;
  }

  &__label {
    margin: 0;
    line-height: 14.63px;
    font-size: 14px;
    font-weight: 700;
    user-select: none;
  }

  &__caption {
    width: 165px;
    height: 96px;
    line-height: 24px;
    margin-top: 26px;
    margin-left: 30px;
    font-size: $fs_base;

    @include _1650-1920 {
      width: 200px;
    }

    @include _380 {
      margin-left: 15px;
      margin-top: 15px;
    }
  }

  &__key-list {
    @include isFlex($direction: column);
    height: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: .001em;
  }

  &__key-item {
    list-style: none;
    cursor: pointer;
  }

  &__marker {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-bottom: 3px;
    border-radius: 50%;
    vertical-align: middle;
    list-style: none;

    &_excellent {
      background: $linearGradientCitrus;
    }

    &_good {
      background: $linearGradientTurquoise;
    }

    &_satisfied {
      background: $linearGradientLilac;
    }

    &_disappointed {
      background: $linearGradientPurple;
    }
  }
}