@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/fonts.scss';

@mixin isFlex(
  $direction: row,
  $justify: space-between,
  $align: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-shrink: 0;
}

.donut {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: 1 0 nowrap;
  width: 315px;
  height: 126px;
  margin: 22px 0 0;

  @media (min-width: 1650px) and (max-width: 1920px){
    width: 100%;
    height: fit-content;
    margin-top: 30px;
  }

  @media (max-width: 450px) {
    width: 100%;
  }
}

.donut__content {
  display: block;
  width: 120px;
  height: 120px;
  position: relative;

  @media (min-width: 1650px) and (max-width: 1920px){
    width: 167px;
    height: 167px;
  }

  @media (max-width: 380px) {
    width: 100px;
  }
}

.donut__img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.donut__text {
  @include isFlex($direction: column, $align: center);
  position: absolute;
  top: 29%;
  left: 50%;
  color: $purple;
  font-weight: 700;
  transform: translateX(-50%);

  @media (min-width: 1650px) and (max-width: 1920px) {
    top: 35%;
  }
}

.donut__number {
  margin: 0;
  line-height: 29.26px;
  font-size: $fs_h1;
  font-weight: 600;
  letter-spacing: .005em;
  color: $purple;
}

.donut__label {
  margin: 0;
  line-height: 14.63px;
  font-size: 14px;
  font-weight: 700;
  color: $purple;
}

.donut__caption {
  width: 165px;
  height: 96px;
  line-height: 24px;
  margin-top: 26px;
  margin-left: 30px;
  font-size: $fs_base;

  @media (min-width: 1750px) and (max-width: 1920px){
    width: calc(100% - 167px);
  }

  @media (max-width: 380px) {
    margin-left: 15px;
    margin-top: 15px;
  }
}

.donut-key__list {
  @include isFlex($direction: column);
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: .001em;
}

.donut-key__item {
  list-style: none;
}

.li_circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-bottom: 3px;
  border-radius: 50%;
  vertical-align: middle;
  list-style: none;
}

.excellent {
  background: $linearGradientCitrus;
}

.good {
  background: $linearGradientTurquoise;
}

.satisfied {
  background: $linearGradientLilac;
}

.disappointed {
  background: $linearGradientPurple;
}
