.widget
    label(for="dropdown_date").label Dropdown
    .dropdown__date_masked
        input(type="text" id="dropdown_date" value="" 
        placeholder="19 авг - 23 авг" maxlength="15" data-rule="date-range")
    .error