extends ./templates/_template.pug

block variables
    - var title = "UIKit";
    - var description = "UIKit";
    - var keywords = "UIKit";

block content
    include ./UIKit/formElements.pug
    include ./UIKit/cards.pug
    include ./UIKit/headersAndFooters.pug