extends ../views/templates/_template.pug

block variables
    - var title = "Form Elements";
    - var description = "UIkit";
    - var keywords = "";
    //- - var pageClass = "";

block content
    include ./UIKit/formElements.pug