extends ./templates/_template.pug

block variables
    - var title = "UIkit";
    - var description = "UIkit";
    - var keywords = "";
    //- - var pageClass = "";

block content
    include ./UIKit/formElements.pug
    include ./UIKit/cards.pug