@import "Styles/main";
@import "Pages/registration/registration.scss";

.sign-in {
  @extend .registration;
}

.sign-in__content {
  @extend .registration__content;
  height: 707px;

  @media (max-width: 500px) {
    // carouselSignin + card-signin + initial top
    height: calc(683 / 1440 * 100vw + 360px + 40px);
  }

  @media (max-width: 380px) {
    // carouselSignin + card-signin + initial top
    height: calc(683 / 1440 * 100vw + 360px);
    min-height: calc(683 / 1440 * 320px + 360px);
  }
}

.sign-in__card-signin {
  @extend .registration__card-registration;
  width: 383px;
  top: 174px;
  transform: translateX(-49%);

  @media (max-width: 500px) {
    top: 0;
    transform: none;
  }
}