extend ../../assets/templates/_template.pug

include ../../components/header/_header.pug
include ../../components/card_singin/_card_signin.pug
include ../../components/carousel_background/_carousel_background.pug
include ../../components/footer/_footer.pug

block variables
    - var pics = ["../../assets/images/signin_1.jpg", "../../assets/images/signin_2.jpg"];

block content
    .signIn.dropdown__watch
        +header()
        .signIn__content
            +carouselBackground(pics)
            .signIn__card_signin
                +cardSignin()
        +footer()