extend ../../assets/templates/_template.pug

include ../../components/header/_header.pug
include ../../components/card-singin/_card-signin.pug
include ../../components/carousel-background/_carousel-background.pug
include ../../components/footer/_footer.pug

block variables
  - var theme = "in-signin";
  - var title = "signin";
  - var description = "sign in";
  - var keywords = "sign in";
  - var pics = ["./assets/images/signin-1.jpg", "./assets/images/signin-2.jpg"];

block content
  .sign-in.js-dropdown__detection
    +header("", theme)
    .sign-in__content
      +carouselBackground(pics)
      .sign-in__card-signin
        +cardSignin(theme)
    +footer(theme)