extend ../../assets/templates/template.pug

include ../../components/card-singin/card-signin.pug
include ../../components/carousel/carousel.pug
include ../../components/footer/footer.pug
include ../../components/header/header.pug

block variables
  - var theme = "signin";
  - var title = "signin";
  - var description = "sign in";
  - var keywords = "sign in";
  - var pics = ["./assets/images/signin-1.jpg", "./assets/images/signin-2.jpg"];

block content
  .sign-in.js-dropdown__detection
    +header({ user: "", theme: theme })
    main.sign-in__content
      +carousel(pics)
      .sign-in__card-signin
        +card-signin(theme)
    +footer({ theme: theme })