@import "Styles/main";
@import "Pages/registration/registration.scss";

.sign-in.dropdown__watch {
  @extend .registration;
}

.sign-in__content {
  @extend .registration__content;
  height: 702px;

  @media (max-width: 500px) {
    // carouselSignin + card_signin + initial top
    height: calc(683 / 1440 * 100vw + 360px + 40px);
  }

  @media (max-width: 380px) {
    // carouselSignin + card_signin + initial top
    height: calc(683 / 1440 * 100vw + 360px);
    min-height: calc(683 / 1440 * 320px + 360px);
  }
}

.sign-in__card_signin {
  @extend .registration__card_registration;
  top: 173px;
  transform: translateX(-50%);

  @media (max-width: 500px) {
    top: 0;
    transform: none;
  }
}