.date-range__selector {
  position: relative;
  width: 100%;
  height: 65px;

  @media (max-width: 450px) {
    width: 100%;
    min-width: 280px;
    margin: 0 auto;
  }
}

.dataRange__container {
  @include isFlex();
  width: 100%;
  height: 65px;

  @media (max-width: 450px) {
    width: 100%;
    min-width: 280px;
    margin: 0 auto;
  }
}

.date-range__selector .label {
  margin-bottom: 3.5px;
  margin-top: 5px;
  letter-spacing: -0.002em;
}

.dataRange__container_common {
  @extend .dataRange__container;
  flex-direction: column;
}

.dropdown__calendar {
  @include absoluteTopLeft(65px);
  display: none;
  width: 320px;
  height: 369px;
  margin-top: 4px;
  background: $light;
  z-index: 2;

  @media (max-width: 450px) {
    width: 100%;
    min-width: 280px;
    margin: 0 auto;
  }
}

.date__range {
  @extend .dropdown__button;
  padding-left: 12px;
  padding-bottom: 2px;

  @media (max-width: 450px) {
    min-width: 100%;
  }
}

.date__range > input {
  line-height: 13.5px;
  letter-spacing: 0;
}

.date__range input::placeholder {
  color: $darkShadeMore;
}

.dropdown__show ~ .dataRange__container .date__range::before {
  transform: rotate(180deg);
}

.dropdown__show ~ .container_medium .date__range::before {
  transform: rotate(180deg);
}
