.widget
    label(for="dropdown_date").label Date dropdown
    .dropdown__date_masked
        input(type="text" id="dropdown_date" value="19.08.2019" 
        name="dateMasked" placeholder="ДД.ММ.ГГГГ" maxlength="10" data-rule="date")
    .error