.widget
    label(for="dropdown_date").label Date dropdown
    .dropdown__date_masked
        input(type="text" id="dropdown_date" value="" 
        name="dateMasked" placeholder="ДД.ММ.ГГГГ" 
        masked="true" maxlength="10" data-rule="date")
    .error