.card-room__price {
  line-height: 20px;
  font-size: 1rem;
  letter-spacing: .01em;
  font-weight: 700;
  color: $dark-shade_medium;

  @media (min-width: 1750px) and (max-width: 1920px) {
    font-size: $fs_h2;
  }
}

.card-room__review {
  line-height: 20px;
  font-size: 13px;
  letter-spacing: .05em;
  font-weight: 400;
  color: $dark-shade_medium;

  @media (min-width: 1750px) and (max-width: 1920px) {
    font-size: $fs_base;
  }
}
