include ../text-field/_text-field.pug
include ../button/_button.pug

mixin cardSignin(theme="main")
  form.card-signin.js-card-signin(method="get" action="./signin.html")
    h1.card__text Войти
    +login(theme)
    .card-signin__button
      +buttonFormSubmit("Войти")
    .card-signin__info
      .card__text_in-row
        .card__subline Нет аккаунта на Toxin?
        +buttonFormLink("Создать", "registration.html")