include ../text-field/_text-field.pug
include ../button/_button.pug

mixin cardSignin()
  .card_signin
    h1.card__text Войти
    +login()
    +buttonFormSubmit("Войти")
    .card__text_row
      .card__subline Нет аккаунта на Toxin?
      +buttonFormLink("Создать", "registration")