@import '@~Assets/styles/cards.scss';
@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Components/button-link/button-link.scss';
@import '@~Components/button-submit/button-submit.scss';
@import '@~Components/textfield/textfield.scss';
@import '@~Components/textfield/_type/_login/textfield_type_login.scss';

.card-signin {
  @include isFlex($direction: column, $justify: flex-start);
  width: 100%;
  height: fit-content;
  min-height: 358px;
  padding: 39px 29px 31px;
  border: 1px solid $shadow-border;
  border-radius: 4px;
  background: $light;
  box-shadow: 0px 0px 25px $shadow;

  @include _400 {
    min-width: 320px;
    padding: 25px 20px;
  }

  &__button {
    width: 100%;
    margin-top: 20px;
  }

  &__info {
    width: 100%;
    margin-top: 30px;
  }

  &__button-link {
    display: block;
    width: 99px;
    height: 44px;
    line-height: 40px;
  }
}
