include ../textfield/textfield.pug
include ../textfield/textfield_type_login.pug
include ../button/button_type_link.pug
include ../button/button_type_submit.pug

mixin card-signin(theme="main")
  form.card-signin.js-card-signin(method="get" action="./signin.html")
    h1.card__text Войти
    +textfield_type_login(theme)
    .card-signin__button
      +button_type_submit("Войти")
    .card-signin__info
      .card__text_in-row
        .card__subline Нет аккаунта на Toxin?
        .card-signin__button_type_link
          +button_type_link("Создать", "registration.html")