<!--destroy-->

.widget.container_medium
    form
        .dropdown__button_transparent
            span.checkbox__title_checked Expandable checkbox list    
        .dropdown__content_transparent
            label.checkbox
                input(type="checkbox" name="value-01").checkbox__real
                span.checkbox__fake
                span.checkbox__title Завтрак
            label.checkbox
                input(type="checkbox" name="value-02" checked).checkbox__real
                span.checkbox__fake
                span.checkbox__title Письменный стол
            label.checkbox
                input(type="checkbox" name="value-03" checked).checkbox__real
                span.checkbox__fake
                span.checkbox__title Стул для кормления
            label.checkbox
                input(type="checkbox" name="value-04" checked).checkbox__real
                span.checkbox__fake
                span.checkbox__title Кроватка
            label.checkbox
                input(type="checkbox" name="value-05").checkbox__real
                span.checkbox__fake
                span.checkbox__title Телевизор
            label.checkbox
                input(type="checkbox" name="value-06").checkbox__real
                span.checkbox__fake
                span.checkbox__title Шампунь
            label.checkbox
                input(type="checkbox" name="value-07").checkbox__real
                span.checkbox__fake
                span.checkbox__title Телевизор
            label.checkbox
                input(type="checkbox" name="value-08").checkbox__real
                span.checkbox__fake
                span.checkbox__title Шампунь