.reverse {
    display: flex;
    flex-direction: column-reverse;
}

.checkbox__content {
    margin-top: 3px;
    height: 233px;
    width: 266px;
}

// .checkbox {
//     display: block;
// }

.checkbox_button {
    @include isFlex();
    width: 266px;
    height: 52px;
}

.checkbox_button + .checkbox_button {
    margin-top: 10px;
}

.checkbox__description {
    @include isFlex($direction: column);
    width: 236px;
}

.checkbox__title_description {
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    color: $darkShadeMore;
    font-weight: 700;
    text-align: start;
}

.checkbox__title_description + .checkbox__subtitle_description {
    margin-top: 5px;
}

.checkbox__subtitle_description {
    height: 14px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01;
    color: $darkShadeMiddle;
    vertical-align: center;
    margin: 0;
}

.richcheckbox__container {
    width: 266px;
    height: 145px;
    @include isFlex($direction: column, $justify: flex-start);
}

.richcheckbox__container > .checkbox_button:first-of-type {
    margin-top: 10px;
}

.checkbox__description > .checkbox__title_description{
    margin-top: 1px;
    letter-spacing: 0.01em;
}

.checkbox__description > .checkbox__subtitle_description {
    letter-spacing: 0.005em;
}

.checkbox_button > .checkbox__fake {

}