.container_buttonRate
    label(for="").label Rate button
    .row
        .buttonRate
            input(type="radio" id="star-5" name="rating" value="5").input_rate
            label(for="star-5").input_label
            input(type="radio" id="star-4" name="rating" value="4").input_rate
            label(for="star-4").input_label
            input(type="radio" id="star-3" name="rating" value="3").input_rate
            label(for="star-3").input_label
            input(type="radio" id="star-2" name="rating" value="2").input_rate
            label(for="star-2").input_label
            input(type="radio" id="star-1" name="rating" value="1").input_rate
            label(for="star-1").input_label

        .buttonRate
            input(type="radio" id="star-5-2" name="rating2" value="5").input_rate
            label(for="star-5-2").input_label
            input(type="radio" id="star-4-2" name="rating2" value="4").input_rate
            label(for="star-4-2").input_label
            input(type="radio" id="star-3-2" name="rating2" value="3").input_rate
            label(for="star-3-2").input_label
            input(type="radio" id="star-2-2" name="rating2" value="2").input_rate
            label(for="star-2-2").input_label
            input(type="radio" id="star-1-2" name="rating2" value="1").input_rate
            label(for="star-1-2").input_label