mixin social-nets(theme = "")
  if theme == ""
    span.social-net.social-net__twitter
      a(href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer").social-net__link
    span.social-net.social-net__facebook
      a(href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer").social-net__link
    span.social-net.social-net__instagram
      a(href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer").social-net__link
  else
    span.social-net(class=`social-net__twitter_${theme}`)
      a(href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer").social-net__link
    span.social-net(class=`social-net__facebook_${theme}`)
      a(href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer").social-net__link
    span.social-net(class=`social-net__instagram_${theme}`)
      a(href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer").social-net__link
  