@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/fonts.scss';

.social-nets {
  text-decoration: none;
  cursor: pointer;
}

.fab {
  position: relative;
  width: 26px;

  @media (min-width: 1750px) and (max-width: 1920px) {
    display: block;
    width: 40px;
    height: 40px;
  }
}

.fa-twitter,
.fa-twitter_creative,
.fa-instagram,
.fa-instagram_creative,
.fa-instagram_in-search,
.fa-instagram_in-details,
.fa-instagram_in-registration,
.fa-facebook-square_creative,
.fa-facebook-square_in-search,
.fa-facebook-square_in-details,
.fa-facebook-square_in-registration,
.fa-facebook-square_in-signin {
  height: 26px;
}

.fa-twitter_in-search,
.fa-twitter_in-details,
.fa-twitter_in-registration {
  height: 23px;
}

.fa-facebook-square_landing,
.fa-facebook-square_in-signin,
.fa-instagram_landing,
.fa-instagram_in-signin {
  height: 25px;
}

.fa-twitter_landing,
.fa-twitter_in-signin {
  height: 21px;
}

.fa-facebook-square {
  height: 30px;
}

.fa-twitter::before,
.fa-twitter_creative::before,
.fa-twitter_landing::before,
.fa-twitter_in-search::before,
.fa-twitter_in-details::before,
.fa-twitter_in-registration::before,
.fa-twitter_in-signin::before,
.fa-facebook-square::before,
.fa-facebook-square_creative::before,
.fa-facebook-square_landing::before,
.fa-facebook-square_in-search::before,
.fa-facebook-square_in-details::before,
.fa-facebook-square_in-registration::before,
.fa-facebook-square_in-signin::before,
.fa-instagram::before,
.fa-instagram_creative::before,
.fa-instagram_landing::before,
.fa-instagram_in-search::before,
.fa-instagram_in-details::before,
.fa-instagram_in-registration::before,
.fa-instagram_in-signin::before {
  position: absolute;
  top: -1px;
  left: 0;
  width: 24px;
  font-size: $fs_h1;
  font-family: $font-awesome;
  background-image: $linearGradientLilac;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  @media (min-width: 1650px) and (max-width: 1920px) {
    display: block;
    width: 40px;
    height: 40px;
  }
}

.fa-twitter::before,
.fa-twitter_creative::before,
.fa-twitter_landing::before,
.fa-twitter_in-search::before,
.fa-twitter_in-details::before,
.fa-twitter_in-registration::before,
.fa-twitter_in-signin::before {
  content: '';
  line-height: 21px;
}

.fa-facebook-square::before,
.fa-facebook-square_creative::before,
.fa-facebook-square_landing::before,
.fa-facebook-square_in-search::before,
.fa-facebook-square_in-details::before,
.fa-facebook-square_in-registration::before,
.fa-facebook-square_in-signin::before {
  content: '';
  line-height: 24px;
}


.fa-instagram::before,
.fa-instagram_creative::before,
.fa-instagram_landing::before,
.fa-instagram_in-search::before,
.fa-instagram_in-details::before,
.fa-instagram_in-registration::before,
.fa-instagram_in-signin::before {
  content: '';
  line-height: 24px;
}
