mixin social-nets()
    span.fab.fa-twitter
      a(href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer")
    span.fab.fa-facebook-square
      a(href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer")
    span.fab.fa-instagram
      a(href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer")