@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/fonts.scss';

.social-net {
  @include isFlex($align: center);
  width: 100%;
  height: 26px;
  margin-right: 1px;

  @include _1650-1920 {
    width: 162px;
  }

  @include _800 {
    height: 36px;
  }

  @include _400 {
    width: 100px;
  }
  
  &__item {
    position: relative;
    width: 26px;
    height: 100%;
    font-size: $fs_h1;
    background-image: $linearGradientLilac;
    color: transparent;
    background-clip: text;
    text-decoration: none;
    cursor: pointer;

    @include _1750-1920 {
      display: block;
      width: 40px;
      height: 40px;
    }
  }

  &__twitter {
    height: 32px;

    &_in_search,
    &_in_details,
    &_in_registration {
      height: 28px;
    }

    &_in_landing,
    &_in_signin {
      height: 27px;
    }
  }

  &__facebook {
    height: 31px;

    &_in_landing,
    &_in_signin {
      height: 26px;
    }

    &_in_creative,
    &_in_search,
    &_in_details,
    &_in_registration,
    &_in_signin {
      height: 26px;
    }
  }

  &__instagram {
    height: 28px;

    &_in_landing,
    &_in_signin {
      height: 26px;
    }
  }
}
