@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/fonts.scss';

.social-net {
  position: relative;
  width: 26px;

  @media (min-width: 1750px) and (max-width: 1920px) {
    display: block;
    width: 40px;
    height: 40px;
  }
}

.social-net__link {
  text-decoration: none;
  cursor: pointer;
}

.social-net__twitter,
.social-net__twitter_creative,
.social-net__instagram,
.social-net__instagram_creative,
.social-net__instagram_in-search,
.social-net__instagram_in-details,
.social-net__instagram_in-registration,
.social-net__facebook_creative,
.social-net__facebook_in-search,
.social-net__facebook_in-details,
.social-net__facebook_in-registration,
.social-net__facebook_in-signin {
  height: 26px;
}

.social-net__twitter_in-search,
.social-net__twitter_in-details,
.social-net__twitter_in-registration {
  height: 23px;
}

.social-net__facebook_landing,
.social-net__facebook_in-signin,
.social-net__instagram_landing,
.social-net__instagram_in-signin {
  height: 25px;
}

.social-net__twitter_landing,
.social-net__twitter_in-signin {
  height: 21px;
}

.social-net__facebook {
  height: 30px;
}

.social-net__twitter::before,
.social-net__twitter_creative::before,
.social-net__twitter_landing::before,
.social-net__twitter_in-search::before,
.social-net__twitter_in-details::before,
.social-net__twitter_in-registration::before,
.social-net__twitter_in-signin::before,
.social-net__facebook::before,
.social-net__facebook_creative::before,
.social-net__facebook_landing::before,
.social-net__facebook_in-search::before,
.social-net__facebook_in-details::before,
.social-net__facebook_in-registration::before,
.social-net__facebook_in-signin::before,
.social-net__instagram::before,
.social-net__instagram_creative::before,
.social-net__instagram_landing::before,
.social-net__instagram_in-search::before,
.social-net__instagram_in-details::before,
.social-net__instagram_in-registration::before,
.social-net__instagram_in-signin::before {
  position: absolute;
  top: -1px;
  left: 0;
  width: 24px;
  font-size: $fs_h1;
  font-family: $font-awesome;
  background-image: $linearGradientLilac;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  @media (min-width: 1650px) and (max-width: 1920px) {
    display: block;
    width: 40px;
    height: 40px;
  }
}

.social-net__twitter::before,
.social-net__twitter_creative::before,
.social-net__twitter_landing::before,
.social-net__twitter_in-search::before,
.social-net__twitter_in-details::before,
.social-net__twitter_in-registration::before,
.social-net__twitter_in-signin::before {
  content: '';
  line-height: 21px;
}

.social-net__facebook::before,
.social-net__facebook_creative::before,
.social-net__facebook_landing::before,
.social-net__facebook_in-search::before,
.social-net__facebook_in-details::before,
.social-net__facebook_in-registration::before,
.social-net__facebook_in-signin::before {
  content: '';
  line-height: 24px;
}


.social-net__instagram::before,
.social-net__instagram_creative::before,
.social-net__instagram_landing::before,
.social-net__instagram_in-search::before,
.social-net__instagram_in-details::before,
.social-net__instagram_in-registration::before,
.social-net__instagram_in-signin::before {
  content: '';
  line-height: 24px;
}
