mixin social-nets(theme = '')
  -
    const className = theme === ''
      ? 'social-net'
      : `social-net social-net_in_${ theme }`;

  div(class = className)
    a(class = 'social-net__item social-net__twitter'
      href = 'https://www.twitter.com/' 
      target = '_blank'
      rel = 'noopener noreferrer')
      i.fab.fa-twitter
    a(class = 'social-net__item social-net__facebook'
      href = 'https://www.facebook.com/' 
      target = '_blank' 
      rel = 'noopener noreferrer')
      i.fab.fa-facebook
    a(class = 'social-net__item social-net__instagram'
      href = 'https://www.instagram.com/' 
      target = '_blank' 
      rel = 'noopener noreferrer')
      i.fab.fa-instagram