//- .widget
//-     label(for="textFieldFocused").label Text field
//-     span.label_right hover / focused
//-     .textField
//-         input(type="text" id="textFieldFocused" 
//-         placeholder="This is awesome" 
//-         value="" name="textFieldFocused" autofocus)

include ../../views/mixins/text.pug

+text("textFieldFocused", "Text field", "label_right", "hover / focused", "textField", "This is awesome", "", true, "")