@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';
@import '@~Assets/styles/fonts.scss';

.button-submit {
  @include containerBlock($w: 100%, $h: 44px);
  @include buttonLink();
  border: none;
  padding: 0;
  font-family: $montserrat;
  font-size: .85rem;
  color: $light;
  background-color: transparent;
  outline: none;
  user-select: none;
  
  &::before {
    @include arrowSubmit();
    line-height: 44px;
    color: $light;
  }

  @include xxs {
    min-width: 260px;
    margin: 0 auto;
  }

  &_type_details {
    padding-right: 5px;
  }

  &_type_landing {
    padding-right: 4px;
  }
}