mixin button-submit({ buttonLinkText = '', theme = '' })
  - 
    var buttonSubmitClass = theme === ''
      ? 'button-submit' 
      : `button-submit button-submit_type_${ theme }`;

  button(
    class = buttonSubmitClass 
    type = 'submit')= buttonLinkText