@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/fonts.scss';

@mixin containerBlock($w: 100%, $h: 100%) {
  display: block;
  width: $w;
  height: $h;
}

@mixin arrowSubmit {
  content: '\e5c8';
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  font-family: $material-icons;
  -webkit-font-feature-settings: 'liga' 1;
  -moz-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
  text-align: center;
  font-size: $fs_h1;
}

@mixin buttonLink {
  position: relative;
  font-weight: 700;
  letter-spacing: .001em;
  text-align: center;
  border-radius: 22px;
  text-transform: uppercase;
  cursor: pointer;
  background: $linearGradientLilac;

  &:hover {
    opacity: .5;
  }
}

.button-submit {
  @include containerBlock($w: 100%, $h: 44px);
  @include buttonLink();
  border: none;
  padding: 0;
  font-size: .85rem;
  color: $light;
  background-color: transparent;
  outline: none;
  user-select: none;
  
  &::before {
    @include arrowSubmit();
    line-height: 44px;
    color: $light;
  }

  @include _450 {
    min-width: 260px;
    margin: 0 auto;
  }
}

.button-submit_compact {
  &::before {
    line-height: 42px;
  }
}