.range__container {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 1px;
  @include isFlex($direction: column, $justify: flex-start);
}

.range__container > .label {
  margin-top: 2px;
}

.range__container > .label_right {
  margin-top: 0px;
}

.range-slider__value {
  margin-right: -2px;
}

.range__info {
  margin-top: 22px;
  font-size: 0.857rem;
  line-height: 1.045rem;
  font-weight: 400;
  color: $darkShadeMiddle;
  text-transform: none;
  letter-spacing: .002em;
}

.irs, .irs--flat, .js-irs-0 {
  display: block;
  position: relative;
  width: 100%;
  height: 16px;
  user-select: none;
  top: -1px;
}

.irs-line {
  display: block;
  position: relative;
  height: 6px;
  width: 100%;
  margin-top: 20px;
  border-radius: 3px;
  background-color: $light;
  border: 1px solid $darkShadeLess;
}

.irs-hidden-input {
  display: none;
}

.irs-bar {
  display: block;
  position: absolute;
  top: 20px;
  height: 6px;
  border-radius: 3px;
  z-index: 1;
  background: $linearGradientTurquoise;
}

.irs-handle {
  display: block;
  position: absolute;
  top: -0.5em;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background: $linearGradientTurquoise;
  border: 2px solid $light;
  z-index: 2;
  top: 15px
}