mixin range (rangeId, inputId, range__info = "none", labelText = "Range slider")
    .range__container
        h3.label!= labelText 
        input(class= "label_right" id= inputId)
        div(class= "range__slider" id= rangeId)
        .range__info Стоимость за сутки пребывания в номере