@import '@~Libs/range/range.scss';
@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';
@import '@~Assets/styles/fonts.scss';

.range {
  @include isFlex($direction: column, $justify: flex-start);
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 1px;

  &__label {
    @include labelMixin();
    margin: 2px 0 1.5px;
    line-height: $fs_h3;
    font-size: $fs_h3;
    font-weight: 700;
    letter-spacing: .001em;
    color: $dark-shade_most;
  }

  &__value {
    @include labelMixin();
    position: absolute;
    top: 1px;
    right: 0;
    margin-top: 0px;
    margin-bottom: 1.5px;
    padding-bottom: 6px;
    padding-right: 1px;  
    border: none;
    line-height: $fs_h3;
    font-family: inherit;
    font-size: $fs_h3;
    font-weight: 400;
    color: $dark-shade_medium;
    text-align: right;
    background: transparent;
    appearance: none;
    overflow: visible;
  }

  &__info {
    margin-top: 23px;
    line-height: 1.045rem;
    font-size: $fs_h3;
    font-weight: 400;
    color: $dark-shade_medium;
    text-transform: none;
    letter-spacing: .0001em;

    @include xxxl{
      font-size: $fs_base;
      text-align: center;
    }
  }
}
