mixin range({ infoText = false, labelText = 'Range slider' })
  - 
    var rangeInfoText = infoText === true
      ? 'Стоимость за сутки пребывания в номере'
      : ''

  .range
    h3.range__label!= labelText 
    input.range__value.js-range__value
    input.range__slider.js-range__slider
    .range__info!= rangeInfoText