.dateRangeSelector {
    position: relative;
    width: 320px;
    height: 65px;
}

.container__dataRange {
    @include isFlex();
    width: 320px;
    height: 65px;
}

.dropdown__calendar {
    width: 320px;
    height: 369px;
    margin-top: 5px;
    top: 65px;
    background: $light;
    z-index: 2;
    position: absolute;
    display: none;
}


.date__range {
    @extend .dropdown__button;

    // // &_open {
    // //     @extend .dropdown__button;
    // //     border-radius: 4px 4px 0 0;
    // // }

    // // &:hover,
    // // &:focus {
    // //     border: 1px solid $darkShadeMiddle;
    // // }

    // // &::before {
    // //     position: absolute;
    // //     font-size: 24px;
    // //     font-family: $MaterialIcons;
    // //     top: 0;
    // //     right: 0;
    // //     content: "\e5ce";
    // //     display: block;
    // //     width: 44px;
    // //     height: 44px;
    // //     line-height: 44px;
    // //     text-align: center;
    // // }
}


.dropdown__show ~ .container__dataRange .date__range::before {
    transform: rotate(180deg);
}

.dropdown__show ~ .container_medium .date__range::before {
    transform: rotate(180deg);
}