.dateRangeSelector {
    position: relative;
    width: 320px;
    height: 65px;
}

.container__dataRange {
    @include isFlex();
    width: 320px;
    height: 65px;
}

.dropdown__calendar {
    width: 320px;
    height: 369px;
    margin-top: 5px;
    top: 65px;
    background: $light;
    z-index: 2;
    position: absolute;
    display: none;
}


.date__range {
    @extend .dropdown__button;
    padding-left: 12px;
}

.date__range input::placeholder {
    color: $darkShadeMore;
}

.dropdown__show ~ .container__dataRange .date__range::before {
    transform: rotate(180deg);
}

.dropdown__show ~ .container_medium .date__range::before {
    transform: rotate(180deg);
}


// .container_medium > .label {
//     margin-bottom: 3px;
//     margin-top: 4px;
//     letter-spacing: 0.01em;
// }