.date-range {
  &__container {
    position: relative;
    width: 100%;
    min-width: 260px;
    height: 65px;

    @media (max-width: 450px) {
      margin: 0 auto;
    }
  }

  &__selector {
    @include dateRangeSelector();
  }

  &__selector_common {
    @include dateRangeSelector();
    flex-direction: column;
  }
}

.date-range__label {
  @include labelMixin;
  margin-bottom: 3.5px;
  margin-top: 5px;
  letter-spacing: 0.002em;
}

.date-range__info {
  @include dateRangeInfo();
}

.date-range__info_in-search {
  @include dateRangeInfo();
  padding-left: 10px;
}

.date-range__input {
  font-size: 13.5px;
  letter-spacing: 0.02em;

  &::placeholder {
    color: $dark-shade_more;
  } 
}

.date-range__calendar {
  @include absoluteTopLeft(65px);
  width: 320px;
  height: 369px;
  margin-top: 4px;
  background: $light;
  z-index: 2;

  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 100%;
  }

  @media (max-width: 450px) {
    width: 100%;
    min-width: 260px;
    margin: 0 auto;
  }
}