.date-range {
  &__selector {
    position: relative;
    width: 100%;
    height: 65px;

    @media (max-width: 450px) {
      width: 100%;
      min-width: 260px;
      margin: 0 auto;
    }
  }

  &__container {
    @include dateRangeContainer();
  }

  &__container_common {
    @include dateRangeContainer();
    flex-direction: column;
  }

  &__label {
    @include labelMixin;
    margin-bottom: 3.5px;
    margin-top: 5px;
    letter-spacing: 0.002em;
  }

  &__input {
    font-size: 13.5px;
    letter-spacing: 0.02em;

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_h2;
    }
  }

  &__info {
    @include dateRangeInfo();
  }

  &__info_in-search {
    @include dateRangeInfo();
    padding-left: 10px;
  }
}

.date-range__input::placeholder {
  color: $dark-shade_more;
}

.dropdown__calendar {
  @include absoluteTopLeft(65px);
  width: 320px;
  height: 369px;
  margin-top: 4px;
  background: $light;
  z-index: 2;

  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 100%;
  }

  @media (max-width: 450px) {
    width: 100%;
    min-width: 260px;
    margin: 0 auto;
  }
}