@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';

@mixin dateRangeSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: 1 0 nowrap;
  width: 100%;
  height: 100%;
  min-width: 260px;

  @include _450 {
    margin: 0 auto;
  }
}

.date-range {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 260px;

  @include _450 {
    margin: 0 auto;
  }
}

.date-range__calendar {
  position: absolute;
  top: 65px;
  left: 0;
  width: 320px;
  height: 369px;
  margin-top: 4px;
  background: $light;
  z-index: 2;

  @include _1650-1920 {
    width: 100%;
  }

  @include _450 {
    width: 100%;
    min-width: 260px;
    margin: 0 auto;
  }
}
