@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';

@import '@~Components/calendar/calendar.scss';

.date-range {
  position: relative;
  width: 100%;
  min-width: 260px;
  height: 100%;

  @include _450 {
    margin: 0 auto;
  }

  &__calendar {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    width: 320px;
    height: fit-content;
    margin-top: 4px;
    background: $light;
    z-index: 2;

    @include _1650 {
      width: 100%;
    }

    @include _750 {
      width: 100%;
      min-width: 260px;
      margin: 0 auto;
    }
  }

  &__selector {
    @include isFlex();
    @include containerSimple();
    min-width: 260px;

    @include _450 {
      margin: 0 auto;
    }

    &_common {
      flex-direction: column;
    }
  }

  &__item {
    @include isFlex($direction: column);
    width: 100%;
    height: 100%;

    &_separate {
      width: 150px;

      @include _1650 {
        width: 48%;
        max-width: 240px;
      }

      @include _450 {
        width: calc(150 / 320 * 100%);
        min-width: 130px;
      }
    }
  }

  &__label {
    display: inline-block;
    height: 15px;
    margin: 0;
    line-height: $fs_h3;
    font-size: $fs_h3;
    font-weight: 700;
    letter-spacing: 0.002em;
    color: $dark-shade_most;
    text-transform: uppercase;
    user-select: none;

    @include _1750-1920 {
      height: $fs_h2;
      font-size: $fs_base;
    }
  }
    
  &__info {
    @include isFlex($justify: flex-start, $align: center);
    position: relative;
    width: 100%;
    height: 44px;
    padding: 0px 0 2px 12px;
    border: 1px solid $dark-shade_less;
    border-radius: 4px;
    letter-spacing: 0.01em;
    color: $dark-shade_more;
    background: transparent;
    white-space: nowrap;
    cursor: pointer;

    @include _450 {
      width: 100%;
      margin: 0 auto;
    }

    &::before {
      content: '\e5cf';
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 42px;
      height: 44px;
      line-height: 44px;
      font-family: $material-icons;
      font-size: $fs_h1;
      text-align: center;
      cursor: pointer;
    }

    @include _1750-1920 {
      font-size: $fs_h2;
    }

    @include _450 {
      min-width: 100%;
    }

    &_in_search {
      padding-left: 12px;
    }
  }

  &__input {
    @include inputMixin();
    font-family: inherit;
    font-size: 1rem;
    letter-spacing: .0001em;
    pointer-events: none;

    &::placeholder {
      color: $dark-shade_more;
    }
  }
}  