
mixin header(user)
    .header
        a(href="/landing_page").header__link
            .header__logo
            .header__name
        +headerMenu(user)


mixin headerMenu(user="")
    .header__menu
        if user
            .header__signed
                .header__line
                .header__user!= user
        else
            .header__buttons
                +buttonLink("Войти", buttonOnclick="/signin")
                +buttonBiglink("Зарегестрироваться", buttonOnclick="/registration")
        .header__navbar
            +buttonNavbar("О нас", buttonOnclick="#")
            +buttonNavbarExpand("Услуги")
            +buttonNavbar("Вакансии", buttonOnclick="#")
            +buttonNavbar("Новости", buttonOnclick="#")
            +buttonNavbarExpand("Соглашения")
                .dropdown__content 



//- mixins for navbar buttons

mixin buttonNavbar(buttonText, buttonOnclick="#")
    a(class="button_navlink" href= buttonOnclick)= buttonText

mixin buttonNavbarExpand(buttonText)
    div(class="button_navlink reverse")
        .dropdown__content
            .navbar__dropdown
        .dropdown_navlink.dropdown__init
            span(class="button_navlink")= buttonText
            span(class="dropdown__icon")
