.header {
    @extend .container_dimed;
    @include isFlex($align: center);
    padding: 15px 140px;
    width: 1440px;
    height: 70px;
}


.logo__link {
    width: 106px;
    height: 40px;
    line-height: 40px;
    @include isFlex($align: center);
}

.logo__pic {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(/assets/images/logo_colored.svg);
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
}

.logo__name {
    position: relative;
    width: 53px;
    height: 13.5px;
    background: url(/assets/images/logo__name.svg);
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
}



.header__menu {
    width: 770px;
    height: 34px;
    @include isFlex($direction: row-reverse, $justify: flex-start, $align: center);
    color: $darkShadeMiddle;
}

.header__navbar {
    width: 447px;
    height: 21px;
    @include isFlex($align: center);
    margin-right: 20px;
}

.header__signed .button_navlink:hover,
.header__navbar a:hover,
.header__navbar div:hover,
.header__navbar span:hover {
    font-weight: 700;
    color: $darkShadeMore;
    margin-right: -1px;
}

.header__signed .button_navlink:hover {
    margin-right: -4px;
}

.header__buttons {
    width: 303px;
    height: 34px;
    @include isFlex($align: center);
}

.header__signed {
    height: 30px;
    color: $darkShadeMiddle;
    font-size: 14px;
    @include isFlex($align: center);
}

.header__line {
    height: 100%;
    width: 20px;
    border-left: 1px solid $darkShadeFew;
}

.header__user {
    color: $darkShadeMiddle;
}


// dropdowns in navbar

.button_navlink {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    color: $darkShadeMiddle;
    height: 18px;
    line-height: 18px;
    @include isFlex($direction: column);
}

.dropdown_navlink {
    font-weight: 400;
    font-size: 14px;
    color: $darkShadeMiddle;
    height: 18px;
    line-height: 18px;
    @include isFlex();
}

.dropdown__icon {
    position: relative;
    width: 24px;
    height: 18px;
}

.dropdown__icon::before {
    position: absolute;
    font-family: $MaterialIcons;
    font-size: 24px;
    color: $darkShadeMiddle;
    content: "\e5cf";
}

.navbar__dropdown {
    @extend .container_dimed;
    top: 20px;
    position: absolute;
    width: 150px;
    height: 60px;
}

.dropdown__show ~ .dropdown__init .dropdown__icon::before {
    transform: rotate(180deg);
}