.header {
  @include isFlex($align: center);
  @include containerDimed();
  position: relative;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 14px 133px 15px 142px;

  @media (max-width: 1440px) {
    width: 100vw;
    padding: 15px 7%;
  }

  @media (max-width: 750px) {
    width: 100vw;
    min-width: 320px;
    padding: 15px 5%;
  }

  @media (max-width: 550px) {
    padding: 15px 2%;
  }
}

/* logo */
.logo__link {
  @include isFlex($align: center);
  width: 107px;
  height: 40px;
  line-height: 40px;

  @media (max-width: 550px) {
    width: 40px;
  }
}

.logo__pic {
  @include containerSize(40px);
  position: relative;
  background: url(/assets/images/logo/logo_colored.svg);
  background-position: center;
  background-size: initial;
  background-repeat: no-repeat;
}

.logo__name {
  position: relative;
  width: 55px;
  height: 15px;
  margin-top: 1px;
  background: url(/assets/images/logo/logo__name.svg);
  background-position: center;
  background-size: initial;
  background-repeat: no-repeat;

  @media (max-width: 550px) {
    display: none;
  }
}

/* header__menu */

.header__menu {
  @include isFlex(
    $direction: row-reverse,
    $justify: flex-start,
    $align: center
  );
  position: relative;
  width: 770px;
  height: 34px;
  margin-left: 20px;
  color: $darkShadeMiddle;

  @media (max-width: 1070px) {
    width: 80%;
  }

  @media (max-width: 550px) {
    width: 70%;
    min-width: 260px;
    margin-left: 10px;
  }
}

/* .header__menu > .header__navbar */

.header__navbar {
  @include isFlex($align: center, $justify: flex-end);
  width: 447px;
  height: 21px;
  margin-right: 22px;

  @media (max-width: 1070px) {
    display: none;
  }
}

.header__navbar > a,
.header__navbar > div:not(:last-of-type) {
  margin-right: 21px;
}

/* .header__menu > .header__buttons */

.header__signed .button_navlink:hover,
.header__navbar a:hover,
.header__navbar div:hover,
.header__navbar span:hover {
  font-weight: 700;
  color: $darkShadeMore;
}

.button_navlink:active {
  font-weight: 700;
  color: $darkShadeMore;
}

.dropdown__icon:hover ~ .button_navlink,
.dropdown__icon:active ~ .button_navlink {
  font-weight: 700;
  color: $darkShadeMore;
}

.header__buttons {
  @include isFlex($align: center);
  width: 303px;
  height: 34px;
  margin-top: 1px;

  @media (max-width: 550px) {
    width: 200px;
  }
}

.header__buttons .button_link_big::before {
  content: "Зарегистрироваться";

  @media (max-width: 550px) {
    content: "Регистрация";
  }
}

.header__buttons > .button_link_big {
  @media (max-width: 550px) {
    position: relative;
    width: 136px;
    font-size: 8px;
    font-weight: 400;
  }
}

/* .header__menu > .header__user */

.header {
  &__signed {
    @include isFlex($align: center);
    height: 30px;
    color: $darkShadeMiddle;
    font-size: 14px;
  }

  &__line {
    height: 100%;
    width: 20px;
    border-left: 1px solid $darkShadeFew;
  }

  &__user {
    color: $darkShadeMiddle;
  }
}

/* .header__menu > .dropdown__navbar */

.dropdown__navbar {
  @include isFlex($direction: column, $align: flex-start);
  @include containerDimed();
  @include absoluteTopRight(50px);
  width: 130px;
  height: 130px;
  margin: 0 20px;
  padding: 5px 10px;
  z-index: 2;
}

/* dropdowns in navbar */

.button_navlink {
  @include isFlex($direction: column);
  position: relative;
  height: 18px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: $darkShadeMiddle;
  letter-spacing: 0.003em;
  cursor: pointer;
}

.dropdown_navlink {
  @include isFlex($direction: row-reverse);
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  color: $darkShadeMiddle;
}

.dropdown__icon {
  position: relative;
  width: 24px;
  height: 18px;
  line-height: 20px;
}

.dropdown__icon::before {
  position: absolute;
  content: "\e5cf";
  font-size: 24px;
  font-family: $MaterialIcons;
  color: $darkShadeMiddle;
}

.navbar__dropdown {
  @include containerDimed();
  position: absolute;
  top: 20px;
  width: 150px;
  height: 60px;
  z-index: 3;
}

/* burger menu */

.burger__menu {
  position: relative;
  width: 30px;
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: none;

  @media (max-width: 1070px) {
    display: block;
  }

  @media (max-width: 550px) {
    margin: 0 10px;
  }
}

.burger__menu::before,
.burger__menu::after,
.burger__menu > span {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: $darkShadeMiddle;
}

.burger__menu::before {
  top: 0;
}

.burger__menu::after {
  bottom: 0;
}

.burger__menu > span {
  top: 9px;
}