
include ../button/_button.pug

mixin header(user)
  nav.header
    +logo()
    +headerMenu(user)

mixin logo()
  a(href="./landing-page.html").logo__link
    img.logo__pic(src= "./assets/images/logo/logo-colored.svg")
    img.logo__name(src= "./assets/images/logo/logo-name.svg")


mixin headerMenu(user="")
  .header__menu
    .burger__menu.js-dropdown__init
      span
    .dropdown__navbar.dropdown__content.js-dropdown__content
      +buttonNavbar("О нас", buttonOnclick="./some-address")
      +buttonNavbarExpand("Услуги")
      +buttonNavbar("Вакансии", buttonOnclick="./some-address")
      +buttonNavbar("Новости", buttonOnclick="./some-address")
      +buttonNavbarExpand("Соглашения")
    if user
      .header__signed
        p.header__line
        +buttonNavbar(user, buttonOnclick="./some-address")
    else
      .header__buttons
        +buttonLink("Войти", buttonOnclick="signin.html")
        +buttonBiglink("", buttonOnclick="registration.html")
    .header__navbar
      +buttonNavbar("О нас", buttonOnclick="./some-address")
      +buttonNavbarExpand("Услуги")
      +buttonNavbar("Вакансии", buttonOnclick="./some-address")
      +buttonNavbar("Новости", buttonOnclick="./some-address")
      +buttonNavbarExpand("Соглашения")






//- mixins for navbar buttons

mixin buttonNavbar(buttonText, buttonOnclick="./some-address")
  a(class="button_navlink", href= buttonOnclick)= buttonText

mixin buttonNavbarExpand(buttonText)
  div(class="button_navlink reverse")
    .dropdown__content.js-dropdown__content
      .navbar__dropdown
    .dropdown_navlink.js-dropdown__init
      span(class="dropdown__icon")
      span(class="button_navlink")= buttonText
