
include ../button/_button.pug

mixin header(user)
    nav.header.dropdown__watch
        +logo()
        +headerMenu(user)

mixin logo()
    a(href="/landing_page").logo__link
        .logo__pic
        .logo__name


mixin headerMenu(user="")
    .header__menu
        .burger__menu.dropdown__init
            span
        .dropdown__navbar.dropdown__content
            +buttonNavbar("О нас", buttonOnclick="#")
            +buttonNavbarExpand("Услуги")
            +buttonNavbar("Вакансии", buttonOnclick="#")
            +buttonNavbar("Новости", buttonOnclick="#")
            +buttonNavbarExpand("Соглашения")
        if user
            .header__signed
                p.header__line
                //p.header__user!= user
                +buttonNavbar(user, buttonOnclick="#")
        else
            .header__buttons
                +buttonLink("Войти", buttonOnclick="/signin")
                +buttonBiglink("", buttonOnclick="/registration")
        .header__navbar
            +buttonNavbar("О нас", buttonOnclick="#")
            +buttonNavbarExpand("Услуги")
            +buttonNavbar("Вакансии", buttonOnclick="#")
            +buttonNavbar("Новости", buttonOnclick="#")
            +buttonNavbarExpand("Соглашения")






//- mixins for navbar buttons

mixin buttonNavbar(buttonText, buttonOnclick="#")
    a(class="button_navlink" href= buttonOnclick)= buttonText

mixin buttonNavbarExpand(buttonText)
    div(class="button_navlink reverse")
        .dropdown__content
            .navbar__dropdown
        .dropdown_navlink.dropdown__init
            span(class="button_navlink")= buttonText
            span(class="dropdown__icon")
