include ../button-link/button-link.pug
include ../logo/logo.pug
include ../navlink/navlink.pug
include ../navlink-dropdown/navlink-dropdown.pug

mixin header({ user = "", theme = "" })
  - 
    var headerClass = theme === ""
      ? "header" 
      : `header header_in_${ theme }`
  - 
    var userClick = user === ""
      ? "registration.html" : `some-profile-${ user }.html`
  
  header(class = headerClass)
    if theme === ""
      .header__logo
        +logo()
    else
      +logo()
    .header__menu
      .header__burger-menu.js-expand__init
        span.header__burger-span
      nav.header__dropdown.expand__content.js-expand__content
        ul.header__navbar.header__navbar_dropdown
          +navlink({
            buttonText: "О нас",
            onClick: "./some-address"
          })
          +navlink-dropdown("Услуги")
          +navlink({
            buttonText: "Вакансии",
            onClick: "./some-address"
          })
          +navlink({
            buttonText: "Новости",
            onClick: "./some-address"
          })
          +navlink-dropdown("Соглашения")
      if user
        a.header__user(href = userClick)= user
      else
        .header__forms
          .header__sign-in
            +button-link({
              buttonText: "Войти",
              buttonOnclick: "sign-in.html",
              className: "sign-in"
            })
          .header__registration
            +button-link({ 
              buttonOnclick: "registration.html",
              className: "registration"
            })
      nav.header__navbar-region
        ul.header__navbar
          +navlink({
            buttonText: "О нас",
            onClick: "./some-address",
            modificator: "header",
            buttonModificator: "header"
          })
          +navlink-dropdown("Услуги")
          +navlink({
            buttonText: "Вакансии",
            onClick: "./some-address",
            modificator: "header",
            buttonModificator: "header"
          })
          +navlink({
            buttonText: "Новости",
            onClick: "./some-address",
            modificator: "header",
            buttonModificator: "header"
          })
          +navlink-dropdown("Соглашения")