include ../button/button.pug
include ../logo/logo.pug
include ../navlink/navlink.pug
include ../navlink-dropdown/navlink-dropdown.pug

mixin header({ user = '', theme = '' })
  - 
    const userName = user.split(' ').join('-');

    const headerClass = theme === ''
      ? 'header__content' 
      : `header__content header__content_in_${ theme }`;

    const userClick = user === ''
      ? 'registration.html' 
      : `${ userName }.html`;
  
  header.header.js-header
    div(class = headerClass)
      if theme === ''
        .header__logo
          +logo()
      else
        +logo()
      .header__menu
        .header__burger-menu.js-header__init
          span.header__burger-span
        nav.header__dropdown.js-header__expand
          ul.header__navbar.header__navbar_dropdown
            +navlink({
              text: 'О нас',
              onClick: './some-address'
            })
            +navlink-dropdown('Услуги')
            +navlink({
              text: 'Вакансии',
              onClick: './some-address'
            })
            +navlink({
              text: 'Новости',
              onClick: './some-address'
            })
            +navlink-dropdown('Соглашения')
        if user
          a.header__user(href = userClick)= user
        else
          .header__forms
            .header__sign-in
              +button({
                text: 'Войти',
                href: 'sign-in.html',
                innerElement: 'form-link',
                theme: 'sign-in'
              })
            .header__registration
              +button({ 
                href: 'registration.html',
                innerElement: 'link',
                theme: 'registration'
              })
        nav.header__navbar-region
          ul.header__navbar
            +navlink({
              text: 'О нас',
              onClick: './some-address',
              modifier: 'header',
              buttonModifier: 'header'
            })
            +navlink-dropdown('Услуги')
            +navlink({
              text: 'Вакансии',
              onClick: './some-address',
              modifier: 'header',
              buttonModifier: 'header'
            })
            +navlink({
              text: 'Новости',
              onClick: './some-address',
              modifier: 'header',
              buttonModifier: 'header'
            })
            +navlink-dropdown('Соглашения')