@import './__menu/header__menu.scss';

.header {
  @include headerMixin();
  padding-top: 12px;
  padding-bottom: 15px;
}

.header_landing {
  @include headerMixin();
  padding-top: 17px;
  padding-bottom: 17px;
}

.header_in-search {
  @include headerMixin();
  padding-top: 16px;
  padding-bottom: 16px;
}

.header_in-signin {
  @include headerMixin();
  padding-top: 14px;
  padding-bottom: 14px;
}

.header_in-registration {
  @include headerMixin();
  padding-top: 12px;
  padding-bottom: 12px;
}

.header_in-details {
  @include headerMixin();
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__logo {
  margin-top: 2px;
}