include ../button-link/button-link.pug
include ../logo/logo.pug
include ../navlink/navlink.pug
include ../navlink-dropdown/navlink-dropdown.pug

mixin header({ user="", theme="" })
  - 
    var headerClass = theme === ""
      ? "header" 
      : `header header_in-${ theme }`
  
  header(class= `${ headerClass }`)
    if theme === ""
      .header__logo
        +logo()
    else
      +logo()
    .header__menu
      .header__burger-menu.js-expand__init
        span.header__burger-span
      nav.header__dropdown.js-expand__content
        ul.header__navbar_dropdown
          +navlink({
            buttonText: "О нас",
            buttonOnclick: "./some-address"
          })
          +navlink-dropdown("Услуги")
          +navlink({
            buttonText: "Вакансии",
            buttonOnclick: "./some-address"
          })
          +navlink({
            buttonText: "Новости",
            buttonOnclick: "./some-address"
          })
          +navlink-dropdown("Соглашения")
      if user
        a.header__user(href= userClick)= user
      else
        .header__forms
          .header__signin
            +button-link({
              buttonText: "Войти",
              buttonOnclick: "signin.html",
              className: "signin"
            })
          .header__registration
            +button-link({ 
              buttonOnclick: "registration.html",
              className: "registration"
            })
      nav.header__navbar-region
        ul.header__navbar
          +navlink({
            buttonText: "О нас",
            buttonOnclick: "./some-address",
            navlinkModificator: "header",
            navlinkButtonModificator: "header"
          })
          +navlink-dropdown("Услуги")
          +navlink({
            buttonText: "Вакансии",
            buttonOnclick: "./some-address",
            navlinkModificator: "header",
            navlinkButtonModificator: "header"
          })
          +navlink({
            buttonText: "Новости",
            buttonOnclick: "./some-address",
            navlinkModificator: "header",
            navlinkButtonModificator: "header"
          })
          +navlink-dropdown("Соглашения")