@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles//mixins.scss';
@import '@~Components/button-link/button-link.scss';
@import '@~Components/logo/logo.scss';
@import '@~Components/navlink/navlink.scss';
@import '@~Components/navlink-dropdown/navlink-dropdown.scss';

.header {
  @include isFlex($align: center);
  position: relative;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 12px 140px 15px;
  border-radius: 4px;
  background: $light;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px $dark-shade_fewer;

  @include _1650-1920 {
    width: 100%;
    padding: 0 10%;
  }

  @include _1340 {
    padding: 15px 7%;
  }

  @include _750 {
    min-width: 320px;
    padding: 15px 5%;
  }

  @include _550 {
    padding: 15px 2%;
  }

  &_in_landing {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  
  &_in_search {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  &_in_signin {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  
  &_in_registration {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  &_in_details {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  &__logo {
    margin-top: 2px;
  }

  &__menu {
    @include isFlex(
      $direction: row-reverse,
      $justify: flex-start,
      $align: center
    );
    position: relative;
    width: 770px;
    height: 34px;
    margin-left: 20px;
    color: $dark-shade_medium;

    @include _1450-1920 {
      width: fit-content;
    }

    @include _1070 {
      width: 80%;
    }

    @include _550 {
      width: 70%;
      min-width: 260px;
      margin-left: 10px;
    }
  }

  &__dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    width: 130px;
    height: 130px;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 4px;
    background: $light;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $dark-shade_fewer;
    z-index: 2;
  }

  &__navbar-region {
    width: 447px;
    height: 21px;
    margin-right: 19px;

    @include _1070 {
      display: none;
    }
  }

  &__navbar {
    @include isFlex($align: center, $justify: space-between);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: .003em;

    &_dropdown {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__user {
    width: fit-content;
    margin-top: 4px;
    padding-left: 20px;
    border-left: 1px solid $dark-shade_few;
    line-height: 29px;
    font-size: 13.5px;
    color: $dark-shade_medium;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  &__forms {
    @include isFlex($align: center);
    width: 303px;
    height: 34px;

    @include _550 {
      width: 210px;
    }
  }

  &__signin {
    display: block;
    width: 87px;
    height: 34px;
    line-height: 30px;
  }

  &__registration {
    display: block;
    width: 196px;
    height: 34px;
    line-height: 34px;

    @include _550 {
      width: calc(200px - 87px);
    }
  }

  &__burger-menu {
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: none;

    @include _1070 {
      display: block;
    }

    @include _550 {
      margin: 0 10px;
    }
  }

  &__burger-span {
    top: 9px;
  }  

  &__burger-menu::before,
  &__burger-menu::after,
  &__burger-span {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: $dark-shade_medium;
  }

  &__burger-menu::before {
    top: 0;
  }

  &__burger-menu::after {
    bottom: 0;
  }
}
