include ../button-link/button-link.pug
include ../logo/logo.pug
include ../navlink/navlink.pug
include ../navlink-dropdown/navlink-dropdown.pug

mixin header({ user = '', theme = '' })
  - 
    const userName = user.split(' ').join('-');

    const headerClass = theme === ''
      ? 'header__content' 
      : `header__content header__content_in_${ theme }`;

    const userClick = user === ''
      ? 'registration.html' 
      : `${ userName }.html`;
  
  header.header
    div(class = headerClass)
      if theme === ''
        .header__logo
          +logo()
      else
        +logo()
      .header__menu
        .header__burger-menu.js-expand__init
          span.header__burger-span
        nav.header__dropdown.expand.js-expand
          ul.header__navbar.header__navbar_dropdown
            +navlink({
              buttonLinkText: 'О нас',
              onClick: './some-address'
            })
            +navlink-dropdown('Услуги')
            +navlink({
              buttonLinkText: 'Вакансии',
              onClick: './some-address'
            })
            +navlink({
              buttonLinkText: 'Новости',
              onClick: './some-address'
            })
            +navlink-dropdown('Соглашения')
        if user
          a.header__user(href = userClick)= user
        else
          .header__forms
            .header__sign-in
              +button-link({
                buttonLinkText: 'Войти',
                buttonLinkHref: 'sign-in.html',
                innerElement: 'sign-in'
              })
            .header__registration
              +button-link({ 
                buttonLinkHref: 'registration.html',
                innerElement: 'registration'
              })
        nav.header__navbar-region
          ul.header__navbar
            +navlink({
              buttonLinkText: 'О нас',
              onClick: './some-address',
              modifier: 'header',
              buttonModifier: 'header'
            })
            +navlink-dropdown('Услуги')
            +navlink({
              buttonLinkText: 'Вакансии',
              onClick: './some-address',
              modifier: 'header',
              buttonModifier: 'header'
            })
            +navlink({
              buttonLinkText: 'Новости',
              onClick: './some-address',
              modifier: 'header',
              buttonModifier: 'header'
            })
            +navlink-dropdown('Соглашения')