.widget
    .container__elements_small 
        label(for="date").label DATE DROPDOWN
        .dropdown__button
            input(type="date" value="" name="date" placeholder="ДД.ММ.ГГГГ")

//should redo with 

