@import '@~Assets/styles/card.scss';
@import '@~Assets/styles/media-mixins.scss';

.card-booking {
  &__No {
    display: inline-block;
    padding-right: 3px;
    font-size: $fs_base;
    font-weight: 700;
    line-height: 11px;
    color: $dark-shade_most;

    @include _1750-1920 {
      font-size: $fs_h2;
    }
  }

  &__number {
    display: inline-block;
    font-size: $fs_h1;
    letter-spacing: .001em;
    font-weight: 700;
    line-height: 9px;
    color: $dark-shade_most;


    @include _1750-1920 {
      font-size: $fs_h1;
    }

    &_in-details {
      line-height: 11px;
    }
  }

  &__suite {
    display: inline-block;
    line-height: 11px;
    font-size: $fs_h3;
    font-weight: 700;
    letter-spacing: .02em;
    color: $purple;
    text-transform: uppercase;

    &_in-details {
      margin-left: 8px;
    }
  }

  &__price {
    font-size: $fs_base;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: .01em;
    color: $dark-shade_medium;
  }

  &__period {
    font-size: $fs_h3;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 19px;
    color: $dark-shade_medium;
  }
}