.input {
    position: relative;
    width: 100%;
    display: block;
    height: 44px;
    line-height: 44px;
    border: 1px solid $darkShadeLess;
    background: transparent;
    border-radius: 4px;
    padding-left: 15px;
    color: $darkShadeMore;

    &:hover,
    &:focus {
        border: 1px solid $darkShadeMiddle;
    }

// &_date{

  // }
}