.textField{
    @include container($width: 320, $height: 67);
    @include isFlex($direction: column);
}

label {
    height: 15px;
    font-weight: 700;
    font-size: 12;
    line-height: 14,63px;
    margin-bottom: 5px;
}

input {
    display: block;
    height: 44px;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    color: $darkShade75;;

    &:hover,
    &:focus {
        border: 1px solid $darkShade50;
    }
}