.container_button-like {
    width: 90px;
    height: 50px;
    @include isFlex($direction: column);
}

.button-like {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    font-size: 12px;
    color: $darkShadeLess; 
    border-radius: 10px;
    cursor: pointer;
    background: $darkShadeLess;
}

.button-like::before {
    @extend .button-like;
    content: "";
    position: absolute;
    width: 38px;
    height: 18px;
    margin: 1px;
    background: $light;
}

.button-like_popular {
    @extend .button-like;
    color: $darkShadeLess;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    
}

.button-like_popular::before {
    @extend .button-like_popular;
    content: "";
    color: $purple;
    position: absolute;
    width: 38px;
    height: 18px;
    margin: 1px;
    background: $light;
}

.button-like__number {
    position: absolute;
    font-size: 0.8em;
    line-height: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: 35%;
}

.button-like__number_popular {
    @extend .button-like__number;
    //right: 27%;
    right: 29%;
}

.button-like__heart {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: url(/assets/images/heart_disabled.svg);
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
}

.button-like__heart_popular {
    @extend .button-like__heart;
    background: url(/assets/images/heart_active.svg);
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
}

