.container_buttonLike
    .label like button
    .row
        .buttonLike
            .buttonLike__heart
            .buttonLike__number 2

        .buttonLike.buttonLike_popular
            .buttonLike__heart.buttonLike__heart_popular
            .buttonLike__number.buttonLike__number_popular 12