mixin buttonLikeContainer()
    .container_buttonLike
        .label like button
        .row
            +buttonLikeItem("buttonLike_1")
            +buttonLikePopularItem("buttonLike_2")

mixin buttonLikeItem(buttonId)
    .buttonLike(id=buttonId) 
        .buttonLike__heart
        .buttonLike__number

mixin buttonLikePopularItem(buttonId)
    .buttonLike.buttonLike_popular(id=buttonId) 
        .buttonLike__heart.buttonLike__heart_popular
        .buttonLike__number.buttonLike__number_popular

//- .container_buttonLike
//-     .label like button
//-     .row
//-         .buttonLike#buttonLike_1
//-             .buttonLike__heart
//-             .buttonLike__number

//-         .buttonLike.buttonLike_popular#buttonLike_2
//-             .buttonLike__heart.buttonLike__heart_popular
//-             .buttonLike__number.buttonLike__number_popular