mixin carousel_type_landing(backgroundPicture)
  .carousel-landing__background_outer
    .carousel-landing__background_inner
      for picture in backgroundPicture
        .carousel-landing__element
          img(class="carousel-landing__img" src= picture alt="background pictures")