mixin carousel(backgroundPicture)
  .carousel
    .carousel__list
      for picture in backgroundPicture
        .carousel__element
          img(
            class= "carousel__img" 
            src= picture 
            alt= "background picture")