@import './_hidden/footer__info_hidden.scss';
@import './_visible/footer__info_visible.scss';

@mixin isFlex(
  $direction: row,
  $justify: space-between,
  $align: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-shrink: 0;
}

.footer__navigation {
  @include isFlex($direction: column);
  width: 200px;
  height: 168px;

  @media (max-width: 1340px) {
    width: 150px;
    margin-right: 5%;
  }

  @media (max-width: 470px) {
    position: relative;
    width: 100%;
    height: 20px;
  }
}

.footer__about {
  @include isFlex($direction: column);
  width: 200px;
  height: 168px;

  @media (max-width: 1340px) {
    width: 135px;
    margin-right: 5%;
  }

  @media (max-width: 470px) {
    position: relative;
    width: 100%;
    height: 20px;
  }
}

.footer__support {
  @include isFlex($direction: column);
  width: 200px;
  height: 130px;

  @media (max-width: 1340px) {
    width: 120px;
    margin-right: 5%;
  }

  @media (max-width: 470px) {
    position: relative;
    width: 100%;
    height: 20px;
  }
}
