include ../../../components/header/_header.pug
include ../../../components/footer/_footer.pug

block variables
    - var title = "UIKit";
    - var description = "UIKit";
    - var keywords = "UIKit";

block content
    .headers-n-footers_outer.dropdown__watch
        +header()
        +header("Юлий Цезарь")
        +footer()
        +footerCreative()

