@import './__item/checkbox__item.scss';

.checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  appearance: none;
  width: 224px;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 100%;
  }
}