mixin checkbox({ value = '', name = '', checked = false, title = '', modifier = '', description = '' })
  -
    const className = modifier === 'rich'
      ? 'checkbox checkbox_rich'
      : 'checkbox';

  label(class = className)
    input(
      type = 'checkbox'
      value = value
      name = name
      checked = checked).checkbox__real
    span.checkbox__fake
    if modifier === 'rich'
      span.checkbox__form
        span.checkbox__title!= title
        span.checkbox__description!= description
    else 
      span.checkbox__title!= title