include ./__item/checkbox__item.pug

mixin checkbox
  fieldset.checkbox
    +checkbox__item({
      valueText: "smoking_allowed", 
      inputName: "house-rules", 
      ifChecked: false, 
      checkboxTitle: "Можно курить"
    })
    +checkbox__item({
      valueText: "pets_allowed", 
      inputName: "house-rules", 
      ifChecked: true, 
      checkboxTitle: "Можно с питомцами"
    })
    +checkbox__item({
      valueText: "guests_allowed", 
      inputName: "house-rules", 
      ifChecked: true, 
      checkboxTitle: "Можно пригласить гостей (до 10 человек)"
    })