include ../checkbox-item/checkbox-item.pug

mixin checkbox
  - var { houseRules } = require('Components/checkbox/checkbox.json');

  fieldset.checkbox
    each houseRule in houseRules
      - var { valueText, inputName, checked, checkboxTitle } = houseRule;
      +checkbox-item({
        valueText: valueText, 
        inputName: inputName, 
        checked: checked, 
        checkboxTitle: checkboxTitle
      })