mixin checkbox__item(valueText, inputName, ifChecked, checkboxTitle)
  label.checkbox 
    input(type="checkbox" value=valueText name=inputName checked=ifChecked).checkbox__real
    span.checkbox__fake
    span(class="checkbox__title")= checkboxTitle
