include ./checkbox__item.pug

mixin checkbox
  fieldset.checkbox__container
    +checkbox__item("smoking_allowed", "house-rules", false, "Можно курить")
    +checkbox__item("pets_allowed", "house-rules", true, "Можно с питомцами")
    +checkbox__item("guests_allowed", "house-rules", true, "Можно пригласить гостей (до 10 человек)")