include ../checkbox-item/checkbox-item.pug

mixin checkbox
  - const { houseRules } = require('Components/checkbox/checkbox.json');

  fieldset.checkbox
    each houseRule in houseRules
      - const { value, name, checked, title } = houseRule;
      +checkbox-item({
        value: value, 
        name: name, 
        checked: checked, 
        title: title
      })