@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles//mixins.scss';
@import '@~Assets/styles/fonts.scss';

@mixin carouselButton {
  position: absolute;
  top: 53.5px;
  left: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: $fs_h1;
  text-align: center;
  color: $light;
  z-index: 2;
}

.room-carousel {
  position: relative;
  width: 100%;
  height: calc(152 / 270 * 100%);
  min-height: 152px;
  overflow: hidden;

  @include _700 {
    height: 211px;
  }

  @include _450 {
    width: 85vw;
    height: 47vw;
    min-width: 258px;
    min-height: 145px;
  }

  &__pictures {
    @include isFlex();
    position: absolute;
    left: 0;
    width: 400%;
    height: 100%;
    transition: 2s;
  }

  &__pic {
    width: 25%;
    height: 100%;
    transition: 2s;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    border: none;
  }

  &__radio {
    @include isFlex();
    position: absolute;
    bottom: 13px;
    right: 16px;
    width: 40px;
    height: auto;
  }

  &__element {
    width: auto;
    height: auto;
    z-index: 1;
    cursor: pointer;
  }

  &__element:not(:last-of-type) {
    margin-right: 3.75px;
  }

  &__radio-real {
    position: absolute;
    width: 7.5px;
    height: 7.5px;
    cursor: pointer;
    appearance: none;
  }

  &__radio-fake {
    display: inline-block;
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid $light;
    background: transparent;
  }

  &__radio-real:checked ~ &__radio-fake {
    background: $light;
  }

  &__buttons {
    @include isFlex();
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
  }

  &:hover &__buttons {
    display: flex;
  }

  &__button {
    position: relative;
    height: 100%;
    width: 42px;
    background: $linearGradientShadow;
    cursor: pointer;

    &_next {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &_next::before {
      content: '\e5cb';
      @include carouselButton();
      font-family: $material-icons;
    }

    &_prev::before {
      content: '\e5cb';
      @include carouselButton();
      font-family: $material-icons;
    }
  }
}