@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/fonts.scss';

@mixin isFlex(
  $direction: row,
  $justify: space-between,
  $align: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-shrink: 0;
}

@mixin dropdownItem {
  height: 30px;
  width: 100%;
  padding-right: 6px;
  font-size: $fs_h3;
  text-transform: uppercase;
}

@mixin dropdownText {
  width: calc(100% - 30px - 30px - 32px);
  font-weight: 700;
  letter-spacing: .001em;
  color: $dark-shade_most;

  @include _1750-1920 {
    font-size: $fs_base;
  }
}

@mixin dropdownPlus {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid $dark-shade_medium;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

@mixin  dropdownNumber {
  width: 32px;
  font-weight: 700;
  text-align: center;
  font-size: 13px;

  @include _1750-1920 {
    font-size: $fs_base;
  }
}

.dropdown__item {
  @include dropdownItem();
  @include isFlex($justify: flex-start);
  margin-top: 7px;
  padding-left: 14px;
}

.dropdown__item_last {
  margin-top: 6px;
  padding-left: 14px;
}

.dropdown__text {
  @include dropdownText();
  margin-top: 5px;
}

.dropdown__text_last {
  margin-top: 6px;
}

.dropdown__minus,
.dropdown__plus {
  @include dropdownPlus();
  top: -2px;
  line-height: 28px;
}

.dropdown__minus_last,
.dropdown__plus_last {
  top: -1px;
  line-height: 29px;
}

.dropdown__number {
  @include dropdownNumber();
  margin-top: 4px;
}

.dropdown__number_last {
  margin-top: 5px;
}

.js-button_disabled {
  color: $dark-shade_less;
  border: 1px solid $dark-shade_less;
}
