/*
    outer container
*/
.footer_outer {
    @include containerDimed();
    @include isFlex($direction: column, $align: center);
    width: 1440px;
    height: 443px;
}

.footer__navbar_outer {
    width: 1440px;
    height: 372px;
}

/*
    inner container
*/

.footer__navbar_inner {
    @include container($width: 1160px, $height: 172px, $mt: 100px, $ms: 140px, $mb: 100px);
    @include isFlex($justify: space-between, $wrap: wrap);
    position: relative;
}

.footer__navbar_inner > div:first-of-type {
    margin-right: 40px;
}

.footer__navbar_inner > div:nth-of-type(2) {
    margin-right: 50px;
}

.footer__navbar_inner .dropdown__init {

}

/*
    inner container > .footer__info
*/
.footer__info {
    width: 260px;
    height: 130px;
    @include isFlex($direction: column);
    letter-spacing: 0.001em;
}

/*
    inner container > .footer__info_more
*/

.footer__info_more {
    height: 168px;
    width: 550px;
    @include isFlex($justify: flex-start);
    padding-top: 5px;
}

/*
    .footer__info_more > divs
*/

.footer__about {
    width: 200px;
    height: 168px;
    @include isFlex($direction: column);
}

.footer__support {
    width: 200px;
    height: 130px;
    @include isFlex($direction: column);
}

.footer__navigation {
    width: 200px;
    height: 168px;
    @include isFlex($direction: column);
} 

.footer__links {
    width: 100%;
    height: 150px;
    margin-top: 21px;
    @include isFlex($direction: column, $align: flex-start, $justify: start);
}

.footer__links a:not(:last-of-type) {
    margin-bottom: 20px;
}

.footer__info_hidden {
    display: none;
}

/*
    inner container > .footer__info_more
*/


.footer__info_subscribe {
    width: 260px;
    height: 148px;
    @include isFlex($direction: column, $justify: flex-start);
    padding-top: 6px;
}

.footer__info_subscribe > p {
    margin-top: 16px;
    letter-spacing: 0.005em;
}

.footer__info_subscribe > div {
    margin-top: 23px;
}


/*
    media queries for container inner
*/

@media (max-width: 1440px) {
    .footer_outer,
    .footer__navbar_outer {
        width: 100vw;
        height: auto;
    }

    .footer__navbar_inner > div:first-of-type {
        margin-right: 20px;
    }

    .footer__navbar_inner > div:nth-of-type(2) {
        margin-right: 0;
    }
    
    .footer__navbar_inner {
        @include container($width: 85%, $height: 172px, $mt: 60px, $ms: auto, $mb: 60px);
    }

    .footer__info_more {
        width: 35%;
        min-width: 415px;
    }

    .footer__navigation {
        width: 150px;
    }

    .footer__about {
        width: 135px;
    }

    .footer__support {
        width: 120px;
    }

    .footer__navigation,
    .footer__about,
    .footer__support {
        margin-right: 5%;
    }

    .footer__info,
    .footer__subscribe {
        width: 200px;
        margin: 0;
    }
}

@media (max-width: 1170px) {
    .footer__navbar_inner {
        width: calc(415px + 260px + 5%);
    }

    .footer__navbar_inner > div:first-of-type {
        margin-right: 50px;
    }

    .footer__info {
        position: absolute;
        right: 0;
        top: -11px;
        width: 106px;
        height: 40px;
    }

    .footer__info p {
        display: none;
    }
}

@media (max-width: 800px) {
    .footer {
        width: 100vw;
        padding: 15px 5%;
    }

    .footer__navbar_inner {
        @include container($width: 85%, $height: auto, $mt: 40px, $ms: auto, $mb: 40px);
        justify-content: center;
    }

    .footer__links a:not(:last-of-type) {
        margin-bottom: 0;
    }

    .footer__navbar_inner > div:first-of-type {
        margin-right: 0;
    }

    .footer__info {
        position: relative;
        width: 60%;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer__info_more {
        width: 430px;
        height: 120px;
        margin-bottom: 40px;
    }

    .footer__info_subscribe {
        height: auto;
    }

    .footer__info_subscribe p {
        display: none;
    }
}

@media (max-width: 470px) {
    .footer_outer,
    .footer__navbar_outer,
    .footer__navbar_inner {
        min-width: 360px;
    }

    .footer__links .dropdown__content {
        display: none;
    }

    .footer__info_more {
        display: none;
    }

    .footer__info_hidden {
        min-width: 260px;
        width: 260px;
        @include isFlex($direction: column);
        font-weight: 400;
        height: auto;
        margin-bottom: 20px;
    }

    .footer__info_hidden .dropdown__content {
        @include containerDimed();
        position: absolute;
        width: 200px;
        padding: 10px 15px;
        line-height: 18px;
        top: 20px;
        z-index: 2;
    }

    .footer__info_hidden .dropdown__init {
        width: 170px;
        min-width: 170px;
    }

    .footer__info_hidden h3 {
        font-weight: 400;
    }

    .footer__info_hidden h3:hover {
        font-weight: 700;
    }

    .footer__navigation,
    .footer__about,
    .footer__support {
        width: 100%;
        height: 20px;
        position: relative;
    }

}




/*
    footer__copyright component
*/


.footer__copyright_outer {
    width: 1440px;
    height: 70px;
    border-top: 1px solid $darkShadeLess;
}

.footer__copyright_inner {
    @include container($width: 1164px, $height: 24px, $mt: 23px, $ms: 140px, $mb: 23px);
    @include isFlex($align: flex-start);
}

.copyright__text {
    height: 18px;
    letter-spacing: 0.001em;
    margin-top: 4px;
}

.copyright__social {
    width: 116px;
    height: 26px;
    font-size: 24px;
    @include isFlex($align: center);
}

.fa-twitter, 
.fa-facebook-square,
.fa-instagram {
    position: relative;
    width: 26px;
    height: 26px;
}

.copyright__social .fa-twitter::before, 
.copyright__social .fa-facebook-square::before,
.copyright__social .fa-instagram::before {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: $FontAwesome;
    line-height: 24px;
    font-size: 24px;
    width: 24px;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.fa-twitter::before {
    content: "";
}

.fa-facebook-square::before {
    content: "";
}

.fa-instagram::before {
    content: "";
}


.fab a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
}

.footer_creative {
    height: 367px;
    width: 768px;

}



@media (max-width: 1440px) {
    .footer__copyright,
    .footer__copyright_outer {
        width: 100vw;
        height: auto;
    }

    .footer__copyright_inner {
        @include container($width: 85%, $height: 24px, $mt: 23px, $ms: auto, $mb: 23px);
    }
}

@media (max-width: 1170px) {
    
}

@media (max-width: 800px) {
    .footer__copyright_inner {
        @include container($width: 85%, $height: 36px, $mt: 20px, $ms: auto, $mb: 20px);
    }

    .footer__copyright_outer .copyright__text {
        width: 230px;
        line-height: 18px;
    }
}

@media (max-width: 400px) {
    .footer__copyright_outer {
        min-width: 360px;
    }

    .footer__copyright_inner {
        width: 90%,
    }

    .footer__copyright_outer .copyright__text {
        width: 200px;
        font-size: 12px;
    }
}