.footer-creative {
  @include containerDimed();
  width: 770px;
  height: 366px;

  @media (max-width: 1440px) {
    margin: 0 auto;
  }

  @media (max-width: 800px) {
    width: 100%;
    height: auto;
  }

  @media (max-width: 450px) {
    min-width: 320px;
  }
}

.footer-creative .copyright__text {
  @media (max-width: 450px) {
    width: 230px;
    height: 36px;
    line-height: 18px;
    text-align: center;
  }
}

.footer-creative_inner {
  @include containerSimple(560px, 127px);
  @include isFlex($direction: column, $justify: flex-start, $align: center);
  position: relative;
  margin-left: 107px;
  padding-top: 120px;
  padding-right: 3px;

  @media (max-width: 800px) {
    width: 85%;
    height: auto;
    margin: 9% auto;
  }
}

.footer-creative__copyright-text {
  margin-top: 17px;
}

.footer-creative__social-nets {
  margin-top: 24px;
}
