@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';
@import '@~Assets/styles/fonts.scss';
@import '@~Components/logo/logo.scss';
@import '@~Components/navlink/navlink.scss';
@import '@~Components/social-nets/social-nets.scss';
@import '@~Components/textfield/textfield.scss';

.footer {
  @include isFlex($direction: column, $justify: flex-start, $align: center);
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  min-width: 320px;
  border-radius: 4px;
  background: $light;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px $dark-shade_fewer;

  &__main {
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid $dark-shade_less;

    @include sm {
      border-bottom: none;
    }
  }

  &__navbar {
    @include isFlex($wrap: wrap);
    position: relative;
    width: 80.55%;
    max-width: 1800px;
    min-width: 320px;
    height: fit-content;
    margin: 100px auto 104px;
    letter-spacing: .01em;

    @include xl {
      width: 85%;
      height: 172px;
      margin: 60px auto;
    }

    @include lg {
      width: calc(415px + 260px + 5%);
    }

    @include sm {
      justify-content: center;
      width: fit-content;
      height: fit-content;
      margin: 120px auto 0;
    }
  }

  &__logo {
    @include isFlex($direction: column);
    width: 260px;
    height: 131px;
    margin-right: 38px;
    letter-spacing: .001em;

    @include xl {
      margin: 0;
    }

    @include lg {
      position: absolute;
      top: -11px;
      right: 0;
      width: 106px;
      height: 40px;
      margin-right: 40px;
    }

    @include sm {
      position: relative;
      top: 0;
      width: fit-content;
      height: fit-content;
      margin: 0;
      align-items: center;
    }
  }

  &__text {
    width: 100%;
    margin: 0;
    line-height: 1.71rem;
    font-size: 1em;
    letter-spacing: .0001em;
    font-weight: 400;
    color: $dark-shade_more;
    pointer-events: none;

    @include lg {
      display: none;
    }
  }

  &__info {
    @include isFlex($justify: space-between);
    width: calc(600/1160 * 100%);
    height: 168px;
    padding-top: 4px;

    @include xl {
      justify-content: space-between;
      width: calc(100% - 260px - 260px - 180px);
      min-width: 415px;
      margin-right: 0;
    }

    @include sm {
      display: none;
    }
  }

  &__navigation {
    @include isFlex($direction: column);
    width: 200px;
    height: 168px;

    @include xl {
      width: 150px;
      margin-right: 5%;
    }

    @include sm {
      display: none;
    }
  }

  &__title {
    margin: 0;
    margin-top: 1px;
    line-height: 1.045rem;
    font-size: $fs_h3;
    font-weight: 700;
    letter-spacing: .001em;
    color: $dark-shade_most;
    text-transform: uppercase;
  }

  &__links {
    @include isFlex(
      $direction: column, 
      $align: flex-start, 
      $justify: flex-start
    );
    width: 100%;
    height: 150px;
    margin: 20px 0 0;
    padding: 0;
  }

  &__about {
    @include isFlex($direction: column);
    width: 200px;
    height: 168px;

    @include xl {
      width: 135px;
      margin-right: 5%;
    }
  }

  &__support {
    @include isFlex($direction: column);
    width: 200px;
    height: 130px;

    @include xl {
      width: 120px;
      margin-right: 5%;
    }
  }

  &__subscription {
    @include isFlex($direction: column, $justify: flex-start);
    width: 260px;
    height: 152px;
    padding-top: 4px;

    @include sm {
      display: none;
    }
  }

  &__special-offer  {
    width: 100%;
    margin: 18px 0 0;
    line-height: 1.71rem;
    font-size: 1em;
    letter-spacing: .0001em;
    font-weight: 400;
    color: $dark-shade_more;
    pointer-events: none;

    @include lg {
      display: none;
    }
  }

  &__form {
    position: relative;
    width: 100%;
    margin-top: 22.5px;
  }

  &__basement {
    @include isFlex($align: flex-start);
    width: 100%;
    max-width: calc(1800px + 19%);
    height: 71px;
    padding: 24px 9.5% 22px 9.6%;

    @include xl {
      align-items: center;
      width: 100%;
      padding: 0 7.5%;
    }

    @include lg {
      width: calc(415px + 260px + 5%);
      padding: 0;
    }

    @include sm {
      flex-direction: column;
      width: fit-content;
      height: 76px;
      margin: 18px auto 120px;
      border-top: none;
    }
  }

  &__basement-text {
    height: 18px;
    margin-top: 5px;
    letter-spacing: .0001em;
    font-size: 14px;
    pointer-events: none;

    @include xxs {
      width: 230px;
      text-align: center;
    }
  }

  &__social-nets {
    width: 116px;
  }

  &_in_landing {
    & .footer__navbar {
      @include xxl {
        height: 168px;
      }
    }

    & .footer__logo {
      height: 130px;

      @include sm {
        height: fit-content;
      }
    }

    & .footer__basement {
      @include xxl {
        padding-top: 23px;
        padding-right: 137px;
        padding-left: 139px;
      }
    }
  }

  &_in_details {
    & .footer__navbar {
      @include xxl {
        height: 168px;
      }
    }

    & .footer__info {
      letter-spacing: .001em;
    }
  }

  &_in_sign-in {
    & .footer__navbar {
      @include xxl {
        height: 168px;
      }
    }

    & .footer__logo {
      height: 131px;

      @include sm {
        height: fit-content;
      }
    }

    & .footer__basement {
      @include xxl {
        padding-top: 23px;
        padding-left: 140px;
      }
    }
  }

  &_in_registration {
    & .footer__navbar {
      @include xxl {
        margin-top: 101px;
      }
    }
  }

  &_in_search {
    & .footer__navbar {
      @include xxl {
        height: 172px;
        margin-top: 100px;
        margin-bottom: 100px;
      }
    }
  }
}
