include ../navlink/navlink.pug

mixin footer__info_visible(navigations, abouts, supports, theme="main")
  div(class="footer__info" + "_" + theme)
    .footer__navigation
      h3.footer__title Навигация
      .footer__links
        for navigation in navigations
          +navlink(navigation, buttonOnclick="./some-address", "in-footer")
    .footer__about
      h3.footer__title О нас
      .footer__links
        for about in abouts
          +navlink(about, buttonOnclick="./some-address", "in-footer")
    .footer__support
      h3.footer__title Служба поддержки
      .footer__links
        for support in supports
          +navlink(support, buttonOnclick="./some-address", "in-footer")
