include ../navlink/navlink.pug

mixin footer__info_hidden(navigations, abouts, supports)
  .footer__info_hidden
    .footer__navigation
      h3.footer__title.js-expand__init Навигация
      .footer__dropdown_in-navigation.dropdown__content.js-expand__content
        for navigation in navigations
          +navlink(navigation, buttonOnclick="./some-address")
    .footer__about
      h3.footer__title.js-expand__init О нас
      .footer__dropdown_in-about.dropdown__content.js-expand__content
        for about in abouts
          +navlink(about, buttonOnclick="./some-address")
    .footer__support
      h3.footer__title.js-expand__init Служба поддержки
      .footer__dropdown_in-support.dropdown__content.js-expand__content
        for support in supports
          +navlink(support, buttonOnclick="./some-address")