include ../logo/logo.pug
include ../social-nets/social-nets.pug

mixin footer_creative()
  .footer-creative
    .footer-creative_inner
      +logo()
      .footer-creative__copyright-text
        .copyright__text Copyright © 2018 Toxin отель. Все права защищены.
      .footer-creative__social-nets
        .copyright__social
          +social-nets()