include ../textField/_textField.pug
include ../button/_button.pug
include ../buttonsRadio/_buttonsRadio.pug
include ../buttonToggle/_buttonToggle.pug

mixin cardRegistration()
    .card_registration
        h1.card__text Регистрация аккаунта
        +name()
        +surname()
        +buttonsRadio("gender-man", true, "gender-woman", false)
        +birthdayContainer("Дата рождения", "")
        +loginContainer("Данные для входа в сервис", "")
        +buttonToggleItem("special offers", false)
        +buttonFormSubmit("Зарегистрироваться")
        .card__text_row
            .card__subline Уже есть аккаунт на Toxin
            +buttonFormLink("Войти", "/signin")


