//- .widget
//-     label(for="text").label Text field
//-     span.label_right default
//-     .textField
//-         input(type="text" id="text" placeholder="Email" 
//-             value="" name="textField" data-rule="email")
//-     .error

include ../../views/mixins/text.pug

+text("text", "Text field", "label_right", "default", "textField", "Email", "email", false, "")