.textfield_type_login {
  @include isFlex($direction: column);
  width: 100%;
  height: 98px;

  @media (max-width: 450px) {
    width: 100%;
    min-width: 260px;
    margin: 0 auto;
  }

  & > input {
    letter-spacing: 0.01em;
  }
}

.textfield_type_login_main {
  @extend .textfield_type_login;
  margin-top: 20px;
}

.textfield_type_login_in-signin {
  @extend .textfield_type_login;
  margin-top: 20px;
}
