.textfield_type_login {
  @include isFlex($direction: column, $justify: flex-start);
  width: 100%;
  height: fit-content;
  min-height: 103px;

  @media (max-width: 450px) {
    width: 100%;
    min-width: 260px;
    margin: 0 auto;
  }

  & > input {
    letter-spacing: 0.01em;
  }
}

.textfield_type_login > .textfield:not(:first-of-type) {
  margin-top: 10px;
}

.textfield_type_login_main {
  @extend .textfield_type_login;
  margin-top: 20px;
}

.textfield_type_login_in-signin {
  @extend .textfield_type_login;
  margin-top: 20px;
}
