.textfield {
  @include textField;
  font-size: 13.5px;
  padding: 0px 0 2px 12px;
}

.textfield_type_subscibe {
  @extend .textfield;

  &::before {
    @include arrowSubmit();
    color: $dark-shade_medium;
  }

  @media (max-width: 470px) {
    width: 260px;
  }
}

.arrow_submit {
  @include absoluteTopRight(-1px, -2px);
  @include containerSize(44px);
  font-size: 1.8rem;
  border: none;
  text-align: center;
  font-family: $material-icons;
  color: transparent;
  background-image: $linearGradientLilac;
  -webkit-background-clip: text;
  background-clip: text;
}

.textfield__container {
  @extend .widget;
  @include isFlex($direction: column);
  height: 100%;

  & input {
    letter-spacing: 0.005em;
  }
}