.textfield {
  @include textField;
  padding: 0px 0 2px 12px;
  font-size: 13.5px;
}

.textfield_type_email {
  @include textField;
  padding: 2px 0 2px 12px;
  font-size: 14px;
}

.textfield_type_password {
  @include textField;
  padding: 2px 0 2px 12px;
  font-size: 14px;
}

.textfield_type_subscibe {
  @extend .textfield;

  &::before {
    @include arrowSubmit();
    width: 42px;
    line-height: 42px;
    color: transparent;
    background: $linearGradientLilac;
    -webkit-background-clip: text;
    background-clip: text;
  }

  @media (max-width: 470px) {
    width: 260px;
  }
}

.textfield_type_name {
  @include textField;
  padding: 2px 0 2px 12px;
  font-size: 14px;
  letter-spacing: 0;
}

.arrow_submit {
  @include absoluteTopRight(-1px, -2px);
  @include containerSize(44px);
  font-size: 1.8rem;
  border: none;
  text-align: center;
  font-family: $material-icons;
  color: transparent;
  background-image: $linearGradientLilac;
  -webkit-background-clip: text;
  background-clip: text;
}

.textfield__container {
  @extend .widget;
  @include isFlex($direction: column);
  height: 100%;
}