.textfield {
    position: relative;
    width: 100%;
    max-width: 320px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 44px;
    border: 1px solid $darkShadeLess;
    background: transparent;
    border-radius: 4px;
    padding-left: 13px;
    padding-bottom: 1px;
    color: $darkShadeMore;
    letter-spacing: -0.01em;

    &:hover,
    &:focus {
        border: 1px solid $darkShadeMiddle;
    }
}

.textfield > input {
    letter-spacing: -0.01em;
}

.label_none {
    display: none;
}


.textfield_birthday {
    @extend .textfield;
    text-transform: uppercase;
    white-space: nowrap;
    &:hover,
    &:focus {
        border: 1px solid $darkShadeMiddle;
    }
}

.textfield_login {
    width: 100%;
    height: 98px;
    @include isFlex($direction: column)
}

.arrow_submit {
    width: 44px;
    height: 44px;
    border: none;
    font-family: $MaterialIcons;
    line-height: 44px;
    text-align: center;
    font-size: 24px;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}