.textfield {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 44px;
    border: 1px solid $darkShadeLess;
    background: transparent;
    border-radius: 4px;
    padding-left: 15px;
    color: $darkShadeMore;

    &:hover,
    &:focus {
        border: 1px solid $darkShadeMiddle;
    }
}

.label_none {
    display: none;
}


.textfield_birthday {
    @extend .textfield;
    text-transform: uppercase;
    white-space: nowrap;
    &:hover,
    &:focus {
        border: 1px solid $darkShadeMiddle;
    }
}


.textfield_email {
    @extend .textfield;
    &::before {
        position: absolute;
        content: "";
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        width: 16px;
        height: 2px;
        top: 19px;
        right: 9px;
        z-index: 2;
    }

    &::after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 10px;
        height: 10px;
        border-image: linear-gradient(45deg, #BC9CFF 0%, #8BA4F9 100%);
        border-image-slice: 1;
        border-style: solid;
        border-width: 2px 2px 0 0;
        border-color: transparent;
        border-style: solid;
        transform: rotate(45deg);
    }
}