mixin textfield({ modifier = '', placeholder = '', value = '', name = 'text', maxText = 30, autofocus = false })
  - 
    const textfieldType = modifier === 'password' 
      ? 'password' 
      : 'text';

    const textfieldClass = modifier === '' 
      ? 'textfield' 
      : `textfield textfield_type_${ modifier }`;

  div(class = textfieldClass)
    input(
      class = 'textfield__input' 
      type = textfieldType 
      placeholder = placeholder, 
      value = value 
      name = name 
      data-rule = name, 
      maxlength = maxText 
      autofocus = autofocus)