@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/fonts.scss';

@import './__input/textfield__input.scss';

.textfield {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 44px;
  min-width: 260px;
  padding: 0px 0 2px 12px;
  border: 1px solid $dark-shade_less;
  border-radius: 4px;
  font-size: 13.5px;
  background: transparent;
  color: $dark-shade_more;
  letter-spacing: 0.01em;
  
  &:hover,
  &:focus {
    border: 1px solid $dark-shade_medium;
  }

  @include _450 {
    margin: 0 auto;
  }
}