include ./__input/textfield__input.pug

mixin textfield({ inputClass="", placeholder="", valueText="", nameText="text", maxText=30, autofocus=false })
  if inputClass == ""
    div(class="textfield")
      +textfield__input({
        inputType: "text",
        placeHolder: placeholder,
        valueText: valueText,
        nameText: nameText,
        maxText: maxText,
        autofocus: autofocus
      })
  else if inputClass === "password"
    div(class=`textfield_type_${inputClass}`)
      +textfield__input({
        inputType: "password",
        placeHolder: placeholder,
        valueText: valueText,
        nameText: nameText,
        maxText: maxText,
        autofocus: autofocus
      })
  else
    div(class=`textfield_type_${inputClass}`)
      +textfield__input({
        inputType: "text",
        placeHolder: placeholder,
        valueText: valueText,
        nameText: nameText,
        maxText: maxText,
        autofocus: autofocus
      })