include ./textfield.pug

mixin textfield_type_subscribe(theme="")
  if theme == ""
    +textfield("textfield_email", "Email", "", "email", "30", autofocus=false)
  else
    +textfield("textfield_in-subscription", "Email", "", "email", "30", autofocus=false)