include ./__input/textfield__input.pug

mixin textfield(inputClass, placeholder, valueText, nameText, maxText, autofocus=false)
  if inputClass == ""
    div(class="textfield" + inputClass)
      +textfield__input("text", placeholder, valueText, nameText, maxText, autofocus)
  else if inputClass === "password"
    div(class="textfield" + "_type_" + inputClass)
      +textfield__input("password", placeholder, valueText, nameText, maxText, autofocus)
  else
    div(class="textfield" + "_type_" + inputClass)
      +textfield__input("text", placeholder, valueText, nameText, maxText, autofocus)
      