mixin textfield({ inputClass = '', placeholder = '', valueText = '', nameText = 'text', maxText = 30, autofocus = false })
  - 
    const textfieldType = inputClass === 'password' 
      ? 'password' 
      : 'text';

    const textfieldClass = inputClass === '' 
      ? 'textfield' 
      : `textfield textfield_type_${ inputClass }`;

  div(class = textfieldClass)
    input(
      class = 'textfield__input' 
      type = textfieldType 
      placeholder = placeholder, 
      value = valueText 
      name = nameText 
      data-rule = nameText, 
      maxlength = maxText 
      autofocus = autofocus)