.card-registration {
  @include containerShadowed();
  @include isFlex($direction: column, $justify: flex-start);
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 39px;
  width: 382px;
  height: 650px;

  @media (max-width: 400px) {
    padding: 25px 30px;
    margin: 0 auto;
    min-width: 320px;
    width: 100vw;
  }
}

.card-registration > .textfield:first-of-type {
  margin-top: 21px;
}

.card-registration > .textfield:nth-of-type(3) {
  margin-top: 10px;
}

.card-registration > .radio__row {
  margin-top: 10px;
}

.card-registration > div:nth-of-type(6) {
  margin-top: 21px;
}

.card-registration > div:nth-of-type(7) {
  margin-top: 20px;
}

.card-registration > .toggle__element {
  margin-top: 6px;
}

.card-registration > .button_submit {
  margin-top: 20px;
  padding: 15px 20px;
}

.card-registration > .card__text_row {
  //margin-top: 30px;
  letter-spacing: 0.005em;
}

.card-registration .label {
  letter-spacing: .006em;
}