.card-registration {
  @include isFlex($direction: column, $justify: flex-start);
  @include containerShadowed();
  width: 380px;
  height: fit-content;
  min-height: 645px;
  padding: 39px 29px 29px;

  @media (max-width: 400px) {
    width: 100vw;
    min-width: 320px;
    margin: 0 auto;
    padding: 25px 30px;
  }
}

.card-registration__name,
.card-registration__surname,
.card-registration__birthday,
.card-registration__login,
.card-registration__name,
.card-registration__button_type_submit,
.card-registration__info {
  width: 100%;
}

.card-registration__button_type_link {
  @include containerBlock(99px, 44px);
  line-height: 40px;
}

.card-registration__name {
  margin-top: 20px;
}

.card-registration__surname {
  margin-top: 10px;
}

.card-registration__radio {
  width: 222px;
  margin-top: 10px;
}

.card-registration__birthday {
  margin-top: 22px;
  height: 62px;
}

.card-registration__login {
  margin-top: 22px;
  height: 116px;
}

.card-registration__specials {
  margin-top: 10px;
}

.card-registration__button_type_submit {
  margin-top: 20px;
}

.card-registration__info {
  margin-top: 30px;
  min-width: 270px;
}