include ../text-field/_text-field.pug
include ../button/_button.pug
include ../buttons-radio/_buttons-radio.pug
include ../button-toggle/_button-toggle.pug

mixin cardRegistration(submitText)
  form.card-registration.js-card-registration(method="get" action="./registration.html" )
    h1.card__text Регистрация аккаунта
    .card-registration__name
      +name()
    .card-registration__surname
      +surname()
    .card-registration__radio
      +buttonsRadio("gender-man", true, "gender-woman", false)
    .card-registration__birthday
      +birthdayContainer("Дата рождения", "")
    .card-registration__login
      +loginContainer("Данные для входа в сервис", "")
    .card-registration__specials
      +buttonToggleItem("special offers", false)
    .card-registration__button
      +buttonFormSubmit(submitText)
    .card-registration__info
      .card__text_in-row
        .card__subline Уже есть аккаунт на Toxin
        +buttonFormLink("Войти", "signin.html")