include ../textfield/textfield__label.pug
include ../textfield/textfield_type_birthday.pug
include ../textfield/textfield_type_login.pug
include ../textfield/textfield_type_name.pug
include ../textfield/textfield_type_surname.pug
include ../button/button_type_submit.pug
include ../button/button_type_link.pug
include ../buttons-radio/buttons-radio.pug
include ../button-toggle/button-toggle.pug

mixin card-registration(submitText)
  form.card-registration.js-card-registration(method="get" action="./registration.html" )
    h1.card__text Регистрация аккаунта
    .card-registration__name
      +textfield_type_name()
    .card-registration__surname
      +textfield_type_surname()
    .card-registration__radio
      +buttons-radio("gender-man", true, "gender-woman", false)
    .card-registration__birthday
      .widget_textfield
        +textfield__label("Дата рождения", "")
        +textfield_type_birthday()
    .card-registration__login
      .widget
        +textfield__label("Данные для входа в сервис", "")
        +textfield_type_login()
    .card-registration__specials
      +button-toggle("special offers", false)
    .card-registration__button_type_submit
      +button_type_submit(submitText)
    .card-registration__info
      .card__text_in-row
        .card__subline Уже есть аккаунт на Toxin
        .card-registration__button_type_link
          +button_type_link("Войти", "signin.html")