include ../button-link/button-link.pug
include ../radio-buttons/radio-buttons.pug
include ../button-submit/button-submit.pug
include ../button-toggle/button-toggle.pug
include ../label/label.pug
include ../login/login.pug
include ../textfield/textfield.pug

mixin card-registration(submitText)
  form.card-registration.js-card-registration(
    method = 'get' 
    action = './registration.html' )
    h1.card__title Регистрация аккаунта
    .card-registration__name
      +textfield({ 
        inputClass: 'name',
        placeholder: 'Имя',
        valueText: '',
        nameText: 'name',
        maxText: 20 
      })
    .card-registration__surname
      +textfield({ 
        inputClass: 'name',
        placeholder: 'Фамилия',
        valueText: '',
        nameText: 'surname',
        maxText: 20 
      })
    .card-registration__radio
      +radio-buttons({ })
    .card-registration__birthday
      .container
        +label({ labelText: 'Дата рождения' })
        +textfield({
          inputClass: 'birthday',
          placeholder: 'ДД.ММ.ГГГГ',
          nameText: 'birthday',
          maxText: 10
        })
    .card-registration__login
      .container
        +label({ labelText: 'Данные для входа в сервис' })
        +login()
    .card-registration__specials
      +button-toggle({ inputName: 'special offers' })
    .card-registration__button-submit
      +button-submit({ buttonLinkText: submitText })
    .card-registration__info
      .card__row
        .card__text Уже есть аккаунт на Toxin
        .card-registration__button-link
          +button-link({
            buttonLinkText: 'Войти',
            buttonLinkHref: 'sign-in.html',
            element: 'sign-in'
          })