@import '@~Assets/styles/card.scss';
@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/general.scss';
@import '@~Assets/styles//mixins.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Components/button-link/button-link.scss';
@import '@~Components/radio-buttons/radio-buttons.scss';
@import '@~Components/button-submit/button-submit.scss';
@import '@~Components/button-toggle/button-toggle.scss';
@import '@~Components/label/label.scss';
@import '@~Components/login/login.scss';
@import '@~Components/textfield/textfield.scss';

.card-registration {
  @include isFlex($direction: column, $justify: flex-start);
  width: 380px;
  height: fit-content;
  min-height: 645px;
  padding: 39px 29px 29px;
  border: 1px solid $shadow-border;
  border-radius: 4px;
  background: $light;
  box-shadow: 0px 0px 25px $shadow;

  @include _400 {
    width: 100vw;
    min-width: 320px;
    margin: 0 auto;
    padding: 25px 30px;
  }

  &__name,
  &__surname,
  &__birthday,
  &__login,
  &__name,
  &__button-submit,
  &__info {
    width: 100%;
  }

  &__button-link {
    display: block;
    width: 99px;
    height: 44px;
    line-height: 40px;
  }

  &__name {
    margin-top: 20px;
  }

  &__surname {
    margin-top: 10px;
  }

  &__radio {
    width: 222px;
    margin-top: 10px;
  }

  &__birthday {
    height: 62px;
    margin-top: 22px;
  }

  &__login {
    height: fit-content;
    min-height: 116px;
    margin-top: 22px;
  }

  &__specials {
    margin-top: 10px;
  }

  &__button-submit {
    margin-top: 20px;
  }

  &__info {
    margin-top: 30px;
    min-width: 270px;
  }
}