include ../button/button.pug
include ../button-toggle/button-toggle.pug
include ../label/label.pug
include ../login/login.pug
include ../radio-buttons/radio-buttons.pug
include ../textfield/textfield.pug

mixin card-registration({ title = 'Регистрация аккаунта', submitText = "", text = 'Уже есть аккаунт на Toxin' })
  form.card-registration.js-card-registration(
    method = 'get' 
    action = './registration.html' )
    h1.card__title!= title
    .card-registration__name
      +textfield({ 
        modifier: 'name',
        placeholder: 'Имя',
        value: '',
        name: 'name',
        maxText: 20 
      })
    .card-registration__surname
      +textfield({ 
        modifier: 'name',
        placeholder: 'Фамилия',
        value: '',
        name: 'surname',
        maxText: 20 
      })
    .card-registration__radio
      +radio-buttons({ })
    .card-registration__birthday
      .container
        +label({ 
          text: 'Дата рождения' 
        })
        +textfield({
          modifier: 'birthday',
          placeholder: 'ДД.ММ.ГГГГ',
          name: 'birthday',
          maxText: 10
        })
    .card-registration__login
      .container
        +label({ 
          text: 'Данные для входа в сервис' 
        })
        +login()
    .card-registration__specials
      +button-toggle({ 
        name: 'special offers' 
      })
    .card-registration__button-submit
      +button({
        innerElement: 'submit',
        text: submitText
      })
    .card-registration__info
      .card__row
        .card__text!= text
        .card-registration__button-link
          +button({
            text: 'Войти',
            href: 'sign-in.html',
            innerElement: 'form-link',
            theme: 'sign-in'
          })