include ../button-link/button-link.pug
include ../buttons-radio/buttons-radio.pug
include ../button-submit/button-submit.pug
include ../button-toggle/button-toggle.pug
include ../textfield/_type/_birthday/textfield_type_birthday.pug
include ../textfield/_type/_login/textfield_type_login.pug
include ../textfield/_type/_name/textfield_type_name.pug

mixin card-registration(submitText)
  form.card-registration.js-card-registration(method="get" action="./registration.html" )
    h1.card__title Регистрация аккаунта
    .card-registration__name
      +textfield_type_name()
    .card-registration__surname
      +textfield_type_name("", "Фамилия", "surname")
    .card-registration__radio
      +buttons-radio("gender", true, false)
    .card-registration__birthday
      +textfield_type_birthday("Дата рождения", "")
    .card-registration__login
      .textfield__container
        +textfield__label("Данные для входа в сервис")
        +textfield_type_login("")
    .card-registration__specials
      +button-toggle("special offers", false)
    .card-registration__button-submit
      +button-submit(submitText)
    .card-registration__info
      .card__row
        .card__text Уже есть аккаунт на Toxin
        .card-registration__button-link
          +button-link("Войти", "signin.html", "signin")