include ../button-link/button-link.pug
include ../radio-buttons/radio-buttons.pug
include ../button-submit/button-submit.pug
include ../button-toggle/button-toggle.pug
include ../label/label.pug
include ../textfield/_type/_birthday/textfield_type_birthday.pug
include ../textfield/_type/_login/textfield_type_login.pug
include ../textfield/_type/_name/textfield_type_name.pug

mixin card-registration(submitText)
  form.card-registration.js-card-registration(
    method= "get" 
    action= "./registration.html" )
    h1.card__title Регистрация аккаунта
    .card-registration__name
      +textfield_type_name({ })
    .card-registration__surname
      +textfield_type_name({ 
        placeholder: "Фамилия", 
        value: "surname", 
        nameText: "surname" })
    .card-registration__radio
      +radio-buttons({ })
    .card-registration__birthday
      +textfield_type_birthday({ 
        labelLeft: "Дата рождения", 
        labelRight: "" 
      })
    .card-registration__login
      .textfield__container
        +label({ labelText: "Данные для входа в сервис" })
        +textfield_type_login("")
    .card-registration__specials
      +button-toggle({ inputName: "special offers" })
    .card-registration__button-submit
      +button-submit({ buttonText: submitText })
    .card-registration__info
      .card__row
        .card__text Уже есть аккаунт на Toxin
        .card-registration__button-link
          +button-link({
            buttonText: "Войти",
            buttonOnclick: "signin.html",
            className: "signin"
          })