@import "../../index.scss";

/*
    Main container
*/

.landingPage {
    @include container($width: 1440px, $height: auto, $mt: 0, $mb: 0, $ms: auto);
    @include isFlex($justify: flex-start, $direction: column);
    min-width: 320px;
    position: relative;
    background: $light;
}

.landingPage__content {
    @include isFlex($justify: flex-start, $direction: column);
    position: relative;
    width: 100%;
    height: calc(830/1440 *100%);
    margin: 0 auto;
    min-width: 320px;
}

.landingPage__text {
    position: absolute;
    text-align: right;
    line-height: 24px;
    width: 270px;
    height: 48px;
    right: 134px;
    bottom: 18px;
    z-index: 2;
}

.landingPage__card_search {
    position: absolute;
    top: 70px;
    left: 140px;
    z-index: 2;
}

/*
    Flex for adaptive design
*/

@media (max-width: 1440px){
    .landingPage {
        width: 100vw;
        height: auto;
    }

    .landingPage__content {
        height: calc(830/1440 *100vw);
    }
} 

@media (max-width: 970px){
    .landingPage__card_search {
        left: 50%;
        transform: translateX(-50%);
    }

    .landingPage__content img,
    .landingPage__content {
        width: 100%;
        height: calc(830/1440 * 970px);
    }
}

@media (max-width: 500px){
    .landingPage__content {
        width: 100%;
        // carousel + card_search + text + initial top
        height: calc(830/1440 * 100vw + 374px + 48px + 40px);
        min-height: calc(683/1440 * 320px + 374px + 48px + 40px);
    }

    .landingPage__text {
        position: relative;
        text-align: center;
        margin: 20px auto;
        right: 0;
        bottom: 0;
    }

    .landingPage__card_search {
        width: fit-content;
        min-width: 320px;
        position: relative;
        margin: 0 auto;
        top: 0;
        left: 0;
        transform: none;
    }

    .landingPage__content img {
        height: auto;
    }
}