@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';
@import '@~Assets/styles/fonts.scss';

@mixin dropdownItem {
  width: 100%;
  height: 30px;
  padding-right: 6px;
  font-size: $fs_h3;
  text-transform: uppercase;
}

@mixin dropdownText {
  width: calc(100% - 30px - 30px - 32px);
  font-weight: 700;
  letter-spacing: .001em;
  color: $dark-shade_most;

  @include xxxl{
    font-size: $fs_base;
  }
}

@mixin dropdownPlus {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid $dark-shade_medium;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

@mixin  dropdownNumber {
  width: 32px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;

  @include xxxl{
    font-size: $fs_base;
  }
}

.dropdown-item {
  @include dropdownItem();
  @include isFlex($justify: flex-start);
  margin-top: 7px;
  padding-left: 14px;

  &_last {
    margin-top: 6px;
    padding-left: 14px;
  }

  &__text {
    @include dropdownText();
    margin-top: 5px;

    &_last {
      margin-top: 6px;
    }
  }

  &__minus {
    @include dropdownPlus();
    top: -2px;
    line-height: 28px;
    
    &_last {
      top: -1px;
      line-height: 29px;
    }

    &_disabled {
      color: $dark-shade_less;
      border: 1px solid $dark-shade_less;
      cursor: default;
    }
  }

  &__plus {
    @include dropdownPlus();
    top: -2px;
    line-height: 28px;

    &_last {
      top: -1px;
      line-height: 29px;
    }

    &_disabled {
      color: $dark-shade_less;
      border: 1px solid $dark-shade_less;
    }
  }

  &__number {
    @include dropdownNumber();
    margin-top: 4px;

    &_last {
      margin-top: 5px;
    }
  }
}