mixin dropdown-item({ itemDataType, itemText, itemDataOrder, itemNumber = 0, modifier = '' })
  -
    const classDropdown = modifier === ''
      ? 'dropdown-item js-dropdown-item'
      : `dropdown-item js-dropdown-item dropdown-item_${ modifier }`

  div(
    class = classDropdown 
    data-type = itemDataType)
    .dropdown-item__text.js-dropdown-item__text!= itemText
    .dropdown-item__minus.js-dropdown-item__minus - 
    div(
      class = 'dropdown-item__number js-dropdown-item__number' 
      data-order = itemDataOrder)= itemNumber
    .dropdown-item__plus.js-dropdown-item__plus +