@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';
@import '@~Assets/styles/fonts.scss';

@mixin dropdownPlus {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid $dark-shade_medium;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.dropdown-item {
  @include isFlex($justify: flex-start);
  width: 100%;
  height: 30px;
  margin-top: 7px;
  padding-right: 6px;
  padding-left: 14px;
  font-size: $fs_h3;
  text-transform: uppercase;  

  &__text {
    width: calc(100% - 30px - 30px - 32px);
    margin-top: 5px;
    font-weight: 700;
    letter-spacing: .001em;
    color: $dark-shade_most;

    @include xxxl {
      font-size: $fs_base;
    }
  }

  &__minus {
    @include dropdownPlus();
    top: -2px;
    line-height: 28px;

    &_disabled {
      color: $dark-shade_less;
      border: 1px solid $dark-shade_less;
      cursor: default;
    }
  }

  &__plus {
    @include dropdownPlus();
    top: -2px;
    line-height: 28px;

    &_disabled {
      color: $dark-shade_less;
      border: 1px solid $dark-shade_less;
    }
  }

  &__number {
    width: 32px;
    margin-top: 4px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;

    @include xxxl {
      font-size: $fs_base;
    }
  }

  &_last {
    margin-top: 6px;
    padding-left: 14px;

    & .dropdown-item__text {
      margin-top: 6px;
    }

    & .dropdown-item__minus {
      top: -1px;
      line-height: 29px;
    }

    & .dropdown-item__plus {
      line-height: 29px;
    }

    & .dropdown-item__number {
      margin-top: 5px;
    }
  }
}