mixin dropdown-item({ dataType, text, dataOrder, itemAmount = 0, modifier = '' })
  -
    const classDropdown = modifier === ''
      ? 'dropdown-item js-dropdown-item'
      : `dropdown-item js-dropdown-item dropdown-item_${ modifier }`

  div(
    class = classDropdown 
    data-type = dataType)
    .dropdown-item__text.js-dropdown-item__text!= itemText
    .dropdown-item__minus.js-dropdown-item__minus - 
    div(
      class = 'dropdown-item__number js-dropdown-item__number' 
      data-order = dataOrder)= itemAmount
    .dropdown-item__plus.js-dropdown-item__plus +