.bullet__container {
  width: 292px;
  height: 147px;

  @media (max-width: 450px) {
    width: 280px;
    margin: 0 auto;
  }
}

.bullet {
  @include isFlex($justify: start);
  position: relative;

  &__icon {
    display: block;
    top: 7px;
    position: relative;
    width: 10.43px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: $darkShadeLess;
  }
  
  &__title {
    width: 242px;
    font-weight: 400;
    font-size: $fs_base;
    line-height: 24px;
    color: $darkShadeMore;
    letter-spacing: .001em;

    @media (min-width: 1750px) and (max-width: 1920px) {
      width: calc(100% - 20px);
      font-size: $fs_h2;
      letter-spacing: 0;
    }
  }
}

.bullet__container > .label {
  margin-bottom: 11px;
}

.bullet + .bullet {
  margin-top: 11px;
}