mixin bulletCheckboxContainer(containerText, checkboxList)
  .bullet__container
    h3.bullet__label!= containerText
    +bulletCheckboxList(checkboxList)

mixin bulletCheckboxList(checkboxList)
  for item in checkboxList 
    +bulletCheckboxItem(item)

mixin bulletCheckboxItem(bulletTitle)
  label.bullet
    span.bullet__icon
    span.bullet__title!= bulletTitle