.bullet-checkbox {
  width: 292px;
  height: 147px;

  @media (max-width: 450px) {
    width: 280px;
    margin: 0 auto;
  }
}

.bullet-checkbox {
  &__label {
    @include labelMixin();
    margin-bottom: 3.5px;
  }
  
  &__item {
    @include isFlex($justify: start);
    position: relative;
  }

  &__icon {
    display: block;
    top: 7px;
    position: relative;
    width: 10.43px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: $dark-shade_less;
  }
  
  &__title {
    width: 242px;
    font-weight: 400;
    font-size: $fs_base;
    line-height: 24px;
    color: $dark-shade_more;
    letter-spacing: .001em;

    @media (min-width: 1750px) and (max-width: 1920px) {
      width: calc(100% - 20px);
      letter-spacing: 0;
    }
  }
}

.bullet-checkbox__item + .bullet-checkbox__item {
  margin-top: 10px;
}

.bullet-checkbox__label + .bullet-checkbox__list {
  margin-top: 8px;
}