@import './__item/bullet-checkbox__item.scss';

.bullet-checkbox {
  @include isFlex($direction: column);
  width: 292px;
  height: 142px;

  @media (max-width: 450px) {
    width: 280px;
    margin: 0 auto;
  }
}

.bullet-checkbox__label {
  @include headerThird();
  @include labelMixin();
  line-height: $fs_h3;
}

.bullet-checkbox__item + .bullet-checkbox__item {
  margin-top: 10px;
}
