@import '@~Assets/styles/fonts.scss';
@import '@~Assets/styles/media-mixins.scss';
@import './__item/bullet-checkbox__item.scss';

.bullet-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: 1 0 nowrap;
  width: 292px;
  height: 142px;

  @include _450 {
    width: 280px;
    margin: 0 auto;
  }
}

.bullet-checkbox__label {
  display: inline-block;
  height: 15px;
  margin: 0;
  line-height: $fs_h3;
  font-size: $fs_h3;
  font-weight: 700;
  letter-spacing: .003em;
  color: $dark-shade_most;
  text-transform: uppercase;
  pointer-events: none;

  @include _1750-1920 {
    font-size: $fs_base;
    height: $fs_h2;
  }
}

.bullet-checkbox__item + .bullet-checkbox__item {
  margin-top: 10px;
}
