mixin bullet-checkbox({ checkboxList = [], text = '' })
  .bullet-checkbox
    if text !== ''
      h3.bullet-checkbox__label!= text
    .bullet-checkbox__list
      for item in checkboxList 
        label.bullet-checkbox__item
          span.bullet-checkbox__icon
          span.bullet-checkbox__title!= item