@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/fonts.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';

.bullet-checkbox {
  @include isFlex($direction: column);
  width: 292px;
  height: 142px;

  @include xxs {
    width: 280px;
    margin: 0 auto;
  }

  &__label {
    display: inline-block;
    height: 15px;
    margin: 0;
    line-height: $fs_h3;
    font-size: $fs_h3;
    font-weight: 700;
    letter-spacing: .003em;
    color: $dark-shade_most;
    text-transform: uppercase;
    user-select: none;

    @include xxxl{
      font-size: $fs_base;
      height: $fs_h2;
    }
  }

  &__item {
    @include isFlex($justify: flex-start);
    position: relative;
    user-select: none;
  }

  &__icon {
    position: relative;
    top: 7px;
    display: inline-block;
    width: 10.43px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: $dark-shade_less;
  }

  &__title {
    width: 242px;
    line-height: 24px;
    font-size: $fs_base;
    letter-spacing: .001em;
    font-weight: 400;
    color: $dark-shade_more;

    @include xxxl{
      width: calc(100% - 20px);
      letter-spacing: 0;
    }
  }

  &__item + &__item {
    margin-top: 10px;
  }
}
