include ./__item/bullet-checkbox__item.pug

mixin bullet-checkbox({ checkboxList=[], labelText="" })
  .bullet-checkbox
    if labelText === ""
      .bullet-checkbox__list
        for item in checkboxList 
          +bullet-checkbox__item(item)
    else 
      h3.bullet-checkbox__label!= labelText
      .bullet-checkbox__list
        for item in checkboxList 
          +bullet-checkbox__item(item)