mixin bullet-checkbox({ checkboxList = [], labelText = '' })
  .bullet-checkbox
    if labelText !== ''
      h3.bullet-checkbox__label!= labelText
    .bullet-checkbox__list
      for item in checkboxList 
        label.bullet-checkbox__item
          span.bullet-checkbox__icon
          span.bullet-checkbox__title!= item