include ../../../label/label.pug
include ../../textfield.pug

mixin textfield_type_birthday({ labelLeft="", labelRight="" })
  .textfield__container
    +label({ labelText: labelLeft, labelRightText: labelRight })
    +textfield({
      inputClass: "birthday",
      placeholder: "ДД.ММ.ГГГГ",
      nameText: "birthday",
      maxText: 10
    })