@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';

@import '../../__container/textfield__container.scss';
@import '../../__input/textfield__input.scss';
@import '../../__label/textfield__label.scss';
@import '../../textfield.scss';

.textfield_type_birthday {
  padding: 0 0 3px 13px;
  text-transform: uppercase;
  white-space: nowrap;
}