include ../../../navlink/navlink.pug

mixin footer__info_visible({ navigations, abouts, supports, theme="main" })
  div(class=`footer__info_${theme}`)
    .footer__navigation
      h3.footer__title Навигация
      ul.footer__links
        for navigation in navigations
          +navlink({
            buttonText: navigation, 
            buttonOnclick: "./some-address",
            navlinkModificator: "footer"
          })
    .footer__about
      h3.footer__title О нас
      ul.footer__links
        for about in abouts
          +navlink({
            buttonText: about,
            buttonOnclick: "./some-address",
            navlinkModificator: "footer"
          })
    .footer__support
      h3.footer__title Служба поддержки
      ul.footer__links
        for support in supports
          +navlink({
            buttonText: support,
            buttonOnclick: "./some-address",
            navlinkModificator: "footer"
          })
