@import '@~Assets/styles/media-mixins.scss';
@import '@~Components/navlink/navlink.scss';

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 168px;
  width: 548px;
  margin-right: 50px;
  padding-top: 4px;

  @include _1500-1920 {
    justify-content: space-between;
    width: 50%;
    margin-right: 0;
  }

  @include _1340 {
    width: 35%;
    min-width: 415px;
    margin-right: 0;
  }

  @include _800 {
    width: 430px;
    height: 120px;
    margin-bottom: 40px;
  }

  @include _470 {
    display: none;
  }
}

.footer__info_in-details {
  letter-spacing: .001em;
}
