@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';

@import '../textfield/textfield.scss';

.login {
  @include isFlex($direction: column);
  min-height: 98px;
  width: 100%;
  margin-top: 3px;
  padding: 0;
  border: none;

  &_in_main {
    margin-top: 20px;
  }

  &_in_sign-in {
    margin-top: 20px;
  }
}
