include ../textfield/textfield.pug

mixin login(theme = '')
  - 
    var loginClass = theme === ''
      ? 'login' 
      : `login login_in_${ theme }`;

  div(class = loginClass)
    +textfield({ 
      inputClass: 'email',
      placeholder: 'Email',
      nameText: 'email',
      autofocus: false 
    })
    +textfield({ 
      inputClass: 'password',
      placeholder: 'Пароль',
      nameText: 'password'
    })