include ../textfield/textfield.pug

mixin login(theme = '')
  - 
    const loginClass = theme === ''
      ? 'login' 
      : `login login_in_${ theme }`;

  div(class = loginClass)
    +textfield({ 
      modifier: 'email',
      placeholder: 'Email',
      name: 'email',
      autofocus: false 
    })
    +textfield({ 
      modifier: 'password',
      placeholder: 'Пароль',
      name: 'password'
    })