mixin checkbox-item({ value = '', name = '', checked = false, title = '', modifier = '', description = '' })
  -
    const className = modifier === 'rich'
      ? 'checkbox-item checkbox-item_rich'
      : 'checkbox-item';

  label(class = className)
    input(
      type = 'checkbox'
      value = value
      name = name
      checked = checked).checkbox-item__real
    span.checkbox-item__fake
    if modifier === 'rich'
      span.checkbox-item__form
        span.checkbox-item__title!= title
        span.checkbox-item__description!= description
    else 
      span.checkbox-item__title!= title