mixin checkbox-item({valueText = "", inputName = "", ifChecked = false, checkboxTitle = "", modifier = "", checkboxDescription = ""})
  -
    var itemClass = modifier === "rich"
      ? "checkbox-item checkbox-item_rich"
      : "checkbox-item"
  - 
    var titleClass = modifier === "" 
      ? "checkbox-item__title" 
      : `checkbox-item__title checkbox-item__title_${modifier}`

  label(class = itemClass)
    input(
      type = "checkbox"
      value = valueText
      name = inputName
      checked = ifChecked).checkbox-item__real
    span.checkbox-item__fake
    if modifier === "rich"
      span.checkbox-item__form
        span(class = titleClass)= checkboxTitle
        span.checkbox-item__description!= checkboxDescription
    else 
      span(class = titleClass)= checkboxTitle