mixin checkbox-item({valueText = '', inputName = '', checked = false, checkboxTitle = '', modifier = '', checkboxDescription = ''})
  -
    const itemClass = modifier === 'rich'
      ? 'checkbox-item checkbox-item_rich'
      : 'checkbox-item';

  label(class = itemClass)
    input(
      type = 'checkbox'
      value = valueText
      name = inputName
      checked = checked).checkbox-item__real
    span.checkbox-item__fake
    if modifier === 'rich'
      span.checkbox-item__form
        span.checkbox-item__title!= checkboxTitle
        span.checkbox-item__description!= checkboxDescription
    else 
      span.checkbox-item__title!= checkboxTitle