@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles//mixins.scss';
@import '@~Components/button-link/button-link.scss';

.header {
  &__forms {
    @include isFlex($align: center);
    width: 303px;
    height: 34px;

    @include _550 {
      width: 210px;
    }
  }

  &__signin {
    display: block;
    width: 87px;
    height: 34px;
    line-height: 30px;
  }

  &__registration {
    display: block;
    width: 196px;
    height: 34px;
    line-height: 34px;

    @include _550 {
      width: calc(200px - 87px);
    }
  }
}
