include ../../button-link/button-link.pug

mixin header__forms({ signinText="", signinLink="/some-link", regLink="/reg-link" })
  .header__forms
    .header__signin
      +button-link({
        buttonText: signinText,
        buttonOnclick: signinLink,
        className: "signin"
      })
    .header__registration
      +button-link({ 
        buttonOnclick: regLink,
        className: "registration"
      })