include ../../../components/card-search/card-search.pug
include ../../../components/card-registration/_card-registration.pug
include ../../../components/card-booking/card-booking.pug
include ../../../components/card-singin/card-signin.pug
include ../../../components/calendar/calendar.pug
include ../../../components/card-room/card-room.pug

block variables
  - var title = "UIKit";
  - var description = "UIKit";
  - var keywords = "UIKit";
  - var room888 = {src: ["./assets/images/rooms/room.jpg", "./assets/images/rooms/room.jpg", "./assets/images/rooms/room.jpg", "./assets/images/rooms/room.jpg"], bookingNumber: "888", bookingType: "Люкс", bookingPrice: "9 990", starName: "rating3", starRate: 5, reviewAmount: "145"};
  - var room840 = {src: ["./assets/images/rooms/room2.jpg", "./assets/images/rooms/room2.jpg", "./assets/images/rooms/room2.jpg", "./assets/images/rooms/room2.jpg"], bookingNumber: "840", bookingType: "", bookingPrice: "9 900", starName: "rating4", starRate: 4, reviewAmount: "65"};

block content
  .cards_outer.js-dropdown__detection
    img.uikit-logo(src= "./assets/images/logo/logo.svg" alt="uikit logo")
    .cards_inner
      .cards__card-search
        +card-search()
      .cards__card-registration
        +card-registration("Перейти к оплате")
      .cards__card-booking
        +card-booking("Сбор за дополнительные услуги", "full")
      .cards__card-signin
        +card-signin()
      .cards__calendar
        +calendar("calendarSimple")
      +card-room(room888)
      +card-room(room840)