include ../../../components/calendar/calendar.pug
include ../../../components/card-booking/card-booking.pug
include ../../../components/card-registration/card-registration.pug
include ../../../components/card-room/card-room.pug
include ../../../components/card-search/card-search.pug
include ../../../components/card-sing-in/card-sign-in.pug

mixin cards({ room1, room2, info })
  .cards.js-dropdown__detection
    img.uikit__logo(src = './assets/images/logo/logo.svg' alt = 'uikit logo')
    .cards__content
      .cards__card-search
        +card-search()
      .cards__card-registration
        +card-registration({ submitText: 'Перейти к оплате' })
      .cards__card-booking
        +card-booking({ info: info })
      .cards__card-sign-in
        +card-sign-in({})
      .cards__calendar
        +calendar()
      .cards__card-room
        +card-room({
          options: room1
        })
      .cards__card-room_second
        +card-room({ 
          options: room2,
          theme: 'creative' 
        })