/* src/assets/styles/common/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}
html,
body {
  font-size: 12px;
  line-height: 14.63px;
  font-family: $Montserrat;
  font-weight: 400;
  color: $darkShadeMore;
  background: darkkhaki;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-size: 19px;
  line-height: 23,75px;
}

h3 {
  font-size: 12px;
  line-height: 14,63px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.purple-text {
  color: $purple;
}

button {
  border: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
}

// .formContainer_big {
//   @include container($width: 320, $height: 67);
//   @include isFlex($direction: column);
// }

// .formContainer_medium {
//   @include container($width: 267, $height: 64);
//   @include isFlex($direction: column);
// }

.container_small {
  @include isFlex($direction: column);
  width: 150px;
}

.container_medium {
  @include isFlex($direction: column);
  width: 266px;
}


select {
  //background-image: url('../../images/svg/arrowSelect.svg');
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: right 13px center;
  padding-right: 30px;
}

.widget {
  position: relative;
  width: 100%;
}

.row_middle {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: 140px;
  margin-top: 140px;
}

input {
  width: 95%;
  height: 90%;
  appearance: none;
  background: transparent;
  border: none;
}

.label {
  display: inline-block;
  height: 15px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;

  &_right {
    @extend .label;
    font-weight: 400;
    color: $darkShadeMiddle;
    position: absolute;
    right: 0;
  }
}

.error {
  font-size: 12px;
  position: absolute;
  display: block;
  color: red;
  bottom: -20px;
  left: 0;
}

fieldset {
  border: none;
  padding: 0;
}

.row {
  @include isFlex;
  width: 100%;
}

.margin__top_10 {
  margin-top: 10px;
  width: 100%;
}

.margin__top_20 {
  margin-top: 20px;
  width: 100%;
}

.margin__left_30 {
  margin-left: 30px;
  width: 100%;
}

.width-and-heigh_266 {
  width: 266px;
  height: 266px;
  @include isFlex($direction: column, $justify: flex-start);
}

.width-and-heigh_266 > div {
  margin-bottom: 20px;
}