mixin cardRegistration()
    .card_registration
        .card__text Регистрация аккаунта
        .margin__top_10
            +name()
        +surname()
        +buttonsRadio("gender-man", true, "gender-woman", false)
        .margin__top_10
            +birthdayContainer("Дата рождения", "")
        .margin__top_10
            +loginContainer("Данные для входа в сервис", "")
        +buttonToggleItem("special offers", false)
        .margin__top_10
            +buttonFormSubmit("Перейти к оплате")
        .margin__top_20
            .card__text_row
                .card__subline Уже есть аккаунт на Toxin
                +buttonFormLink("Войти", "/login")


