extends ./views/templates/_template.pug

block variables
    - var title = "Form Elements";
    - var description = "UIkit";
    - var keywords = "";
    //- - var pageClass = "";

block content
    .row_middle
      //- //- Desktop page
      //- include ./components/header/header.pug
      //-   //-Components
      //- include ./components/card/card.pug
      
      //- include ./components/dropdown/_dropdown.pug
      //- include ./components/textFieldMasked/_textFieldMasked.pug
      //- include ./components/dropdownDate/_dropdownDate.pug

      //- .label DROPDOWN
      //- include ./components/guests/guests.pug

      //- .label DROPDOWN
      //- include ./components/checkboxExpandable/_checkboxExpandable.pug
      //- include ./components/textFieldSubscription/_textFieldSubscription.pug