extend ./assets/templates/template.pug

block variables
  - var title = "Hotel page";
  - var description = "index";
  - var keywords = "index";

block content
  .welcome Welcome to index.page (=^_^=)