@import '@~Assets/styles/media-mixins.scss';

@mixin isFlex(
  $direction: row,
  $justify: space-between,
  $align: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-shrink: 0;
}

.card-booking__price-info {
  @include isFlex($justify: flex-start);
  width: 100%;
  min-height: 24px;
  line-height: 18px;
  margin-top: 10px;
  margin-left: 1px;
  color: $dark-shade_more;
  pointer-events: none;

  @include _1750-1920 {
    max-width: 490px;
  }

  @include _450 {
    justify-content: space-between;
    min-width: 260px;
    width: 100%;
    margin: 9px 0;
  }
}

//TODO
.card-booking__price-info_total {
  @extend .card-booking__price-info;
  margin-top: 30px;
  margin-left: 0;
}

.card-booking__description {
  display: inline-block;
  width: calc(100% - 101px);
  text-align: left;
  letter-spacing: .0001em;

  @include _1650-1920 {
    width: calc(100% - 100px);
  }

  @include _450 {
    width: calc(100% - 120px);
    max-width: 170px;
  }
}


.card-booking__description_special {
  @include isFlex();
  width: 168px;
  margin-bottom: 16px;
  letter-spacing: .0001em;

  @include _1650-1920 {
    width: 240px;
  }

  @include _450 {
    width: calc(100% - 120px);
    max-width: 170px;
  }
}

.card-booking__expense {
  @include isFlex($direction: row-reverse);
  width: 99px;
  text-align: right;
  letter-spacing: .002em;

  @include _1650-1920 {
    width: 90px;
  }
}

.card-booking__expense_special {
  @extend.card-booking__expense;
  width: calc(100% - 169px);

  @include _1650-1920 {
    width: calc(100% - 240px);
  }

  @include _450 {
    width: 120px;
  }
}

.card-booking__info-sign {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $dark-shade_less;
  line-height: 20px;
  background: $light;

  &::before {
    content: 'i';
    position: absolute;
    top: 2px;
    left: 7px;
    line-height: $fs_base;
    font-size: $fs_h3;
    font-weight: 700;
    color: $dark-shade_less;
  }
}