/* src/assets/styles/utils/_colors.scss  */

$darkShadeMost: rgba(31, 32, 65, 1);
$darkShadeMore: rgba(31, 32, 65, 0.75);
$darkShadeMiddle: rgba(31, 32, 65, 0.5);
$darkShadeLess: rgba(31, 32, 65, 0.25);
$darkShadeFew: rgba(31, 32, 65, 0.1);
$darkShadeFewer: rgba(31, 32, 65, 0.05);
$darkShade: rgba(0, 0, 0, 0);
$purple: rgba(188,156,255,1);
$purpleLess: rgba(188, 156, 255, 0.25);
$green: #6fcf97;
$blue: #66d2ea;
$light: #fff;
$background: #F4F4F6;


$linearGradientFirst: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$linearGradientFirst: linear-gradient(#bc9cff, #8ba4f9);

$linearGradientShadow: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
$linearGradientMetal: linear-gradient(90deg, $darkShadeMiddle 0%, $darkShade 99.99%, $light 100%);

$linearGradientTurquoise: linear-gradient(180deg, $green 0%, $blue 100%);
$linearGradientGrape: linear-gradient(180deg, rgba(188, 156, 255, 0.15) 0%, rgba(139, 164, 249, 0.15) 100%);
$linearGradientCitrus: linear-gradient(180deg, #ffe39c 0%, #ffba9c);
$linearGradientPurple: linear-gradient(180deg, #919191 0%, #3d4975 100%);