/* src/assets/styles/base/_Fonts.scss */

/*
    Montserrat 400
*/

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("@~Fonts/montserrat/Montserrat-Regular.eot") format('eot');
  src: url("@~Fonts/montserrat/Montserrat-Regular.woff2") format('woff2'),
  url("@~Fonts/montserrat/Montserrat-Regular.woff") format('woff'),
  url("@~Fonts/montserrat/Montserrat-Regular.ttf") format('truetype'),
  url("@~Fonts/montserrat/Montserrat-Regular.svg") format('svg');
}

/*
  Montserrat 700
*/

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("@~Fonts/montserrat/Montserrat-Bold.eot") format('eot');
  src: url("@~Fonts/montserrat/Montserrat-Bold.woff2") format('woff2'),
  url("@~Fonts/montserrat/Montserrat-Bold.woff") format('woff'),
  url("@~Fonts/montserrat/Montserrat-Bold.ttf") format('truetype'),
  url("@~Fonts/montserrat/Montserrat-Bold.svg") format('svg');
}


/* 
  Material Design Icons
*/

@font-face {
  font-family: "MaterialIcons";
  font-weight: 700;
  src: url("@~Fonts/material/MaterialIcons.eot") format('eot');
  src: url("@~Fonts/material/MaterialIcons.woff2") format('woff2'),
  url("@~Fonts/material/MaterialIcons.woff") format('woff'),
  url("@~Fonts/material/MaterialIcons.ttf") format('truetype');
}


@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  src: url("@~Fonts/fa-brands/fa-brands-400.eot") format('eot');
  src: url("@~Fonts/fa-brands/fa-brands-400.woff2") format('woff2'),
  url("@~Fonts/fa-brands/fa-brands-400.woff") format('woff'),
  url("@~Fonts/fa-brands/fa-brands-400.ttf") format('truetype'),
  url("@~Fonts/fa-brands/fa-brands-400.svg") format('svg');
}

@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  src: url("@~Fonts/quicksand/Quicksand-Regular.eot") format ('eot');
  src: url("@~Fonts/quicksand/Quicksand-Regular.woff") format ('woff'),
  url("@~Fonts/quicksand/Quicksand-Regular.ttf") format ('ttf'),
  url("@~Fonts/quicksand/Quicksand-Regular.svg") format ('svg');
}

@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  src: url("@~Fonts/quicksand/Quicksand-Bold.eot") format ('eot');
  src: url("@~Fonts/quicksand/Quicksand-Bold.woff") format ('woff'),
  url("@~Fonts/quicksand/Quicksand-Bold.ttf") format ('ttf'),
  url("@~Fonts/quicksand/Quicksand-Bold.svg") format ('svg');
}


// @font-face {
//   font-family: "Font Awesome";
//   font-weight: 400;
//   src: url("@~Fonts/fa/fa-regular-400.eot") format ('eot');
//   src: url("@~Fonts/fa/fa-regular-400.woff2") format ('woff2'),
//   url("@~Fonts/fa/fa-regular-400.woff") format('woff'),
//   url("@~Fonts/fa/fa-regular-400.ttf") format('truetype'),
//   url("@~Fonts/fa/fa-regular-400.svg") format('svg');
// }

// $FontAwesome: "Font Awesome";

$MaterialIcons: "MaterialIcons";
$Montserrat: "Montserrat", Arial, sans-serif;
$FontAwesome: "Font Awesome 5 Brands";
$Quicksand: "Quicksand";


