/* src/assets/styles/common/_general.scss  */

@import "./normalize";

* {
  box-sizing: border-box;
  outline: none;
  flex-shrink: 0;
}

$fs_base: 14px;   //1rem
$fs_h1: 1.714rem; //24px
$fs_h2: 1.357rem; //19px
$fs_h3: 0.857rem; //12px

html,
body {
  -webkit-text-size-adjust: 100%; 
  font-size: $fs_base;
  line-height: 14.63px;
  letter-spacing: -0.05em;
  font-family: $Montserrat;
  font-weight: 400;
  color: $darkShadeMore;
  margin: 0 auto;
  padding: 0;
  background-color: deeppink;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $darkShadeMost;
}

h1 {
  font-size: $fs_h1;
  line-height: 2.142rem;
  font-weight: 700;
}

h2 {
  font-size: $fs_h2;
  line-height: 16.963rem;
  font-weight: 700;
}

h3 {
  font-size: $fs_h3;
  font-weight: 700;
  line-height: 1.045rem;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-size: $fs_base;
  font-weight: 400;
  line-height: $fs_h1;
  color: $darkShadeMore;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: none;
  display: block;
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.purple-text {
  color: $purple;
}

button {
  border: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
}


.container_small {
  @include isFlex($direction: column);
  width: 150px;

  @media (max-width: 450px){
    width: calc(150/320*100%);
    min-width: 130px;
  }
}

.container_small > .label {
  margin-bottom: 4px;
}

.container_medium {
  @include isFlex($direction: column);
  width: 266px;

  @media (max-width: 450px){
    width: 280px;
    margin: 0 auto;
  }
}


select {
  //background-image: url('../../images/svg/arrowSelect.svg');
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: right 13px center;
  padding-right: 30px;
}

.widget {
  position: relative;
  width: 100%;

  @media (max-width: 450px){
    width: 100%;
    min-width: 280px;
    margin: 0 auto;
  }
}

.row_middle {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: 140px;
  margin-top: 140px;
}

input {
  width: 95%;
  height: 90%;
  appearance: none;
  background: transparent;
  border: none;
  // padding-top: 3px;
}

::placeholder { /* Most modern browsers support this now. */
  color:  $darkShadeLess;
}

.label {
  display: inline-block;
  height: 15px;
  line-height: $fs_h3;
  font-size: $fs_h3;
  font-weight: 700;
  //margin-bottom: 3px;
  margin-bottom: 3.5px;
  text-transform: uppercase;
  letter-spacing: -.003em;;

  &_right {
    @extend .label;
    font-weight: 400;
    color: $darkShadeMiddle;
    position: absolute;
    right: 0;
    text-align: right;
    //margin-top: 3px;
  }
}

.error {
  font-size: 12px;
  position: relative;
  display: block;
  color: red;
  height: fit-content;
}

fieldset {
  border: none;
  padding: 0;
}

.row {
  @include isFlex;
  width: 100%;
}

.maretial-icon {
  font-family: $MaterialIcons;
  position: relative;
  width: 48px;
  height: 48px;
  font-size: 48px;
  line-height: 48px;
  margin-right: 10px;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.margin__top_10 {
  margin-top: 10px;
  width: 100%;
}

.margin__top_20 {
  margin-top: 20px;
  width: 100%;
}

.width-and-heigh_266 {
  width: 266px;
  height: 266px;
  @include isFlex($direction: column, $justify: flex-start);
}

.width-and-heigh_266 > div {
  margin-bottom: 20px;
}

.width-and-heigh_266 .label_right {
  margin-top: 2px;
}

.p_r_2 {
  padding-right: 2px;
}

.none {
  display: none;
}