* {
  box-sizing: border-box;
  outline: none;
}

$fs_base: 14px;   //1rem
$fs_h1: 1.714rem; //24px
$fs_h2: 1.357rem; //19px
$fs_h3: 0.857rem; //12px

html,
body {
  margin: 0 auto;
  padding: 0;
  line-height: 14.63px;
  -webkit-text-size-adjust: 100%;
  font-size: $fs_base;
  letter-spacing: .05em;
  font-family: $montserrat;
  font-weight: 400;
  color: $dark-shade_more;
}

.label {
  @include labelMixin();
  @include headerThird();
  line-height: $fs_h3;

  &_right {
    @include labelMixin();
    @include headerThird();
    position: absolute;
    right: 0;
    line-height: $fs_h3;
    font-weight: 400;
    text-align: right;
  }
}

.uikit-logo {
  @include absoluteTopLeft(30px, 30px);
  @include containerSimple(48px, 48px);
  border: none;

  @media (max-width: 750px) {
    top: 10px;
    left: 10px;
  }
}

.error {
  position: relative;
  display: block;
  height: fit-content;
  font-size: $fs_h3;
  color: $error;
}
