@mixin isFlex(
  $direction: row,
  $justify: space-between,
  $align: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-shrink: 0;
}

@mixin absoluteTopLeft($top: 0, $left: 0) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin absoluteTopRight($top: 0, $right: 0) {
  position: absolute;
  top: $top;
  right: $right;
}

@mixin absoluteBottomRight($bottom: 0, $right: 0) {
  position: absolute;
  bottom: $bottom;
  right: $right;
}

@mixin buttonLink {
  position: relative;
  font-size: .84rem;
  font-weight: 700;
  letter-spacing: .01em;
  text-align: center;
  border-radius: 22px;
  text-transform: uppercase;
  cursor: pointer;
  background: $linearGradientLilac;

  &:hover {
    opacity: .5;
  }
}

@mixin buttonLike {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  line-height: 20px;
  color: $dark-shade_less;
  cursor: pointer;

  @media (min-width: 1750px) and (max-width: 1920px) {
    width: 60px;
    height: 30px;
    line-height: 30px;
  }
}

@mixin buttonLikeBefore {
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
  border-radius: 10px;
  background: $light;
  cursor: pointer;
}

@mixin buttonLikeHeart {
  @include containerSimple(10px, 10px);
  @include absoluteTopLeft(5px, 5px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  @media (min-width: 1750px) and (max-width: 1920px) {
    @include containerSimple(18px, 18px);
  }
}

@mixin cardRowSmall {
  @include isFlex();
  position: relative;
  width: 100%;
  height: 24px;
  font-weight: 700;
  line-height: 23px;
}

@mixin cardsMargins {

  @media (max-width: 1400px) {
    margin-top: 20px;
  }

  @media (max-width: 850px) {
    margin-top: 30px;
  }
}

@mixin carouselButton {
  @include absoluteTopLeft(53.5px);
  @include containerSize(44px);
  @include fontButton;
}

@mixin checkboxFake {
  width: 20px;
  height: 20px;
  position: relative;
  border: 1px solid $dark-shade_less;
  border-radius: 4px;
  background-color: transparent;
}

@mixin checkboxFakeBefore {
  content: '';
  @include absoluteTopLeft(40%, 50%);
  @include containerBlock(4px, 6px);
  transform: translate(-50%, -50%) rotate(45deg);
  border-image: $linearGradientLilac;
  border-image-slice: 1;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

@mixin containerSimple(
  $w: 100%,
  $h: 100%,
) {
  width: $w;
  height: $h;
}

@mixin containerWithMargins(
  $width: 100%,
  $height: 100%,
  $mt: 0,
  $ms: 0,
  $mb: 0,
) {
  width: $width;
  height: $height;
  margin: $mt $ms $mb;
}

@mixin containerMedium {
  @include isFlex($direction: column);
  width: 266px;

  @media (max-width: 450px) {
    width: 280px;
    margin: 0 auto;
  }
}

@mixin containerSize($size: 20px) {
  width: $size;
  height: $size;
  line-height: $size;
}

@mixin containerBlock($w: 100%, $h: 100%) {
  display: block;
  width: $w;
  height: $h;
}

@mixin containerDimed {
  border-radius: 4px;
  background: $light;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

@mixin containerShadowed {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: $light;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

@mixin dateRangeContainer {
  @include isFlex();
    width: 100%;
    height: 65px;

    @media (max-width: 450px) {
      width: 100%;
      min-width: 260px;
      margin: 0 auto;
    }
}

@mixin dateRangeInfo {
  @include dropdownInitialField();

  @media (min-width: 1750px) and (max-width: 1920px) {
    font-size: $fs_h2;
  }

  @media (max-width: 450px) {
    min-width: 100%;
  }
}

@mixin dropdownButton {
  content: '\e5cf';
  @include absoluteTopRight();
  @include containerSize(44px);
  display: block;
  font-size: $fs_h1;
  font-family: $material-icons;
  text-align: center;
}

@mixin dropdownItem {
  @include isFlex($justify: flex-start);
  height: 30px;
  width: 100%;
  margin-top: 7px;
  padding-left: 14px;
  padding-right: 6px;
  font-size: $fs_h3;
  text-transform: uppercase;
}

@mixin dropdownInitialField {
  @include regularField;
  padding: 0px 0 2px 12px;
  cursor: pointer;
  white-space: nowrap;
}

@mixin fontButton {
  font-size: $fs_h1;
  text-align: center;
  color: $light;
  z-index: 2;
}

@mixin footerMixin {
  @include containerWithMargins(
      $width: 1164px,
      $height: 24px,
      $mt: 24px,
      $ms: 0,
      $mb: 22px
    );
  @include isFlex($align: flex-start);

  @media (min-width: 1500px) and (max-width: 1920px) {
    margin: 23px auto;
  }

  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 80%;
  }

  @media (max-width: 1340px) {
    @include containerWithMargins(
      $width: 85%,
      $height: 24px,
      $mt: 23px,
      $ms: auto,
      $mb: 23px
    );
  }

  @media (max-width: 800px) {
    @include containerWithMargins(
      $width: 85%,
      $height: 36px,
      $mt: 20px,
      $ms: auto,
      $mb: 20px
    );
  }

  @media (max-width: 400px) {
    width: 90%;
  }
}

@mixin formMargin {
  @media (min-width: 1650px) and (max-width: 1920px) {
    margin-top: 40px;
  }

  @media (max-width: 1070px) {
    margin-top: 30px;
  }
}

@mixin headerMixin {
  @include isFlex($align: center);
  @include containerDimed;
  position: relative;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding-left: 140px;
  padding-right: 140px;

  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 100%;
    padding: 0 10%;
  }

  @media (max-width: 1340px) {
    padding: 15px 7%;
  }

  @media (max-width: 750px) {
    min-width: 320px;
    padding: 15px 5%;
  }

  @media (max-width: 550px) {
    padding: 15px 2%;
  }
}

@mixin labelMixin {
  display: inline-block;
  height: 15px;
  margin-bottom: 3.5px;
  line-height: $fs_h3;
  font-size: $fs_h3;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .003em;

  @media (min-width: 1750px) and (max-width: 1920px) {
    font-size: $fs_base;
  }
}

@mixin paginationItem {
  @include containerSize(40px);
  border-radius: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

@mixin paginationBefore {
  @include absoluteTopRight();
  @include containerSize(40px);
  @include fontButton;
}

@mixin paginationNav {
  position: relative;
  background: $linearGradientTurquoise;
}

@mixin regularField {
  @include isFlex($justify: flex-start, $align: center);
  position: relative;
  width: 100%;
  height: 44px;
  border: 1px solid $dark-shade_less;
  border-radius: 4px;
  background: transparent;
  color: $dark-shade_more;
  letter-spacing: 0.01em;

  @media (max-width: 450px) {
    width: 100%;
    margin: 0 auto;
  }
}

@mixin textField {
  @include regularField;
  min-width: 260px;

  &:hover,
  &:focus {
    border: 1px solid $dark-shade_medium;
  }
}

@mixin weeksDay {
  @include containerSize(40px);
  @media (min-width: 1650px) and (max-width: 1920px) {
    width: 14.28%;
    font-size: $fs_h2;
  }

  &:hover {
    border-radius: 50%;
    border-color: $linearGradientLilac;
    border-width: 2px;
    border-style: solid;
  }
}

@mixin widget {
  position: relative;
  width: 100%;
  min-width: 260px;

  @media (max-width: 450px) {
    margin: 0 auto;
  }
}

@mixin widgetTextfield {
  @include widget;
  @include isFlex($direction: column);
  height: 63px;

  & input {
    letter-spacing: 0.005em;
  }
}