.select {
  &__container {
    width: 100%;
    height: 44px;
    border-radius: 2px;
  }

  &__item,
  &__count {
    font-weight: 700;
  }

  &__counter {
    @include containerSimple(92, 30);
    @include isFlex();
  }

  &__minus,
  &__plus {
    @include containerSimple(30, 30);
    border-radius: 50%;
    border: 1px solid $dark-shade_less;
    box-shadow: border-box;
  }
}