@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';
@import '@~Assets/styles/fonts.scss';

.card {
  &__title {
  width: 100%;
  min-height: 30px;
  margin: 0;
  font-size: $fs_h1;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.001em;
  color: $dark-shade_most;
  text-align: left;
  pointer-events: none;
  }

  @include _450 {
    width: 280px;
    margin: 0 auto;
    font-size: $fs_h2;
  }

  &__text {
    line-height: 44px;
    font-size: $fs_base;
    font-weight: 400;
    color: $dark-shade_most;
    letter-spacing: 0.001em;
    pointer-events: none;
  }

  &__row {
    @include isFlex();
    width: 100%;
    height: fit-content;

    @include _450 {
      margin: 0 auto;
    }

    @include _1650-1920 {
      max-width: 490px;
    }
  }

  &__row_small {
    height: 100%;
    pointer-events: none;
  }
}
