@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';
@import '@~Assets/styles/mixins.scss';

.expand {
  display: none;

  @include xxs {
    width: 100%;
    min-width: 260px;
  }

  &__show {
    @include isFlex($direction: column, $justify: flex-start);

    @include xxxl {
      width: 100%;
    }

    & ~ .dropdown__button_transparent::before {
      content: '\e5ce';
    }

    & ~ .dropdown__info {
      border: 1px solid $dark-shade_medium;
    }

    & ~ .dropdown__info::before {
      content: '\e5ce';
    }

    & ~ .date-range__selector .date-range__info::before {
      transform: rotate(180deg);
    }
  }
}