//font-awesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

@font-face {
  font-family: 'montserrat';
  font-weight: 400;
  src: url('@~Fonts/montserrat/montserrat-regular.eot') format('eot');
  src: url('@~Fonts/montserrat/montserrat-regular.woff2') format('woff2'),
  url('@~Fonts/montserrat/montserrat-regular.woff') format('woff'),
  url('@~Fonts/montserrat/montserrat-regular.ttf') format('truetype'),
  url('@~Fonts/montserrat/montserrat-regular.svg') format('svg');
}

@font-face {
  font-family: 'montserrat';
  font-weight: 700;
  src: url('@~Fonts/montserrat/montserrat-bold.eot') format('eot');
  src: url('@~Fonts/montserrat/montserrat-bold.woff2') format('woff2'),
  url('@~Fonts/montserrat/montserrat-bold.woff') format('woff'),
  url('@~Fonts/montserrat/montserrat-bold.ttf') format('truetype'),
  url('@~Fonts/montserrat/montserrat-bold.svg') format('svg');
}

@font-face {
  font-family: 'material-icons';
  font-weight: 700;
  src: url('@~Fonts/material/material-icons.eot') format('eot');
  src: url('@~Fonts/material/material-icons.woff2') format('woff2'),
  url('@~Fonts/material/material-icons.woff') format('woff'),
  url('@~Fonts/material/material-icons.ttf') format('truetype');
}

$material-icons: 'material-icons';
$montserrat: 'montserrat', Arial, sans-serif;

$fs_base: 14px;   //1rem
$fs_h1: 1.714rem; //24px
$fs_h2: 1.357rem; //19px
$fs_h3: 0.857rem; //12px
