@import './colors.scss';
@import './media-mixins.scss';
@import './mixins.scss';
@import './fonts.scss';

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  line-height: 14.63px;
  -webkit-text-size-adjust: 100%;
  font-size: $fs_base;
  letter-spacing: .05em;
  font-family: $montserrat;
  font-weight: 400;
  color: $dark-shade_more;
}

.uikit-logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 48px;
  height: 48px;
  border: none;

  @include _750 {
    top: 10px;
    left: 10px;
  }
}

.error {
  position: relative;
  display: block;
  height: fit-content;
  font-size: $fs_h3;
  color: $error;
}
