.toggle {
  &__item {
    @include isFlex($justify: start);
    width: 268px;
    height: 24px;
    font-weight: 400;
    text-transform: none;
    cursor: pointer;

    @media (max-width: 450px) {
      margin: 0 auto;
    }
  }

  &__real {
    position: absolute;
    width: 40px;
    height: 20px;
    opacity: 0;
    appearance: none;
    cursor: pointer;
  }
  
  &__fake {
    position: relative;
    width: 40px;
    height: 20px;
    border: 1px solid $dark-shade_less;
    border-radius: 10px;
    margin-right: 10px;
  
    &::before {
      content: '';
      @include absoluteTopLeft(3px, 3px);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $dark-shade_less;
      transition: left 1s ease-out;
    }
  }
  
  &__title {
    display: inline-block;
    color: $dark-shade_more;
    letter-spacing: 0.001em;
    line-height: 19px;
    font-size: 1em;

    @media (min-width: 1750px) and (max-width: 1920px) {
      font-size: $fs_h2;
    }
  }
}

.toggle__item + .toggle__item {
  margin-top: 10px;
}

.toggle__real:checked + .toggle__fake {
  @extend .toggle__fake;
  border-color: $purple;
}

.toggle__real:checked + .toggle__fake::before {
  @extend .toggle__fake::before;
  left: 23px;
  background: $linearGradientLilac;
}

.toggle__real:not(:checked) + .toggle__fake::before {
  @extend .toggle__fake::before;
}