mixin buttonToggleContainer()
  .widget
    .toggle__container
      legend(for="offer").label Toggle
      .toggle__body
        +buttonToggleItem("offer1", true)
        +buttonToggleItem("offer2", false)


mixin buttonToggleItem(inputName, ifChecked)
  label.toggle__element
    input(type="checkbox" name=inputName value="" checked=ifChecked).toggle__real
    span.toggle__fake
    span.toggle__title Получать спецпредложения


//- fieldset, legend не нужны, поскольку не нужно связывать данные при отправлении формы на сервер

//- .widget
//-     .toggle__container
//-         legend(for="offer").label Toggle
//-         .toggle__body
//-             label(for="offer1").toggle_element
//-                 input(type="checkbox" name="offer1" id="offer1" value="" checked).toggle__real
//-                 span.toggle__fake
//-                 span.toggle__title Получать спецпредложение
//-             label(for="offer2").toggle_element
//-                 input(type="checkbox" name="offer2" id="offer2" value="").toggle__real
//-                 span.toggle__fake
//-                 span.toggle__title Получать спецпредложение