mixin button-toggle({ inputName = "", ifChecked = false })
  label.button-toggle
    input(
      type = "checkbox" 
      name = inputName 
      value = "" 
      checked = ifChecked).button-toggle__real
    span.button-toggle__fake
    span.button-toggle__title Получать спецпредложения