@import '@~Assets/styles/colors.scss';
@import '@~Assets/styles/media-mixins.scss';

.button-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: 1 0 nowrap;
  width: 268px;
  height: 24px;
  font-weight: 400;
  text-transform: none;
  cursor: pointer;

  @include _450 {
    margin: 0 auto;
  }
}

.button-toggle__real {
  position: absolute;
  width: 40px;
  height: 20px;
  opacity: 0;
  appearance: none;
  cursor: pointer;
}

.button-toggle__fake {
  position: relative;
  width: 40px;
  height: 20px;
  border: 1px solid $dark-shade_less;
  border-radius: 10px;
  margin-right: 10px;

  .button-toggle::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $dark-shade_less;
    transition: left 1s ease-out;
  }
}

.button-toggle__title {
  display: inline-block;
  color: $dark-shade_more;
  letter-spacing: 0.001em;
  line-height: 19px;
  font-size: 1em;
}

.button-toggle__item + .button-toggle__item {
  margin-top: 10px;
}

.button-toggle__real:checked + .button-toggle__fake {
  @extend .button-toggle__fake;
  border-color: $purple;
}

.button-toggle__real:checked + .button-toggle__fake::before {
  @extend .button-toggle__fake::before;
  left: 23px;
  background: $linearGradientLilac;
}

.button-toggle__real:not(:checked) + .button-toggle__fake::before {
  @extend .button-toggle__fake::before;
}