mixin button-toggle({ name = '', checked = false, title = 'Получать спецпредложения' })
  label.button-toggle
    input(
      type = 'checkbox' 
      name = name 
      value = '' 
      checked = checked).button-toggle__real
    span.button-toggle__fake
    span.button-toggle__title!= title