mixin button-toggle({ inputName = '', checked = false })
  label.button-toggle
    input(
      type = 'checkbox' 
      name = inputName 
      value = '' 
      checked = checked).button-toggle__real
    span.button-toggle__fake
    span.button-toggle__title Получать спецпредложения