mixin button-toggle(inputName, ifChecked)
  label.toggle__element
    input(type="checkbox" name=inputName value="" checked=ifChecked).toggle__real
    span.toggle__fake
    span.toggle__title Получать спецпредложения