.textfield {
  @include textField;
  font-size: 13.5px;
  padding: 0px 0 2px 12px;
}

.textfield_in-subscription {
  @extend .textfield;

  @media (max-width: 470px) {
    width: 260px;
  }
}

.label_none {
  display: none;
}

.textfield_birthday {
  @include textField;
  padding: 0 0 3px 12px;
  text-transform: uppercase;
  white-space: nowrap;
}

.textfield_login {
  @include isFlex($direction: column, $justify: flex-start);
  width: 100%;
  height: fit-content;
  min-height: 103px;

  @media (max-width: 450px) {
    width: 100%;
    min-width: 260px;
    margin: 0 auto;
  }

  & > input {
    letter-spacing: 0.01em;
  }
}

.textfield_login > .textfield:not(:first-of-type) {
  margin-top: 10px;
}

.textfield_login_main {
  @extend .textfield_login;
  margin-top: 20px;
}

.textfield_login_in-signin {
  @extend .textfield_login;
  margin-top: 20px;
}

.arrow_submit {
  @include absoluteTopRight(-1px, -2px);
  @include containerSize(44px);
  font-size: 1.8rem;
  border: none;
  text-align: center;
  font-family: $material-icons;
  color: transparent;
  background-image: $linearGradientLilac;
  -webkit-background-clip: text;
  background-clip: text;
}