include ../button-link/button-link.pug
include ../button-submit/button-submit.pug
include ../login/login.pug

mixin card-sign-in(theme = 'main')
  form.card-sign-in.js-card-sign-in(method = 'get' action = './sign-in.html')
    h1.card__title Войти
    +login(theme)
    .card-sign-in__button
      +button-submit({ buttonLinkText: 'Войти' })
    .card-sign-in__info
      .card__row
        .card__text Нет аккаунта на Toxin?
        .card-sign-in__button-link
          +button-link({
            buttonLinkText: 'Создать',
            buttonLinkHref: 'registration.html',
            innerElement: 'sign-in'
          })