include ../button/button.pug
include ../login/login.pug

mixin card-sign-in({ title = 'Войти', theme = 'main', text = 'Нет аккаунта на Toxin?'})
  form.card-sign-in.js-card-sign-in(method = 'get' action = './sign-in.html')
    h1.card__title!= title
    +login(theme)
    .card-sign-in__button
      +button({ 
        innerElement: 'submit',
        text: 'Войти' 
      })
    .card-sign-in__info
      .card__row
        .card__text!= text
        .card-sign-in__button-link
          +button({
            text: 'Создать',
            href: 'registration.html',
            innerElement: 'form-link',
            theme: 'sign-in'
          })