//- .content__container
//-     ul.content__list#content__list
//-         // Product cards
//-         li.content__item
//-             // Three layers to make a shape of the form
//-             .product__container
//-                 .corner
//-                     .product__item
//-                         // Info about the product
//-                         p.product__motto Сказочное заморское яство
//-                         h4.product__title Нямушка
//-                         p.product__taste с фуа-гра
//-                         p.product_amount 10 штук мышь в подарок
//-                         img.product__img(src='https://image.krasview.ru/video/1b0ace9574bbd5c/_.jpg', alt='')
//-                         .product__circle
//-                             p.product__weight 0,5
//-                             p.product__subweight кг
//-             p.product__message Чего сидишь? Порадуй котэ. купи.