//- variables help us to change some info in dependance with page
block variables
  - var title = "";
  - var description = "";
  - var keywords = "";
//- we can include mixins as well
//- include ../mixing.pug?

//- _template layout
doctype html
html(lang="ru")
  head
    //- Meta
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- SEO

    //- Basic Seo
    block basicSeo
      meta(name="description" content=description)
      meta(name="keywords", content=keywords)
      meta(name="author" content="gunzenroses")
    
    //- Title
    block title
      title #{title}

    //- //- block links
    //- //-   link(href="")

    block manifestBrowserconfig
      //- link(rel="manifest" href="../../../manifest.json")
      link(rel="icon" type="image/x-icon" href="./assets/images/favicon.ico")

    //- block fonts
    //-   //- font-awesome
    //-   link(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")

  body
    
    block content

    block script