.card_signin {
  @include containerShadowed();
  @include isFlex($direction: column, $justify: flex-start);
  width: 380px;
  //height: 360px;
  height: 357px;
  padding: 38px 30px 40px 29px;

  @media (max-width: 400px) {
    padding: 25px 20px;
    min-width: 320px;
    width: 100vw;
  }
}

.card_signin > div:first-of-type {
  margin-top: 20px;
}

.card_signin > button {
  margin-top: 20px;
}