@import '@~Assets/styles/fonts.scss';
@import './__item/buttons-radio__item.scss';

.radio__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: 1 0 nowrap;
  width: 100%;
  height: 24px;

  @media (max-width: 450px) {
    margin: 0 auto;
  }
}
