include ./__item/buttons-radio__item.pug

mixin buttons-radio(inputId, ifCheckedMan, ifCheckedWoman)
  .radio__container
    +buttons-radio__item("man-" + inputId, ifCheckedMan, "Мужчина")
    +buttons-radio__item("woman-" + inputId, ifCheckedWoman, "Женщина")